<?php
/**
 * @since           21.08.14 19:59
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright        Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license         Licensed under the MIT license
 *
 * @var df\View $this
 */
?>

<div class="row">
    <div class="col-sm-3">
        <fieldset class="">
            <legend>
                <small>Население города</small>
            </legend>

            <div>
                    <input type="text" class="form-control num" value="1000" id="pop">
            </div>
            <div><label class="">
                    <input class="world-type world-type-1" type="radio" name="world-type" value="1" checked
                           autocomplete="off"/>
                    Обычный мир
                </label></div>
            <div><label class="">
                    <input class="world-type world-type-2" type="radio" name="world-type" value="2" autocomplete="off"/>
                    Скоростной мир
                </label></div>
            <div><label class="">
                    <input type="checkbox" name="race" autocomplete="off"/>
                    Индейцы
                </label></div>
        </fieldset>
    </div>
    <div class="col-sm-3">
        <fieldset class="res-controls">
            <legend>
                <small>Культура</small>
            </legend>
            <label class="i-res r16">
                <input type="text" placeholder="Вино" data-key="8" class="form-control num" readonly>
            </label>
            <label class="i-res r17">
                <input type="text" placeholder="Драгоценности" data-key="9" class="form-control num" readonly>
            </label>
            <label class="i-res r18">
                <input type="text" placeholder="Одежда" data-key="10" class="form-control num" readonly>
            </label>
            <label class="i-res r19">
                <input type="text" placeholder="Музыка" data-key="11" class="form-control num" readonly>
            </label>
            <label class="i-res r20">
                <input type="text" placeholder="Фильмы" data-key="12" class="form-control num" readonly>
            </label>
        </fieldset>
    </div>
    <div class="col-sm-3">
        <fieldset class="res-controls">
            <legend>
                <small>Рост населения</small>
            </legend>
            <label class="i-res r11">
                <input type="text" placeholder="Фрукты" data-key="3" class="form-control num" readonly>
            </label>
            <label class="i-res r12">
                <input type="text" placeholder="Кукуруза" data-key="4" class="form-control num" readonly>
            </label>
            <label class="i-res r13">
                <input type="text" placeholder="Пшеница" data-key="5" class="form-control num" readonly>
            </label>
            <label class="i-res r14">
                <input type="text" placeholder="Рис" data-key="6" class="form-control num" readonly>
            </label>
            <label class="i-res r15">
                <input type="text" placeholder="Мясо" data-key="7" class="form-control num" readonly>
            </label>
        </fieldset>
    </div>
    <div class="col-sm-3">
        <fieldset class="res-controls">
            <legend>
                <small>Наука</small>
            </legend>
            <label class="i-res r21">
                <input type="text" placeholder="Рыба" data-key="1" class="form-control num" readonly>
            </label>
            <label class="i-res r22">
                <input type="text" placeholder="Книги" data-key="2" class="form-control num" readonly>
            </label>
        </fieldset>
    </div>
</div>
<script src="/system/js/jquery-2.1.0.min.js"></script>
<script>
    $(function () {

        var data = {
            1: [0, 22, 10, 11, 16, 16, 16, 12, 7, 5, 9, 7, 6],
            2: [0, 66, 30, 33, 48, 48, 48, 36, 21, 15, 27, 21, 18]
        };

        function res(pop, n) {
            var result = Math.ceil((pop / 100) * n);
            return isNaN(result) ? 0 : result;
        }

        function k_calc() {
            var pop = parseInt($('#pop').val());
            if (pop < 0) pop = 0;
            var w = $('input[name="world-type"]:checked').val();
            var race = $('input[name="race"]:checked').size() ? 0.85 : 1;

            $('.res-controls input[type=text]').each(function () {
                var k = $(this).data('key');
                $(this).val(res(pop, data[w][k] * race) + ' / час');
            });

            location.hash = pop + ',' + w + ',' + race;
        }

        var conf = location.hash;
        conf = conf.replace('#', '').split(',');
        console.log(conf);
        if (typeof(conf[0]) != 'undefined' && parseInt(conf[0]) > 0) {
            $('#pop').val(parseInt(conf[0]));
            if (typeof(conf[1]) != 'undefined' && parseInt(conf[1]) > 0) {
                $('input.world-type').attr('checked', false);
                $('input.world-type-' + parseInt(conf[1]) + '').attr('checked', true).prop('checked', 'checked');
                if (typeof(conf[2]) != 'undefined' && conf[2] < 1) {
                    $('input[name="race"]').attr('checked', true);
                }
            }
        }

        $('input[name="world-type"], input[name="race"]').on('change', function () {
            k_calc();
        });
        $('#pop').on('input', function () {
            k_calc();
        });
        k_calc();

    });
</script>
