<?php
/**
 * @since             23.11.2014 10:51
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
?>
<?

/**
 * @var df\view\Document $this
 * @var df\extensions\models\World $currentWorld
 * @var array $build
 */
$sum = 0;
?>
    <table class="table table-condensed table-bordered table-striped table-hover table-cost" id="table-cost"
           style="table-layout:fixed;">
        <thead>
        <tr>
            <th style="width:100px;">Уровень</th>
            <th style="width:100px;">Время</th>
            <th>Стоимость</th>
            <th style="width:100px;">Содержание</th>
            <th style="width:100px;">Эффект</th>
            <th style="width:70px;">Спад</th>
        </tr>
        </thead>
        <tbody>
        <?
        $buildEffect = array();
        for ($i = 1;
             $i < 21;
             $i++) {
            ?>
            <?
            $buildTime = ((float)$build['bt1'] + (float)$build['bt2'] * pow($i, (float)$build['bt3']));
            $buildTime = (int)floor($buildTime * 3600);
            $btH = (int)floor($buildTime / 3600);
            $btM = (int)floor(($buildTime - ($btH * 3600)) / 60);
            $btS = $buildTime % 60;
            $sum += $buildTime;

            $buildPay = (int)floor((float)$build['pay1'] + (float)$build['pay2'] * pow($i, (float)$build['pay3']));
            $buildEff = ((float)$build['eff1'] + (float)$build['eff2'] * pow($i, (float)$build['eff3']));
            $buildEffect[$i] = $buildEff;
            $buildUg = ((float)$build['ug1'] + (float)$build['ug2'] * pow($i, (float)$build['ug3']));
            $buildUg = round($buildUg * 24, 1);

            switch ($build['buildType']) {
                case 0:
                    $buildEff = '<span class=""> ' . floor($buildEff * 100) . ' %</span>';
                    break;
                case 1:
                    $buildEff = '<span class=""> ' . floor($buildEff * 100) . ' %</span>';
                    break;
                case 2:
                    break;
                case 3:
                    $buildEff = '<span class=""> ' . floor($buildEff * 100) . ' %</span>';
                    break;
                case 4:
                    $buildEff = '<span class=""> ' . floor($buildEff) . '</span>';
                    break;
                case 5:
                    break;
                case 6:
                    $buildEff = '<span class=""> ' . floor($buildEff * 100) . ' %</span>';
                    break;
                case 7:
                    $buildEff = round($buildEff * 24, 1);
                    break;
                case 8:
                    $buildEff = '<span class=""> ' . floor($buildEff) . '</span>';
                    break;
                case 9:
                    $buildEff = ((int)(500 + 400 * $buildEff)) . " &ndash; "
                        . floor((1 - 1 / (1 + $buildEff)) * 100) . " %";

                    //					$buildEff = '<span class=""> ' . floor($buildEff) . '</span>';
                    break;
                case 10:
                    $buildEff = '<span class=""> ' . floor($buildEff) . '</span>';
                    break;
                case 11:
                    $buildEff = '<span class=""> ' . floor($buildEff) . '</span>';
                    break;
                case 12:
                    $buildEff = '<span class=""> ' . floor($buildEff) . '</span>';
                    break;
                case 13:
                    $buildEff = '<span class=""> ' . round($buildEff, 1) . '</span>';
                    break;
                case 14:
                    $buildEff = '<span class=""> ' . floor($buildEff * 100) . ' %</span>';
                    break;
                case 15:
                    $buildEff = '<span class=""> ' . floor($buildEff * 100) . ' %</span>';
                    break;
                case 17:
                    break;
                case 18:
                    $buildEff = '<span class=""> ' . floor($buildEff * 100) . ' %</span>';
                    break;
                case 20:
                    $buildEff = '<span class=""> ' . floor($buildEff) . '</span>';
                    break;
            }
            ?>
            <tr class="__data" data-level="<?= $i ?>" data-time="<?= $buildTime ?>">
                <td><?= $i ?></td>
                <td class="__time"><?= ($btH < 10 ? '0' : '') . $btH . ':' . ($btM < 10 ? '0' : '') . $btM . ':' . ($btS < 10 ? '0' : '') . $btS ?></td>
                <td class="__cost" style="text-align: center"><?
                    for ($r = 0;
                         $r < 23;
                         $r++) {
                        $v1 = (float)$build['cost'][1][$r];
                        $v2 = (float)$build['cost'][2][$r];
                        $v3 = (float)$build['cost'][3];
                        $cost = (int)floor($v1 + $v2 * pow($i, $v3));
                        if ($cost > 0) {
                            echo '<span class="i-res r' . $r . '" data-res="' . $r . '" style="margin:0 5px;" data-cost="' . $cost . '">' . numFormat($cost) . '</span> ';
                        }
                    }
                    ?></td>
                <td><?= ($buildPay > 0) ? '<span class="i-res r1"> ' . numFormat($buildPay) . '</span> ' : '' ?></td>
                <td><?= $buildEff ?></td>
                <td><?= ($buildUg) ?></td>
            </tr>
        <? } ?>
        </tbody>
        <tfoot>
        <tr>
            <th style="border-top-width:3px;">Всего для уровней:
                <div class="__levels"></div>
            </th>
            <th class="__time_total" style="border-top-width:3px;"></th>
            <th class="__cost_total" style="text-align: center; border-top-width:3px;"></th>
            <th style="border-top-width:3px;" colspan="3">
                <button class="btn table-cost-reset" href="#">Сброс</button>
            </th>
        </tr>
        </tfoot>
    </table>
    <script>
        $(function () {
            var t = $('#table-cost'),
                tr = t.find('tbody > tr'),
                reset = $('.table-cost-reset'),
                costTotal = $('.__cost_total'),
                timeTotal = $('.__time_total'),
                levels = $('.__levels'),
                selStart = 0,
                selEnd = 0,
                selStarted = false,
                cssClass = '__selected'
                ;
            reset.on('click', function () {
                selStart = selEnd = 0;
                selStarted = false;
                tr.removeClass(cssClass);
                calcBuildCost();
                return false;
            });
            t.on('mousedown', 'tr.__data', function () {
                selStarted = true;
                selStart = parseInt($(this).data('level'));
                selEnd = selStart;
                tr.removeClass(cssClass);
//				$(this).addClass(cssClass);
            });
            $('body').on('mouseup', function () {
                selStarted = false;
                calcBuildCost();
            });
            t.on('mousemove', 'tr.__data', function () {
                if (!selStarted) return;
                selEnd = parseInt($(this).data('level'));
                tr.removeClass(cssClass);
                if (selStart - 1 < selEnd) {
                    tr.slice(selStart - 1, selEnd).addClass(cssClass);
                } else {
                    tr.slice(selEnd - 1, selStart).addClass(cssClass);
                }
            });

            function pluralForm(n, f) {
                return n % 10 == 1 && n % 100 != 11 ? f[0] : ( n % 10 >= 2 && n % 10 <= 4 && ( n % 100 < 10 || n % 100 >= 20 ) ? f[1] : f[2] );
            }

            function formatTime(time) {
                var h = Math.floor(time / 3600),
                    m = Math.floor(( time - ( h * 3600 ) ) / 60),
                    s = time % 60,
                    d = '';
                if (h > 24) {
                    d = Math.floor(h / 24);
                    d = d + ' ' + pluralForm(d, ["день", "дня", "дней"]) + ' ';
                    h = h % 24;
                }
                return d + ( h < 10 ? '0' : '' ) + h + ':' + ( m < 10 ? '0' : '' ) + m + ':' + ( s < 10 ? '0' : '' ) + s;
            }

            function calcBuildCost() {
                var res = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
                var time = 0;
                var selTr;
                if (selStart == selEnd) {
                    selTr = tr;
                    levels.html('1 &ndash; 20');
                } else {
                    if (selStart - 1 < selEnd) {
                        selTr = tr.slice(selStart - 1, selEnd);
                        levels.html(selStart + ' &ndash; ' + selEnd);
                    } else {
                        selTr = tr.slice(selEnd - 1, selStart);
                        levels.html(selEnd + ' &ndash; ' + selStart);
                    }
                }
                selTr.each(function () {
                    var row = $(this);
                    row.find('.__cost .i-res').each(function () {
                        var resId = parseInt($(this).data('res'));
                        res[resId] += parseInt($(this).data('cost'));
                    });
                    time += row.data('time');
                });
                timeTotal.html(formatTime(time));
                costTotal.html('');
                for (var i = 0; i < 23; i++) {
                    if (res[i] > 0) {
                        var val = res[i].toString();
                        val = val.replace(/(\d)(?=(\d{3})+$)/g, '$1&#8201;');
                        costTotal.append('<span class="i-res r' + i + '" style="margin:0 5px;">' + val + '</span> ');
                    }
                }
            }

            calcBuildCost();
        });
    </script>
    <style>
        .cost-unit-train .i-res::before {
            margin-right: 10px;
        }

        .unit-train-container {
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        #unit-train-time {
            font-size: 16px;
        }

        #cost-pop {
            margin-bottom: 5px;
        }
    </style>
<? if ($unitsTrain and $build['buildType'] == 6) { ?>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Юнит для тренировки:</div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <? $checked = true; ?>
                        <? foreach ($unitsTrain as $unit) { ?>
                            <div class="unit-train-container">
                                <input class="unit-train"
                                       type="radio"
                                       name="unit"
                                       id="unit-id-<?= $unit['unitId'] ?>"
                                       value="<?= $unit['unitId'] ?>"
                                    <?= $checked ? ' checked' : '' ?>
                                />
                                <label for="unit-id-<?= $unit['unitId'] ?>"><?= $unit['title'] ?></label>
                            </div>
                            <? if ($checked) {
                                $checked = false;
                            } ?>
                        <? } ?>
                    </div>
                    <div class="form-group">
                        <label for="build-level" class="col-sm-8">Уровень здания:</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="" id="build-level">
                                <? for ($i = 1; $i < 21; $i++) { ?>
                                    <option value="<?= $i ?>"><?= $i ?></option>
                                <? } ?>
                            </select>
                        </div>
                    </div>
                    <div class="form-group" style="margin-bottom: 0;">
                        <label for="unit-train-count" class="col-sm-8">Количество юнитов:</label>
                        <div class="col-sm-4">
                            <input type="text" name="" id="unit-train-count" class="form-control num" value="1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Стоимость тренировки</div>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <div id="unit-train-time"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9 cost-unit-train">
                            <div id="cost-pop" class="i-res">0</div>
                            <div id="cost"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function () {
            var $buildLevel = $('#build-level');
            //var $unitTrain = $('#unit-train');
            var $unitTrain = $('.unit-train');
            var $unitCount = $('#unit-train-count');
            var $trainTime = $('#unit-train-time');
            var $costPop = $('#cost-pop');
            var $cost = $('#cost');

            var units = <?= json_encode($unitsTrain)?>;
            var effects = <?= json_encode($buildEffect)?>;
            console.log(units);
            console.log(effects);

            reCalc();

            $buildLevel.on('change', reCalc);
            $unitTrain.on('change', reCalc);
            $('.unit-train').on('change', reCalc);
            $unitCount.on('input', reCalc);

            function reCalc() {
                var buildLevel = $buildLevel.val();
                var unitCount = $unitCount.val();
                //var unitId = $unitTrain.val();
                var unitId = $unitTrain.filter(':checked').val();
                var unit = units[unitId];
                var trainTime = unit['trainTime'];

                unitCount = unitCount ? unitCount : 1;

                trainTime /= effects[buildLevel];
                trainTime *= unitCount;
                console.log(trainTime);

                $trainTime.html(formatTime(parseInt(Math.floor(trainTime))));

                //

                var costPop = unit['popCost'];
                costPop *= unitCount;
                $costPop.text(costPop);

                var cost = '';
                for (var resId in unit['cost']) {
                    if (!unit['cost'].hasOwnProperty(resId)) continue;
                    var resCost = unit['cost'][resId];
                    cost += '<div class="i-res r' + resId + '">' + (resCost * unitCount) + '</div>';
                }
                $cost.html(cost);
            }

            function formatTime(time) {
                var h = Math.floor(time / 3600),
                    m = Math.floor(( time - ( h * 3600 ) ) / 60),
                    s = time % 60,
                    d = '';
                if (h > 24) {
                    d = Math.floor(h / 24);
                    d = d + '&nbsp;' + pluralForm(d, ["день", "дня", "дней"]) + ' ';
                    h = h % 24;
                }
                if (s > 0) {
                    s = ( s < 10 ? '0' : '' ) + s + '&nbsp;' + pluralForm(s, ["секунда", "секунды", "секунд"]);
                } else {
                    s = '';
                }
                return d
                    + (h > 0 ? (h + '&nbsp;' + pluralForm(h, ["час", "часа", "часов"])) : '')
                    + ' ' + ( m < 10 ? '0' : '' ) + m + '&nbsp;' + pluralForm(m, ["минута", "минуты", "минут"])
                    + ' ' + s;
            }

            function pluralForm(n, f) {
                return n % 10 == 1 && n % 100 != 11 ? f[0] : ( n % 10 >= 2 && n % 10 <= 4 && ( n % 100 < 10 || n % 100 >= 20 ) ? f[1] : f[2] );
            }

        });
    </script>
<? } ?>
<?
//dmp($unitsTrain, 0);
//dmp($build, 0);
?>
<?
//dmp($build, 0);
