<?php
/**
 * @since             23.11.2014 09:17
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
?>
<?
/**
 * @var df\view\Document $this
 * @var array $builds
 */
?>

<table class="table table-condensed">
    <? foreach ($builds as $build) { ?>
        <? if ($build['buildType'] != 16) { ?>
            <tr>
                <td>
                    <a href="<?= $this->router->link('costOfBuild', array('id' => (int)$build['buildId'])); ?>">
                        <?= $build['title'] ?></a>
                </td>
                <td><?= $build['buildType'] ?></td>
            </tr>
        <? } ?>
    <? } ?>
</table>
<table class="table table-condensed">
    <? foreach ($builds as $build) { ?>
        <? if ($build['buildType'] == 16) { ?>
            <tr>
                <td>
                    <a href="<?= $this->router->link('costOfBuild', array('id' => (int)$build['buildId'])); ?>">
                        <?= $build['title'] ?></a>
                </td>
                <td><?= $build['buildType'] ?></td>
            </tr>
        <? } ?>
    <? } ?>
</table>
