// a flag to toggle asset pipeline / compass integration
// defaults to true if twbs-font-path function is present (no function => twbs-font-path('') parsed as string == right side)
// in Sass 3.3 this can be improved with: function-exists(twbs-font-path)
//$bootstrap-sass-asset-helper: (twbs-font-path("") != unquote('twbs-font-path("")')) !default;
//
// Variables
// --------------------------------------------------

//=============================================================================
//== Colors

//=============================================================================
//== Miscellaneous

$component-offset-horizontal: 180px !default;

//=============================================================================
//== Components

$component-active-color: #ffffff !default;
$component-active-bg: $brand-primary !default;

$caret-width-base: 4px !default;
$caret-width-large: 5px !default;

//=============================================================================
//== Navs

//== Pills
$nav-pills-border-radius: $border-radius-base !default;
$nav-pills-active-link-hover-bg: $component-active-bg !default;
$nav-pills-active-link-hover-color: $component-active-color !default;

//=============================================================================
//== Pager

$pager-bg: $pagination-bg !default;
$pager-border: $pagination-border !default;
$pager-border-radius: 15px !default;

$pager-hover-bg: $pagination-hover-bg !default;

$pager-active-bg: $pagination-active-bg !default;
$pager-active-color: $pagination-active-color !default;

$pager-disabled-color: $pagination-disabled-color !default;

//=============================================================================
//== Jumbotron

$jumbotron-padding: 30px !default;
$jumbotron-color: inherit !default;
$jumbotron-bg: $gray-lighter !default;
$jumbotron-heading-color: inherit !default;
$jumbotron-font-size: ceil(($font-size-base * 1.5)) !default;

//=============================================================================
//== Popovers

$popover-bg: #ffffff !default;
$popover-max-width: 276px !default;
$popover-border-color: rgba(0, 0, 0, .2) !default;
$popover-fallback-border-color: #cccccc !default;
$popover-title-bg: darken($popover-bg, 3%) !default;
$popover-arrow-width: 10px !default;
$popover-arrow-color: #ffffff !default;
$popover-arrow-outer-width: ($popover-arrow-width + 1) !default;
$popover-arrow-outer-color: fadein($popover-border-color, 5%) !default;
$popover-arrow-outer-fallback-color: darken($popover-fallback-border-color, 20%) !default;

//=============================================================================
//== Labels

$label-default-bg: $gray-light !default;
$label-primary-bg: $brand-primary !default;
$label-success-bg: $brand-success !default;
$label-info-bg: $brand-info !default;
$label-warning-bg: $brand-warning !default;
$label-danger-bg: $brand-danger !default;
$label-color: #ffffff !default;
$label-link-hover-color: #ffffff !default;

//=============================================================================
//== Modals

$modal-inner-padding: 20px !default;
$modal-title-padding: 15px !default;
$modal-title-line-height: $line-height-base !default;
$modal-content-bg: #ffffff !default;
$modal-content-border-color: rgba(0, 0, 0, .2) !default;
$modal-content-fallback-border-color: #999999 !default;
$modal-backdrop-bg: #000000 !default;
$modal-backdrop-opacity: .5 !default;
$modal-header-border-color: #e5e5e5 !default;
$modal-footer-border-color: $modal-header-border-color !default;

$modal-lg: 900px !default;
$modal-md: 600px !default;
$modal-sm: 300px !default;

//=============================================================================
//== Progress bars

$progress-bg: #f5f5f5 !default;
$progress-bar-color: #ffffff !default;
$progress-bar-bg: $brand-primary !default;
$progress-bar-success-bg: $brand-success !default;
$progress-bar-warning-bg: $brand-warning !default;
$progress-bar-danger-bg: $brand-danger !default;
$progress-bar-info-bg: $brand-info !default;

//=============================================================================
//== List group

$list-group-bg: #474952 !default;
$list-group-border: $body-bg !default;
$list-group-border-radius: $border-radius-base !default;
$list-group-hover-bg: #4c4e57 !default;
$list-group-active-color: $component-active-color !default;
$list-group-active-bg: $component-active-bg !default;
$list-group-active-border: $list-group-active-bg !default;
$list-group-active-text-color: lighten($list-group-active-bg, 40%) !default;
$list-group-link-color: $text-color !default;
$list-group-link-heading-color: $link-color !default;

//=============================================================================
//== Thumbnails

$thumbnail-bg: $body-bg !default;
$thumbnail-border: #52545b !default;
$thumbnail-caption-color: $text-color !default;

//=============================================================================
//== Wells

$well-bg: #404249 !default;
$well-border: darken($well-bg, 7%) !default;

//=============================================================================
//== Breadcrumbs

$breadcrumb-padding-vertical: 8px !default;
$breadcrumb-padding-horizontal: 0 !default;
$breadcrumb-bg: transparent !default;
$breadcrumb-color: $gray-light !default;
$breadcrumb-active-color: $gray-light !default;
$breadcrumb-separator: "/" !default;

//=============================================================================
//== Carousel

$carousel-text-shadow: 0 1px 2px rgba(0, 0, 0, .6) !default;
$carousel-control-color: #ffffff !default;
$carousel-control-width: 15% !default;
$carousel-control-opacity: .5 !default;
$carousel-control-font-size: 20px !default;
$carousel-indicator-active-bg: #ffffff !default;
$carousel-indicator-border-color: #ffffff !default;
$carousel-caption-color: #ffffff !default;

//=============================================================================
//== Close

$close-font-weight: bold !default;
$close-color: #000000 !default;
$close-text-shadow: 0 1px 0 #ffffff !default;

//=============================================================================
//== Type

$abbr-border-color: $gray-light !default;
$headings-small-color: $gray-light !default;
$blockquote-small-color: $gray-light !default;
$blockquote-font-size: ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter !default;

/////////////////////////// CUSTOM VARIABLES /////////////////////////////

//=============================================================================
//== wt

$b-units-bg: #3a3c44;
$res-icon-border: #eeeeee;

$bar-sw-bg: $link-color !default;
$bar-sw-color: #eeeeee !default;

$side-panel-width: 300px !default;
$side-panel-bg: rgba(0, 0, 0, 0.80) !default;

$nav-tabs-end-gradient-color: #000000;
