//==
//== Component: NavMenu.vue
//== ======================================= ==//

.nav-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $main-header-color;

  &__item {
    position: relative;
    display: flex;
  }

  &__link {
    @include wt-transition(color, background-color);
    display: flex;
    align-items: center;
    padding: 0 1em;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: $main-header-color;
  }

  &__item:hover &__link {
    color: $main-header-color-hover;
    background-color: $main-header-background-hover;
  }

  &__icon {
    margin-right: 0.5em;
  }
}
