<?php
/**
 * @since              16.08.13 02:56
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?>
<div class="navbar navbar-default navbar-fixed-top navbar-inv-erse">
	<div class="container">
		<a class="navbar-brand" href="/admin/"><sup>
				<small>beta</small>
			</sup></a>
		<ul class="nav navbar-nav">
			<li class="divider-vertical"></li>
			<? if ($this->user->id == 1) { ?>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Пользователи <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a tabindex="-1" href="/admin/users/">Пользователи</a></li>
						<li><a tabindex="-1" href="/admin/users/invites/">Инвайты</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Навигация <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a tabindex="-1" href="/admin/menu/">Список меню</a></li>
						<li><a tabindex="-1" href="/admin/menu/create">Создать новое</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Компоненты <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="divider"></li>
					</ul>
				</li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Модули <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li class="divider"></li>
					</ul>
				</li>
			<? } ?>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/" style="color:red">На сайт</a></li>
			<li class="divider-vertical"></li>
			<? if ($this->user->id == 1) { ?>
				<li><a href="/logout/">Выход</a></li>
				<li class="divider-vertical"></li>
			<? } ?>
		</ul>
	</div>
</div>
