<?php
/**
 * @since              16.08.13 02:45
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?><!DOCTYPE html>
<html>
<head>
	<title>Wofh-Tools / Administrator</title>
	<!-- Bootstrap -->
	<link href="/css/bootstrap/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/css/screen.css" rel="stylesheet" media="screen">

	<script src="/system/js/jquery-1.10.2.min.js"></script>
	<script src="/system/js/bootstrap.min.js"></script>
	<script src="/system/js/admin.js"></script>
</head>
<body>

<? include __DIR__ . DIRECTORY_SEPARATOR . '_navbar.phtml'; ?>

<div class="wrapper" id="wrapper">
	<div class="container">

		<div class="row">
			<div class="col-sm-12">
				<h1 class="page-header"><?= $this->title ?></h1>
				<?= $this->component(); ?>
			</div>
		</div>

		<? include __DIR__ . DIRECTORY_SEPARATOR . '_debug.php'; ?>

	</div>
</div>

<div class="footer">
	<div class="container">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-4">
						<div>© Wofh Tools, v<?= WT_VERSION ?>,
							<a href="http://delphinpro.ru" target="_blank">DelphinPRO</a>, 2013 г.
						</div>
						<div>Last update: <?= date('d.m.Y, H:i', filemtime(_dir('/app/version.php'))); ?></div>
					</div>
					<div class="col-sm-4">
						<ul>
							<li><a href="/contacts/">Обратная связь</a></li>
							<li><a href="/sitemap/">Карта сайта</a></li>
						</ul>
					</div>
					<div class="col-sm-4 text-right">
						<div>
							<img src="/system/img/counter.png">
						</div>
						<? if ($this->user->id == 1) { ?>
							<div>Время генерации страницы: <?= get_execution_time() ?> c.</div>
						<? } ?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>