<?php
/**
 * @since             22.01.14 21:55
 * @package           DFramework
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
?>
<style type="text/css">
	.php_debug_message_box {
		font-size: 16px;
		border: 1px solid #777;
		background: #eee;
		color: #333;
		max-width: 100%;
		margin-bottom: 5px;
	}

	.php_debug_message_box_title {
		background: #BEE8A6;
		padding: 2px 4px;
		font-family: monospace;
	}

	.php_debug_message_box_footer {
		background: #FC9494;
		padding: 2px 4px;
		font-family: monospace;
		text-align: center;
	}

	.php_debug_message_box_inner {
		padding: 2px 4px;
	}

	.php_debug_message_box_inner pre {
		margin: 0 0 10px 0;
		white-space: pre;
		max-height: 500px;
		overflow-y: scroll;
	}

	.backtrace_link {
		background: #FEF9D4;
		padding: 2px 4px;
		display: block;
		font-size: 8px;
		cursor: pointer;
	}

	.backtrace_table {
		background: #FEF9D4;
		display: none;
		font-family: monospace;
	}

	.backtrace_table table {
		border: 1px solid #ddd;
		border-collapse: collapse;
		width: 100%;
	}

	.backtrace_table td {
		border: 1px solid #ddd;
	}
</style>
<script type="text/javascript">
	function backtraceToggle(id) {
		var e = document.getElementById("debug_backtrace" + id);
		e.style.display = (e.style.display == "none") ? "block" : "none";
	}
</script>