<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Сайт обновляется...</title>
	<style type="text/css">
		* {
			margin: 0;
			padding: 0;
		}

		body, html {
			height: 100%;
			width: 100%;
		}

		body {
			color: #ffffff;
			background: #000000;
			overflow: hidden;
		}

		.promo {
			z-index: 1000;
			max-width: 50%;
			width: 500px;
			position: fixed;
			right: 0;
			bottom: 0;
			display: block;
		}

		img {
			border: 0
		}

		.text {
			white-space: nowrap;
			color: #00bd00;
			background: #000;
			font-size: 20px;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 1001;
			padding: 5px;
			text-shadow: 0 0 2px #10BA38;
			text-align: left;
			font-family: Consolas, monospace;
		}
	</style>
</head>
<body>
<div class="text">admin@wofh-tools:~$ system update<br>processing <span id="wait">...</span></div>
<img class="promo" src="/wt-matrix.png" alt="" />
<script>
	var wait = document.getElementById('wait'), counter = 0,
		data = ['', '.', '..', '...', '....', '.....'];
	setInterval(function () {
		wait.innerHTML = data[counter++];
		if (counter >= data.length) counter = 0;
	}, 500);
</script>
</body>
</html>