<?php
/**
 * @since             04.11.2014 12:17
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
use df\extensions\models\World;
use df\view\Document;

/**
 * @var Document $this
 * @var World    $world
 * @var array    $data
 * @var array    $bookmark
 * @var string   $externalLink
 * @var string   $externalLinkText
 */
?>

<? if (isset( $bookmark, $externalLink, $externalLinkText )) { ?>
	<div style="padding-top:10px;">
		<div class="btn btn-default btn-block user-bookmark icon-star-empty"
		     title="Добавить/Удалить закладку"
		     data-id="<?= $bookmark['id'] ?>"
		     data-uri="<?= $bookmark['uri'] ?>"
		     data-title="<?= $bookmark['title'] ?>"
		     data-section="<?= $bookmark['section'] ?>"
			>
			<span class="hidden-sm hidden-md">В закладки</span>
		</div>
		<? /*if ($world->working) { ?>
			<a class="btn btn-default btn-block"
			   style="width:100%;"
			   href="<?= $externalLink ?>"
			   target="_blank"> <b style="display:block;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;">
					<i class="wofh-link icon-link-ext"></i>
					<?= $externalLinkText ?>
				</b> </a>
		<? }*/ ?>
        <a href="#" class="btn btn-default btn-block js-add-to-compare"
           data-target="account"
           data-id="<?= $account->id ?>"
           data-title="<?= $account->name ?>"
           data-sign="<?= $world->lowerSign ?>"
                >Сравнить</a>
    </div>
<? }