<?php
/**
 * @since       02.03.2016 20:37
 * @author      delphinpro delphinpro@yandex.ru
 * @copyright   copyright (C) 2016 delphinpro
 * @license     Licensed under the MIT license
 */

use df\extensions\models\World;
use df\view\Document;

/**
 * @var Document $this
 * @var World[] $worlds
 * @var World $selectedWorld
 * @var int $selectedWorldId
 * @var int $selected
 * @var bool $isArchive
 */
?>
<?
//pre($this, 0);
//pre($compare, 0);
$link = '#';
?>

<div id="compare-list" style="display: <?= empty($compare) ? 'none' : 'block' ?>;">
    <hr>
    <h3>Сравнение</h3>
    <h4 class="text-success">Игроки:</h4>

    <div id="compare-accounts" style="margin-bottom: 10px;">
        <?php if (!empty($compare)) { ?>
            <?php $ids = array(); ?>
            <?php foreach ($compare as $item) { ?>
                <div style="padding: 2px 0;">
                    <img src="<?= $item['countryFlag'] ?>" alt="" title="<?= $item['countryTitle'] ?>">
                    <span><?= $item['accountName'] ?></span>
                </div>
                <?php $ids[] = $item['accountId']; ?>
            <?php } ?>
            <?php $link = $compareLink . '?ids[]=' . join('&ids[]=', $ids); ?>
        <?php } ?>
    </div>
    <a href="<?= $link ?>" id="compare" class="btn btn-primary">Сравнить</a>
    <a href="<?= $clearCompareLink ?>" id="compare-clear" class="btn btn-default">Очистить</a>
    <hr>
</div>
