#================================================
# Laravel
#================================================

/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
*.log


#================================================
# Editor directories and files
#================================================

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
_ide_helper*.php
.phpstorm.meta.php


#================================================
# Log files
#================================================

npm-debug.log*
yarn-debug.log*
yarn-error.log*


#================================================
# Binary and other
#================================================

/*.phar
/*.bat
/*.cmd
.DS_Store
robots.txt
/public/assets/
/public/mix-manifest.json
/public/vendor/laravel-admin/laravel-admin.min.css
/public/vendor/laravel-admin/laravel-admin.min.js
/public/vendor/laravel-admin/minify-manifest.json
