//==
//== Component: InfoBox.vue
//== ======================================= ==//

.info-box {
  display: flex;
  width: 100%;
  min-height: rhythm(4);
  text-decoration: none;
  color: currentColor;
  background: $dashboard-sidebar-bg;
  --info-box-theme: #{$color-primary};
  --info-box-theme-shadow: #{rgba($color-primary, 0.5)};

  &:hover {
    text-decoration: none;
    color: currentColor;
  }

  &[href]:hover {
    box-shadow: 0 0 0 3px var(--info-box-theme-shadow);
  }

  &__icon {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: rhythm(4);
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    background: var(--info-box-theme);
  }

  &__body {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
  }

  &__content {
    padding: rhythm(0.25) rhythm(0.5);
  }

  &__footer {
    padding: 0 rhythm(0.5);
    border-top: 1px solid rgba(#fff, 0.05);
  }

  //==
  //== Color variation
  //== ======================================= ==//

  &_theme_info {
    --info-box-theme: #{$color-info};
    --info-box-theme-shadow: #{rgba($color-info, 0.5)};
  }

  &_theme_success {
    --info-box-theme: #{$color-success};
    --info-box-theme-shadow: #{rgba($color-success, 0.5)};
  }

  &_theme_warning {
    --info-box-theme: #{$color-warning};
    --info-box-theme-shadow: #{rgba($color-warning, 0.5)};
  }

  &_theme_danger {
    --info-box-theme: #{$color-danger};
    --info-box-theme-shadow: #{rgba($color-danger, 0.5)};
  }
}
