////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Alerts
 *== ======================================= ==*/

.alert {
  padding: 15px;
  margin-bottom: rhythm(1);
  border: 1px solid transparent;

  h4 { margin-top: 0; color: inherit; }
  a { font-weight: 500; }
  > p, > ul { margin-bottom: 0; }
  > p + p { margin-top: 5px; }
}


// Dismissible alerts
//
// Expand the right padding and account for the close button's positioning.

//.alert-dismissable, // The misspelled .alert-dismissable was deprecated in 3.2.0.
//.alert-dismissible {
//  padding-right: ($alert-padding + 20);
//
//  // Adjust close link position
//  .close {
//    position: relative;
//    top: -2px;
//    right: -21px;
//    color: inherit;
//  }
//}

// Alternate styles
//
// Generate contextual modifier classes for colorizing the alert.

.alert-success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}


.alert-info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}


.alert-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}


.alert-danger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
