////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2014—2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Application layout
 *== ======================================= ==*/

$application-panel-width: 200px;

#application {
  position: fixed;
  left: 0;
  top: $navbar-height;
  right: 0;
  bottom: 0;
  background: $body-bg;
  z-index: 2;
}


#application-panel {
  position: fixed;
  left: 0;
  top: $navbar-height;
  bottom: 0;
  width: $application-panel-width;
  background: rgba($body-bg, 0.9);
  padding: 5px;
  box-shadow:0 0 3px #000000;
}


$line: 40px;
$lineColor: #e3e3e3;
$r: rgba(0, 128, 0, 0.45);

$learnColor: rgb(173, 172, 168);
$availColor: brown;
$needColor: rgb(18, 104, 168);
$takeColor: #008000;
$selectedColor: rgb(239, 238, 54);

$tree-canvas-bg: rgb(54, 56, 63) !default;

#tree {
  white-space: nowrap;
  overflow: hidden;
  //	overflow-x: hidden;
  font-size: 0;
  line-height: 0;
  user-select: none;
  padding-left: $application-panel-width;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: move;
  #canvas {
    background: $tree-canvas-bg;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}


#tree-panel {
  position: relative;
  display: inline-block;
}


.sci-level {
  font-size: 16px;
  line-height: normal;
  display: inline-block;
  //vertical-align: top;
  vertical-align: middle;
  width: 215px + 48px;
  padding: 0 $line;
  box-sizing: content-box;
  &:last-child {
    .sci-item {
      //margin: 20px 0;
    }
  }
  &.collapsed {
    width: 25px;
    .sci-item {
      overflow: hidden;
    }
  }
}


.sci-item {
  display: block;
  background-color: #f5f5f5;
  background-color: rgba(245, 245, 245, 0.70);
  background-color: rgba(0, 0, 0, 0.33);
  border: 1px solid #d1d1d1;
  border: 1px solid #222222;
  //	border-radius: 4px 4px 4px 4px;
  margin: 20px 0;
  min-height: 20px;
  min-height: 60px;
  color: #999999;
  padding: 4px 8px;
  position: relative;
  font-size: 14px;
  cursor: default;
  box-sizing: border-box;
  &.light {
    background-color: rgba($selectedColor, 0.30);
  }
  &.avail {
    background-color: rgba($availColor, 0.65);
    border-color: $availColor;
  }
  &.current,
  &.avail,
  &.take {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    a {
      color: #ffffff;
    }
  }
  &.need {
    background-color: rgba($needColor, 0.60);
    border-color: $needColor;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    a {
      color: #ffffff;
    }
  }
  &.take {
    background-color: rgba($takeColor, 0.65);
    border-color: $takeColor;
  }
  &.learning {
    background-color: rgba($learnColor, 0.60);
    border-color: darken($learnColor, 20%);
    border-color: lighten($learnColor, 10%);
    color: #000000;
    text-shadow: none;
  }
  &.current {
    background-color: rgba($selectedColor, 0.60);
    border-color: darken($selectedColor, 20%);
    color: #000000;
    text-shadow: none;
  }
  &.ending {
    border-color: rgba(red, 0.5);
  }

  &__link {
    color: inherit;
    text-decoration: underline !important;
    &:hover {
      color: $link-color;
    }
  }
  b {
    font-weight: normal;
  }
  span {
    white-space: nowrap;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    //margin-bottom: 3px;
    height: 22px;
    line-height: 22px;
  }
  code {
    text-shadow: none;
    display: inline-block;
    //margin-bottom: 3px;
    float: right;
    //		border-color: #d1d1d1;
    border-color: #d1d1d1;
    background: #ffffff;
    background: rgba(0, 0, 0, 0.77);
    //padding-right: 15px;
    //background-image: url(../img/kn.gif);
    //background-repeat: no-repeat;
    //background-position: 100% 50%;
    color: #018020;
    color: $state-success-text;
    border-radius: 0;
  }
  small {
    font-size: 0.8em;
  }
  hr {
    margin: 2px 0;
    height: 0;
    border: none;
    border-top: 1px solid #777777;
  }
  input[type="checkbox"] {
    margin: 0;
    position: relative;
    top: -1px;
    cursor: default;
  }
  .deposits,
  .bonuses,
  .builds {
    border-top: 1px solid #777777;
    margin: 3px 0;
    padding: 3px 0 0;
    font-size: 11px;
    display: none;
  }
  .build {
    font-size: 11px;
    display: none;
  }
  .wonder,
  .unit {
    margin-right: 1px;
    //display: none;
  }
  .build-list {
    padding: 3px 0 0;
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
  }
  .build {
    position: relative;
    width: 48px;
    height: 48px;
    vertical-align: top;
    img {
      width: 100%;
      height: 100%;
      display: block;
    }
    span {
      position: absolute;
      right: 2px;
      bottom: 2px;
      border-radius: 50%;
      background: rgba(#000, 0.7);
      width: 20px;
      height: 16px;
      line-height: 16px;
      text-align: center;
      color: #999999;
    }
  }
}


.sci-item-header {
  padding: 3px 0 5px;
}


.show-builds .build { display: inline-block; }


.show-bonuses .bonuses { display: block; }


.show-deposits .deposits { display: block; }


@mixin bonus-position($x, $y) {
  $px: - ($x - 1) * 20px;
  $py: - ($y - 1) * 20px;
  background-position: $px $py;
}


#tree {
}


.bonus-wrapper {
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
  width: 23px;
  height: 23px;
  background: #ffefbe;
  padding: 3px 0 0 4px;
  border-radius: 50%;
}


.bonus-mask {
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  .bonus {
    display: block;
    position: absolute;
    left: -2px;
    top: -2px;
  }
}


.bonus {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-indent: -999em;
  background-image: url(/img/wofh-icons.png);
  background-repeat: no-repeat;
  @include bonus-position(11, 2);
  &-0 { @include bonus-position(7, 1); }
  &-1 { @include bonus-position(4, 1); }
  &-2 { @include bonus-position(16, 2); }
  &-3 { @include bonus-position(4, 2); }
  &-4 { @include bonus-position(10, 1); }
  // война
  &-5 { @include bonus-position(8, 1); }
  &-7 { @include bonus-position(17, 2); }
  &-8 { @include bonus-position(6, 1); }
  &-9 { @include bonus-position(14, 1); }
  // торговцы
  &-11 { @include bonus-position(13, 3); }
  // добыча рыбы
  &-12 { @include bonus-position(5, 3); }
  // добыча гранита
  &-13 { @include bonus-position(3, 3); }
  // добыча металла
}


.tooltip {
  white-space: nowrap;
}
