////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Brand logo
 *== ======================================= ==*/

.brand {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  color: #787878;

  &__img {}

  &__beta {
    font-size: 0.75em;
  }
}
