////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Breadcrumbs
 *== ======================================= ==*/

.breadcrumb {
  @include font(12px, 1.5);
  padding: 0;
  margin: 0;
  list-style: none;

  > li {
    display: inline-block;

    + li:before {
      content: "/\00a0"; // Unicode space added since inline-block means non-collapsing white-space
      padding: 0 5px;
      color: $text-color;
    }

    a {
      color: inherit;
      &:hover { color: $link-hover-color; }
    }
  }

  > .active {
    color: $text-color;
  }
}
