////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2014—2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Charts
 *== ======================================= ==*/

.chart-container-lines,
.chart-container-bar {
  position: relative;
  min-width: 310px;
  height: 300px;
  margin: 0 auto;
}

.stat-container-table {
  position: relative;
  min-height: 300px;
}

.chart-bar {
  position: absolute;
  left: 0;
  top: 0;
  background: #2f7ed8;
  width: 0;
  height: 20px;
  opacity: 0.2;
}

.chart-bar-title {
  position: relative;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.row-1 .chart-bar { background: $chart-color1; }

.row-2 .chart-bar { background: $chart-color2; }

.row-3 .chart-bar { background: $chart-color3; }

.row-4 .chart-bar { background: $chart-color4; }

.row-5 .chart-bar { background: $chart-color5; }

.row-6 .chart-bar { background: $chart-color6; }

.row-7 .chart-bar { background: $chart-color7; }

.row-8 .chart-bar { background: $chart-color8; }

.row-9 .chart-bar { background: $chart-color9; }

.row-10 .chart-bar { background: $chart-color10; }

.row-1 .aa {
  &, a { color: $chart-color1; }
}

.row-2 .aa {
  &, a { color: $chart-color2; }
}

.row-3 .aa {
  &, a { color: $chart-color3; }
}

.row-4 .aa {
  &, a { color: $chart-color4; }
}

.row-5 .aa {
  &, a { color: $chart-color5; }
}

.row-6 .aa {
  &, a { color: $chart-color6; }
}

.row-7 .aa {
  &, a { color: $chart-color7; }
}

.row-8 .aa {
  &, a { color: $chart-color8; }
}

.row-9 .aa {
  &, a { color: $chart-color9; }
}

.row-10 .aa {
  &, a { color: $chart-color10; }
}

.aa {
  white-space: nowrap;
  .flag-30 {
    margin-left: -5px;
    margin-right: 5px;
    float: left;
  }
  .mute {
    opacity: 0.5;
  }
}