//
// @since           29.10.2014 13:03
// @package
// @author			DelphinPRO delphinpro@yandex.ru
// @copyright		Copyright (C) 2014 DelphinPRO. All rights reserved.
// @license         Licensed under the MIT license
//

/* For the details, see: http://flowplayer.org/tools/dateinput/index.html#skinning */

// the input field
//.date {
//	border: 1px solid #ccc;
//	font-size: 18px;
//	padding: 4px;
//	text-align: center;
//	width: 194px;
//	-moz-box-shadow: 0 0 10px #eee inset;
//	box-shadow: 0 0 10px #eee inset;
//}

// calendar root element
#calendar {
  &-root {
    margin-top: -1px;
    //	width: 198px;
    padding: 2px;
    background-color: #ffffff;
    font-size: 11px;
    border: 1px solid #cccccc;
    z-index: 9010;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 0px 2px 10px -5px #000000;
    -moz-box-shadow: 0px 2px 10px -5px #000000;
    box-shadow: 0px 2px 10px -5px #000000;
  }

  // head. contains title, prev/next month controls and possible month/year selectors
  &-head {
    padding: 2px 0;
    height: 22px;
  }
  &-prev,
  &-next {
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    &.calendar-disabled {
      visibility: hidden;
    }
  }
  &-prev {
    &:before {
      content: '\25c4';
    }
  }
  &-next {
    &:before {
      content: '\25ba';
    }
  }
  &-title {
    font-size: 14px;
    color: #0150d1;
    float: left;
    text-align: center;
    width: 155px;
    line-height: 20px;
    text-shadow: 0 1px 0 #dddddd;
  }
  &-month {
  }
  &-year {
  }
  &-body {
  }
  // names of the days
  &-days {
    height: 16px;
    border-bottom: 1px solid #dddddd;
    span {
      display: block;
      float: left;
      width: 28px;
      text-align: center;
    }

  }
  // container for weeks
  &-weeks {
    background-color: #ffffff;
    margin-top: 4px;
  }
  // current day
  &-current {
    background-color: #498ce2;
    color: #ffffff;
  }
  // today
  &-today {
    background-color: #333333;
    color: #ffffff;
  }

}

.calendar {
  // single week
  &-week {
    clear: left;
    height: 22px;
    // single day
    a {
      display: block;
      float: left;
      width: 27px;
      height: 20px;
      text-decoration: none;
      font-size: 11px;
      margin-left: 1px;
      text-align: center;
      line-height: 20px;
      color: #666666;
      border-radius: 3px;
      // different states
      &:hover {
        background-color: #dddddd;
      }
      // sunday
      &.calendar-sunday {
        color: red;
      }
      // offmonth day
      &.calendar-off {
        color: #cccccc;
        &:hover {
          background-color: rgb(245, 245, 250);
        }
      }

      /* unselecteble day */
      &.calendar-disabled {
        background-color: #efefef !important;
        color: #cccccc !important;
        cursor: default;
      }
    }
  }
  // different states
  &-focus {
    background-color: #dddddd;
  }
}

//#calnext {
//	background-image: url(next.gif);
//	float: right;
//}

///* year/month selector */
//#caltitle select {
//	font-size: 10px;
//}

/* date input trigger element */
.caltrigger {
  padding: 5px 20px;
  padding-top: 9px;
  margin-left: 2px;
  background: url('http://static.flowplayer.org/tools/demos/dateinput/css/icon.jpg') no-repeat 0 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
