////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Footer
 *== ======================================= ==*/

.footer {
  font-size: 12px;
  color: #999999;
  white-space: nowrap;
  &-in {
    border-top: 1px solid $hr-border;
    padding: 15px 0 7px;
  }
  a {
    color: #777777;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
