////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Gallery
 *== ======================================= ==*/

.gallery {
  margin: 1rem 0;
  display: flex;

  > a {
    //display: flex;
    width: 20%;
    border: 1px solid transparent;
    background: $body-bg;
    > img {
      border: 5px solid rgba($brand-primary, 0.8);
      transition: 0.3s ease;
      display: block;
      width: 100%;
      height: 164px;
      object-fit: cover;
      opacity: 0.8;
    }
    &:hover > img {
      border-color: $brand-primary;
      opacity: 1;
    }
  }
}
