////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *==
 *== ======================================= ==*/

.live-bar {
  display: flex;

  .flag-30 {
    width: 30px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .aa {
    flex-grow: 1;
  }
}