////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2014-2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Menu
 *== ======================================= ==*/

.menu {
  background: $dropdown-bg;
  border: 1px solid $dropdown-border;
  margin: 0;
  margin-bottom: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;

  li a {
    padding: 4px 10px;
    color: $dropdown-link-color;
    display: block;
  }
  > li > a:hover,
  > li > a:focus {
    background: $dropdown-link-hover-bg;
    color: $dropdown-link-hover-color;
    text-decoration: none;
  }
  > li.active > a {
    background-color: $dropdown-link-active-bg;
    background-image: linear-gradient(to bottom, #454545, #292929);
    border-bottom: 1px solid #111111;
    color: $dropdown-link-active-color;
    text-decoration: none;
  }
}


.dropdown-select {
  position: relative;
  z-index: 100;
  &-selected {
    border: 1px solid $dropdown-border;
    margin-bottom: 20px;
    color: $dropdown-link-active-color;
    //		color: $dropdown-link-color;
    text-decoration: none;
    padding: 4px 10px;
    cursor: pointer;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to bottom, #454545, #292929);
    user-select: none;
    &:hover {
      background-image: linear-gradient(to bottom, lighten(#454545, 3%), lighten(#292929, 3%));
    }
  }

  ul {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    display: none;
  }

  &.open {
    ul {
      display: block;
    }
  }
}
