////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Navbar
 *== ======================================= ==*/

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: $navbar-bg;
  color: $navbar-color;
  height: to-rem($navbar-height);
  z-index: $zindex-navbar;

  &__container {
    @include make-container();
    @include make-container-max-widths();
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__main, &__side {
    //@include outline();
    display: flex;
    height: to-rem($navbar-height);
  }

  &__brand {
    margin-right: 1rem;
  }

  &__nav {}

  @include media-breakpoint-down(xs) {
    &__nav {
      display: none;
    }
    &__side {
      display: none;
    }
  }
}
