////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Nav menu
 *== ======================================= ==*/

.nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    position: relative;
  }

  &__link {
    display: flex;
    height: to-rem($navbar-height);
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    color: $navbar-color;
    padding: 0 to-rem(10px);
  }

  &__item > &__dropdown {
    position: absolute;
    min-width: 180px;
    left: -99999px;
    top: 100%;
    opacity: 0;
    transform-origin: 0 0;
    transform: scaleY(0);
    transition: 0.4s $transition-bezier;
    transition-property: opacity, transform;
  }

  //&__item:nth-child(3) > &__dropdown,
  &__item:hover > &__dropdown {
    left: 0;
    opacity: 1;
    transform: scaleY(1);

    &.on-right {
      right: 0;
      left: auto;
    }
  }
}


.dropdown-menu {
  position: relative;
  z-index: $zindex-dropdown;
  min-width: 180px;
  padding: 5px 0;
  margin: 0; // override default ul
  list-style: none;
  text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
  background-color: $dropdown-bg;
  border: 1px solid $dropdown-border;
  border-top-color:darken($dropdown-border, 15%);
  border-top-width:2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  background-clip: padding-box;

  // Dividers (basically an hr) within the dropdown
  .divider {
    background: $dropdown-border;
    background: rgba(white, 0.07);
    height: 1px;
    margin: 0px -0px;
    overflow: hidden;
  }

  // Links within the dropdown menu
  > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    color: $dropdown-link-color;
    white-space: nowrap; // prevent links from randomly breaking onto new lines
  }

  // Hover/Focus state
  > li > a {
    &:hover,
    &:focus {
      text-decoration: none;
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
    }
  }

  // Active state
  > .active > a {
    &,
    &:hover,
    &:focus {
      color: $dropdown-link-active-color;
      text-decoration: none;
      outline: 0;
      background-color: $dropdown-link-active-bg;
    }
  }

  // Disabled state
  //
  // Gray out text and ensure the hover/focus state remains gray

  > .disabled > a {
    &,
    &:hover,
    &:focus {
      color: $dropdown-link-disabled-color;
    }
  }

  // Nuke hover/focus effects
  > .disabled > a {
    &:hover,
    &:focus {
      text-decoration: none;
      background-color: transparent;
      background-image: none; // Remove CSS gradient
      cursor: not-allowed;
    }
  }

}


// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}
