////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== News announces
 *== ======================================= ==*/

$news-cover-small-width: 48px;
$news-cover-medium-width: 64px;
$news-cover-normal-width: 96px;

.news {
  position: relative;

  &__date {
    @include font(11px, 0.75);
    font-style: italic;
    margin: 0;
    position: absolute;
    right: -$tile-padding;
    top: -$tile-padding;
    background: rgba(#000000, 0.15);
    padding: 0.1em 0.4em;
  }

  &__title {
    @include font(15px);
    font-weight: 500;
    margin: 0 0 to-rem(10px) 0;
  }

  &__cover {
    float: left;
    padding: 2px;
    background-color: #3b3d44;
    border: 1px solid #52545b;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    display: flex;
    width: $news-cover-small-width;
    height: $news-cover-small-width;
  }

  &__img {
    margin: auto;
    display: block;
    width: ($news-cover-small-width / 1.5);
    height: ($news-cover-small-width / 1.5);
  }

  &__content {
    @include font(13px);
    margin-left: $news-cover-small-width + $tile-padding;
  }

  @include media-breakpoint-up(sm) {
    &__cover { width: $news-cover-medium-width; height: $news-cover-medium-width; }
    &__img { width: ($news-cover-medium-width / 1.5); height: ($news-cover-medium-width / 1.5); }
    &__content { margin-left: $news-cover-medium-width + $tile-padding; }
  }
  @include media-breakpoint-up(xl) {
    &__cover { width: $news-cover-normal-width; height: $news-cover-normal-width; }
    &__img { width: ($news-cover-normal-width / 1.5); height: ($news-cover-normal-width / 1.5); }
    &__content { margin-left: $news-cover-normal-width + $tile-padding; }
  }
}
