////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Pagination
 *== ======================================= ==*/

$pagination-color: $link-color !default;
$pagination-bg: #454954 !default;
$pagination-border: lighten($pagination-bg, 10%) !default;

$pagination-hover-color: #ffffff !default;
$pagination-hover-bg: darken($pagination-bg, 15%) !default;
$pagination-hover-border: $pagination-border !default;

$pagination-active-color: #ffffff !default;
$pagination-active-bg: #000000 !default;
$pagination-active-border: $pagination-border !default;

$pagination-disabled-color: $gray-light !default;
$pagination-disabled-bg: #ffffff !default;
$pagination-disabled-border: #dddddd !default;

.pagination {
  display: flex;
  text-align: right;
  padding-left: 0;
  margin: rhythm(1) 0;
  list-style: none;
  justify-content: flex-end;
  @include zero-first-last-margins();

  > li {
    > a,
    > span {
      position: relative;
      display: block;
      padding: 6px 12px;
      text-decoration: none;
      color: $pagination-color;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
      margin-left: -1px;
    }
    &:first-child {
      > a,
      > span {
        margin-left: 0;
      }
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      z-index: 2;
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
      cursor: default;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $pagination-disabled-color;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border;
      cursor: not-allowed;
    }
  }
}
