////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Page heading
 *== ======================================= ==*/

.page-header {
  //padding-bottom: rhythm(0.5);
  margin: rhythm(0.5) 0 rhythm(1);
  border-bottom: 1px solid currentColor;
  color: $brand-warning;
  font-weight: 300;

  span {
    font-weight: 100;
  }
  small {
    font-size: 14px;
    font-weight: 400;
    opacity: 0.8;
    font-style: italic;
  }

  .breadcrumb + & {
    margin-top: 0;
  }
}
