////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2016—2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Quests
 *== ======================================= ==*/

.quest {
  $questWidth: 170px;
  $questHeight: 50px;
  $questHeight: auto;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  width: $questWidth;
  height: $questHeight;
  border: 1px solid #222222;
  background: #24262a;
  background: rgba(#24262a, 0.7);
  background: rgba(#000, 0.4);
  padding: 7px 10px;
  color: #999999;
  position: absolute;
  font-size: 11px;
  overflow: hidden;
  &__body {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .editable & {
    cursor: move;
  }
  &__title, &__task, &__bonus {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
  &__title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__task { font-size: 0.8em; }
  &__bonus { font-size: 12px; }

  &__inputs {
    display: none;
    position: absolute;
    left: 10px;
    bottom: 10px;
    right: 10px;
    input {
      width: 40px;
      text-align: center;
      border: 1px solid #222222;
      background: #444444;
      color: #eeeeee;
    }
  }
  &__id {
    position: absolute;
    left: -3px;
    top: -3px;
    padding: 1px 2px;
    background: rgba(#000, 0.4);
  }
  $guideColor: rgba(#4affff, 0.5);
  &:before {
    //content: '';
    width: 200vw;
    height: 0;
    border-top: 1px dashed $guideColor;
    position: absolute;
    left: -100vw;
    top: -1px;
    z-index: 10;
  }
  &:after {
    //content: '';
    width: 0;
    height: 200vh;
    border-left: 1px dashed $guideColor;
    position: absolute;
    left: -1px;
    top: -100vh;
    z-index: 10;
  }
  &:hover {
    background: rgba(#000, 0.8);
    z-index: 11;
    height: auto;
  }
  &--moving {
    &::before { content: ''; }
    &::after { content: ''; }
    &:hover {
      height: $questHeight;
    }
  }
  &--selected {
    background: rgba($brand-primary, 0.8);
    &:hover {
      background: rgba($brand-primary, 0.8);
    }
  }
}

.quests-container {
  //white-space: nowrap;
  overflow: auto;
  //font-size: 0;
  //line-height: 0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  padding-left: 200px;
  padding-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.quests-grid {
  $color-grid: rgba(#fff, 0.1);
  $size-grid: 10px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient($color-grid, transparent 1px), linear-gradient(90deg, $color-grid, transparent 1px);
  background-size: $size-grid $size-grid;
  pointer-events: none;
  //border: 2px solid mediumvioletred;
}

.quests-panel {
  position: relative;
  min-height: calc(100vh - 50px);
  min-width: 100%;
  overflow: hidden;
}

.quests-canvas {
  background: #36383f;
  //background: rgba(#000, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
