////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Search result
 *== ======================================= ==*/

.search-result {

  & + & {
    @include margin-leader(2);
  }

  &__heading {}

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: percentage(1/3);
    display: flex;
    align-items: center;
    margin-bottom: to-rem(5px);
  }

  &__icon {
    display: block;
    height: 20px;
    margin-right: to-rem(5px);
  }

  &__link {
    mark {
      background: none;
      font-weight: 700;
      color: $link-color;
    }
  }
}
