////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Search box
 *== ======================================= ==*/

.search-box {
  @include margin-trailer(1);
  form {
    display: flex;
    input { flex-grow: 1; }
  }
}
