////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *==
 *== ======================================= ==*/

.tablo {
  $width: 36px;
  $height: 46px;
  $border: 1px;
  $radius: 3px;
  $border-color: #111111;
  margin-bottom: 15px;
  position: relative;
  cursor: default;

  .tablo-digits {
    @include font(40px);
    color: #d5d5d5;
    font-weight: 300;
    border: $border solid $border-color;
    text-shadow: 0px -1px 1px #000000, 1px 0 1px #000000, 0px 1px 1px #000000, -1px 0px 1px #000000;
    background: linear-gradient(to top, #292929 0%, #454545 100%);
    text-align: center;
    letter-spacing: 0.05em;
  }

  .tablo-calendar-wrapper {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .tablo-calendar {
    position: absolute;
    left: 50%;
    top: 7px;
    margin-left: -24px;
    input {
      display: block;
      cursor: pointer;
      border: none;
      padding: 0;
      margin: 0;
      background: url('/img/icons/calendar.png');
      width: 48px;
      height: 48px;
      text-indent: -999em;
    }
  }
  &:hover {
    .tablo-calendar-wrapper { opacity: 1; }
    .tablo-digits { opacity: 0.2; }
  }
  .tablo-next,
  .tablo-prev {
    position: absolute;
    top: 7px;
    width: 48px;
    height: 48px;
    cursor: pointer;
  }
  .tablo-next {
    right: 10px;
    background: url('/img/icons/calendar-next.png');
  }
  .tablo-prev {
    left: 10px;
    background: url('/img/icons/calendar-prev.png');
  }
}
