////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Tiles
 *== ======================================= ==*/

$tiles-debug: false;

.tile {
  //min-width: $tile-size;
  //min-height: $tile-size;
  display: flex;
  margin-bottom: 1rem;
  //border: $tile-gutter-width/2 solid transparent;

  &__in {
    color: $text-color;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    position: relative;
    padding: $tile-padding;
    background: $tile-bg;
    border: 1px solid $tile-border-color;

    &_image {
      background: no-repeat 50% 50%;
      background-size: cover;
      img { display: none; }
    }
  }

  &__icon {
    width: 96px;
    height: 96px;
    width: 32px;
    height: 32px;
    display: block;
    margin: auto;
  }

  &__caption {
    @include font(13px, 16px);
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    display: block;
    //height: 20px;
    position: relative;
    flex-grow: 1;
    margin-left: 1rem;
  }

  &-ico {
    $tile-ico-width: $tile-size - ($tile-padding * 2) - 40px;
    width: $tile-ico-width;
    height: $tile-ico-width;
    position: absolute;
    left: 50%;
    bottom: $tile-padding;
    margin-left: -$tile-ico-width / 2;
  }

  h3 {
    margin-top: 0;
  }
  .media {
    img {
      width: $tile-size - $tile-gutter-width - $tile-padding * 2 - 2;
      height: $tile-size - $tile-gutter-width - $tile-padding * 2 - 2;
    }
    > .pull-left {
      margin-right: $tile-padding;
    }
  }
  &.__hovering {
    &:hover {
      background-color: $tile-bg-hover;
      border: 1px solid $tile-border-hover-color;
    }
  }

  @mixin tile-color($tile-color) {
    a.tile__in {
      background-color: $tile-color;
      border-color: darken($tile-color, 5%);
      &:hover { background-color: lighten($tile-color, 3%); }
      svg { color: lighten($tile-color, 20%); }
    }
  }

  &_red { @include tile-color(#990000); }
  &_green { @include tile-color(#429c43); }
  &_yellow { @include tile-color(#d89e00); }
  &_blue { @include tile-color(#2f7ed8); }
  &_orange { @include tile-color(#d88a4a); }
  &_purple { @include tile-color(#c82797); }
  &_deep-purple { @include tile-color(color(deep-purple)); }

  &_event {
    padding: 5px;
    margin: 0;
    .tile__caption {
      position: absolute;
      left: 0;
      top: 15px;
      right: 15px;
    }
    a.tile__in {
      background-repeat: no-repeat;
      background-position: 98% 98%;
      background-size: 64px 64px;
    }

    &_id20 a.tile__in { background-image: url(/img/icons/event-account-create.png); }
    &_id25 a.tile__in { background-image: url(/img/icons/event-account-rename.png); }
    &_id24 a.tile__in { background-image: url(/img/icons/event-account-delete.png); }
    &_id21 a.tile__in { background-image: url(/img/icons/event-account-country-in.png); }
    &_id22 a.tile__in { background-image: url(/img/icons/event-account-country-out.png); }
    &_id23 a.tile__in { background-image: url(/img/icons/event-account-country-change.png); }

    &_id1 a.tile__in { background-image: url(/img/icons/event-town-create.png); }
    &_id2 a.tile__in { background-image: url(/img/icons/event-town-rename.png); }
    &_id3 a.tile__in { background-image: url(/img/icons/event-town-lost.png); }
    &_id4 a.tile__in { background-image: url(/img/icons/event-town-destroy.png); }

    &_id40 a.tile__in { background-image: url(/img/icons/event-country-create.png); }
    &_id41 a.tile__in { background-image: url(/img/icons/event-country-flag.png); }
    &_id42 a.tile__in { background-image: url(/img/icons/event-country-rename.png); }
    &_id43 a.tile__in { background-image: url(/img/icons/event-country-destroy.png); }

    &_id61 a.tile__in { background-image: url(/img/icons/event-wonder-create.png); }
    &_id60 a.tile__in { background-image: url(/img/icons/event-wonder-destroy.png); }
    &_id62 a.tile__in { background-image: url(/img/icons/event-wonder-activate.png); }

    &_id20,
    &_id25,
    &_id24 {
      $c: #ff8000;
      @include tile-color($c);
      //background-color: $c;
      //color: lighten($c, 25%) !important;
    }
    &_id21,
    &_id22,
    &_id23 {
      $c: #dea317;
      @include tile-color($c);
      //background-color: $c;
      //color: lighten($c, 25%) !important;
    }
    &_id1,
    &_id2,
    &_id3,
    &_id4 {
      $c: #2f7ed8;
      @include tile-color($c);
      //background-color: $c;
      //color: lighten($c, 25%) !important;
    }
    &_id40,
    &_id41,
    &_id42,
    &_id43 {
      $c: #429c43;
      @include tile-color($c);
      //background-color: $c;
      //color: lighten($c, 25%) !important;
    }
    &_id61,
    &_id60,
    &_id62 {
      $c: #c82797;
      @include tile-color($c);
      //background-color: $c;
      //color: lighten($c, 25%) !important;
    }
  }
}


.tiles-events {
  display: flex;
  flex-wrap: wrap;
  margin-left: $tile-gutter-width / -2;
  margin-right: $tile-gutter-width / -2;

  .tile {
    width: 20%;
    min-height: $tile-size;
  }
}


.tileX {
  position: absolute;
  left: 10px;
  bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  height: 36px;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
}


.tile__info {
  @include font(12px);
  font-weight: 300;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(#000, 0.5);
  padding: 0.2em 0.6em;
  color: rgba(#fff, 0.7);
}
