////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Units
 *== ======================================= ==*/

.unit {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(/img/units.png) no-repeat;
  vertical-align: top;
  @for $i from 0 through 110 {
    &.u#{$i} {
      $x: ($i + 1) * (-23px);
      background-position: $x 0;
    }
  }
}


.sci-item .unit {
}


/*==
 *== Terrain
 *== ======================================= ==*/

.terra {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  background-image: url(/img/terrain.png);
  background-repeat: no-repeat;
  border: 1px solid #411c05;
  @for $i from 1 through 5 {
    &.t#{$i} {
      $x: ($i) * (-40px);
      background-position: $x 0;
    }
  }
}


.deposits-in-country-list {
  .terra {
    margin: 4px;
  }
}


/*==
 *== Deposits
 *== ======================================= ==*/

.deposit {
  width: 38px;
  height: 38px;
  display: block;
  background-image: url(/img/deposit.png);
  background-repeat: no-repeat;
  border: 1px solid #dcac72;
  color: red;
  font-weight: bold;
  font-size: 20px;
  @for $i from 1 through 55 {
    &.d#{$i} {
      background-position: ($i * (-40px) + 36px) (-4px);
    }
  }
}


/*==
 *== Resource icons
 *== ======================================= ==*/

.i-res {
  line-height: 18px;
  font-family: Consolas, monospace;
  white-space: nowrap;
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #eeeeee;
    position: relative;
    top: -2px;
    margin-right: 3px;
    width: 17px;
    height: 14px;
    background: url(/img/resource_icons.png) no-repeat;
  }
  // do not automatically calc !!!
  &.r0:before { background-position: -15px 0; }
  // колбы
  &.r1:before { background-position: -29px 0; }
  // золото
  &.r2:before { background-position: -43px 0; }
  // еда
  &.r3:before { background-position: -57px 0; }
  // дрова
  &.r4:before { background-position: -72px 0; }
  // металл
  &.r5:before { background-position: -86px 0; }
  // топливо
  &.r6:before { background-position: -100px 0; }
  // гранит
  &.r7:before { background-position: -114px 0; }
  // вьюки
  &.r8:before { background-position: -128px 0; }
  // сера
  &.r9:before { background-position: -142px 0; }
  // алюминий
  &.r10:before { background-position: -156px 0; }
  // уран
  &.r11:before { background-position: -170px 0; }
  // яблоки
  &.r12:before { background-position: -198px 0; }
  // кукуруза
  &.r13:before { background-position: -212px 0; }
  // пшеница
  &.r14:before { background-position: -226px 0; }
  // рис
  &.r15:before { background-position: -241px 0; }
  // рыба
  &.r16:before { background-position: -255px 0; }
  // мясо
  &.r17:before { background-position: -184px 0; }
  // вино
  &.r18:before { background-position: -269px 0; }
  // драги
  &.r19:before { background-position: -283px 0; }
  // одежда
  &.r20:before { background-position: -297px 0; }
  // музыка
  &.r21:before { background-position: -311px 0; }
  // фильмы
  &.r22:before { background-position: -325px 0; }
  // книги
  &.r23:before { background-position: -340px 0; }
  // МУ
}


.res-controls {
  input {
    padding-left: 30px;
  }
  .i-res {
    position: relative;
    width: 100%;
    &:before {
      position: absolute;
      left: 7px;
      top: 7px;
    }
  }
}


/*==
 *== Flags
 *== ======================================= ==*/

.flag-30,
.flag-mini {
  width: 30px;
  height: 20px;
}
