//==
//== Info card
//== ======================================= ==//

$info-card-v-padding: 1;
$info-card-h-padding: 0.75;

.info-card {
  position: relative;
  flex-grow: 1;
  min-height: rhythm(2.5 + $info-card-v-padding * 2);
  padding: rhythm($info-card-v-padding) rhythm($info-card-h-padding);
  background: $background-base-dark;

  &__title {
    @include font(30px);
    position: relative;
    font-family: $wt-family-head;
    font-weight: bold;
  }

  &__content {
    @include font(14px);
    position: relative;
  }

  &__title + &__content {
    @include margin-leader(0.5);
  }

  &__icon {
    @include size(rhythm(2.5));
    position: absolute;
    top: rhythm($info-card-v-padding);
    right: rhythm($info-card-h-padding);
    color: rgba(#000, 0.2);
  }

  &_theme {
    &_primary {
      color: #fff;
      background: $color-primary;
    }

    &_info {
      color: #fff;
      background: $color-info;
    }

    &_success {
      color: #fff;
      background: $color-success;
    }

    &_warning {
      color: #fff;
      background: $color-warning;
    }

    &_danger {
      color: #fff;
      background: $color-danger;
    }
  }
}
