//==
//== World card
//== ======================================= ==//

.world-card {
  position: relative;

  &__flag {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__info {
    @include size(rhythm(4));
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__sign {
    @include font(20px);
    font-family: $wt-family-head;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__content {
  }

  &__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
  }

  &__desc {
    @include font(12px, 0.65);
    display: -webkit-box;
    overflow: hidden;
    max-height: rhythm(0.65 * 2);
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }

  &__footer {
    @include font(12px, 1);
    opacity: 0.7;
  }
}
