////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

@mixin outline($color: red, $thickness: 1px) {
  @if (variable_exists('DEV_MODE') and $DEV_MODE) {
    @if type_of($color) != color {
      $thickness: $color;
      $color: red;
    }
    outline: $thickness dotted $color;
    outline-offset: -$thickness;
  }
}


@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}
