////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

//noinspection CssOverwrittenProperties
@mixin font($font-size, $line-height: null) {
  @if ($line-height == null) {
    font-size: if($rhythm-rem-with-px-fallback, $font-size, null);
    font-size: convert-length($font-size, rem);
  } @else {
    @if (type_of($line-height) == 'number') {
      $unit: unit($line-height);
      @if ($unit == '') {
        @include adjust-font-size-to($font-size, $line-height);
      } @else {
        font-size: if($rhythm-rem-with-px-fallback, $font-size, null);
        font-size: convert-length($font-size, rem);
      }
      @if ($unit == 'px') {
        line-height: if($rhythm-rem-with-px-fallback, $line-height, null);
        line-height: (convert-length($line-height, em, $font-size) / 1em);
      }
      @if ($unit == 'em') {
        line-height: if($rhythm-rem-with-px-fallback, convert-length($line-height, px, $font-size), null);
        line-height: $line-height;
      }
      @if ($unit == 'rem') {
        line-height: if($rhythm-rem-with-px-fallback, convert-length($line-height, px, $font-size), null);
        line-height: $line-height;
      }
    } @else {
      @warn 'Invalid type of $line-height param: #{type_of($line-height)}. Number expected.';
    }
  }
}


@function to-rem($px) {
  @return convert-length($px, rem);
}


@function to-em($px, $context) {
  @return convert-length($px, em, $context);
}


/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str_index($string, $search);

  @if $index {
    @return str_slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}


@mixin vertical-rhythm-helpers($lines: 3, $parts: (0, 0.25, 0.5, 0.75)) {
  @each $bpName, $px in $grid-breakpoints {
    $bp: if($bpName == xs, '', '#{$bpName}-');

    @include media-breakpoint-up($bpName) {
      @for $i from 0 through $lines {
        @each $part in $parts {
          $value: #{str-replace(#{$i + $part}, '.', '\\.')};

          //@if ($part != 0 and $i == 0) {
          //  $value: '0#{$value}';
          //}

          .mt-#{$bp}#{$value} { @include margin-leader($i + $part); }
          .mb-#{$bp}#{$value} { @include margin-trailer($i + $part); }
          .pt-#{$bp}#{$value} { @include padding-leader($i + $part); }
          .pb-#{$bp}#{$value} { @include padding-trailer($i + $part); }
        }
      }
    }
  }
}


@mixin zero-first-last-margins() {
  &:first-child { margin-top: 0; }
  &:last-child { margin-bottom: 0; }
}


// Optional hyphenation
@mixin hyphens($mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: $mode;
  -moz-hyphens: $mode;
  -ms-hyphens: $mode; // IE10+
  -o-hyphens: $mode;
  hyphens: $mode;
}
