<?php
/**
 * @since              06.09.13 17:56
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?>
<br><br>
<? foreach ($this->worlds as $world) { ?>
	<p><?= $world ?></p>
<? } ?>
<? $w = $this->worlds;
if (empty( $w )) echo '<div class="alert">Нет подключенных миров</div>'; ?>
<br>
<h2>Подключение нового мира</h2>
<form action="/admin/worlds/" class="form-horizontal" method="post">

	<fieldset>
		<legend>Параметры мира</legend>
		<div class="control-group">
			<label class="control-label" for="worldNumber">Номер мира</label>
			<div class="controls">
				<select name="worldNumber" id="worldNumber">
					<option>17</option>
					<option>18</option>
					<option>19</option>
					<option>20</option>
				</select>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Параметры БД</legend>
		<div class="control-group">
			<label class="control-label" for="db_host">Хост</label>
			<div class="controls">
				<input type="text" id="db_host" name="db_host" value="<?= $this->db_host ?>">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="db_name">База данных</label>
			<div class="controls">
				<input type="text" id="db_name" name="db_name">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="db_user">Пользователь</label>
			<div class="controls">
				<input type="text" id="db_user" name="db_user" value="<?= $this->db_user ?>">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="db_pass">Пароль</label>
			<div class="controls">
				<input type="text" id="db_pass" name="db_pass">
			</div>
		</div>
	</fieldset>
	<div class="control-group">
		<div class="controls">
			<button class="btn btn-success df-btn-save" name="action" value="create" type="submit">Сохранить</button>
		</div>
	</div>
</form>
