<?php
/**
 * @since             04.11.2014 19:29
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
use df\helper\FS;
use df\Registry;

/**
 * @var df\view\Document $this
 */

const INDEX_TOWN_TITLE = 0;
const INDEX_ACCOUNT_ID = 1;
const INDEX_TOWN_POPULATION = 2;
const INDEX_WONDER = 3;

const INDEX_ACCOUNT_TITLE = 0;
const INDEX_ACCOUNT_RACE = 1;
const INDEX_ACCOUNT_SEX = 2;
const INDEX_ACCOUNT_COUNTRY_ID = 3;
const INDEX_ACCOUNT_RATING_WAR = 4;
const INDEX_ACCOUNT_RATING_SCIENCE = 5;
const INDEX_ACCOUNT_RATING_PRODUCTION = 6;
const INDEX_ACCOUNT_ROLE = 7;

$dir = FS::path('/tmp/ru22/');
$files = glob($dir . '*');

pre($files, 0);

$accId = 194;
$townId = 1;
$countryId = 1;

echo date('O');
echo date_default_timezone_get();

$db = Registry::getDb();

$sql = loadSql('select_previous_towns_data', 'Ru22');
$db->query($sql, array('lastDate' => '2014-11-09'));
$prev = $db->fetchByField('townId');

$c = FS::loadJSON(FS::path('/tmp/ru22/stat-ru22-2014-11-10.json'));
$current = $c['towns'];

ksort($prev);
ksort($current);

end($prev);
end($current);
$max = max(key($prev), key($current));
$max = 10;

?>
<table class="table table-condensed">
    <? for ($i = 0; $i <= $max; $i++) { ?>
        <? if (array_key_exists($i, $prev) || array_key_exists($i, $current)) { ?>
            <tr>
                <td>
                    <? if (array_key_exists($i, $prev)) {
                        dmp($prev[$i], 0);
                    } ?>
                </td>
                <td>
                    <? if (array_key_exists($i, $current)) {
                        dmp($current[$i], 0);
                    } ?>
                </td>
            </tr>
        <? } ?>
    <? } ?>
</table>
<?
exit;
$c = FS::loadJSON('W:\domains\wofh-tools.project\tmp\ru22\stat-ru22-2014-11-03.json');
//dmp($c, 0);

?>
<table class="table table-condensed">
    <tr>
        <td></td>
        <td>ID</td>
        <td>TITLE</td>
        <td>FLAG</td>
        <td>DIP</td>
    </tr>
    <?
    for ($i = 0; $i < 69; $i++) {
        $rgData = FS::loadJSON($files[$i]);
        if (!$rgData['countries']) {
            continue;
        }
        if (!array_key_exists($countryId, $rgData['countries'])) {
            continue;
        }

        $country = $rgData['countries'][$countryId];
        ?>
        <tr>
            <td><?= date(STD_DATE, $rgData['time']) ?></td>
            <td><?= $countryId ?></td>
            <td><?= $country[0] ?></td>
            <td><?= $country[1] ?></td>
            <td style="font-family: Consolas, " Consolas
            ", "Lucida Console", Monaco, monospace;"><? print_r($country[2]) ?></td>
        </tr>
    <? } ?>
</table>


<table class="table table-condensed">
    <tr>
        <td></td>
        <td>ID</td>
        <td>TITLE</td>
        <td>ACC</td>
        <td>POP</td>
        <td>WONDER</td>
    </tr>
    <?
    for ($i = 0; $i < 1; $i++) {
        $rgData = FS::loadJSON($files[$i]);
        $town = $rgData['towns'][$townId];
        ?>
        <tr>
            <td><?= date(STD_DATE, $rgData['time']) ?></td>
            <td><?= $townId ?></td>
            <td><?= $town[INDEX_TOWN_TITLE] ?></td>
            <td><?= $town[INDEX_ACCOUNT_ID] ?></td>
            <td><?= $town[INDEX_TOWN_POPULATION] ?></td>
            <td><?= $town[INDEX_WONDER] ?></td>
        </tr>
    <? } ?>
</table>


<table class="table table-condensed">
    <tr>
        <td></td>
        <td>ID</td>
        <td>TITLE</td>
        <td>RACE</td>
        <td>SEX</td>
        <td>COUNTRY_ID</td>
        <td>RATING_WAR</td>
        <td>RATING_SCIENCE</td>
        <td>RATING_PRODUCTION</td>
        <td>ROLE</td>
        <td>Towns</td>
        <td>Pop</td>
    </tr>
    <?
    for ($i = 0; $i < 1; $i++) {
        $rgData = FS::loadJSON($files[$i]);
        $acc = $rgData['accounts'][$accId];

        $countsTowns = 0;
        $pop = 0;
        $tid = 0;

        foreach ($rgData['towns'] as $townId => $town) {
            if ($town[INDEX_ACCOUNT_ID] == $accId) {
                $countsTowns++;
                $pop += $town[INDEX_TOWN_POPULATION];
                $tid = $townId;
            }
        }
        ?>
        <tr>
            <td><?= date(STD_DATE, $rgData['time']) ?></td>
            <td><?= $accId ?></td>
            <td><?= $acc[INDEX_ACCOUNT_TITLE] ?></td>
            <td><?= $acc[INDEX_ACCOUNT_RACE] ?></td>
            <td><?= $acc[INDEX_ACCOUNT_SEX] ?></td>
            <td><?= $acc[INDEX_ACCOUNT_COUNTRY_ID] ?></td>
            <td><?= (int)$acc[INDEX_ACCOUNT_RATING_WAR] ?></td>
            <td><?= (int)$acc[INDEX_ACCOUNT_RATING_SCIENCE] ?></td>
            <td><?= (int)$acc[INDEX_ACCOUNT_RATING_PRODUCTION] ?></td>
            <td><?= $acc[INDEX_ACCOUNT_ROLE] ?></td>
            <td><?= $countsTowns ?></td>
            <td><?= $pop ?></td>
            <td><?= $tid ?></td>
        </tr>
    <? } ?>
</table>
