<?php
/**
 * @since              15.08.13 18:50
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
use df\exception\DFException;

/**
 * @var df\view\Document $this
 * @var DFException      $e
 */
?>
<div class="tiles-container">
	<div class="tiles-row tiles-sm-4 tiles-center">
		<div class="tiles-title"><h3>&nbsp;</h3></div>
		<div class="tile tile-sm-4x2" style="height:auto;">
			<div class="tile-in">
				<div class="media message-box">
					<div class="media-left">
						<i class="icon icon-attention"></i>
					</div>
					<div class="media-body">
						<h4 class="media-heading">404</h4>
						<p>Упс! Мы, кажется, потеряли эту страницу...</p>

						<p>&nbsp;</p>

						<? echo \df\App::Inst()->sysMessage(); ?>
						<? if ($this->config->get('app.debug') && $this->is('e')) { ?>
							<div class="alert alert-warning">
								<tt><?= $e->getMessage() ?></tt>
							</div>
						<? } ?>
						<p>
							<a class="btn btn-primary btn-lg" href="/">На главную</a>
							<a class="btn btn-link btn-lg" href="javascript:history.back()">Назад</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
