<?php
/**
 * @since              19.08.13 04:38
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?>
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Основные настройки</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-10">
                <form class="form-horizontal" action="/users/" method="post">
                    <input type="hidden" name="action" value="save">
                    <div class="form-group">
                        <label class="col-sm-4 control-label required" for="email">E-Mail:</label>
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="col-sm-10">
                                    <input id="email" class="form-control" type="email" disabled
                                           value="<?= $this->user->email ?>">
                                </div>
                                <div class="col-sm-2">
                                    <p class="form-control-static">
                                        <? if ($this->user->status) { ?>
                                            <i class="account-status-icon icon-ok"></i>
                                        <? } else { ?>
                                            <i class="account-status-icon icon-help" title="E-mail не подтвержден"></i>
                                        <? } ?>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="register">Зарегистрирован:</label>
                        <div class="col-sm-8">
                            <input id="register" class="form-control" type="datetime" disabled
                                   value="<?= date('d.m.Y H:i:s', $this->user->register) ?>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="username">Имя:</label>
                        <div class="col-sm-8">
                            <input id="username" class="form-control" type="text" name="username"
                                   value="<?= $this->user->login ?>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="username">Пол:</label>

                        <div class="col-sm-8">
                            <div class="btn-group select-sex">
                                <label class="btn<?= $this->user->sex == 0 ? ' active' : '' ?>" for="sex-undefined">Не
                                    указано
                                </label>
                                <label class="btn<?= $this->user->sex == 1 ? ' active' : '' ?>" for="sex-male">Мужчина
                                </label>
                                <label class="btn<?= $this->user->sex == 2 ? ' active' : '' ?>" for="sex-female">Девушка
                                </label>
                            </div>
                            <div class="hide">
                                <input type="radio" name="sex" value="0"
                                       id="sex-undefined"<?= $this->user->sex == 0 ? ' checked' : '' ?>>
                                <input type="radio" name="sex" value="1"
                                       id="sex-male"<?= $this->user->sex == 1 ? ' checked' : '' ?>>
                                <input type="radio" name="sex" value="2"
                                       id="sex-female"<?= $this->user->sex == 2 ? ' checked' : '' ?>>
                            </div>
                        </div>
                        <script type="text/javascript">
                            $(function () {
                                var sexButtons = $('.select-sex .btn');
                                var avatar = $('#avatar');
                                sexButtons.click(function () {
                                    sexButtons.removeClass('active');
                                    $(this).addClass('active');
                                });
                                $('input[name=sex]').change(function () {
                                    if ($(this).is(':checked')) setAvatar();
                                });
                                function setAvatar() {
                                    var sex = $('input[name=sex]:checked').val();
                                    switch (sex) {
                                        case '0':
                                            avatar.attr('src', '/system/img/users/system/no-avatar.png');
                                            break;
                                        case '1':
                                            avatar.attr('src', '/system/img/users/system/no-avatar-male.png');
                                            break;
                                        case '2':
                                            avatar.attr('src', '/system/img/users/system/no-avatar-female.png');
                                            break;
                                    }
                                }

                                setAvatar();
                            })
                        </script>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                            <button type="submit" class="btn btn-success">
                                <i class="icon-loader"></i> Сохранить
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-2">
                <img id="avatar" class="thumbnail pull-right" src="/system/img/users/system/no-avatar.png">
            </div>
        </div>
    </div>
</div>

<style type="text/css">
    h1 small, h2 small, h3 small {
        font-size: 75%;
    }

</style>

<? if (!defined('PROFILE_GAME_ACCOUNT_OFF')) { ?>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Игровой аккаунт
                <small>в «<?= getCurrentWorld(WORLD_INFO_NAME) ?>»</small>
            </h3>
        </div>
        <div class="panel-body">
            <? if (getCurrentWorld(WORLD_INFO_ID) > 0) { ?>
                <div class="row">
                    <div class="col-sm-10">
                        <form class="form-horizontal" action="/profile/" method="post">
                            <div class="form-group">
                                <label class="col-sm-4 control-label required" for="player_id">Player ID:</label>
                                <div class="col-sm-8">
                                    <input id="player_id" class="form-control" type="text" name="player_id" required
                                           value="<?= $this->user->profile->player_id ?>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label required" for="player_title">Ник в игре:</label>
                                <div class="col-sm-8">
                                    <input id="player_title" class="form-control" type="text"
                                           value="<?= $this->user->profile->player_title ?>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label required" for="country_id">Страна:</label>
                                <div class="col-sm-8">
                                    <input id="country_id" class="form-control" type="text"
                                           value="<?= $this->user->profile->country_id ?>">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <input class="btn btn-success" type="submit" value="Сохранить">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            <? } ?>
        </div>
    </div>
<? } ?>

<? if (!defined('PROFILE_GROUPS_OFF')) { ?>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Группы и альянсы
                <small>в «<?= getCurrentWorld(WORLD_INFO_NAME) ?>»</small>
            </h3>
        </div>
        <div class="panel-body">
            <? if (getCurrentWorld(WORLD_INFO_ID) > 0) { ?>
                <div class="row">
                    <div class="col-sm-10">
                        <div class="form-horizontal">

                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <div class="label label-warning">Вы не состоите в группе</div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-4">
                                    <a class="btn btn-primary" href="/">Создать новую группу</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 control-label">Вы состоите в группе:</div>
                                <div class="col-sm-8">
                                    <a class="btn" href="/">ПостСкриптум - основа</a>
                                    <a class="form-control-static" href="/">Покинуть группу</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4 control-label">Вы состоите в альянсе:</div>
                                <div class="col-sm-8">
                                    <a class="btn" href="/">ПС</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <? } ?>
        </div>
    </div>
<? } ?>
