<?php
/**
 * @since              19.08.13 01:04
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?>
<form action="/login/" method="post" class="form-horizontal">
	<div class="form-group">
		<div class="col-sm-8 col-lg-6 col-sm-offset-2 col-lg-offset-3">
			<div class="alert alert-warning">
				<i class="icon icon-attention"></i> НЕ используйте учетные данные ваших аккаунтов в игровых мирах!
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="email">E-Mail:</label>
		<div class="col-sm-5 col-md-5">
			<input id="email" class="form-control" type="email" name="email" required value="">
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-4 control-label" for="passw">Пароль:</label>
		<div class="col-sm-5 col-md-5">
			<input id="passw" class="form-control" type="password" name="passw" required value="">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-5 col-md-5 col-sm-offset-4">
			<label for="remember" class="checkbox">
				<input type="checkbox" name="remember" id="remember" checked>
				Запомнить меня
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="col-xs-12 col-sm-2 col-sm-offset-4">
			<button type="submit" class="btn btn-success">Войти</button>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 text-right">
			<a class="btn btn-primary" href="/registration/">Зарегистрироваться</a>
		</div>
	</div>
</form>
