<?php
/**
 * @since              17.10.13 19:49
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?>
	Нет данных
<?/*
<div class="row">
	<div class="col-sm-2">
		<?
		$avatar = 'no-avatar.png';
		if ($profile->sex == 1) $avatar = 'no-avatar-male.png';
		if ($profile->sex == 2) $avatar = 'no-avatar-female.png';
		?>
		<img id="avatar" class="img-thumbnail" src="/system/img/users/system/<?= $avatar ?>">
	</div>
	<div class="col-sm-10">
		<h2 style="margin-top:0;">
			<?= trim($profile->login) ? $profile->login : 'Анонимус' ?>
			<? if ($profile->id == $this->user->id) { ?>
				<small>[ <a href="/profile/<?= $profile->id ?>/edit/">редактировать</a> ]</small>
			<? } ?>
		</h2>
		<dl class="dl-horizontal">
			<dt>Зарегистрирован:</dt>
			<dd><code><?= date('d.m.Y', $profile->register) ?></code></dd>

			<dt>Аккаунты в игровых мирах:</dt>
			<dd>
				<div class="badge">Не идентифицирован</div>
			</dd>
			<dd><a class="btn" href="#">Идентификация</a></dd>
			<dd>Для идентификации ваших аккаунтов необходимо указать в настройках игры нашу науковницу и сделать научный
				отчет. Если вы не намерены в дальнейшем использовать нашу науковницу, после прохождения процедуры
				идентификации можете вернуть в настройках игры вашу любимую науковницу.
			</dd>
		</dl>
	</div>
</div>
*/?>