<?php
/**
 * @since              15.08.13 01:34
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */

// define ( 'TEST_REG_FORM', true );
$test_invite = 'B35F065C17049CB22396A401CC1A1AD9';
$test_login = 'DelphinPRO';
$test_email = 'delphinpro@yandex.ru';
$test_pass = 'nVcL0819IaFzBmt3lmFG';

?>
<form action="/users/" method="post" class="form-horizontal form-reg" novalidate="">
	<input type="hidden" name="action" value="registration">

	<div class="form-group">
		<div class="col-sm-8 col-md-8 col-sm-offset-2">
			<div class="alert alert-warning">
				<i class="icon icon-attention"></i> НЕ используйте учетные данные ваших аккаунтов в игровых мирах!
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label required" for="invite">Приглашение:</label>
		<div class="col-sm-6 col-md-6">
			<input id="invite" class="form-control input-invite" type="text" name="invite" required value="<?= $this->e($this->invite) ?>">
			<span class="label label-warning">Без приглашения регистрация невозможна!</span><br>

			<div class="help-block">
				Если у вас есть приглашение, вставьте его в это поле.
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label required" for="email">E-Mail:</label>
		<div class="col-sm-6 col-md-6">
			<input id="email" class="form-control" type="email" name="email" required value="<?= defined('TEST_REG_FORM') ? $test_email : '' ?>">
			<div class="help-block">C помощью e-mail вы сможете восстановить забытый пароль.<br> Кроме того, e-mail
				используется для входа на сайт.
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label required" for="username">Имя:</label>
		<div class="col-sm-6 col-md-6">
			<input id="username" class="form-control" type="text" name="username" required value="<?= defined('TEST_REG_FORM') ? $test_login : '' ?>">
			<div class="help-block">Ваше имя на этом сайте.</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-3 control-label required" for="passw">Пароль:</label>
		<div class="col-sm-6 col-md-6">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<input id="passw" class="form-control" type="password" name="passw" required value="<?= defined('TEST_REG_FORM') ? $test_pass : '' ?>">
				</div>
				<div class="col-xs-12 col-sm-6">
					<input id="passw2" class="form-control" type="password" name="passw2" required placeholder="Повторите пароль" value="<?= defined('TEST_REG_FORM') ? $test_pass : '' ?>">
				</div>
			</div>
			<div class="help-block">Придумайте себе пароль. Надежный пароль должен состоять из не менее чем 8 символов,
				включающих в себя буквы, цифры и знаки препинания.
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3 col-sm-offset-3">
			<button type="submit" class="btn btn-success">Зарегистрироваться</button>
		</div>
		<div class="col-sm-3 text-right">
			<a href="/login/" class="btn btn-link action-show-login">Я уже регистрировался</a>
		</div>
	</div>
</form>
