////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Buttons
 *== ======================================= ==*/

$btn-shadow-active: inset 0 3px 5px rgba(0, 0, 0, .125);

// Button variants
@mixin button-variant($color, $background, $border) {
  /* button-variant ==> */
  color: $color;
  border-color: $border;
  background: $background linear-gradient(to bottom, $background, darken($background, 12%));

  &.hover,
  &:hover,
  &:focus {
    color: $color;
    background: darken($background, 3%) linear-gradient(to bottom, darken($background, 3%), darken($background, 15%));
  }

  &.active,
  &:active {
    background: darken($background, 12%);
    border-color: darken($background, 20%);
  }

  &.disabled,
  &:disabled,
  &[disabled] {
    background: darken($background, 20%);
    border-color: darken($background, 30%);
  }

  &.hover,
  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    //color: $color;
    //background-color: darken($background, 10%);
    //border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    //background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      //background-color: $background;
      //border-color: $border;
    }
  }

  .badge {
    //color: $background;
    //background-color: $color;
  }
  /* ^^^ */
}


// Button sizes
@mixin button-size($height, $font-size, $line-height: 1) {
  $lh: rhythm($line-height);
  $padding-vertical: (($height - convert-length($lh, px) - 2) / 2);
  $padding-horizontal: $padding-vertical + $font-size;
  /* button-size ==> */
  @include font($font-size, $line-height);
  padding: floor($padding-vertical) $padding-horizontal ceil($padding-vertical);
  /* ^^^ */
}


//==
//== Base styles
//== ======================================= ==//

.btn {
  //==
  //== Default button
  //== ======================================= ==//

  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  font-weight: $btn-font-weight;
  font-family: $font-family-base;
  margin-bottom: 0; // For input.btn
  text-align: center;
  text-decoration: none !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .7);
  transition: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
  @include button-size($input-height-base, $rhythm-base-font-size);

  &.focus,
  &:focus {
    @include tab-focus();
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    box-shadow: $btn-shadow-active;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
    box-shadow: none;
    text-shadow: none;
  }

  //==
  //== Alternate buttons
  //== ======================================= ==//

  &_primary { @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border); }
  &_success { @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border); }
  &_info { @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border); }
  &_warning { @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border); }
  &_danger { @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border); }

  //==
  //== Button Sizes
  //== ======================================= ==//

  &_small  { @include button-size($input-height-small, $rhythm-base-font-size * 0.75, 0.5); }
  &_medium { @include button-size($input-height-medium, $rhythm-base-font-size * 1.25); }
  &_large  { @include button-size($input-height-large, $rhythm-base-font-size * 1.5); font-weight: 400; }
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  cursor: pointer;
  border-radius: 0;
  text-shadow: none;
  box-shadow: none;

  &,
  &:active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Block button
// --------------------------------------------------

.btn-block {
  display: flex;
  width: 100%;
}


// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}


// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
