////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

@if ($DEV_MODE) {
  /*==
   *== Debug styles
   *== ======================================= ==*/

  $dev-grid-show-label: true !default;
  $dev-grid-guides-color: rgba(#4affff, 0.2) !default;

  .dev-grid {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: $MAX_INT32;
    pointer-events: none;
    display: block;
    height: 100%;

    &::before {
      z-index: $MAX_INT32;
      position: fixed;
      left: 0;
      bottom: 0;
      background: rgba(#000, 0.7);
      padding: 0.2em 0.5em 0;
      font-family: Arial, sans-serif;
      font-size: 12px;
      font-weight: 700;
      color: #ffffff;
      content: 'XS0';

      @each $breakpoint, $value in $grid-breakpoints {
        @include media-breakpoint-up($breakpoint) {
          $nextValue: map_get($grid-breakpoints, breakpoint-next($breakpoint));
          content: '#{to_upper_case($breakpoint)}: #{$value}..#{$nextValue}';
        }
      }
    }

    &__container {
      @include make-container();
      @include make-container-max-widths();
    }

    &__row {
      @include make-row();
      display: flex;
    }

    &__container,
    &__container > &__row {
      height: 100%;
    }

    &__col {
      border-right: 1px solid rgba(red, 0.1);
      height: 100vh;
      position: relative;
      width: percentage(1/12);

      &:first-child { border-left: 1px solid rgba(red, 0.1); }

      &, &:first-child { border-color: $dev-grid-guides-color; }

      &::before {
        box-sizing: border-box;
        background: rgba(red, 0.03);
        content: '';
        height: 100vh;
        left: 0;
        position: absolute;
        top: 0;
        border-right: 1px solid $dev-grid-guides-color;
        background: none;
      }
      &::after {
        box-sizing: border-box;
        background: rgba(red, 0.03);
        content: '';
        height: 100vh;
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid $dev-grid-guides-color;
        background: none;
      }

      @each $bpName, $bpValue in $grid-breakpoints {
        @media (min-width: $bpValue) {
          $col-padding: map_get($grid-gutter-widths, $bpName) / 2;
          padding: 0 ($col-padding - 1px);
          &::before, &::after {
            width: ($col-padding - 1px);
          }
        }
      }

      @include media-breakpoint-down(xs) {
        width: 100%;
        &:not(:first-child) { display: none; }
      }
    }
  }

} @else {
  .dev-grid {
    display: none;
  }
}
