////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Forms
 *== ======================================= ==*/

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  // Chrome and Firefox set a `min-width: min-content;` on fieldsets,
  // so we reset that to ensure it behaves more like a standard block element.
  // See https://github.com/twbs/bootstrap/issues/12359.
  min-width: 0;

  &.bordered {
    @include margin-trailer(1);
    border: 1px solid $hr-border;
    padding: rhythm(0.75);

    > :last-child { margin-bottom: 0; }

    legend {
      border: none;
      font-size: inherit;
      line-height: inherit;
      margin-bottom: 0;
      padding: 0 10px;
      width: auto;
    }
  }
}


legend {
  @include margin-trailer(1);
  display: block;
  width: 100%;
  padding: 0;
  @include font($rhythm-base-font-size * 1.5);
  line-height: inherit;
  color: $gray-dark;
  border: 0;
  border-bottom: 1px solid $hr-border;
  &:last-child { margin-bottom: 0; }
}


label {
  display: inline-block;
  max-width: 100%; // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
  margin-bottom: 5px;
  font-weight: bold;
}


// Normalize form controls
//
// While most of our form styles require extra classes, some basic normalization
// is required to ensure optimum display with or without those classes to better
// address browser inconsistencies.

// Set the height of file controls to match text inputs
input[type="file"] { display: block;}


// Make range inputs behave like textual form controls
input[type="range"] { display: block; width: 100%;}


// Make multiple select elements height not fixed
select[multiple], select[size] { height: auto;}


// Form groups
//
// Designed to help with the organization and spacing of vertical forms. For
// horizontal forms, use the predefined grid classes.

.form-group {
  &::before, &::after { content: ''; display: table; }
  &::after { clear: both; }
  margin-bottom: to-rem(15px);
}


// Static form control text
//
// Apply class to a `p` element to make any string of text align with labels in
// a horizontal form layout.

.form-control-static {
  // Size it appropriately next to real form controls
  //padding-top: ($padding-base-vertical + 1);
  //padding-bottom: ($padding-base-vertical + 1);
  // Remove default margin from `p`
  margin-bottom: 0;
}


// Form control feedback states
//
// Apply contextual and semantic states to individual form controls.

.has-feedback {
  // Enable absolute positioning
  position: relative;
}


//// Feedback states
//.has-success {
//  @include form-control-validation($state-success-text, $state-success-text, $state-success-bg);
//}
//
//
//.has-warning {
//  @include form-control-validation($state-warning-text, $state-warning-text, $state-warning-bg);
//}
//
//
//.has-error {
//  @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
//}

// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.

.help-block {
  display: block; // account for any element using help-block
  margin-top: 5px;
  margin-bottom: 10px;
  color: lighten($text-color, 25%); // lighten the text some for contrast
}


textarea {
  resize: vertical;
  min-height: 30px;
}


.required {
  &:after {
    content: ' *';
    color: red;
  }
}


.help-block {
  color: $text-muted;
}
