////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Form control
 *== ======================================= ==*/

.form-control {
  @include font(14px);
  display: block;
  width: 100%;
  height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  color: $input-color;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  background-color: $input-bg;
  border: 1px solid $input-border;
  box-shadow: $input-shadow;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  padding-left: 1em;
  padding-right: 1em;

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Placeholder
  @include placeholder();

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: not-allowed;
    //background-color: $input-bg-disabled;
    box-shadow: none;
    opacity: 1; // iOS fix for unreadable disabled content
    background-color: $input-bg;
    border: 1px solid darken($input-bg, 3%);
  }

  // [converter] extracted textarea& to textarea.form-control
}


// Reset height for `textarea`s
textarea.form-control {
  height: auto;
}

.input-group {
  display: flex;
}
