////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Helpers
 *== ======================================= ==*/

@include vertical-rhythm-helpers(2);

.bl { border-left: 1px solid $table-border-color; }


.br { border-right: 1px solid $table-border-color; }


.sm { width: 1%; }


.ms { font-family: "Consolas", "Lucida Console", Monaco, monospace; }


.nw { white-space: nowrap; }


.text-left { text-align: left; }


.text-right { text-align: right; }


.text-center { text-align: center; }


.text-justify { text-align: justify; }


.text-nowrap { @extend .nw; }


.text-lowercase { text-transform: lowercase;}


.text-uppercase { text-transform: uppercase;}


.text-capitalize { text-transform: capitalize;}


.pull-left {float: left;}


.pull-right {float: right;}
