////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Init styles
 *== ======================================= ==*/

* {
  &, &::before, &::after {
    box-sizing: border-box;
  }
}


@include establish-baseline() {
  font-family: $font-family-base;
  line-height: convert-length($rhythm-base-line-height, em) / 1em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


body {
  background: $body-bg url(#{$body-image});
  color: $text-color;
  position: relative;
}


.wrapper {
  padding-top: to-rem($navbar-height);
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  >*{width: 100%;}

  .footer {
    margin-top: auto;
  }
}


a {
  color: $link_color;
  transition: 0.2s ease;
  text-decoration: none;

  &:hover {
    color: $link-hover-color;
  }
}


hr {
  @include margin-leader(1);
  @include margin-trailer(1);
  border: 0;
  border-top: 1px solid $hr-border;
}


/*==
 *== Grid system
 *== ======================================= ==*/

@include make-grid-system();
