////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Misc.
 *== ======================================= ==*/

.icon-reg-open {
  &.i-check {width: 15px;height: 15px;}
  &.i-cross {width: 14px;height: 14px;}
}


.stat-not-found {
  display: flex;
  align-items: center;
  .i {width: 10px;height: 10px;margin-right: 0.5em;}
}


.i-external {width: 10px;height: 10px; position: relative;top: -0.4em;}


.overlay {display: none;}


#table-working-worlds {
  @include media-breakpoint-down(sm) {
    thead {
      display: none;
    }
    &, tbody, tfoot, tr, td, th {
      display: block;
    }
    td {
      display: inline-block;
    }
  }
}

.clearfix { @include clearfix(); }
