////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Type
 *== ======================================= ==*/

/*== Common ==*/

%zero-margins {
  @include zero-first-last-margins();
}


/*== Headings ==*/

.h1 {
  @extend %zero-margins;
  @include font(32px);
  font-weight: 300;
}


.h2 {
  @extend %zero-margins;
  @include font(26px);
  font-weight: 300;
}


.h3 {
  @extend %zero-margins;
  @include font(22px);
  font-weight: 300;
}

.h4 {
  @extend %zero-margins;
  @include font(20px);
  font-weight: 400;
}

.h5 {
  @extend %zero-margins;
  @include font(18px);
  font-weight: 500;
}


h1 { @extend .h1; }


h2 { @extend .h2; }


h3 { @extend .h3; }
h4 { @extend .h4; }
h5 { @extend .h5; }


/*== Body text ==*/

p {
  @extend %zero-margins;
  @include margin-leader(1);
  @include margin-trailer(1);
}


.lead {
  @include margin-leader(1);
  @include margin-trailer(1);
  @include font($rhythm-base-font-size * 1.15);
  font-weight: 300;
}


/*== Contextual colors ==*/

@include text-emphasis-variant('.text-primary', $brand-primary);

@include text-emphasis-variant('.text-success', $brand-success);

@include text-emphasis-variant('.text-info', $state-info-text);

@include text-emphasis-variant('.text-warning', $state-warning-text);

@include text-emphasis-variant('.text-danger', $brand-danger);
