////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Web fonts
 *== ======================================= ==*/

@mixin includeFont($family, $weight, $style, $filename, $path) {
  @font-face {
    font-family: $family;
    src: url('#{$path}#{$filename}.woff2') format('woff2'),
    url('#{$path}#{$filename}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}

@include includeFont('Roboto', 100, italic, 'Roboto-ThinItalic', '../fonts/Roboto/subset-');
@include includeFont('Roboto', 100, normal, 'Roboto-Thin', '../fonts/Roboto/subset-');
@include includeFont('Roboto', 300, italic, 'Roboto-LightItalic', '../fonts/Roboto/subset-');
@include includeFont('Roboto', 300, normal, 'Roboto-Light', '../fonts/Roboto/subset-');
@include includeFont('Roboto', 400, italic, 'Roboto-Italic', '../fonts/Roboto/subset-');
@include includeFont('Roboto', 400, normal, 'Roboto-Regular', '../fonts/Roboto/subset-');
@include includeFont('Roboto', 500, italic, 'Roboto-MediumItalic', '../fonts/Roboto/subset-');
@include includeFont('Roboto', 500, normal, 'Roboto-Medium', '../fonts/Roboto/subset-');
@include includeFont('Roboto', 700, italic, 'Roboto-BoldItalic', '../fonts/Roboto/subset-');
@include includeFont('Roboto', 700, normal, 'Roboto-Bold', '../fonts/Roboto/subset-');
@include includeFont('Roboto', 900, italic, 'Roboto-BlackItalic', '../fonts/Roboto/subset-');
@include includeFont('Roboto', 900, normal, 'Roboto-Black', '../fonts/Roboto/subset-');
