<?php
/**
 * @since              16.08.13 04:46
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?>
<form action="/admin/menu/" class="form-horizontal" method="post">
	<input type="hidden" name="id" value="<?= $this->menu->id ?>">
	<div class="btn-group">
		<button class="btn btn-success df-btn-save" name="action" value="save" type="submit">Сохранить</button>
		<button class="btn btn-danger df-btn-close" name="action" value="close" type="submit">Закрыть</button>
	</div>
	<br><br>

	<div class="control-group">
		<div class="control-label">ID</div>
		<div class="controls" style="padding-top:5px;"><?= $this->menu->id ?></div>
	</div>
	<div class="control-group">
		<label class="control-label" for="menuName">Название</label>
		<div class="controls">
			<input type="text" id="menuName" placeholder="Название меню" name="title" value="<?= $this->menu->title ?>">
		</div>
	</div>
</form>

<div class="well">

	<div>
		<div class="btn-group">
			<a class="btn btn-inverse">Корень</a>
			<a class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="/admin/menu/item/create/">Создать подпункт</a></li>
			</ul>
		</div>
	</div>

	<? foreach ($this->menuItems as $menuItem) { ?>
		<div>
			<div class="btn-group">
				<a class="btn"><?= $menuItem->title ?></a>
				<a class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="/admin/menu/item/create/">Создать подпункт</a></li>
				</ul>
			</div>
		</div>
	<? } ?>

</div>
