<?php
/**
 * @since              18.08.13 16:00
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?>
<form action="/admin/menu/item/" class="form-horizontal" method="post">
	<input type="hidden" name="id" value="<?= $this->menuItem->id ?>">
	<div class="btn-group">
		<button class="btn btn-success df-btn-save" name="action" value="save" type="submit">Сохранить</button>
		<button class="btn btn-danger df-btn-close" name="action" value="close" type="submit">Закрыть</button>
	</div>
	<br><br>

	<div class="control-group">
		<div class="control-label">ID</div>
		<div class="controls" style="padding-top:5px;"><?= $this->menuItem->id ?></div>
	</div>
	<div class="control-group">
		<label class="control-label" for="menuItemName">Название</label>
		<div class="controls">
			<input type="text" id="menuItemName" placeholder="Название пункта меню" name="title" value="<?= $this->menuItem->title ?>">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="menuItemComponent">Компонент</label>
		<div class="controls">
			<select name="target" id="menuItemComponent">
				<option value="-1">-- Select component --</option>
				<? foreach ($this->components as $component => $layouts) { ?>
					<optgroup label="<?= $component ?>">
						<? foreach ($layouts as $layout) { ?>
							<? list( $ctrl, $action ) = explode('_', $layout) ?>
							<option value="<?= $component ?>::<?= $ctrl ?>::<?= $action ?>"><?= $layout ?></option>
						<? } ?>
					</optgroup>
				<? } ?>
			</select>
		</div>
	</div>
</form>
