<?php
/**
 * @since              09.09.13 19:38
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?>

<?/* if ($this->is('key')) { ?>
	<div class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-8 control-label" for="sum">Синхронизировано с логом</label>
			<div class="col-sm-16">
				<a class="btn" href="http://<?= $_SERVER['HTTP_HOST'] ?>/sci/<?= $this->key ?>/">http://<?= $_SERVER['HTTP_HOST'] ?>
					/sci/<?= $this->key ?>/</a>
			</div>
		</div>
	</div>
<? }*/ ?>

<?/* * /?>
<div class="row">
	<div class="col-sm-6">
		<div class="form-horizontal">
			<div class="form-group">
				<label class="col-sm-4 control-label" for="searchBuilds">Поиск строений</label>
				<div class="col-sm-8">
					<select id="searchBuilds" class="form-control">
						<?
						echo '<option value="-1">-- Выберите строение --</option>';
						$wondersIds = array(9, 11, 43, 56, 58, 60, 73, 75, 76, 77, 83, 91, 92, 94, 95, 97, 98, 99, 100, 107, 108, 112);
						foreach ($this->builds as $build) {
							if (!in_array($build['buildId'], $wondersIds)
								&& ( $build['title'] != 'Резерв' )
							) {
								echo '<option value="' . $build['buildId'] . '">' . $build['title'] . '</option>';
							}
						}
						?>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="searchWonders">Поиск чудес</label>
				<div class="col-sm-8">
					<select id="searchWonders" class="form-control">
						<?
						echo '<option value="-1">-- Выберите чудо света --</option>';
						$wondersIds = array(9, 11, 43, 56, 58, 60, 73, 75, 76, 77, 83, 91, 92, 94, 95, 97, 98, 99, 100, 107, 108, 112);
						foreach ($this->builds as $buildId => $build) {
							if (in_array($build['buildId'], $wondersIds)) {
								echo '<option value="' . $build['buildId'] . '">' . $build['title'] . '</option>';
							}
						}
						?>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="searchDeposits">Поиск месторождений</label>
				<div class="col-sm-8">
					<select id="searchDeposits" class="form-control">
						<option value="-1">-- Выберите месторождение --</option>
						<option value="134">Виноград</option>
						<option value="134">Кукуруза</option>
						<option value="134">Пшеница</option>
						<option value="134">Рис</option>
						<option value="134">Хлопок</option>
						<option value="146">Рыба</option>
						<option value="146">Жемчуг</option>
						<option value="140">Киты</option>
						<option value="135">Свиньи</option>
						<option value="135">Коровы</option>
						<option value="135">Овцы</option>
						<option value="141">Лен</option>
						<option value="10">Золото</option>
						<option value="10">Серебро</option>
						<option value="10">Железная руда</option>
						<option value="122">Алмазы</option>
						<option value="122">Изумруды</option>
						<option value="122">Рубины</option>
						<option value="11">Гранит</option>
						<option value="3">Лошади</option>
						<option value="3">Верблюды</option>
						<option value="3">Слоны</option>
						<option value="56">Серная руда</option>
						<option value="36">Алюминиевая руда</option>
						<option value="114">Природный газ</option>
						<option value="114">Нефть</option>
						<option value="57">Уголь</option>
						<option value="57">Уран</option>
						<option value="82">Источник мудрости</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="searchUnits">Поиск юнитов</label>
				<div class="col-sm-8">
					<? //dump($this->units)?>
					<select id="searchUnits" class="form-control">
						<option value="-1">-- Выберите юнита --</option>
						<?
						foreach ($this->units as $unit) {
							echo '<option value="' . $unit['unitId'] . '">' . $unit['title'] . '</option>';
						}
						?>
					</select>
				</div>
			</div>
			<? /*<div class="form-group">
					<label class="col-sm-8 control-label" for="searchBonuses">Поиск бонусов</label>
					<div class="col-sm-16">
						<select id="searchBonuses" class="form-control">
							<option value="-1">-- Выберите бонус --</option>
							<option value="0">Рост населения</option>
							<option value="1">Культура</option>
							<option value="3">Улучшение научного распределения</option>
							<optgroup label="Военные">
								<option value="4">Война</option>
								<option value="104">Военные возможности</option>
								<option value="101">Осада городов</option>
							</optgroup>
							<optgroup label="Производственные">
								<option value="5">Производство</option>
								<option value="11">Добыча рыбы</option>
								<option value="12">Добыча гранита</option>
								<option value="13">Добыча металла</option>
							</optgroup>
							<optgroup label="Торговые и экономические">
								<option value="2">Доход</option>
								<option value="8">Склад</option>
								<option value="9">Торговцы</option>
								<option value="10">Дальность морской торговли</option>
								<option value="105">Торговые маршруты</option>
								<option value="103">Новая экономическая система</option>
							</optgroup>
							<optgroup label="Карта">
								<option value="7">Радиус обзора</option>
								<option value="102">Полная видимость карты</option>
							</optgroup>
							<optgroup label="Дороги">
								<option value="106">Грунтовые дороги</option>
								<option value="107">Шоссе</option>
								<option value="108">Железная дорога</option>
								<option value="109">Маглев дорога</option>
							</optgroup>
						</select>
					</div>
				</div>* /
			?>
			<div class="form-group">
				<label class="col-sm-4 control-label" for="searchTechnology">Поиск науки</label>
				<div class="col-sm-8">
					<input id="searchTechnology" class="form-control" type="text" placeholder="Начните вводить название науки">
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<div class="form-group">
			<label class="checkbox" for="showBuilds">
				<input type="checkbox" id="showBuilds">
				Показать строения
			</label>
		</div>
		<div class="form-group">
			<label class="checkbox" for="showBonuses">
				<input type="checkbox" id="showBonuses">
				Показать бонусы
			</label>
		</div>
		<div class="form-group">
			<label class="checkbox" for="showDeposits">
				<input type="checkbox" id="showDeposits">
				Показать месторождения
			</label>
		</div>

		<div class="form-group">
			<button id="clearLearn" class="btn">Очистить изученные</button>
		</div>
	</div>
	<div class="col-sm-3">
		<fieldset>
			<legend>Цветовая маркировка</legend>
			<div class="sc-tree-legend sc-tree-legend-learn"><i></i>Изученные науки</div>
			<div class="sc-tree-legend sc-tree-legend-avail"><i></i>Доступные для изучения науки</div>
			<div class="sc-tree-legend sc-tree-legend-need"><i></i>Требуемые для изучения</div>
			<div class="sc-tree-legend sc-tree-legend-take"><i></i>Открываемые после изучения</div>
			<div class="sc-tree-legend sc-tree-legend-sel"><i></i>Выделенная наука</div>
		</fieldset>
	</div>
</div>
<?/**/?>

<?
$i = 1;

function getTextBonus($id, $val)
{
	$bonuses = array(
		0  => 'Рост населения',
		1  => 'Культура',
		2  => 'Доход',
		3  => 'Улучшение научного распределения',
		4  => 'Война',
		5  => 'Производство',
		6  => array(
			1   => 'Осада городов',
			2   => 'Полная видимость карты',
			8   => 'Новая экономическая система',
			16  => 'Военные возможности',
			32  => 'Торговые маршруты',
			64  => 'Грунтовые дороги',
			128 => 'Шоссе',
			256 => 'Железная дорога',
		),
		7  => 'Радиус обзора',
		8  => 'Склад',
		9  => 'Торговцы',
		10 => 'Дальность морской торговли',
		11 => 'Добыча рыбы',
		12 => 'Добыча гранита',
		13 => 'Добыча металла',
	);

	$bonusIndex = array(0.0833333, 25, 0.1, 1, 10, 0.1, 1, 2, 100, 1, 1, 0.1, 0.1, 0.05);

	$text = '';

	if (isset( $bonuses[$id] )) {
		switch ($id) {
			case 0:
			case 7:
				$text .= '<div class="bonus bonus-' . $id . '">' . $bonuses[$id] . ' +' . $val * 2 . '</div>';
				break;
			case 1:
				$text .= '<div class="bonus bonus-' . $id . '">' . $bonuses[$id] . ' +' . $val * 25 . '%</div>';
				break;
			case 3:
				$text .= '<div class="bonus bonus-' . $id . '">' . $bonuses[$id] . '</div>';
				break;
			case 6:
				if (isset( $bonuses[$id][$val] )) {
					$text .= '<div class="bonus">' . $bonuses[$id][$val] . '</div>';
				} else {
					$text .= '<div class="bonus" style="color:red">(' . $id . ') Новая возможность (' . $val . ')</div>';
				}
				break;
			case 8:
				$text .= '<div class="bonus bonus-' . $id . '">' . $bonuses[$id] . ' +' . $val * 100 . '</div>';
				break;
			case 9:
				$text .= '<div class="bonus bonus-' . $id . '">' . $bonuses[$id] . ' +' . $val . '</div>';
				break;
			case 10:
				if ($val & 16) {
					$text .= '<div class="bonus">Маглев дорога</div>';
				}
				if ($val & 4) {
					$text .= '<div class="bonus">Дальность морской торговли</div>';
				}
				if ($val & 2) {
					$text .= '<div class="bonus">Устаревание бартерной торговли</div>';
				}
				if ($val & 1) {
					$text .= '<div class="bonus">Миникарта</div>';
				}
				break;
			case 2:
			case 4:
			case 5:
			case 11:
			case 12:
			case 13:
				$text .= '<div class="bonus bonus-' . $id . '">' . $bonuses[$id] . ' +' . ( $bonusIndex[$id] * $val * 100 ) . '%</div>';
				break;
			default:
				$text .= '<div class="bonus bonus-' . $id . '">(' . $id . ') ' . $bonuses[$id] . ' (' . $val . ')</div>';
		}
	} else {
		$text .= '<div class="bonus">' . $id . ' => ' . $val . '</div>';
	}
	return $text;
}

// ссылки в игру
// http://w17.wofh.ru/scienceinfo?id=
// http://w17.wofh.ru/unitinfo?id=
// http://w17.wofh.ru/buildinfo?id=
?>

<? //dump($this->builds, 0);?>
<div id="tree-container">
	<div id="find" class="sc-tree-find"></div>
	<div class="sc-tree-calc">
		<input id="sum" class="form-control" type="text" readonly placeholder="Сумма знаний">
	</div>
	<a class="btn sc-tree-up-button"><i class="icon icon-angle-double-up"></i></a>
	<? /*<a class="btn sc-tree-fs-button"><i class="icon icon-fullscreen"></i></a>*/ ?>
	<div id="tree"<?= $this->is('key') ? ' class="sync"' : '' ?>>
		<div id="tree-panel">
			<canvas id="canvas" class="sc-tree-canvas"></canvas>
			<?
			foreach ($scienceData as $place => $scienceInPlace) {
				echo '<div class="sci-level" data-id="' . $place . '">';
				foreach ($scienceInPlace as $id => $science) {
					$i++;
					echo '<div class="sci-item" data-id="' . $id . '" id="id' . $id . '">';
					echo '<code>' . $science['fCost'] . '</code>';
					echo '<span>';
					echo '<input type="checkbox"' . ( ( $this->is('learnList') && $this->learnList[$id] ) ? ' checked' : '' ) . '> ';
//					echo '<b style="color:red">' . $id . '</b> ';
					echo '<b>' . $science['title'] . '</b>';
					echo '</span>';

					if (!empty( $science['units'] )) foreach ($science['units'] as $unitId) {
						echo '<b title="' . $this->units[$unitId]['title'] . '" class="unit u' . $unitId . '"></b>';
					}
					if (!empty( $science['wonders'] )) foreach ($science['wonders'] as $wonderId => $wonder) {
						echo '<b title="' . $this->builds[$wonderId]['name'] . '" class="wonder wonder-' . $wonderId . '">+' . $wonder . '</b>';
					}

					if (!empty( $science['deposit'] )) {
						echo '<div class="deposits">';
						foreach ($science['deposit'] as $deposit) {
							echo '<div class="dep">' . $deposit . '</div>';
						}
						echo '</div>';
					}

					if (!empty( $science['builds'] )) {
						echo '<div class="builds">';
						foreach ($science['builds'] as $buildId => $build) {
							echo '<div class="build b-' . $buildId . '">' . $this->builds[$buildId]['title'] . ' (+' . $build . ')</div>';
						}
						echo '</div>';
					}

					if (!empty( $science['bonuses'] )) {
						echo '<div class="bonuses">';
						foreach ($science['bonuses'] as $bonus) echo getTextBonus($bonus[0], $bonus[1]);
						echo '</div>';
					}
					echo '</div>';
				}
				echo '</div>';
			}
			?>
		</div>
	</div>
	<div id="ajax-loader" class="ajax-loader"></div>
</div>
<? /*
<div class="row">
	<div class="col-sm-6">
		<fieldset>
			<legend>Статистика</legend>
			<dl class="dl-horizontal">
				<dt>Всего наук:</dt>
				<dd><?= $this->scienceCount ?></dd>

				<? if ($this->is('key')) { ?>
					<dt>Изучено:</dt>
					<dd><?= $this->learnCount; ?>
						<small class="muted">(<?= round($this->learnCount / $this->scienceCount * 100, 2) ?> %)</small>
					</dd>

					<dt>Вложено знаний:</dt>
					<dd>
						<?= numTriad($this->learnTotal); ?> + <?= numTriad($this->marginTotal); ?>
					</dd>

					<dt>Наценка:</dt>
					<dd><?= numTriad($this->margin); ?></dd>

				<? } ?>
			</dl>
		</fieldset>
	</div>
	<div class="col-sm-6">
		<fieldset>
			<legend>Легенда</legend>
			<div class="sc-tree-legend sc-tree-legend-learn"><i></i>Изученные науки</div>
			<div class="sc-tree-legend sc-tree-legend-avail"><i></i>Доступные для изучения науки</div>
			<div class="sc-tree-legend sc-tree-legend-need"><i></i>Требуемые для изучения</div>
			<div class="sc-tree-legend sc-tree-legend-take"><i></i>Открываемые после изучения</div>
			<div class="sc-tree-legend sc-tree-legend-sel"><i></i>Выделенная наука</div>
		</fieldset>
	</div>
</div>
<? /** /?>
<h3>Краткая справка</h3>

<div class="alert alert-info">Дерево удобно скроллить по горизонтали колесиком мышки, зажав клавишу <code>SHIFT</code>
</div>
<p>Клик по науке выделяет ее, а также выделются все необходимые науки для изучения выбранной, и следующие доступные. При
	этом подсчитывается стоимость изучения выделенной науки.

<p>Установив галочку вы можете отметить науку, как изученную. Браузер запомнит ваш выбор. Изученные науки не учитываются
	при подсчете колб.

<p>Кнопкой "Очистить изученные" вы можете снять сразу все галочки.
<h4>Поиск</h4>
<dl class="dl-horizontal">
	<dt>Поиск науки</dt>
	<dd>Вы можете ввести название науки в поле "Поиск науки". По мере ввода будут выделятся подходящие науки.</dd>

	<dt>Поиск зданий</dt>
	<dd>Вы можете выбрать в выпадающем списке здание, и это здание будет обведено рамкой.<br> Также в дереве будет
		выделена наука необходимая для открытия следующих уровней здания с учетом уже изученных.<br> Если доступны все
		уровни, выделена наука, открывающая первые уровни здания.
	</dd>

	<dt>Поиск чудес</dt>
	<dd>Аналогичен поиску зданий</dd>

	<dt>Поиск юнитов</dt>
	<dd>Аналогичен поиску зданий</dd>

	<dt>Поиск бонусов</dt>
	<dd>В данной версии не реализован.</dd>
</dl>

<h4>Синхронизация с науковницей</h4>

<p>Дерево технологий синхронизировано с нашей <a href="http://<?=$_SERVER['HTTP_HOST']?>/sci/">науковницей</a>, в
	которой есть кнопка "Передать в дерево наук". При этом в дереве автоматически отмечаются изученные науки, что
	позволит вам без лишних движений оценить стоимость изучения какой-либо науки.
	<span class="label label-warning">В данный момент в расчетах не учитываются наценки и недоизученные науки. Данный функционал появится очень скоро.</span>

<h3>Известные проблемы</h3>

<p>В браузере Opera 12.16 и ниже не работает сочетание Shift+MouseWheel.</p>

<p>В браузере Opera 12.16 и ниже медленно отрисовывается соостояние дерева.</p>

<p>Браузеры Internet Explorer ниже 10 версии не поддерживаются.</p>
/**/
?>
<div id="d"></div>
