<?php
/**
 * @since             17.11.2014 18:39
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
use df\helper\FS;
use df\Html;

/**
 * @var df\view\Document           $this
 * @var array                      $scienceData
 * @var array                      $units
 * @var array                      $builds
 * @var df\extensions\models\World $world
 */
?>

<?

function getTextBonus($id, $val)
{
	$ext1_3 = array(
		1 => 'Осада городов',
		2 => 'Полная видимость карты',
		8 => 'Новая экономическая система',
		16 => 'Военные возможности',
		32 => 'Торговые маршруты',
		64 => 'Строительство грунтовых дорог',
		128 => 'Строительство шоссе',
		256 => 'Строительство железной дороги',
	);
	$ext1_4 = array(
        0 => 'Добыча рыбы',
		1 => 'Полная видимость карты',
		2 => 'Устаревание бартерной торговли',
		3 => 'Новая экономическая система',
		4 => 'Производство одежды',
		5 => 'Строительство грунтовых дорог',
		6 => 'Строительство шоссе',
		7 => 'Строительство железной дороги',
		8 => 'Строительство маглев дороги',
		9 => 'Нет ограничения дальности торговли',
	);
	$bonuses = array(
		0  => 'Рост населения',
		1  => 'Культура',
		2  => 'Доход',
		3  => 'Улучшение научного распределения',
		4  => 'Война',
		5  => 'Производство',
		//6  => ($currentWorld->id == 1023) ? $ext1_4 : $ext1_3,
		6  => $ext1_4,
		7  => 'Радиус обзора',
		8  => 'Склад',
		9  => 'Торговцы',
		10 => 'Дальность морской торговли',
		11 => 'Добыча рыбы',
		12 => 'Добыча гранита',
		13 => 'Добыча металла',
	);

	$bonusIndex = array(0.0833333, 25, 0.1, 1, 10, 0.1, 1, 2, 100, 1, 1, 0.1, 0.1, 0.05);

	$text       = '';
	$label      = '';
	$shortlabel = '';

	if (isset( $bonuses[$id] )) {
		switch ($id) {
			case 0:
			case 7:
				$shortlabel = '+' . $val * 2;
				$label      = $bonuses[$id] . ' +' . $val * 2;
				break;
			case 1:
				$shortlabel = '+' . $val * 25 . '';
				$label      = $bonuses[$id] . ' +' . $val * 25 . '';
				break;
			case 3:
				$label = $bonuses[$id];
				break;
			case 4:
				$shortlabel = '+' . ( $bonusIndex[$id] * $val ) . '%';
				$label      = $bonuses[$id] . ' +' . ( $bonusIndex[$id] * $val ) . '%';
				break;
			case 6:
				if (isset( $bonuses[$id][$val] )) {
					$label = $bonuses[$id][$val];
				} else {
					$label = '(' . $id . ') Неизвестная возможность (' . $val . ')';
				}
				break;
			case 8:
				$shortlabel = '+' . ( $val * 100 );
				$label      = $bonuses[$id] . ' +' . ( $val * 100 ) . ' ед.';
				break;
			case 9:
				$shortlabel = '+' . $val;
				$label      = $bonuses[$id] . ' +' . $val;
				break;
			case 10:
				if ($val & 16) {
					$label = 'Маглев дорога';
				}
				if ($val & 4) {
					$label = 'Дальность морской торговли';
				}
				if ($val & 2) {
					$label = 'Устаревание бартерной торговли';
				}
				if ($val & 1) {
					$label = 'Миникарта';
				}
				break;
			case 2:
			case 5:
			case 11:
			case 12:
			case 13:
				$shortlabel = '+' . ( $bonusIndex[$id] * $val * 100 ) . '%';
				$label      = $bonuses[$id] . ' +' . ( $bonusIndex[$id] * $val * 100 ) . '%';
				break;
			default:
				$text .= '(' . $id . ') ' . $bonuses[$id] . ' (' . $val . ')';
		}
	} else {
		return '<div>bonus: ' . $id . ' => ' . $val . '</div>';
	}
    $text .= '<div class="bonus-wrapper" title="' . $label . '" data-toggle="tooltip" data-placement="top">';
    $text .= '<div class="bonus-mask">';
    $text .= '<div class="bonus bonus-' . $id . '"></div>';
    $text .= '</div>';
    $text .= '</div>';
    $text .= '<small>' . $shortlabel . '</small>';
	return $text;// . ' <b>[' . $id . ']</b> ';
}

?>

<script src="/js/lib/jquery.mousewheel.js"></script>
<script src="/js/technology.js?<?= md5_file(FS::path('/public_html/js/technology.js')) ?>"></script>

<div id="application">
	<div id="tree"<?= $this->is('key') ? ' class="sync"' : '' ?>>
		<div id="tree-panel">
			<canvas id="canvas" class="sc-tree-canvas"></canvas>
			<? //pre($units);?>
			<? foreach ($scienceData as $place => $scienceInPlace) { //dmp($scienceData); ?>
				<div class="sci-level" data-id="<?= $place ?>">
					<? foreach ($scienceInPlace as $id => $science) { ?>
						<div class="sci-item" data-id="<?= $id ?>" id="id<?= $id ?>">
							<code><?= $science['fCost'] ?></code>
							<span>
								<? /*<input type="checkbox" <?= ( isset( $learnList[$id] ) ? ' checked' : '' ) ?> />*/ ?>
								<? /*if ($this->user->isAdmin()) { ?>
								<b style="color:rgba(255, 0, 0, 0.5)"><?= $id ?></b>
								<? }*/ ?>
                                <a class="sci-item__link" href="<?= $world->domain?>/help#science/scienceinfo/<?= $id ?>" target="_blank">
                                    <b><?= $science['title'] ?></b>
                                </a>
							</span>

							<div class="sci-item-header">

								<? if (!empty( $science['units'] )) foreach ($science['units'] as $unitId) { ?>
									<b title="<?= $units[$unitId]['title'] ?>" data-toggle="tooltip" class="unit u<?= $unitId ?>"></b>
								<? } ?>


								<? if (!empty( $science['bonuses'] )) { ?>
									<? foreach ($science['bonuses'] as $bonusId => $bonusValue) { ?>
										<?= getTextBonus($bonusId, $bonusValue) ?>
									<? } ?>
								<? } ?>

							</div>

							<? if (!empty( $science['wonders'] )) foreach ($science['wonders'] as $wonderId => $wonder) { ?>
								<b title="<?= $builds[$wonderId]['name'] ?>" class="wonder wonder-<?= $wonderId ?>"><?= $builds[$wonderId]['name'] ?>
									+<?= $wonder ?></b>
							<? } ?>


                            <? if (!empty( $science['builds'] )) { ?>
                                <div class="build-list">
                                    <? foreach ($science['builds'] as $buildId => $build) { ?>
                                        <div class="build b-<?= $buildId ?>" data-toggle="tooltip" title="<?= $builds[$buildId]['title'] ?> (+<?= $build ?>)">
                                            <img src="/img/builds/<?= $buildId ?>.png" alt="">
                                            <span><?= $build ?></span>
                                        </div>
                                    <? } ?>
                                </div>
                            <? } ?>


							<? if (!empty( $science['deposit'] )) { ?>
								<div class="deposits">
									<? foreach ($science['deposit'] as $deposit) { ?>
										<div class="dep"><?= $deposit ?></div>
									<? } ?>
								</div>
							<? } ?>

						</div>
					<? } ?>
				</div>
			<? } ?>
		</div>
	</div>
	<div id="application-panel">
        <div class="mb">
            <h2 style="margin-top: 7px;">Дерево наук</h2>
        </div>
        <div class="mb">
			<input type="text" id="tree-science-cost" class="form-control" disabled placeholder="Стоимость" style="color:#61ae62" />
		</div>
		<div class="mb">
			<input type="text" id="tree-science-search" class="form-control" placeholder="Поиск науки" />
		</div>
		<style>
			.ss td {
				padding: 2px 10px;
				font-size: 11px;
			}
		</style>
		<table style="width:100%;" class="ss">
			<tr>
				<td class="text-right">Строения</td>
				<td class="text-right">
					<?= Html::checkboxSw(array(
						'id'      => 'to-builds',
						'class'   => 'tree-option',
						'checked' => false,
					), '__small', array()); ?>
				</td>
			</tr>
			<tr>
				<td class="text-right">Месторождения</td>
				<td class="text-right">
					<?= Html::checkboxSw(array(
						'id'      => 'to-dep',
						'class'   => 'tree-option',
						'checked' => false,
					), '__small', array()); ?>
				</td>
			</tr>
		</table>

		<? if ($this->user->isAdmin()) { ?>
		<div class="admin-area" style="margin: 10px 0;">
			<form action="<?= $this->router->link('technologyClearCache') ?>" method="post">
				<input type="submit" value="Обновить кэш" class="btn btn-danger" />
			</form>
		</div>
		<? } ?>
	</div>
</div>
