<?php
/**
 * @since              15.09.13 00:24
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
use df\extensions\models\Wofh;
use df\extensions\models\World;
use df\helper\FS;
use df\Html;
use df\view\Document;

/**
 * @var Document $this
 * @var World[] $worlds
 */

//$content = FS::readFile(FS::path('/tmp/ru22/stat-ru22-2014-11-19.json'));
//$data = json_decode($content, true);
//dump($data, 0);
//$content = FS::readURL('http://wofh.de/aj_statistics');
//$data = json_decode($content, true);
//dump($worlds, 0);
?>
<link rel="stylesheet" href="/css/datepicker.css">
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Список миров</h3>
    </div>
    <? if (!empty($worlds)) { ?>
        <? //pre($this->worlds) ?>
        <table class="table table-condensed wofh-api-worlds-list">
            <tr class="t-header">
                <th>ID</th>
                <th>Мир</th>
                <th>Название</th>
                <th width="1">Открытие</th>
                <th>CanReg</th>
                <th>Working</th>
                <th>Code</th>
                <th>Statistic</th>
                <th>Load stat</th>
                <th>Update stat</th>
            </tr>
            <? foreach ($worlds as $world) { ?>
                <? //if (!$world->working) continue; ?>
                <tr>
                    <td><?= $world->id ?></td>
                    <td><?= $world->sign ?></td>
                    <td>
                        <img src="/img/countries/<?= $world->country ?>.png" alt=""/>
                        <a href="/<?= $world->lowerSign ?>/wofh-api/"><?= $world->title ?></a>
                    </td>
                    <td>
                        <code><?= $world->startedTimestamp ? date('d.m.Y',
                                $world->startedTimestamp) : 'Нет данных' ?></code>
                    </td>
                    <td class="control-cell" style="width:1%">
                        <?= Html::checkboxSw(array(
                            'id' => 'cs-reg-' . $world->lowerSign,
                            'class' => 'world-option',
                            'checked' => $world->canReg,
                        ), '__small', array(
                            'world-id' => $world->id,
                            'option' => "canReg",
                        )); ?>
                    </td>
                    <td class="control-cell" style="width:1%">
                        <?= Html::checkboxSw(array(
                            'id' => 'cs-working-' . $world->lowerSign,
                            'class' => 'world-option',
                            'checked' => $world->working,
                        ), '__small', array(
                            'world-id' => $world->id,
                            'option' => "working",
                        )); ?>
                    </td>
                    <td class="control-cell" style="width:1%">
                        <?= Html::checkboxSw(array(
                            'id' => 'cs-needCode-' . $world->lowerSign,
                            'class' => 'world-option',
                            'checked' => $world->needCode,
                        ), '__small', array(
                            'world-id' => $world->id,
                            'option' => "needCode",
                        )); ?>
                    </td>
                    <td class="control-cell" style="width:1%">
                        <?= Html::checkboxSw(array(
                            'id' => 'cs-stat-' . $world->lowerSign,
                            'class' => 'world-option',
                            'checked' => $world->statistic,
                        ), '__small', array(
                            'world-id' => $world->id,
                            'option' => "statistic",
                        )); ?>
                    </td>
                    <td><code><?= $world->loadStat ? date('d.m.Y H:i', $world->loadStat) : '—' ?></code></td>
                    <td><code><?= $world->updateStat ? date('d.m.Y H:i', $world->updateStat) : '—' ?></code></td>
                </tr>
            <? } ?>
        </table>
        <hr>
    <? } ?>
    <div class="panel-body">
        <? if ($this->isEmpty('worlds')) { ?>
            <p>Миры не найдены</p>
            <hr/>
        <? } ?>
        <div class="row">
            <div class="col-sm-6">
                <form action="<?= $this->router->link('doWofhScanServers') ?>" method="POST">
                    <button class="btn btn-primary">Сканировать миры</button>
                </form>
                <!--				<input type="submit" class="btn btn-primary collapsed" value="Добавить мир" data-toggle="collapse" data-target="#add-world">-->
            </div>
            <div class="col-sm-6">
                <a href="<?= Wofh::getGameUrl(Wofh::RU) ?>" target="_blank"><?= Wofh::getGameUrl(Wofh::RU) ?></a><br>
                <a href="<?= Wofh::getGameUrl(Wofh::EN) ?>" target="_blank"><?= Wofh::getGameUrl(Wofh::EN) ?></a><br>
                <a href="<?= Wofh::getGameUrl(Wofh::INT) ?>" target="_blank"><?= Wofh::getGameUrl(Wofh::INT) ?></a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //	$(function () {
    //		$('.open-reg').datepicker({'format': 'dd.mm.yyyy', 'weekStart': 1});
    //	});
</script>

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Константные данные</h3>
    </div>
    <? if (empty($worlds)) { ?>
        <div class="panel-body">
            <p>Миры не найдены</p>
        </div>
    <? } ?>
    <? if (!empty($worlds)) { ?>
        <?
        $gameCountries = Wofh::getGameCountries();
        ?>
        <table class="table table-condensed table-bordered">
            <tr class="t-header">
                <th>Мир</th>
                <th>Название</th>
                <th>Источник</th>
                <th>Обновление</th>
                <th></th>
            </tr>
            <? foreach ($worlds as $world) { ?>
                <? if (!$world->working) {
                    continue;
                } ?>
                <tr>
                    <td><?= $world->sign ?></td>
                    <td>
                        <a href="/<?= strtolower($world->sign) ?>/wofh-api/"><?= $world->title ?></a>
                        <div><?= $world->country ?></div>
                    </td>
                    <td style="font-family:Consolas, monospace;">
                        <div><a href="<?= Wofh::getLinkConstData($world->id) ?>"
                           target="_blank"><?= Wofh::getLinkConstData($world->id) ?></a></div>
                        <div><a href="<?= Wofh::getLinkStatistic($world->id) ?>"
                           target="_blank"><?= Wofh::getLinkStatistic($world->id) ?></a></div>
                        <div><a href="<?= Wofh::getLinkStatusWorlds($world->country) ?>"
                           target="_blank"><?= Wofh::getLinkStatusWorlds($world->country) ?></a></div>
                    </td>
                    <td>
                        <code><?= date('d.m.Y H:i', $world->updateConst) ?></code>
                    </td>
                    <td>
                        <form action="<?= $this->router->link('doWofhUpdateConst') ?>" method="post">
                            <input name="worldId" value="<?= $world->id ?>" type="hidden"/>
                            <button class="btn btn-default btn-sm" type="submit">Обновить</button>
                        </form>
                    </td>
                </tr>
            <? } ?>
        </table>
        <?
    }
    dmp($constData, 0);
    ?>
</div>
