<?php
/**
 * @since              19.08.13 21:11
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?>
<form action="/admin/users/invites/" class="form-horizontal" method="post">
	<div class="btn-group">
		<button class="btn btn-success df-btn-save" name="action" value="generate" type="submit">Сгенерировать инвайты
		</button>
	</div>
	<br><br>
</form>
<table class="table">
	<tr>
		<th>ID</th>
		<th>Invite</th>
		<th>Activated</th>
		<th>From User</th>
		<th>To_User</th>
	</tr>
	<tbody>
	<? foreach ($this->invites as $invite) { ?>
		<tr>
			<td><?= $invite['id'] ?></td>
			<td>
				<a href="http://<?= $_SERVER['HTTP_HOST'] ?>/invite/<?= $invite['invite'] ?>"><?= $invite['invite'] ?></a>
			</td>
			<td><?= $invite['activated'] ?></td>
			<td><?= $invite['from_user'] ?></td>
			<td><?= $invite['to_user'] ?></td>
		</tr>
	<? } ?>
	</tbody>
</table>
