<?php
/**
 * @since              22.08.13 14:16
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?>
<table class="table table-condensed table-hover">
	<tr class="t-header">
		<th class="text-right">№</th>
		<th>E-Mail</th>
		<th>Имя</th>
		<th>Дата регистрации</th>
		<th>Статус</th>
		<th>Группа</th>
		<th>Права</th>
		<th>ID</th>
	</tr>
	<tbody>
	<? $n = 1; ?>
	<? foreach ($this->users as $user) { ?>
		<tr>
			<td class="text-right"><span class="badge"><?= $n++ ?></span></td>
			<td><?= $user['email'] ?></td>
			<td>
				<a href="/profile/<?= $user['id'] ?>/" target="_blank"><?= trim($user['username']) ? $user['username'] : 'Анонимус' ?></a>
			</td>
			<td><code><?= date('d.m.Y - H:s:i', $user['register']) ?></code></td>
			<td><?= $user['status'] ?></td>
			<td><?= $user['group'] ?></td>
			<td><?= $user['rights'] ?></td>
			<td><?= $user['id'] ?></td>
		</tr>
	<? } ?>
	</tbody>
</table>
