<?php
/**
 * @since             22.01.14 21:03
 * @package           DFramework
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 * @var \Exception $e
 */
?>
<style type="text/css">
    .exception-table {
        border: 1px solid #ccc;
        border-spacing: 0;
        border-collapse: collapse;
        color: #777;
        width: 100%;
        margin: auto;
    }

    .exception-table td, .exception-table .mono {
        font-family: monospace;
        font-size: 1.2em;
    }

    .exception-table td, .exception-table th {
        border: 1px solid #ccc;
        padding: 4px 8px;
        background: #fff;
        vertical-align: top;
        text-align: left;
        font-weight: normal;
    }

    .exception-table th {
        background: #FFEC95;
        font-weight: bold;
    }

    .exception-table table {
        width: 100%;
    }
</style>

<table class="exception-table">
    <tr>
        <th>Исключение:</th>
        <th><?= get_class($e) ?></th>
    </tr>
    <tr>
        <td>Сообщение:</td>
        <td style="color:red;">[<?= $e->getCode() ?>] <?= $e->getMessage() ?></td>
    </tr>
    <tr>
        <td>Файл (строка):</td>
        <td class="mono"><?= str_replace('\\', '/', str_replace(DIR_ROOT, '', $e->getFile())) ?>
            :<?= $e->getLine() ?></td>
    </tr>
    <tr>
        <th colspan="2">Стек вызова:</th>
    </tr>
    <tr>
        <th colspan="2" style="background:#eee;padding:8px;">
            <table><? $max_string_length = 30;
                foreach ($e->getTrace() as $item) {
                    if (isset($item['file'])) {
                        $item['file'] = str_replace(array(DIR_ROOT, '\\'), array('', '/'), $item['file']);
                    }
                    foreach ($item['args'] as & $arg) {
                        if (is_string($arg)) {
                            $arg = htmlspecialchars($arg);
                            if ((mb_strlen($arg, 'UTF-8') > $max_string_length)
                                && (strpos($arg, DIR_ROOT) !== 0) // Путь в файловой системе
                                && (!in_array(substr($arg, 0, 1), array('!', '/'))) // Регулярное выражение
                            ) {
                                $arg2 = mb_substr($arg, 0, $max_string_length, 'UTF-8') . ' &hellip;';
                                $arg = '<span style="color:blue;" title="' . $arg . '">\'' . $arg2 . '\'</span>';
                            } else {
                                $arg = '<span style="color:blue;">\'' . str_replace(DIR_ROOT, '', $arg) . '\'</span>';
                            }
                        } elseif (is_array($arg)) {
                            $arg = '<span style="color:#FF8000;">' . $arg . '</span>';
                        } elseif (is_object($arg)) {
                            $arg = '<span style="color:#FF8000;">' . get_class($arg) . '</span>';
                        } else {
                            $arg = '<span style="">' . $arg . '</span>';
                        }
                    }
                    $args = implode(', ', $item['args']);
                    ?>
                    <tr>
                        <? if (isset($item['class'])) { ?>
                            <td class="mono"><?= $item['class'] . $item['type'] ?>
                                <b style="color:#669900;font-weight:bold;"><?= $item['function'] ?></b>(<?= $args ?>)
                            </td>
                        <? } else { ?>
                            <td class="mono">
                                <b style="color:#669900;font-weight:bold;"><?= $item['function'] ?></b>(<?= $args ?>)
                            </td>
                        <? } ?>
                        <td class="mono" style="color:#000;"><?= isset($item['file']) ? $item['file'] : '' ?></td>
                        <td class="mono" style="color:#000;"><?= isset($item['line']) ? $item['line'] : '' ?></td>
                    </tr>
                <? } ?>
            </table>
        </th>
    </tr>
</table><p>&nbsp;</p>
