<?php
/**
 * @since             06.09.14 02:18
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 * @var df\view\Document $this
 */

?>
<html>
<head>
    <title>SYSTEM/INDEX</title>
</head>
<body>
SYSTEM/INDEX
<?= $this->component(); ?>
</body>
</html>


