<?php
/**
 * @since       19.04.2016 07:26
 * @package
 * @author      delphinpro delphinpro@yandex.ru
 * @copyright   copyright (C) 2016 delphinpro
 * @license     Licensed under the MIT license
 */

/**
 * @var array $quests
 */

/**
 * @param $str
 *
 * @return array
 */
function printQuestBonus($str)
{
    $replacement = array(
        'наса'    => '<i class="i-res"></i>',
        'колб'    => '<i class="i-res r0"></i>',
        'еды'     => '<i class="i-res r2"></i>',
        'дров'    => '<i class="i-res r3"></i>',
        'мета'    => '<i class="i-res r4"></i>',
        'вьюков'  => '<i class="i-res r7"></i>',
        'фруктов' => '<i class="i-res r11"></i>',
        'куки'    => '<i class="i-res r12"></i>',
        'пшеницы' => '<i class="i-res r13"></i>',
        'риса'    => '<i class="i-res r14"></i>',
        'рыбы'    => '<i class="i-res r15"></i>',
        'драгов'  => '<i class="i-res r18"></i>',
        'штанов'  => '<i class="i-res r19"></i>',
        'одежды'  => '<i class="i-res r19"></i>',
        'му'      => '<i class="i-res r23"></i>',
    );

    $str = str_replace(array_keys($replacement), array_values($replacement), mb_strtolower($str, "utf-8"));
    $str = str_replace(array('уровня', 'лвла', 'лвл'), '', $str);
    $str = str_replace(' ,', ',', $str);

    return $str;
}

?>

<form action="<?= $this->router->link('quest_save') ?>" method="post">

  <div id="application">
    <div class="quests-container">
      <div class="quests-panel">
        <canvas id="canvas" class="quests-canvas"></canvas>
          <? $js = array(); ?>
          <? foreach ($quests as $quest) { ?>
            <div class="quest" style="left:<?= $quest['x'] ?>px;top:<?= $quest['y'] ?>px;"
                data-id="<?= $quest['id'] ?>">
              <div class="quest__title"><?= $quest['title'] ?></div>
              <div class="quest__task"><?= $quest['task'] ?></div>
              <div class="quest__bonus"><?= printQuestBonus($quest['bonus']) ?></div>
            </div>
              <? $q = array(
                  'x'     => (int)$quest['x'],
                  'y'     => (int)$quest['y'],
                  'needs' => $quest['needs'],
              ); ?>
              <? $js[] = $quest['id'].':'.json_encode($q); ?>
          <? } ?>
      </div>
    </div>
    <div id="application-panel">
      <div class="mb">
        <h2 style="margin-top: 7px;">Квесты v1.4</h2>
        <p>
          Вы можете кликнуть по табличке с квестом, чтобы отметить её или снять отметку.
          Отметки сохраняются в вашем браузере, и при следующем заходе на страницу не потеряются.
          Таким образом вы можете отмечать уже пройденный квесты, и будет проще ориентироваться в оставшихся.
        </p>
        <p id="out"></p>
      </div>
    </div>
  </div>
</form>

<style>
  .quest { transition: opacity 0.3s ease; }

  .quest.checked { opacity: 0.15; }

  .quest.checked:hover { opacity: 0.4; }

  #out {color: red;}
</style>

<script>
  $(function() {
    var blocks = {<?= join(',', $js)?>};
    var saved  = JSON.parse((localStorage.getItem('quest.checks') || '{}'));

    var needLineColor = 'rgba(18, 104, 168, 0.9)';
    var currentColor  = needLineColor;
    var gridSize      = 10;
    var elementWidth  = 170;
    var elementHeight = 50;
    var $panel        = $('.quests-panel');
    var $canvas       = $('.quests-canvas');
    var b, max_y      = 0, max_x = 0;

    for (b in blocks) {
      if (!blocks.hasOwnProperty(b)) continue;
      if (blocks[b].y > max_y) max_y = blocks[b].y;
      if (blocks[b].x > max_x) max_x = blocks[b].x;
      if (saved.hasOwnProperty(b)) {
        blocks[b].checked = !!saved[b].checked;
      } else {
        blocks[b].checked = false;
      }

      if (blocks[b].checked) {
        $('[data-id="' + b + '"]').addClass('checked');
      }
    }
    $panel.height(max_y + 200);
    $panel.width(max_x + 400);

    var $quests = $('.quest');
    $quests.each(function() {
      var height    = $(this).height() + 16; // + padding & border
      var newHeight = Math.ceil(height / 10) * 10;
      $(this).height(newHeight - 16);
    });

    var drawLink    = function(context, x1, y1, x2, y2) {
      try {
        var r = 2;
        context.moveTo(x1, y1);
        // context.arc(x1, y1 + r, r, 0, 360);
        // context.fillStyle = currentColor;
        // context.fill();
        context.bezierCurveTo(
            x1 + 10, y1 + 10,
            x2 - 10, y2 - 10,
            x2, y2);
        // context.arc(x2, y2 - r, r, 0, 360);
        //context.fillStyle = currentColor;
        //context.fill();
      } catch ($e) {
        console.error($e);
      }
    };
    var redrawLinks = function() {
      var canvas    = $canvas.get(0);
      canvas.width  = $canvas.width();
      canvas.height = $canvas.height();
      var context   = canvas.getContext('2d');
      var n, b, x1, x2, y1, y2;

      context.lineWidth = 2;
      currentColor      = needLineColor;
      //context.beginPath();
      for (b in blocks) {
        if (!blocks.hasOwnProperty(b)) continue;
        for (n in blocks[b]['needs']) {
          if (!blocks[b]['needs'].hasOwnProperty(n)) continue;
          var need = parseInt(blocks[b]['needs'][n]);
          if (need === 0) continue;
          if (!blocks[need]) continue;
          var elH = $quests.eq(need - 1).height() + 16;
          x1      = blocks[need].x + (elementWidth / 2);
          y1      = blocks[need].y + elH;// + (elementHeight / 2);
          x2      = blocks[b].x + (elementWidth / 2);
          y2      = blocks[b].y;// + (elementHeight / 2);

          currentColor = needLineColor;
          if (saved.hasOwnProperty(b) && saved[b].checked) {
            currentColor = 'rgba(18, 104, 168, 0.2)';
          }
          context.strokeStyle = currentColor;
          context.beginPath();
          drawLink(context, x1, y1, x2, y2);
          context.stroke();
          context.closePath();
        }
      }
      // context.stroke();
      // context.closePath();
    };
    redrawLinks();
    $(window).resize(redrawLinks);

    var $out = $('#out');
    var tm;
    $('.quest').on('click', function() {
      var id    = $(this).data('id');
      var allow = true;
      blocks[id]['needs'].forEach(function(need) {
        if (!(saved[need] && saved[need].checked)) allow = false;
      });
      if (!saved.hasOwnProperty(id)) {
        saved[id] = {checked: false};
      }
      if (!saved[id].checked && !allow && id !== 1) {
        $out.text('Предыдущий не отмечен!');
        clearTimeout(tm);
        tm = setTimeout(function() {$out.text('');}, 3000);
        return;
      }
      saved[id].checked = !saved[id].checked;
      localStorage.setItem('quest.checks', JSON.stringify(saved));
      $(this).toggleClass('checked', saved[id].checked);
      redrawLinks();
    });
  });
</script>
