<?php
/**
 * @since       19.04.2016 07:26
 * @package
 * @author      delphinpro delphinpro@yandex.ru
 * @copyright   copyright (C) 2016 delphinpro
 * @license     Licensed under the MIT license
 */
use df\Html;

/**
 * @var array $quests
 */
/**
 * @param $str
 *
 * @return array
 */
function printQuestBonus($str)
{
    $replacement = array(
        'наса' => '<i class="i-res"></i>',
        'колб' => '<i class="i-res r0"></i>',
        'еды' => '<i class="i-res r2"></i>',
        'дров' => '<i class="i-res r3"></i>',
        'мета' => '<i class="i-res r4"></i>',
        'вьюков' => '<i class="i-res r7"></i>',
        'фруктов' => '<i class="i-res r11"></i>',
        'куки' => '<i class="i-res r12"></i>',
        'пшеницы' => '<i class="i-res r13"></i>',
        'риса' => '<i class="i-res r14"></i>',
        'рыбы' => '<i class="i-res r15"></i>',
        'драгов' => '<i class="i-res r18"></i>',
        'штанов' => '<i class="i-res r19"></i>',
        'одежды' => '<i class="i-res r19"></i>',
        'му' => '<i class="i-res r23"></i>',
    );

    $str = str_replace(array_keys($replacement), array_values($replacement), mb_strtolower($str, "utf-8"));
    $str = str_replace(array('уровня', 'лвла', 'лвл'), '', $str);
    $str = str_replace(' ,', ',', $str);

    return $str;
}

?>

<? if ($this->user->isAdmin()) { ?>
    <script src="/js/lib/jquery.mousewheel.js"></script>
    <form action="<?= $this->router->link('quest_save') ?>" method="post">

        <div id="application">
            <div class="quests-container">
                <div class="quests-panel editable">
                    <canvas id="canvas" class="quests-canvas"></canvas>
                    <div class="quests-grid"></div>
                    <? $js = array(); ?>
                    <? foreach ($quests as $quest) { ?>
                        <div class="quest" style="left:<?= $quest['x'] ?>px;top:<?= $quest['y'] ?>px;"
                             data-id="<?= $quest['id'] ?>">
                            <div class="quest__id"><?= $quest['id'] ?></div>
                            <div class="quest__body">
                                <div class="quest__title"><?= $quest['title'] ?></div>
                                <div class="quest__task"><?= $quest['task'] ?></div>
                                <div class="quest__bonus"><?= printQuestBonus($quest['bonus']) ?></div>

                                <div class="quest__inputs">
                                    <input name="quest[<?= $quest['id'] ?>][needs]" value="<?= join(',',
                                        $quest['needs']) ?>" type="text">
                                    <input id="quest_<?= $quest['id'] ?>_x" name="quest[<?= $quest['id'] ?>][x]"
                                           value="<?= $quest['x'] ?>" type="text">
                                    <input id="quest_<?= $quest['id'] ?>_y" name="quest[<?= $quest['id'] ?>][y]"
                                           value="<?= $quest['y'] ?>" type="text">
                                </div>
                            </div>
                        </div>
                        <? // $js[] = $quest['id'] . ':{x:' . $quest['x'] . ',y:' . $quest['y'] . '}'; ?>
                        <? $q = array(
                            'x' => (int)$quest['x'],
                            'y' => (int)$quest['y'],
                            'needs' => $quest['needs'],
                        ); ?>
                        <? $js[] = $quest['id'] . ':' . json_encode($q); ?>
                    <? } ?>
                </div>
            </div>
            <div id="application-panel">
                <div class="mb">
                    <h2 style="margin-top: 7px;">Квесты v1.4</h2>
                </div>
                <div class="admin-area" style="margin: 10px 0;">
                    <input type="submit" value="Сохранить" class="btn btn-danger"/>
                </div>
            </div>
        </div>
    </form>
  <style>
    .quest { transition: opacity 0.3s ease; }

    .quest.checked { opacity: 0.35; }

    .quest.checked:hover { opacity: 0.4; }
  </style>

  <script>
        $(function () {
            var blocks = {<?= join(',', $js)?>};
            var saved = JSON.parse((localStorage.getItem('quest.checks') || '{}'));

            var gridSize = 10;
            var elementWidth = 170;
            var elementHeight = 50;
            var commonLineColor = 'rgba(209, 209, 209, 0.1)';
            var takeLineColor = 'rgba(0, 128, 0, 0.9)';
            var needLineColor = 'rgba(18, 104, 168, 0.9)';
            var isMoved = false;
            var $panel = $('.quests-panel');
            var $canvas = $('.quests-canvas');
            var $movingElement = null;
            var movingElementId = null;
            var $document = $(document);

            var delta_x = 0;
            var delta_y = 0;

            var b, max_y = 0, max_x = 0;
            for (b in blocks) {
                if (!blocks.hasOwnProperty(b)) continue;
                if (blocks[b].y > max_y) max_y = blocks[b].y;
                if (blocks[b].x > max_x) max_x = blocks[b].x;
              // if (saved.hasOwnProperty(b)) {
              //   blocks[b].checked = !!saved[b].checked;
              // } else {
              //   blocks[b].checked = false;
              // }
              //
              // if (blocks[b].checked) {
              //   $('[data-id="' + b + '"]').addClass('checked');
              // }
            }
            $panel.height(max_y + 200);
            $panel.width(max_x + 400);

            var $quests = $('.quest');
            $quests.each(function() {
              var height    = $(this).height() + 16; // + padding & border
              var newHeight = Math.ceil(height / 10) * 10;
              $(this).height(newHeight - 16);
              console.log(height, Math.ceil(height / 10), newHeight - 16);
            });

          var drawLink = function (context, x1, y1, x2, y2) {
                try {
                    context.moveTo(x1, y1);
                    context.bezierCurveTo(
                        x1 + 10, y1 + 10,
                        x2 - 10, y2 - 10,
                        x2, y2);
                } catch ($e) {
                    console.error($e);
                }
            };
            var redrawLinks = function () {
                var canvas = $canvas.get(0);
                canvas.width = $canvas.width();
                canvas.height = $canvas.height();
                var context = canvas.getContext('2d');
                var n, b, x1, x2, y1, y2;

                context.lineWidth = 2;
                context.strokeStyle = needLineColor;
                context.beginPath();
                for (b in blocks) {
                    if (!blocks.hasOwnProperty(b)) continue;
                    for (n in blocks[b]['needs']) {
                        if (!blocks[b]['needs'].hasOwnProperty(n)) continue;
                        var need = parseInt(blocks[b]['needs'][n]);
                        if (need === 0) continue;
                        if (!blocks[need]) continue;
                        var elH = $quests.eq(need - 1).height() + 16;
                        x1      = blocks[need].x + (elementWidth / 2);
                        y1      = blocks[need].y + elH;// + (elementHeight / 2);
                        x2      = blocks[b].x + (elementWidth / 2);
                        y2      = blocks[b].y;// + (elementHeight / 2);

                        drawLink(context, x1, y1, x2, y2);
                    }
                }
                context.stroke();
                context.closePath();
            };
            var beginDrag = function (e) {
                var x = e.pageX;
                var y = e.pageY;
                /* Узнаём текущие координаты блока */
                $movingElement = $(this);
                $movingElement.addClass('quest--moving');
                movingElementId = $movingElement.data('id');
                var blockPosition = $movingElement.position();
                var x_block = blockPosition.left;
                var y_block = blockPosition.top;
                /* Узнаём смещение */
                delta_x = x_block - x;
                delta_y = y_block - y;
                /* При движении курсора устанавливаем вызов функции moveWindow */
                $document.on('mousemove', processDrag);
            };
            var endDrag = function (e) {
                // При отпускании мыши убираем обработку события движения мыши
                $document.off('mousemove');
                if ($movingElement) {
                    $movingElement.removeClass('quest--moving');
                }
            };
            var processDrag = function (e) {
                /* Получаем новые координаты курсора мыши */
                var x = e.pageX;
                var y = e.pageY;
                /* Вычисляем новые координаты блока */
                var new_x = Math.round((delta_x + x) / gridSize) * gridSize;
                var new_y = Math.round((delta_y + y) / gridSize) * gridSize;

                var blockPosition = $movingElement.position();
                //if (blockPosition.left != new_x && blockPosition.top != new_y) {
                $movingElement.css({
                    top: new_y + "px",
                    left: new_x + "px"
                });
                $('#quest_' + movingElementId + '_x').val(new_x);
                $('#quest_' + movingElementId + '_y').val(new_y);
                if (new_y > max_y) {
                    max_y = new_y;
                    $panel.height(max_y + 200);
                }
                if (new_x > max_x) {
                    max_x = new_x;
                    $panel.width(max_x + 400);
                }
                blocks[movingElementId].x = new_x;
                blocks[movingElementId].y = new_y;
                redrawLinks();
                //}
            };

            $panel.on('mousedown', '.quest', beginDrag);
            $document.on('mouseup', endDrag);
            redrawLinks();
            $(window).resize(redrawLinks);

            $('body').css({overflow: 'hidden'}).mousewheel(function (e) {
                return !(e.shiftKey);
            });

            $('.quests-container').mousewheel(function (event, delta) {
                if (event.shiftKey) {
                    var scroll = $('.quests-container').scrollLeft();
                    $('.quests-container').scrollLeft(scroll - (delta * 100));
                    return false;
                }
                return true;
            });

        });
    </script>

    <?

    pre($quests);
} ?>
