////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Grids
 *== ======================================= ==*/

.grid {
  @supports (display: grid) {
    display: grid;
  }
}


.cell {}


//==
//== Home page grid
//== ======================================= ==//

@supports (grid-template-columns: repeat(2, 1fr)) {
  .grid-home {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto repeat(4, #{$tile-size});
    grid-gap: to-rem($tile-gutter-width);
    max-width: 100%;

    .page-header {
      margin-bottom: 0;
    }

    .tile {
      margin-bottom: 0;
      min-height: $tile-size;
      &__in {position: relative;}
      &__caption {
        position: absolute;
        left: 0;
        top: 1rem;
        padding-right: 1rem;
      }
      &__icon {
        width: 80px;
        height: 80px;
        margin-bottom: 0;
        position: absolute;
        bottom: $tile-padding * 1.5;
        right: 0;
        left: 0;
      }
    }

    @for $i from 1 through 10 {
      .cell_tile#{$i} { height: $tile-size; }
    }
    @for $i from 1 through 4 {
      .cell_news_item#{$i} { height: $tile-size; }
    }

    .cell_title_first { grid-column: 1 / 5; grid-row: 1 / 2; align-self: self-end; }
    .cell_title_second { grid-column: 5 / 8; grid-row: 1 / 2; align-self: self-end; }

    .cell_news_item1 { grid-column: 5 / 8; grid-row: 2 / 3; }
    .cell_news_item2 { grid-column: 5 / 8; grid-row: 3 / 4; }
    .cell_news_item3 { grid-column: 5 / 8; grid-row: 4 / 5; }
    .cell_news_item4 { grid-column: 5 / 8; grid-row: 5 / 6; }

    .cell_main {
      grid-column: 1 / 3; grid-row: 2 / 4;
      img { height: 50px; }
    }

    .cell_tile1 { grid-column: 3 / 4; grid-row: 2 / 3; }
    .cell_tile2 { grid-column: 4 / 5; grid-row: 2 / 3; }
    .cell_tile3 { grid-column: 3 / 5; grid-row: 3 / 4; }

    .cell_tile4 { grid-column: 2 / 4; grid-row: 4 / 5; }
    .cell_tile5 { grid-column: 4 / 5; grid-row: 4 / 5; }
    .cell_tile6 { grid-column: 1 / 2; grid-row: 4 / 5; }

    .cell_tile7 { grid-column: 1 / 2; grid-row: 5 / 6; }
    .cell_tile8 { grid-column: 2 / 3; grid-row: 5 / 6; }
    .cell_tile9 { grid-column: 3 / 4; grid-row: 5 / 6; }
    .cell_tile10 { grid-column: 4 / 5; grid-row: 5 / 6; }

    .cell_eight-march { display: none; }

    &.eight-march {
      .cell_main { display: none; }
      .cell_eight-march {
        display: flex;
        grid-column: 1 / 3;
        grid-row: 2 / 5;
      }
      .cell_tile1 { grid-column: 3 / 4; grid-row: 2 / 3; }
      .cell_tile2 { grid-column: 4 / 5; grid-row: 2 / 3; }
      .cell_tile3 { grid-column: 3 / 4; grid-row: 3 / 4; }
      .cell_tile4 { grid-column: 4 / 5; grid-row: 3 / 4; }
      .cell_tile6 { grid-column: 3 / 4; grid-row: 4 / 5; }
    }
  }
}
