//
// @since           03.12.13 01:15
// @author			DelphinPRO delphinpro@yandex.ru
// @copyright		Copyright (C) 2013 DelphinPRO. All rights reserved.
// @license			Dual licensed under the MIT and GPL licenses
//

$mark-info-bg: $state-info-bg !default;
$mark-info-text: $state-info-text !default;
$mark-success-bg: $state-success-bg !default;
$mark-success-text: $state-success-text !default;
$mark-danger-bg: $state-danger-bg !default;
$mark-danger-text: $state-danger-text !default;
$mark-warning-bg: $state-warning-bg !default;
$mark-warning-text: $state-warning-text !default;

@mixin mark-variant($background, $text-color) {
  color: $text-color;
  .b-units {
    background: rgba($text-color, 0.15);
    //		color: $text-color;
  }
}

@mixin b-units-bg($bg) {
  font-weight: bold;
  //	background: $bg;
  //	@include gradient-vertical(lighten($bg, 5%), darken($bg, 0%));
  background: rgba($bg, 0.25);
  //	color: $bg;
}

.mark-attack {
  @include mark-variant(#fff7f7, $mark-danger-text);
  //	.b-units { @include b-units-bg($mark-danger-bg); }
}

.mark-reserve {
  @include mark-variant(rgba($mark-success-bg, 0.50), $mark-success-text);
  //	.b-units { @include b-units-bg($mark-success-bg); }
}

.mark-shooter {
  @include mark-variant(rgba(252, 248, 227, 0.52), saturate(adjust_hue($state-warning-text, 20%), 30%));
  //	@include mark-variant(rgb(139, 255, 116), saturate(adjust_hue($state-warning-text, 20%), 30%));
  //	.b-units { @include b-units-bg($mark-warning-bg); }
}

.mark-bypass {
  @include mark-variant(rgba(235, 200, 236, 0.27), #b718d4);
  //	.b-units { @include b-units-bg(rgba(254, 219, 255, 0.60)); }
}

.mark-flank {
  @include mark-variant(rgba(217, 237, 247, 0.48), $brand-primary);
  //	.b-units { @include b-units-bg($mark-info-bg); }
}

.mark-green {
  //	background: rgba($chart-color3, 0.15);
  background: rgba($state-success-text, 0.15);
  color: $state-success-text;
}

.mark-blue {
  background: rgba($brand-primary, 0.15);
  color: $brand-primary;
}

.mark-yellow {
  $state-warning-text: adjust_hue($state-warning-text, 20%);
  background: rgba($state-warning-text, 0.15);
  color: $state-warning-text;
}

.mark-red {
  background: rgba($state-danger-text, 0.15);
  color: $state-danger-text;
}

.mark-none {
  background: $table-bg;
}
