//
// @since           16.08.14 17:36
// @author			DelphinPRO delphinpro@yandex.ru
// @copyright		Copyright (C) 2014 DelphinPRO. All rights reserved.
// @license         Licensed under the MIT license
//

//.width-700 {
//	max-width: 700px;
//	margin: auto;
//}

//.bar-sw {
//	width: $navbar-height;
//	height: $navbar-height;
//	float: left;
//	background: $bar-sw-bg;
//	cursor: pointer;
//	overflow: hidden;
//}
//
//.bar-sw-toggle {
//	$element-width: $navbar-height / 2;
//	$element-height: 4px;
//	$first-margin: ($navbar-height - 2) - $element-height * 5;
//
//	width: $navbar-height;
//	height: $navbar-height;
//	background: $bar-sw-bg;
//	padding: 1px;
//
//	-webkit-transition: -webkit-transform .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
//	-moz-transition: -moz-transform .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
//	-o-transition: -o-transform .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
//	transition: transform .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
//
//	-webkit-transform: rotate(90deg);
//	-moz-transform: rotate(90deg);
//	transform: rotate(90deg);
//
//	div {
//		width: $element-width;
//		height: $element-height;
//		background: $bar-sw-color;
//		margin: $element-height auto;
//		&:first-child {
//			margin-top: $first-margin / 2;
//		}
//	}
//}
//
//.bar-sw-open {
//	.bar-sw-toggle {
//		-webkit-transform: rotate(0deg);
//		-moz-transform: rotate(0deg);
//		transform: rotate(0deg);
//	}
//}
//
//.side-overlay {
//	position: fixed;
//	left:0;
//	top: 0;
//	width: 100%;
//	height: 100%;
//	z-index: $z-index-side-overlay;
//	display: none;
//}
//.side-overlay-open { display: block; }
//
//.side-bar {
//	position: fixed;
//	left: -$side-panel-width + $navbar-height;
//	top: 0;
//	width: $side-panel-width;
//	height: 100%;
//	background: $side-panel-bg;
//	padding-top: $navbar-height;
//	z-index: $z-index-side-panel;
//
//	-webkit-transition: left .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
//	-moz-transition: left .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
//	-o-transition: left .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
//	transition: left .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
//
//	.nav {
//		float: none;
//	}
//	.nav > li > a {
//		display: block;
//		padding: 0 15px;
//		height: 50px;
//		line-height: 50px;
//	}
//	.sidebar-menu-icon {
//		width: 50px;
//		height: 50px;
//		position: absolute;
//		right: 0;
//		top: 0;
//		padding: 5px;
//		img {
//			width: 40px;
//			height: 40px;
//			display: block;
//		}
//	}
//}
//.side-bar-open {
//	left: 0;
//}

$account-roles: (
    crown : (id: 1, image: '/img/icons/country.png'),
    science : (id: 2, image: '/img/icons/science.png'),
    money : (id: 4, image: '/img/icons/money.png'),
    commander : (id: 8, image: '/img/icons/war1.png'),
    commander1 : (id: 16, image: '/img/icons/war.png'),
    commander2 : (id: 32, image: '/img/icons/war.png'),
);

.role {
  color: $btn-default-color;
  //	background-color: $btn-default-bg;
  //	border: 1px solid $btn-default-border;
  display: inline-block;
  font-weight: $btn-font-weight;
  vertical-align: middle;
  white-space: nowrap;
  height: 20px;
  padding: 0 5px 0 28px;
  font-size: 11px;
  line-height: 20px;
  background-position: 5px 0;
  background-repeat: no-repeat;
  -webkit-background-size: 20px 20px;
  background-size: 20px 20px;

  //	@include gradient-vertical($start-color: $btn-default-bg, $end-color: darken($btn-default-bg, 12%));

  @each $prop, $role in $account-roles {
    $id: map-get($role, id);
    $image: map-get($role, image);
    &-#{$id} {
      background-image: url($image);
    }
  }

}


.strip {
  &-0 {
    background-color: $table-bg;
  }
  &-1 {
    background-color: $table-bg-accent;
  }
}


//.menu-svg-ico {
//	width: 50px;
//	height: 50px;
//	float: left;
//	padding: 5px !important;
//	svg {
//		fill: $link-color;
//	}
//	&:hover {
//		svg {
//			fill: $link-hover-color;
//		}
//	}
//}
/**/
//@mixin tsd-variant($background, $text-color) {
//	background-color: $background;
//	border-color: darken(adjust-hue($background, -10), 7%);
//	color: $text-color;
//}

//$tsd-info-bg      : #d9edf7;
//$tsd-info-text    : #3a87ad;
//$tsd-success-bg   : #dff0d8;
//$tsd-success-text : #468847;
//$tsd-danger-bg    : #f2dede;
//$tsd-danger-text  : #b94a48;
//$tsd-warning-bg   : #fcf8e3;
//$tsd-warning-text : #c09853;

//.info-bg    { @include tsd-variant($tsd-info-bg, $tsd-info-text); }
//.success-bg { @include tsd-variant($tsd-success-bg, $tsd-success-text); }
//.danger-bg  { @include tsd-variant($tsd-danger-bg, $tsd-danger-text); }
//.warning-bg { @include tsd-variant($tsd-warning-bg, $tsd-warning-text); }

//.tbl-science-distribution {
//	tbody {
//		small {
//			font-size: 75%;
//			opacity: 0.5;
//		}
//		td, th {
//			text-align: right;
//			cursor: default;
//		}
//		td {
//			$percent: 0.6;
//			small { color: $text-color; }
//			&.info-bg small { color: rgba($tsd-info-text, $percent); }
//			&.success-bg small { color: rgba($tsd-success-text, $percent); }
//			&.danger-bg small { color: rgba($tsd-danger-text, $percent); }
//			&.warning-bg small { color: rgba($tsd-warning-text, $percent); }
//		}
//		tr:hover {
//			$percent: 9%;
//			td, th {
//				background: darken(#FFF, $percent);
//				background: darken($table-bg-accent, $percent);
//			}
//			td {
//				&.info-bg    { background-color: darken($tsd-info-bg, $percent); }
//				&.success-bg { background-color: darken($tsd-success-bg, $percent); }
//				&.danger-bg  { background-color: darken($tsd-danger-bg, $percent); }
//				&.warning-bg { background-color: darken($tsd-warning-bg, $percent); }
//			}
//		}
//	}
//}

//.block-bordered {
//	border: 1px solid #ddd;
//	margin-bottom: 20px;
//	padding: 5px;
//	border-radius: 5px;
//	& > * {
//		margin: 0;
//	}
//}

//.country-container {
//	background: url(../img/bg-pattern1.png);
//	tr {
//		background: none;
//		td, th {
//			border-color: #A48047 !important;
//		}
//	}
//}
/*
.rel-bar {
	display: inline-block;
	text-align: right;
	direction: rtl;
	background: rgba($chart-color3, 0.15);
//	color: #55bf3b;
	&.invert {
		background: rgba($chart-color4, 0.15);
//		color: #df5353;
	}
}
*/
//.acc {
//	&:before {
//		content:'';
//		width: 10px;
//		height: 12px;
//		display: inline-block;
//		background: url(../img/pict.png) no-repeat 12px -12px;
//		margin-right: 3px;
//	}
//}
//.acc-0-1:before { background-position: -30px -12px; }
//.acc-1-1:before { background-position: 0 -12px; }
//.acc-2-1:before { background-position: -10px -12px; }
//.acc-3-1:before { background-position: -20px -12px; }
//.acc-0-0:before { background-position: -70px -12px; }
//.acc-1-0:before { background-position: -40px -12px; }
//.acc-2-0:before { background-position: -50px -12px; }
//.acc-3-0:before { background-position: -60px -12px; }
//
/*
.css-loader {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index:1000;
	.progress {
		width: 70px;
		margin: -10px auto 0;
		position: relative;
		top: 50%;
	}
}
.ajax-loader {
	background: rgba(0, 0, 0, 0.4) url("../../img/ajax-loader.gif") no-repeat 50% 50%;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index:1000;
}
/*
#tree-container {
	.ajax-loader {
		display: none;
		background: rgba(0, 0, 0, 0.4) url("../img/ajax-loader.gif") no-repeat 50% 1%;
	}
}


.part {
	margin-bottom: 20px;
}

.alert {
	margin-bottom: 20px;
	ul {
		margin: 0;
		padding-left: 22px;
	}
}

.table {
	.t-col-date {
		width: 140px;
		text-align: center;
	}
	.t-col-required,
	.t-col-left {
		width: 180px;
	}
}

//---------------------------------------------------------


//#jqContextMenu {
//	@include box-shadow(5px 5px 5px 0 #000000);
//	background: #fff;
//	//padding: 1px;
//}
//
//#send_fragment {
//	margin-right: 20px;
//	display: inline-block;
//	vertical-align: middle;
//}
//#upload_progress {
//	display: none;
//	margin: 0;
//	display: inline-block;
//	vertical-align: middle;
//	padding-left: 60px;
//	background: url("../img/ajax-loader.gif") no-repeat 0 50%;
//	&.complete {
//		padding-left: 0px;
//		background: none;
//		color: #0da002;
//	}
//}

//.shadow {
//	width:1px;
//	height:100%;
//	position: absolute;
//	z-index: 1000;
//	background: none;
//	@include box-shadow(0 0 20px 2px black);
//}


.account-status-icon {
	&.icon-ok { color: #00bc00; }
	&.icon-help { color: red; cursor: help; }
}

.menu-username {
	display: block;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}



// @mixin pos($x, $y) {
	// position: absolute;
	// left: 250px * ($x - 1 + 1);
	// top: 100px * ($y - 1);
// }

// #tree-panel {
	// min-height: 1500px;
	// display: block;
	// .sci-item {
		// position: absolute;
		// width: 220px;
		// margin: 0;
	// }
	// #id0   { @include pos(2,1); }
	// #id81  { @include pos(1,3); }
	// #id8   { @include pos(2,3); }
	// #id7   { @include pos(3,3); }
	// #id122 { @include pos(3,2); }
	// #id16  { @include pos(1,4); }
	// #id9   { @include pos(1,5); }
	// #id11  { @include pos(2,4); }
	// #id10  { @include pos(3,4); }
	// #id125 { @include pos(4,4); }
// }


#tree2-canvas {
	position: absolute;
	left: 0;
	top: 0;
}
#tree2 {
	position: relative;
	position: fixed;
	left:0;
	right: 0;
	top: 40px;
	bottom: 50px;
	background: #eee;
	border: 1px solid #777;
	overflow: scroll;
}
.tree-item {
	position: absolute;
	border: 1px solid #ccc;
	width: 140px;
	height: 40px;
	background: #fff;
}
tr.sc_current td,
td.sc_current { @include alert-variant($tsd-info-bg, $tsd-info-text); }
tr.sc_started td,
td.sc_started { @include alert-variant($tsd-warning-bg, $tsd-warning-text); }



/**/
//.events {
//	display: inline-block;
//	width: 20px;
//	height:15px;
//	background: url(../img/events.png) no-repeat;
//	background-position: 100px 100px;
//	&.e1 { background-position: -240px 0; }
//	&.e2 { background-position: -240px -15px; }
//	&.e3 { background-position: -240px -30px; }
//}

.message-box {
  .media-left {
    width: $tile-size;
    text-align: center;
    .icon {
      font-size: 80px;
      margin-left: -$tile-padding/2;
      &:before {
        margin: 0;
      }
      &.icon-attention {
        color: $brand-warning;
      }
    }
  }
  .media-heading {
    font-size: 30px;
    margin-top: 10px;
  }
}


.adminConsole {
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: $navbar-height;
  width: 100%;
  min-height: 100px;
  max-height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  overflow-y: scroll;
  border-bottom: 1px solid #000000;
  box-shadow: 0 0 50px 0 #000000;
  color: #999999;
  &.open { display: block; }
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.75);
  }
}


.admin-area {
  padding: 5px;
  border: 1px dashed red;
  background: rgba(255, 0, 0, 0.1);
  > *:last-child {
    margin-bottom: 0;
  }
}


@mixin text-event($color) {
  a {
    //		color: darken($color, 10%);
    color: $color;
    font-weight: bold;
    &:hover {
      text-decoration: none !important;
    }
  }
}


.text-event {
  @include text-event($text-color);
  > a {
    text-decoration: underline !important;
  }

  &.text-success {
    @include text-event($state-success-text);
  }
  &.text-danger {
    @include text-event($state-danger-text);
  }
}


.media-heading {
  padding-top: 5px;
  font-weight: bold;
}


.table-cost {
  tbody {
    user-select: none;
  }
  tr.__selected {
    background: $table-bg-active !important;
    > td {
      background: none !important;
      border-bottom: 1px solid $table-bg-accent !important;
    }
  }
  td {
    padding: 1px 4px !important;
    cursor: ns-resize;
  }
  .i-res {
    font-family: $font-family-base !important;
  }
}


.tbl-science-distribution {
  max-width: 1200px;
  td {
    text-align: right;
  }
}


.tbl-corruption {
  max-width: 1200px;
  td {
    text-align: right;
  }
}


.tbl-diplomacy-points {
  max-width: 1200px;
  td { white-space: nowrap; }
}


.overlay {
  width: 500px;
  position: fixed;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: none;

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ffffff;
    opacity: 0.4;
    text-shadow: none;
  }

  > .panel {
    margin-bottom: 0;
    box-shadow:0 0 20px #000000;
  }

}


.isModal {
  body {
    overflow: hidden;
  }
  .wrapper,
  .navbar {
    opacity: 0.5;
  }
}
