//
// @since           22.02.14 18:00
// @package
// @author			DelphinPRO delphinpro@yandex.ru
// @copyright		Copyright (C) 2014 DelphinPRO. All rights reserved.
// @license         Licensed under the MIT license
//

$country-flag-lg-width: 150px !default;
$country-flag-xl-width: 240px !default;

.country-flag {
  width: 100px;
  float: left;
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  @include media-breakpoint-up(lg) { width: $country-flag-lg-width; }
  @include media-breakpoint-up(xl) { width: $country-flag-xl-width; }
}


.country-flag-deleted {
  opacity: 0.5;
  &:hover { opacity: 1; }
}


.country-stat-table {
  margin-left: 100px + ($grid-gutter-width-base / 2);
  @include media-breakpoint-up(lg) { margin-left: $country-flag-lg-width + ($grid-gutter-width-base / 2); }
  @include media-breakpoint-up(xl) { margin-left: $country-flag-xl-width + ($grid-gutter-width-base / 2); }
}


.stat-sign {
  display: block;
  font-size: 30px;
  width: 85px;
}


.server-country {
  opacity: 0.8;
  margin-top: -3px;
  width: 16px;
  height: 11px;
}


#user-bookmarks {
  padding: 15px 0;
}


.user-bookmark-item {
  padding: 0 0.6em 0 0.2em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.selected,
  &:hover {
    background: lighten($dropdown-bg, 5%);
  }
  a {
    display: block;
    color: $text-color;
    &:hover {
      text-decoration: none;
    }
  }
  .icon-star {
    color: #eeec00;
    text-shadow: 1px 1px 2px #444100;
    &:before {
      width: 1.2em;
      height: 1.2em;
      text-align: center;
      margin: 0;
    }
  }
  img {
    //		width: 18px;
    height: 18px;
    vertical-align: top;
    margin-right: 4px;
  }
}


//.gender-male { background-color: #42aaff; }
.gender-male { background-color: $brand-primary; color: darken($brand-primary, 30%); }


//.gender-female { background-color: #ffc0cb; }
.gender-female { background-color: #ffc0cb; color: darken($brand-primary, 30%); }


.pagination-stat {
  text-align: center;
  .pagination {
    margin: 0;
  }
}

