////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2014—2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Switch
 *== ======================================= ==*/

$checkbox-switcher-width: 80px;
$checkbox-switcher-height: 30px;
$checkbox-switcher-radius: $checkbox-switcher-height / 2;
$checkbox-switcher-radius: 0;

$checkbox-switcher-disable-bg: #b5282f;
$checkbox-switcher-enable-bg: #04b290;
$checkbox-switcher-disable-color: #ffffff;
$checkbox-switcher-enable-color: #ffffff;

$checkbox-switcher-disable-bg: #e7e7e7;
$checkbox-switcher-enable-bg: #428bca;
$checkbox-switcher-disable-color: #777777;
$checkbox-switcher-enable-color: #ffffff;

.checkbox-switcher {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  input {
    display: none;
    position: absolute;
  }
  &.__process {
    input:checked + label,
    label {
      background-image: url(/img/ajax-loader.gif);
      background-color: transparent;
      .on, .off, .sw {
        opacity: 0;
      }
    }
  }
  label {
    position: relative;
    float: left;
    width: $checkbox-switcher-width;
    height: $checkbox-switcher-height;
    background-color: $checkbox-switcher-disable-bg;
    background-position: 50% 50%;
    line-height: $checkbox-switcher-height - 2px;
    color: $checkbox-switcher-disable-color;
    margin: 0;
    cursor: pointer;
    transition: background 0.5s;
    @if $checkbox-switcher-radius > 0 {
      border-radius: $checkbox-switcher-radius;
    }
    .on, .off {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      font-weight: bold;
      display: block;
      height: $checkbox-switcher-height;
      font-size: 0.7em;
      line-height: $checkbox-switcher-height;
      text-align: center;
      transition: opacity 0.3s;
    }
    .on {
      opacity: 0;
      padding-right: 30px;
      padding-left: 10px;
    }
    .off {
      padding-left: 30px;
      padding-right: 6px;
    }
    .sw {
      display: block;
      position: absolute;
      width: $checkbox-switcher-height - 4px;
      height: $checkbox-switcher-height - 4px;
      @if $checkbox-switcher-radius > 0 {
        border-radius: (($checkbox-switcher-height - 4px) / 2);
      }
      margin-left: -($checkbox-switcher-height - 2px);
      left: $checkbox-switcher-height;
      top: 2px;
      border: 1px solid #ffffff;
      background: #fbfbfb;
      background: linear-gradient(to bottom, #fbfbfb, #dedede);
      box-shadow: 0 0 2px darken($checkbox-switcher-disable-bg, 20%);
      transition: all 0.3s;
    }
  }
  input:checked + label {
    display: inline-block;
    background-color: $checkbox-switcher-enable-bg;
    color: $checkbox-switcher-enable-color;
    .on {      opacity: 1;    }
    .off {      opacity: 0    }
    .sw {
      left: 100%;
      background: linear-gradient(to bottom, $checkbox-switcher-enable-bg, darken($checkbox-switcher-enable-bg, 5%));
      box-shadow: 0 0 2px darken($checkbox-switcher-enable-bg, 20%);
      border-color: lighten($checkbox-switcher-enable-bg, 5%);
    }
  }

  &.__small {
    $checkbox-switcher-width: 60px;
    $checkbox-switcher-height: 20px;
    $checkbox-switcher-radius: 0; //$checkbox-switcher-height / 2;
    label {
      width: $checkbox-switcher-width;
      height: $checkbox-switcher-height;
      @if $checkbox-switcher-radius > 0 {
        border-radius: $checkbox-switcher-radius;
      }
      line-height: $checkbox-switcher-height - 2px;
      .on, .off {
        height: $checkbox-switcher-height;
        font-size: 0.7em;
        line-height: $checkbox-switcher-height;
      }
      .on {
        padding-right: $checkbox-switcher-height;
        padding-left: 10px;
      }
      .off {
        padding-left: $checkbox-switcher-height;
        padding-right: 6px;
      }
      .sw {
        width: $checkbox-switcher-height - 4px;
        height: $checkbox-switcher-height - 4px;
        @if $checkbox-switcher-radius > 0 {
          border-radius: (($checkbox-switcher-height - 4px) / 2);
        }
        margin-left: -($checkbox-switcher-height - 2px);
        left: $checkbox-switcher-height;
        &:before {
          width: 1px;
          left: ($checkbox-switcher-height - 4px - 8px) / 2;
          top: (($checkbox-switcher-height - 4px) / 4) - 1px;
          height: ($checkbox-switcher-height - 4px) / 2;
        }
        &:after {
          left: (($checkbox-switcher-height - 4px - 8px) / 2) + 4px;
          top: (($checkbox-switcher-height - 4px) / 4) - 1px;
          height: ($checkbox-switcher-height - 4px) / 2;
          border-width: 0 1px;
        }
      }
    }
  }

  &.__large {
    $checkbox-switcher-width: 100px;
    $checkbox-switcher-height: 40px;
    $checkbox-switcher-radius: 0; //$checkbox-switcher-height / 2;
    label {
      width: $checkbox-switcher-width;
      height: $checkbox-switcher-height;
      @if $checkbox-switcher-radius > 0 {
        border-radius: $checkbox-switcher-radius;
      }
      line-height: $checkbox-switcher-height - 2px;
      .on, .off {
        height: $checkbox-switcher-height;
        font-size: 1em;
        line-height: $checkbox-switcher-height;
      }
      .on {
        padding-right: $checkbox-switcher-height;
        padding-left: 10px;
      }
      .off {
        padding-left: $checkbox-switcher-height;
        padding-right: 6px;
      }
      .sw {
        width: $checkbox-switcher-height - 4px;
        height: $checkbox-switcher-height - 4px;
        @if $checkbox-switcher-radius > 0 {
          border-radius: (($checkbox-switcher-height - 4px) / 2);
        }
        margin-left: -($checkbox-switcher-height - 2px);
        left: $checkbox-switcher-height;
        &:before {
          //					width: 3px;
          left: ($checkbox-switcher-height - 4px - 9px) / 2;
          top: (($checkbox-switcher-height - 4px) / 4) - 1px;
          height: ($checkbox-switcher-height - 4px) / 2;
        }
        &:after {
          left: (($checkbox-switcher-height - 4px - 9px) / 2) + 4px;
          top: (($checkbox-switcher-height - 4px) / 4) - 1px;
          height: ($checkbox-switcher-height - 4px) / 2;
        }
      }
    }
  }
}


.checkbox-switcher-text {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;
  font-weight: normal;
  &[for] {
    cursor: pointer;
  }
}
