////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2018 delphinpro
/// @license licensed under the MIT license
////

/*==
 *== Tabs
 *== ======================================= ==*/

$nav-link-hover-bg: darken($body-bg, 20%) !default;
$nav-disabled-link-color: $gray-light !default;
$nav-disabled-link-hover-color: $gray-light !default;
$nav-open-link-hover-color: #ffffff !default;
$nav-tabs-border-color: #5c6170 !default;
$nav-tabs-link-hover-border-color: $body-bg !default;
$nav-tabs-active-link-hover-bg: $body-bg !default;
$nav-tabs-active-link-hover-color: lighten($body-bg, 30%) !default;
$nav-tabs-active-link-hover-border-color: $nav-tabs-border-color !default;
$nav-tabs-justified-link-border-color: #dddddd !default;
$nav-tabs-justified-active-link-border-color: $body-bg !default;
$tab-content-bg: $nav-tabs-active-link-hover-bg;
$nav-link-padding: 5px 10px !default;

.nav-tabs {
  display: flex;
  border-bottom: 1px solid $nav-tabs-border-color;
  margin: 0;
  padding: 0;
  list-style: none;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: $nav-link-padding;
      &:hover,
      &:focus {
        text-decoration: none;
        background-color: $nav-link-hover-bg;
      }
    }

    // Disabled state sets text to gray and nukes hover/tab effects
    &.disabled > a {
      color: $nav-disabled-link-color;

      &:hover,
      &:focus {
        color: $nav-disabled-link-hover-color;
        text-decoration: none;
        background-color: transparent;
        cursor: not-allowed;
      }
    }
  }

  // Open dropdowns
  .open > a {
    &,
    &:hover,
    &:focus {
      background-color: $nav-link-hover-bg;
      border-color: $link-color;
    }
  }

  > li {
    margin-bottom: -1px;

    // Actual tabs (as links)
    > a {
      margin-right: 2px;
      border: 1px solid transparent;
      &:hover {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:hover,
      &:focus {
        color: $nav-tabs-active-link-hover-color;
        background-color: $nav-tabs-active-link-hover-bg;
        border: 1px solid $nav-tabs-active-link-hover-border-color;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
}


// Tabbable tabs
// -------------------------

// Hide tabbable panes to start, show them when `.active`
.tab-content {
  position: relative;
  border: 1px solid $nav-tabs-border-color;
  border-top: none;
  margin-bottom: 20px;
  padding: 5px;
  transition: height 0.5s;
  background: $tab-content-bg;

  > .tab-pane { display: none; }
  > .active { display: block; }
}


// Dropdowns
// -------------------------

// Specific dropdowns
.nav-tabs .dropdown-menu {
  // make dropdown border overlap tab border
  margin-top: -1px;
}
