//
// @since           16.08.14 18:16
// @author			DelphinPRO delphinpro@yandex.ru
// @copyright		Copyright (C) 2014 DelphinPRO. All rights reserved.
// @license         Licensed under the MIT license
//

$z-index-side-overlay: 900;
$z-index-side-panel: 910;

//=============================================================================
//== Thumbnails

$thumbnail-padding: 2px !default;
$thumbnail-caption-padding: 9px !default;
