//
// @since           10.07.14 13:37
// @package
// @author			DelphinPRO delphinpro@yandex.ru
// @copyright		Copyright (C) 2014 DelphinPRO. All rights reserved.
// @license         Licensed under the MIT license
//

/*! DO NOT CHANGE THIS FILE!!! Generated automatically. */

.df-tree {
  ul {
    list-style: none;
  }
  > ul {
    padding: 0;
  }
  li {
    padding: 4px 0;
    border-bottom: 1px solid #4c4e57;
    &:first-child {
      border-top: 1px solid #4c4e57;
    }
    .btn {
      padding-top: 1px;
      padding-bottom: 1px;
    }
  }
}

.df-tree-col-title {
  display: inline-block;
  width: 40%;
}
