<?php
/**
 * @since             23.11.2014 15:29
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 * @var df\View $this
 */

//dmp($builds, 0);
?>
<ul style="list-style: none;margin:0;padding:0;">
    <? foreach ($builds as $build) {
        if ($build['buildType'] == 16) {
            continue;
        } ?>
        <li>
            <? if ($build['buildId'] == $_GET['id']) {
                echo '&rarr;';
            } ?>
            <a href="<?= $this->router->link('costOfBuild',
                array('id' => (int)$build['buildId'])) ?>"><?= $build['title'] ?></a>
        </li>
    <? } ?>
</ul>
