//Direct Chat Variant
@mixin direct-chat-variant($bg-color, $color: #fff) {
  .right > .direct-chat-text {
    background: $bg-color;
    border-color: $bg-color;
    color: $color;

    &:after,
    &:before {
      border-left-color: $bg-color;
    }
  }
}

//Gradient background
@mixin gradient($color: #F5F5F5, $start: #EEE, $stop: #FFF) {
  background: $color;
  background: linear-gradient(to bottom, $start, $stop);
}

//Added 2.1.0
//Skins Mixins

//Dark Sidebar Mixin
@mixin skin-dark-sidebar($link-hover-border-color) {
  //Sidebar Menu. First level links
  .sidebar-menu > li {
    //links
    > a {
    }

    //Hover and active states
    &:hover > a,
    &.active > a,
    &.menu-open > a {
      color: $dashboard-sidebar-color-hover;
      background: $dashboard-sidebar-bg-hover;
    }

    &.active > a {
      border-left-color: $link-hover-border-color;
    }

    //First Level Submenu
    > .treeview-menu {
      margin: 0 1px;
      background: $sidebar-dark-submenu-bg;
    }
  }
  //All links within the sidebar menu
  .sidebar a {
    color: $dashboard-sidebar-color;

    &:hover {
      text-decoration: none;
    }
  }
  //All submenus
  .sidebar-menu .treeview-menu {
    > li {
      > a {
        color: $sidebar-dark-submenu-color;
      }

      &.active > a, > a:hover {
        color: $sidebar-dark-submenu-hover-color;
      }
    }
  }
  //The sidebar search form
  .sidebar-form {
    border-radius: 3px;
    border: 1px solid lighten($dashboard-sidebar-bg, 10%);
    margin: 10px 10px;

    input[type="text"], .btn {
      box-shadow: none;
      background-color: lighten($dashboard-sidebar-bg, 10%);
      border: 1px solid transparent;
      height: 35px;
      //.transition(all $transition-speed $transition-fn);
    }

    input[type="text"] {
      color: #666;
      border-radius: 2px 0 2px 0;

      &:focus,
      &:focus + .input-group-btn .btn {
        background-color: #fff;
        color: #666;
      }

      &:focus + .input-group-btn .btn {
        border-left-color: #fff;

      }
    }

    .btn {
      color: #999;
      border-radius: 0 2px 0 2px;
    }
  }
}
