/*
 * Core: General Layout Style
 * -------------------------
 */
//html,
//body {
//  .layout-boxed & {
//    height: 100%;
//  }
//}
//
//body {
//  height: 100%;
//  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
//  font-weight: 400;
//  overflow-x: hidden;
//  overflow-y: auto;
//}

/* Layout */
//.app {
//  @include clearfix();
//  height: 100%;
//  position: relative;
//  overflow-x: hidden;
//  overflow-y: auto;
//
//  .layout-boxed & {
//    max-width: 1250px;
//    margin: 0 auto;
//    min-height: 100%;
//    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
//    position: relative;
//  }
//}
//
//.layout-boxed {
//  background-color: $sidebar-light-bg;
//}

/*
 * Content Wrapper - contains the main content
 */
//.content-wrapper {
//  // Using disposable variable to join statements with a comma
//  $transition-rule: $transition-speed $transition-fn, margin $transition-speed $transition-fn;
//  @include transition-transform($transition-rule);
//  margin-left: $sidebar-width;
//  z-index: 820;
//  // Top nav layout
//  .layout-top-nav & {
//    margin-left: 0;
//  }
//
//  @media (max-width: $screen-xs-max) {
//    margin-left: 0;
//  }
//  // When opening the sidebar on large screens
//  .sidebar-collapse & {
//    @media (min-width: $screen-sm) {
//      margin-left: 0;
//    }
//  }
//
//  // When opening the sidebar on small screens
//  .sidebar-open & {
//    @media (max-width: $screen-xs-max) {
//      @include translate($sidebar-width, 0);
//    }
//  }
//}

//.content-wrapper {
//  min-height: calc(100vh - 101px);
//  background-color: $content-bg;
//  z-index: 800;
//}

//@media (max-width: $screen-header-collapse) {
//  .content-wrapper {
//    min-height: calc(100vh - 151px);
//  }
//}

/* Content */
.content {
  min-height: 250px;
}

/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

/* General Links */
a {
  color: $color-link;
}

a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: $color-link-hover;
}

/* Page Header */
.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;

  > small {
    color: #666;
    display: block;
    margin-top: 5px;
  }
}
