/*
 * Component: Form
 * ---------------
 */
.form-control {
  border-radius: $input-radius;
  box-shadow: none;
  border-color: $gray-lte;
  &:focus {
    border-color: $palette-light-blue;
    box-shadow: none;
  }
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder {
    color: #bbb;
    opacity: 1;
  }

  &:not(select) {
    appearance: none;
  }
}

.form-group {
  &.has-success {
    label {
      color: $palette-green;
    }
    .form-control,
    .input-group-addon {
      border-color: $palette-green;
      box-shadow: none;
    }
    .help-block {
      color: $palette-green;
    }
  }

  &.has-warning {
    label {
      color: $palette-yellow;
    }
    .form-control,
    .input-group-addon {
      border-color: $palette-yellow;
      box-shadow: none;
    }
    .help-block {
      color: $palette-yellow;
    }
  }

  &.has-error {
    label {
      color: $palette-red;
    }
    .form-control,
    .input-group-addon {
      border-color: $palette-red;
      box-shadow: none;
    }
    .help-block {
      color: $palette-red;
    }
  }
}

/* Input group */
.input-group {
  .input-group-addon {
    border-radius: $input-radius;
    border-color: $gray-lte;
    background-color: #fff;
  }
}

.icheck > label {
  padding-left: 0;
}
