/*
 * Component: Main Header
 * ----------------------
 */

.main-header {
  //@include navbar-variant($light-blue, #fff);

  //Navbar
  .navbar {
    transition: margin-left $transition-speed $transition-fn;
    margin-bottom: 0;
    border: none;
    min-height: $navbar-height;
    border-radius: 0;
    //@include navbar-variant($light-blue, #fff);
    .layout-top-nav & {
      margin-left: 0;
    }
  }
  //Navbar search text input
  #navbar-search-input.form-control {
    background: rgba(255, 255, 255, .2);
    border-color: transparent;
    &:focus,
    &:active {
      border-color: rgba(0, 0, 0, .1);
      background: rgba(255, 255, 255, .9);
    }
    &::-moz-placeholder {
      color: #ccc;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      color: #ccc;
    }
    &::-webkit-input-placeholder {
      color: #ccc;
    }
  }
}
