/*
 * General: Miscellaneous
 * ----------------------
 */
// 10px padding and margins
.pad {
  padding: 10px;
}

.margin {
  margin: 10px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.margin-r-5 {
  margin-right: 5px;
}

// Display inline
.inline {
  display: inline;
}

// Description Blocks
.description-block {
  display: block;
  margin: 10px 0;
  text-align: center;
  &.margin-bottom {
    margin-bottom: 25px;
  }
  > .description-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
  }
  > .description-text {
    text-transform: uppercase;
  }
}

// Background colors

// Text colors

.link-muted {
  color: darken($gray-lte, 30%);
  &:hover,
  &:focus {
    color: darken($gray-lte, 40%);
  }
}

.link-black {
  color: #666;
  &:hover,
  &:focus {
    color: #999;
  }
}

// Hide elements by display none only
.hide {
  display: none !important;
}

// Remove borders
.no-border {
  border: 0 !important;
}

// Remove padding
.no-padding {
  padding: 0 !important;
}

// Remove margins
.no-margin {
  margin: 0 !important;
}

// Remove box shadow
.no-shadow {
  box-shadow: none !important;
}

.list-group-unbordered {
  > .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

// Remove border radius
.flat {
  border-radius:0 !important;
}

.text-bold {
  &, &.table td, &.table th {
    font-weight: 700;
  }
}

.text-sm {
  font-size: 12px;
}

// _fix for sparkline tooltip
.jqstooltip {
  padding: 5px !important;
  width: auto !important;
  height: auto !important;
}

// Gradient Background colors
.bg-teal-gradient {
  background: linear-gradient(to bottom, $palette-teal, lighten($palette-teal, 16%)) !important;
  color: #fff;
}

.bg-light-blue-gradient {
  background: linear-gradient(to bottom, $palette-light-blue, lighten($palette-light-blue, 12%)) !important;
  color: #fff;
}

.bg-blue-gradient {
  background: linear-gradient(to bottom, $palette-blue, lighten($palette-blue, 7%)) !important;
  color: #fff;
}

.bg-aqua-gradient {
  background: linear-gradient(to bottom, $palette-aqua, lighten($palette-aqua, 7%)) !important;
  color: #fff;
}

.bg-yellow-gradient {
  background: linear-gradient(to bottom, $palette-yellow, lighten($palette-yellow, 16%)) !important;
  color: #fff;
}

.bg-purple-gradient {
  background: linear-gradient(to bottom, $palette-purple, lighten($palette-purple, 16%)) !important;
  color: #fff;
}

.bg-green-gradient {
  background: linear-gradient(to bottom, $palette-green, lighten($palette-green, 7%)) !important;
  color: #fff;
}

.bg-red-gradient {
  background: linear-gradient(to bottom, $palette-red, lighten($palette-red, 10%)) !important;
  color: #fff;
}

.bg-black-gradient {
  background: linear-gradient(to bottom, $palette-black, lighten($palette-black, 10%)) !important;
  color: #fff;
}

.bg-maroon-gradient {
  background: linear-gradient(to bottom, $palette-maroon, lighten($palette-maroon, 10%)) !important;
  color: #fff;
}

//Description Block Extension
.description-block {
  .description-icon {
    font-size: 16px;
  }
}

//Remove top padding
.no-pad-top {
  padding-top: 0;
}

//Make position static
.position-static {
  position: static !important;
}

//List utility classes
.list-header {
  font-size: 15px;
  padding: 10px 4px;
  font-weight: bold;
  color: #666;
}

.list-seperator {
  height: 1px;
  background: $box-border-color;
  margin: 15px 0 9px 0;
}

.list-link {
  > a {
    padding: 4px;
    color: #777;
    &:hover {
      color: #222;
    }
  }
}

//Light font weight
.font-light {
  font-weight: 300;
}

//User block
.user-block {
  @include clearfix();
  img {
    width: 40px;
    height: 40px;
    float: left;
  }
  .username,
  .description,
  .comment {
    display: block;
    margin-left: 50px;
  }
  .username {
    font-size: 16px;
    font-weight: 600;
  }
  .description {
    color: #999;
    font-size: 13px;
  }
  &.user-block-sm {
    img {
      @extend .img-sm !optional;
    }
    .username,
    .description,
    .comment {
      margin-left: 40px;
    }
    .username {
      font-size: 14px;
    }
  }
}

//Image sizes
.img-sm,
.img-md,
.img-lg {
  float: left;
}

.img-sm {
  width: 30px !important;
  height: 30px !important;
  + .img-push {
    margin-left: 40px;
  }
}

.img-md {
  width: 60px;
  height: 60px;
  + .img-push {
    margin-left: 70px;
  }
}

.img-lg {
  width: 100px;
  height: 100px;
  + .img-push {
    margin-left: 110px;
  }
}

// Image bordered
.img-bordered {
  border: 3px solid $gray-lte;
  padding: 3px;
}

.img-bordered-sm {
  border: 2px solid $gray-lte;
  padding: 2px;
}

//General attachemnt block
.attachment-block {
  border: 1px solid $box-border-color;
  padding: 5px;
  margin-bottom: 10px;
  background: #f7f7f7;

  .attachment-img {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    float: left;
  }
  .attachment-pushed {
    margin-left: 110px;
  }
  .attachment-heading {
    margin: 0;
  }
  .attachment-text {
    color: #555;
  }
}

.connectedSortable {
  min-height: 100px;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.sort-highlight {
  background: #f4f4f4;
  border: 1px dashed #ddd;
  margin-bottom: 10px;
}

.full-opacity-hover {
  opacity:.65;
  &:hover {
    opacity:1;
  }
}

// Charts
.chart {
  position: relative;
  overflow: hidden;
  width: 100%;
  svg,
  canvas {
    width: 100% !important;
  }
}

// Horizontal rules
hr {
  border-top: 1px solid $hr-border;
}
