<?php
/**
 * @since             26.11.2014 21:02
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
use df\extensions\models\ScienceReport;
use df\extensions\models\World;
use df\Registry;

/**
 * @var World $world
 * @var ScienceReport $report
 * @var ScienceReport[] $relativeReports
 */
?>

<div class="form-group">
    <!--	<div class="control-label">Игровой мир:</div>-->
    <a class="btn btn-default btn-block" href="<?= $world->domain ?>" target="_blank">
        <img src="/img/icons/world.png" alt="" style="height:18px;">
        <?= $world->fullTitle ?>
        <i class="icon-link-ext"></i> </a>
</div>

<div class="form-group">
        <a class="btn btn-block" href="<?= Registry::getRouter()->link('statAccount',
            array('sign' => $world->lowerSign, 'accountId' => $report->accountId)); ?>">
            <img src="/img/icons/account.png" alt="" style="height:18px;">
            <?= $report->accountName ?>
        </a>
</div>

<? if ($report->countryId) { ?>
    <div class="form-group">
            <a class="btn btn-block" href="<?= Registry::getRouter()->link('statCountry',
                array('sign' => $world->lowerSign, 'countryId' => $report->countryId)); ?>">
                <img src="<?= $world->getFlag($report->countryFlag) ?>" alt="" style="height:16px;margin-top:-1px;">
                <?= $report->countryName ?>
            </a>
    </div>
<? } ?>

<fieldset class="bordered">
    <legend>Экспорт</legend>
    <? /*
	<div class="form-group">
		<form target="_blank" method="POST" action="http://science.magifromwofh.com/sclog" style="margin: 0;">
			<input type="hidden" value="<?= $report->exportString ?>" name="sdata" />
			<input type="hidden" value="" name="key" />
			<button class="btn btn-default btn-block" type="submit">в науковницу Magi</button>
		</form>
	</div>*/ ?>

    <div class="form-group">
        <a class="btn btn-default btn-block" href="/technology/<?= $report->id ?>/">в дерево наук</a>
    </div>
</fieldset>

<table class="table table-condensed table-bordered">
    <tr>
        <td class="sc-complete">Изучено полностью</td>
    </tr>
    <tr>
        <td class="sc-started">Изучено частично</td>
    </tr>
    <tr>
        <td class="sc-current">Изучается сейчас</td>
    </tr>
    <tr>
        <td class="sc-take">Доступно к изучению</td>
    </tr>
</table>
