<?php
/**
 * @since             26.11.2014 21:02
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
use df\extensions\models\ScienceReport;
use df\extensions\models\World;
use df\Registry;

/**
 * @var World $world
 * @var ScienceReport $report1
 * @var ScienceReport $report2
 */
?>

<div class="form-group">
    <a class="btn btn-default btn-block" href="<?= $world->domain ?>" target="_blank">
        <img src="/img/icons/world.png" alt="" style="height:18px;">
        <?= $world->fullTitle ?>
        <i class="icon-link-ext"></i> </a>
</div>

<div class="form-group mb-0.5">
    <div class="control-label mb-0.25">Принимающая сторона:</div>
    <div class="mb-0.5">
            <a class="btn btn-block" href="<?= Registry::getRouter()->link('statAccount',
                array('sign' => $world->lowerSign, 'accountId' => $report1->accountId)); ?>">
                <img src="/img/icons/account.png" alt="" style="height:18px;">
                <?= $report1->accountName ?>
            </a>
    </div>
    <? if ($report1->countryId) { ?>
        <div class="mb-0.5">
            <a class="btn btn-block" href="<?= Registry::getRouter()->link('statCountry',
                array('sign' => $world->lowerSign, 'countryId' => $report1->countryId)); ?>">
                <img src="<?= $world->getFlag($report1->countryFlag) ?>" alt="" style="height:16px;margin-top:-1px;">
                <?= $report1->countryName ?>
            </a>
        </div>
    <? } ?>
</div>

<div class="form-group mb-0.5">
    <div class="control-label mb-0.5">Вступающий игрок:</div>
    <div class="mb-0.5">
            <a class="btn btn-block" href="<?= Registry::getRouter()->link('statAccount',
                array('sign' => $world->lowerSign, 'accountId' => $report2->accountId)); ?>">
                <img src="/img/icons/account.png" alt="" style="height:18px;">
                <?= $report2->accountName ?>
            </a>
    </div>
    <? if ($report2->countryId) { ?>
        <div class="mb-0.5">
            <a class="btn btn-block" href="<?= Registry::getRouter()->link('statCountry',
                array('sign' => $world->lowerSign, 'countryId' => $report2->countryId)); ?>">
                <img src="<?= $world->getFlag($report2->countryFlag) ?>" alt="" style="height:16px;margin-top:-1px;">
                <?= $report2->countryName ?>
            </a>
        </div>
    <? } ?>
</div>
<div class="form-group mb-0.5">
    <a class="btn btn_primary btn-block" href="/sci/<?= $report2->id ?>/<?= $report1->id ?>/"> Поменять игроков
        местами</a>
</div>

<p>Игроки</p>
<table class="table table-condensed table-bordered">
    <tr>
        <td class="sc-complete">Изучено полностью</td>
    </tr>
    <tr>
        <td class="sc-started">Изучено частично</td>
    </tr>
    <tr>
        <td class="sc-current">Изучается сейчас</td>
    </tr>
    <tr>
        <td class="sc-take">Доступно к изучению</td>
    </tr>
    <tr>
        <td class="">Недоступно к изучению</td>
    </tr>
</table>

<p>Страна</p>
<table class="table table-condensed table-bordered">
    <tr>
        <td class="sc-progress">Получено знаний</td>
    </tr>
    <tr>
        <td class="sc-regress">Потеряно знаний</td>
    </tr>
    <tr>
        <td class="">Без потерь</td>
    </tr>
</table>
