<?php
/**
 * @since              12.12.13 03:54
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
use df\extensions\models\stat\Account;
use df\extensions\models\stat\Event;
use df\extensions\models\stat\Town;
use df\extensions\models\Wofh;
use df\extensions\models\World;
use df\view\Document;

/**
 * @var Document $this
 * @var World    $world
 * @var Account  $account
 * @var Town[]   $towns
 * @var Event[]  $events
 */
?>
<?
//dmp($account, 0);
?>
<div class="clearfix">
	<div class="country-flag">
		<? if ($account->countryId) { ?>
			<img class="img-thumbnail"
			     src="<?= $world->getFlag($account->countryFlag, 300) ?>" alt=""
			     style="<? if (!$account->active) echo 'opacity:0.5'; ?>">
			<?= $this->getTemplate('statistic/block/bookmarks'); ?>
		<? } ?>
	</div>
	<div<? if ($account->countryId) { ?> class="country-stat-table"<? } ?>>
		<table class="table table-condensed table-striped text-right">
			<tbody>
			<tr>
				<th>Зарегистрирован</th>
				<td class="text-left" colspan="4">
					<?= $account->getDate('create') ?>
					(<?= $account->getAge() ?>)
				</td>
			</tr>
			</tbody>
			<? if ($account->active) { ?>
				<tr>
					<th>Раса</th>
					<td class="text-left" colspan="4"><?= $account->getRace() ?></td>
				</tr>
				<? if ($account->countryId) { ?>
					<tr>
						<th>Состоит в стране</th>
						<td class="text-left" colspan="4">
							<? if (!empty( $account->countryName )) { ?>
								<a href="<?= $this->router->link('statCountry', array(
									'sign'      => $world->lowerSign,
									'countryId' => $account->countryId)); ?>">
									<?= $account->countryName ?>
								</a>
								<? /*if ($world->working) { ?>
									<a href="<?= $world->domain ?>/countryinfo?id=<?= $account->countryId ?>" class="wofh-link icon-link-ext" target="_blank"></a>
								<? }*/ ?>
							<? } else { ?>&mdash;<? } ?>
						</td>
					</tr>
					<? /*if ($account->role) { ?>
						<tr>
							<th>Должность</th>
							<td class="text-left" colspan="4">
								<?= $account->getRoleAsMnemonic() ?>
							</td>
						</tr>
					<? }*/ ?>
				<? } ?>
				<tbody>
				<tr>
					<th></th>
					<th></th>
					<th class="text-right">за сутки</th>
					<th class="text-right">за неделю</th>
					<th class="text-right">за месяц</th>
				</tr>
				<tr>
					<th>Население</th>
					<td class="nw"><?= numFormat($account->pop) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaPop) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaPopWeek) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaPopMonth) ?></td>
				</tr>
				<tr>
					<th>Города</th>
					<td><?= numFormat($account->towns) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaTowns) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaTownsWeek) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaTownsMonth) ?></td>
				</tr>
				<tr>
					<th>Научный потенциал</th>
					<td><?= numFormat($account->science) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaScience) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaScienceWeek) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaScienceMonth) ?></td>
				</tr>
				<tr>
					<th>Производство</th>
					<td><?= numFormat($account->production) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaProduction) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaProductionWeek) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaProductionMonth) ?></td>
				</tr>
				<tr>
					<th>Война</th>
					<td><?= numFormat($account->war) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaWar) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaWarWeek) ?></td>
					<td class="bl"><?= $account->getDelta($account->deltaWarMonth) ?></td>
				</tr>
				</tbody>
			<? } else { ?>
				<tr>
					<th>Удален</th>
					<td class="text-left" colspan="4"><?= $account->getDate('delete') ?></td>
				</tr>
			<? } ?>
		</table>
		<? if (!$account->countryId) { ?>
			<?= $this->getTemplate('statistic/block/bookmarks2'); ?>
		<? } ?>
	</div>
</div>

<h3>Рейтинги</h3>
<ul class="nav nav-tabs">
	<li><a href="#tab1" data-toggle="tab">Население</a></li>
	<li><a href="#tab2" data-toggle="tab">Наука</a></li>
	<li><a href="#tab3" data-toggle="tab">Производство</a></li>
	<li><a href="#tab4" data-toggle="tab">Война</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane" id="tab1">
		<div id="rating1" class="chart-container-lines" style="min-width:310px;height:400px;margin:0 auto;"></div>
	</div>
	<div class="tab-pane" id="tab2">
		<div id="rating2" class="chart-container-lines" style="min-width:310px;height:400px;margin:0 auto;"></div>
	</div>
	<div class="tab-pane" id="tab3">
		<div id="rating3" class="chart-container-lines" style="min-width:310px;height:400px;margin:0 auto;"></div>
	</div>
	<div class="tab-pane" id="tab4">
		<div id="rating4" class="chart-container-lines" style="min-width:310px;height:400px;margin:0 auto;"></div>
	</div>
</div>

<h3>Города</h3>
<div class="block-bordered">
	<table class="table table-condensed table-striped">
		<thead>
		<tr>
			<th class="text-right">№</th>
			<th class="text-right">ID</th>
			<th>Город</th>
			<th>ЧС</th>
			<th class="text-center" colspan="2">Население</th>
			<th class="text-right">Основан</th>
			<th class="text-right">Потерян</th>
			<!--			<th class="text-right">Разрушен</th>-->
		</tr>
		</thead>
		<? $n = 1; $sumPop = 0; $sumDelta = 0;
		foreach ($towns as $town) {
			$sumPop += $town->pop;
			$sumDelta += $town->delta;
			?>
			<tr>
				<td class="text-right"><span class="badge"><?= $n++ ?></span></td>
				<td class="text-right text-muted"><?= $town->id ?></td>
				<td>
					<? if ($town->lost) echo '<s>' ?>
					<a href="/stat/<?= $world->lowerSign ?>/towns/<?= $town->id ?>/"><?= $town->name ?></a>
					<? if ($town->lost) echo '</s>' ?>
				</td>
				<td class="text-right bl"><?= $town->getWonder() ?></td>
				<td class="text-right bl"><?= $town->pop ?></td>
				<td class="text-right">
					<small><?= $town->getDelta($town->delta) ?></small>
				</td>
				<td class="text-right bl"><?= $town->getDate('create', 'd.m.Y') ?></td>
				<td class="text-right bl"><?= $town->getDate('lost', 'd.m.Y') ?></td>
			</tr>
		<? } ?>
		<tr>
			<td class="text-right" colspan="4">Среднее население городов</td>
			<td class="text-right text-muted bl"><?= round($sumPop/count($towns)) ?></td>
			<td class="text-right text-muted"><?= $town->getDelta(round($sumDelta/count($towns))) ?></td>
			<td colspan="3"></td>
		</tr>
		<tr>
			<td class="text-right" colspan="4">Общее население городов</td>
			<td class="text-right text-muted bl"><?= $sumPop ?></td>
			<td class="text-right text-muted"><?= $town->getDelta($sumDelta) ?></td>
			<td colspan="3"></td>
		</tr>

	</table>
</div>

<? if (count($events)) { ?>
	<h3>События за последнюю неделю</h3>
	<div class="block-bordered">
		<table class="table table-condensed table-striped">
			<thead>
			<tr>
				<th class="text-right" style="width:100px;">Дата</th>
				<th class="text-left">Событие</th>
			</tr>
			</thead>
			<?
			foreach ($events as $date => $eventsOfDay) {
				if (isset( $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN] )
					&& isset( $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE] )
				) {
					$flag = ( $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]['countryFlag'] )
						? $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]['countryFlag']
						: ( ( $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][0]['countryFlag'] )
							? $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][0]['countryFlag']
							: $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][1]['countryFlag']
						);

					$s1 = 'Игрок %s основал страну %s';
					$s2 = 'Игроки %s и %s основали страну %s';

					if (count($eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN]) == 1) {
						$s = sprintf($s1,
							'<a href="/stat/' . $world->lowerSign . '/account/' . $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][0]['accountId'] . '/">' . $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][0]['accountName'] . '</a>',
							'<img src="' . $world->getFlag($flag) . '"> <a href="/stat/ru19/country/' . $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]['countryId'] . '/">' . $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]['countryTitle'] . '</a>'
						);
					} elseif (count($eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN]) == 2) {
						$s = sprintf($s2,
							'<a href="/stat/' . $world->lowerSign . '/account/' . $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][0]['accountId'] . '/">' . $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][0]['accountName'] . '</a>',
							'<a href="/stat/' . $world->lowerSign . '/account/' . $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][1]['accountId'] . '/">' . $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][1]['accountName'] . '</a>',
							'<img src="' . $world->getFlag($flag) . '"> <a href="/stat/ru19/country/' . $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]['countryId'] . '/">' . $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]['countryTitle'] . '</a>'
						);
					} else {
						$last = array_pop($eventsOfDay[6]);
						$ss1  = array();
						foreach ($eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN] as $e_of_day) {
							$ss1[] = '<a href="/stat/' . $world->lowerSign . '/account/' . $e_of_day['accountId'] . '/">' . $e_of_day['accountName'] . '</a>';
						}
						$s = sprintf($s2,
							join(', ', $ss1),
							'<a href="/stat/' . $world->lowerSign . '/account/' . $last['accountId'] . '/">' . $last['accountName'] . '</a>',
							'<img src="' . $world->getFlag($flag) . '"> <a href="/stat/ru19/country/' . $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]['countryId'] . '/">' . $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]['countryTitle'] . '</a>'
						);
					}

					echo '<tr><td class="text-right"><code>' . date('d M Y', strtotime($date)) . '</code></td>';
					echo '<td class="text-left">';
					?><img src="/img/icons/event-country-create.png" style="height:24px;" /> <?
					echo $s;
					echo '</td></tr>';
					unset( $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN], $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE] );
				}

				$first = true;
				foreach ($eventsOfDay as $ed) {
					/** @var Event $e */
					foreach ($ed as $e) {
                        if ($e->id == Wofh::EVENT_ACCOUNT_ROLE_IN or $e->id == Wofh::EVENT_ACCOUNT_ROLE_OUT) {
                            continue;
                        }
                        ?>
						<tr>
						<td class="text-right">
							<? if ($first) {
								$first = false; ?>
								<code class=""><?= date('d M Y', $e->timestamp) ?></code>
							<? } ?>
						</td>
						<td class="text-left">
							<img src="<?= $e->getIcon() ?>" style="height:20px;" />
							<?= $e->getText(); ?>
						</td>
						</tr><?
					}
				}
			}
			?>
		</table>
		<? if ($this->user->isAdmin()) { ?>
			<div class="admin-area">
				<button class="btn btn-default">Ещё...</button>
			</div>
		<? } ?>
	</div>
<?
}
//dump($account, 0);
//dump($towns, 0);
//dump($events, 0);
?>
