<?php
/**
 * @since              19.12.13 23:25
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
use df\extensions\models\World;
use df\Router;
use df\view\Document;

/**
 * @var Document $this
 * @var World    $world
 * @var array    $data
 * @var string   $ratingBy
 * @var string   $linkByPopulation
 * @var string   $linkByScience
 * @var string   $linkByProduction
 * @var string   $linkByWar
 */
//dmp($data, 0);
?>
<style>
	.t1 td:nth-child(1),
	.t1 td:nth-child(2) {
		text-align: right;
	}

	.t1 tbody td + td + td {
		padding-right: 10px !important;
	}
</style>

<? function getMark($v) { return $v < 0 ? ' mark-attack' : ( $v > 0 ? ' mark-reserve' : '' ); } ?>

<ul class="nav-tabs">
	<li<?= $ratingBy == '' ? ' class="active"' : '' ?>>
		<a href="<?= $linkByPopulation ?>">Население</a></li>
	<li<?= $ratingBy == 'science' ? ' class="active"' : '' ?>>
		<a href="<?= $linkByScience ?>">Наука</a></li>
	<li<?= $ratingBy == 'production' ? ' class="active"' : '' ?>>
		<a href="<?= $linkByProduction ?>">Производство</a></li>
	<li<?= $ratingBy == 'war' ? ' class="active"' : '' ?>>
		<a href="<?= $linkByWar ?>">Война</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="top-players-population">
		<table class="table table-condensed table-hover t1">
			<thead>
			<tr>
				<th class="sm text-right">№</th>
				<th class="sm text-right">ID</th>
				<th class="sm" colspan="2">Игрок</th>
<!--				<th class="sm"></th>-->
				<th class="text-center" colspan="2" style="width:10%;">Города</th>
				<th class="text-center text-muted" colspan="2" style="width:10%;">&uarr; <?= $data['columnTitle'] ?></th>
				<th class="text-right text-muted" style="width:10%;">Сравнение</th>
			</tr>
			</thead>
			<? foreach ($data['list'] as $k => $item) { ?>
				<tr class="row-<?= $k + 1 ?>">
					<td><span class="badge"><?= $item['place'] ?></span></td>
					<td class="text-muted bl">
						<small><?= $item['accountId'] ?></small>
					</td>
					<td>
						<? if ($item['countryId'] > 0) { ?>
							<img class="flag-30" src="<?= $world->getFlag($item['countryFlag']) ?>" alt="" style="display:block;"
							     title="<?= $this->e($item['countryTitle']) ?>" data-toggle="tooltip">
						<? } ?>
					</td>
					<td>
						<div class="aa" style="position: relative;margin:0 -5px 0 -3px;">
							<div class="chart-bar" <? /*style="width:<?= $item['percent'] ?>%;"*/ ?> data-width="<?= $item['percent'] ?>"></div>
							<div class="chart-bar-title">
								<a href="<?= $this->router->link('statAccount', array('sign' => $world->lowerSign, 'accountId' => $item['accountId'])) ?>"><?= $item['accountName'] ?></a>
							</div>
						</div>
					</td>
<!--					<td>-->
<!--						--><?// if ($world->working) { ?>
<!--						<a href="--><?//= $world->domain ?><!--/#/account/--><?//= $item['accountId'] ?><!--" class="wofh-link icon-link-ext pull-right" target="_blank"></a>-->
<!--						--><?// } ?>
<!--					</td>-->
					<td class="text-right bl<?= getMark($item['deltaTownsPerDay']) ?>" style="width:10%;"><?= $item['towns'] ?></td>
					<td class="text-right<?= getMark($item['deltaTownsPerDay']) ?>" style="width:10%;">
						<? if ($item['deltaTownsPerDay'] != 0) { ?>
							<small><?= $item['deltaTownsPerDay'] > 0 ? '+' : '' ?><?= numFormat($item['deltaTownsPerDay']) ?></small>
						<? } ?>
					</td>
					<td class="text-right bl<?= getMark($item['delta']) ?>" style="width:10%;">
						<span class="nw"><?= numFormat($item['val']) ?></span></td>
					<td class="text-right<?= getMark($item['delta']) ?>" style="width:10%;">
						<? if ($item['delta'] != 0) { ?>
							<small class="nw"><?= $item['delta'] > 0 ? '+' : '' ?><?= numFormat($item['delta']) ?></small>
						<? } ?>
					</td>
					<td class="text-right" style="width:10%;padding-top: 0;padding-bottom: 0;vertical-align:middle;">
                        <a href="#" class="btn btn_small js-add-to-compare"
                           data-target="account"
                           data-id="<?= $item['accountId'] ?>"
                           data-title="<?= $item['accountName'] ?>"
                           data-sign="<?= $world->lowerSign ?>"
                                >Сравнить</a>
					</td>
				</tr>
			<? } ?>
		</table>
		<div class="pagination-stat">
			<?= $pagination ?>
		</div>
		<hr />
		<div id="rating-charts" class="chart-container-lines" style="min-width:310px;height:500px;margin:0 auto;"></div>
	</div>
</div>

<? //dump($this->data, 0) ?>
