<?php
/**
 * @since           28.07.14 00:11
 * @author			DelphinPRO delphinpro@yandex.ru
 * @copyright		Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license         Licensed under the MIT license
 */
use df\model\World;

/**
 * @var df\view\Document $this
 * @var World[]          $worlds
 */

?>
<div class="list-group">
	<? foreach ($worlds as $world) { ?>
		<? if (!$world->working && $world->statistic) { ?>
			<? if ($world->countAccounts() > 0) { ?>
				<a href="<?= $this->router->link('statWorld', array('sign' => $world->lowerSign)) ?>" class="list-group-item">
					<div class="media">
						<div class="pull-left">
							<span class="stat-sign"><?= $world->sign ?></span>
						</div>
						<div class="media-body">
							<span class="badge"><?= date('d.m.Y H:i', $world->updateStat) ?></span>
							<? if ($world->isUpdate) { ?>
								<span class="badge" style="margin-right:5px;color:red">Статистика обновляется...</span>
							<? } ?>
							<h4 class="list-group-item-heading">
								<img class="server-country" src="/img/countries/<?= $world->country ?>.png" alt="<?= $world->country ?>" />
								<?= $world->title ?> &rarr;</h4>
							<? if ($world->desc) { ?><p class="list-group-item-text"><?= $world->desc ?></p><? } ?>
						</div>
					</div>
				</a>
			<? } else { ?>
				<div class="list-group-item list-group-item-disabled">
					<div class="media">
						<div class="pull-left">
							<span class="stat-sign"><?= $world->sign ?></span>
						</div>
						<div class="media-body">
							<? if ($world->isUpdate) { ?>
								<span class="badge"><?= date('d.m.Y H:i', $world->updateStat) ?></span>
								<span class="badge" style="margin-right:5px;color:red">Статистика обновляется...</span>
							<? } ?>
							<h4 class="list-group-item-heading">
								<img class="server-country" style="opacity:0.3" src="/img/countries/<?= $world->country ?>.png" alt="<?= $world->country ?>" />
								<?= $world->title ?></h4>
							<? if ($world->desc) { ?><p class="list-group-item-text"><?= $world->desc ?></p><? } ?>
						</div>
					</div>
				</div>
			<? } ?>
		<? } ?>
	<? } ?>
</div>
