<?php
/**
 * @since              12.12.13 02:07
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
use df\extensions\models\stat\Country;
use df\extensions\models\stat\Event;
use df\extensions\models\struct\DataAccount;
use df\extensions\models\Wofh;
use df\extensions\models\World;
use df\view\Document;

/**
 * @var Document      $this
 * @var World         $world
 * @var Country       $country
 * @var DataAccount[] $accounts
 * @var Event[]       $events
 * @var array         $data
 * @var array         $diplomacy
 */
?>
<div class="clearfix">
	<div class="country-flag">
		<img class="img-thumbnail<? if ($country->active != 1) echo ' country-flag-deleted' ?>"
		     src="<?= $world->getFlag($country->flag, 300); ?>"
		     alt="<?= $country->name ?>">
		<?= $this->getTemplate('statistic/block/bookmarks'); ?>
		<? if ($this->user->isAdmin()) { ?>
			<div style="padding-top:10px;" class="admin-area">
				<a href="#" class="btn btn-default pull-left">
					<img src="/img/icons/country.png" alt="" width="24" /> </a>
				<a href="#" class="btn btn-default pull-left">
					<img src="/img/icons/science.png" alt="" width="24" /> </a>
				<a href="#" class="btn btn-default pull-left">
					<img src="/img/icons/money.png" alt="" width="24" /> </a>
				<a href="#" class="btn btn-default pull-left">
					<img src="/img/icons/war1.png" alt="" width="24" /> </a>
				<a href="#" class="btn btn-default pull-left"> <img src="/img/icons/war.png" alt="" width="24" />
				</a> <a href="#" class="btn btn-default pull-left">
					<img src="/img/icons/war.png" alt="" width="24" /> </a>
				<div class="clearfix"></div>
			</div>
		<? } ?>
	</div>

	<div class="country-stat-table">
		<table class="table table-condensed table-striped text-right">
			<tbody><tr>
				<th>Образована</th>
				<td class="text-right"><?= $country->getDate('create'); ?></td>
				<td colspan="3"><img height="20" src="/img/icons/event-country-create.png" alt="" /></td>
			</tr></tbody>
			<? if ($country->active) { ?>
				<tbody><tr class="nw">
					<th></th>
					<th></th>
					<th class="text-right">за сутки</th>
					<th class="text-right">за неделю</th>
					<th class="text-right">за месяц</th>
				</tr>
				<tr class="nw">
					<th>Население</th>
					<td><?= $country->format($country->pop) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaPop) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaPopWeek) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaPopMonth) ?></td>
				</tr>
				<tr class="nw">
					<th>Игроки</th>
					<td><?= $country->format($country->accounts) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaAccounts) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaAccountsWeek) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaAccountsMonth) ?></td>
				</tr>
				<tr class="nw">
					<th>Города</th>
					<td><?= $country->format($country->towns) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaTowns) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaTownsWeek) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaTownsMonth) ?></td>
				</tr>
				<tr class="nw">
					<th>Научный потенциал</th>
					<td><?= $country->format($country->science) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaScience) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaScienceWeek) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaScienceMonth) ?></td>
				</tr>
				<tr class="nw">
					<th>Производство</th>
					<td><?= $country->format($country->production) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaProduction) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaProductionWeek) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaProductionMonth) ?></td>
				</tr>
				<tr class="nw">
					<th>Война</th>
					<td><?= $country->format($country->war) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaWar) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaWarWeek) ?></td>
					<td class="bl"><?= $country->getDelta($country->deltaWarMonth) ?></td>
				</tr></tbody>
				<? if (!empty( $diplomacy[1] )) { ?>
					<tr>
						<th colspan="">Союзники</th>
						<td colspan="4" class="bl text-left">
							<? foreach ($diplomacy[1] as $item1) { ?>
								<div style="padding: 2px 0;display: inline-block;width: 48%;vertical-align:top;">
									<img src="<?= $world->getFlag($item1['countryFlag']) ?>" class="flag-mini" alt="" />
									<a href="<?= $this->router->link('statCountry', array('sign' => $world->lowerSign, 'countryId' => $item1['countryId'])) ?>">
										<?= $item1['countryName'] ?>
									</a>
								</div>
							<? } ?>
						</td>
					</tr>
				<? } ?>
				<? if (!empty( $diplomacy[2] )) { ?>
					<tr>
						<th>Враги</th>
						<td colspan="4" class="bl text-left">
							<? foreach ($diplomacy[2] as $item1) { ?>
								<div style="padding: 2px 0;display: inline-block;width: 48%;vertical-align:top;">
									<img src="<?= $world->getFlag($item1['countryFlag']) ?>" class="flag-mini" alt="" />
									<a href="<?= $this->router->link('statCountry', array('sign' => $world->lowerSign, 'countryId' => $item1['countryId'])) ?>">
										<?= $item1['countryName'] ?>
									</a>
								</div>
							<? } ?>
						</td>
					</tr>
				<? } ?>
			<? } else { ?>
				<tbody><tr>
					<th>Расформирована</th>
					<td class="text-right"><?= $country->getDate('delete'); ?></td>
					<td colspan="3"><img height="20" src="/img/icons/event-country-destroy.png" alt="" /></td>
				</tr></tbody>
			<? } ?>
		</table>
		<? if ($this->user->isAdmin()) { ?>
			<div class="admin-area text-right" style="margin-top:-10px;">
				<a href="#" style="border-bottom:1px dotted #428BCA;">История</a>
			</div>
		<? } ?>
	</div>
</div>


<style>
	.chart-container-lines {
		overflow: hidden;
	}
</style>

<h3>Рейтинги</h3>
<ul class="nav-tabs">
	<li><a href="#tab1" data-toggle="tab">Население</a></li>
	<li><a href="#tab2" data-toggle="tab">Наука</a></li>
	<li><a href="#tab3" data-toggle="tab">Производство</a></li>
	<li><a href="#tab4" data-toggle="tab">Война</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane" id="tab1">
		<div id="rating1" class="chart-container-lines" style="min-width:310px;height:400px;margin:0 auto;"></div>
	</div>
	<div class="tab-pane" id="tab2">
		<div id="rating2" class="chart-container-lines" style="min-width:310px;height:400px;margin:0 auto;"></div>
	</div>
	<div class="tab-pane" id="tab3">
		<div id="rating3" class="chart-container-lines" style="min-width:310px;height:400px;margin:0 auto;"></div>
	</div>
	<div class="tab-pane" id="tab4">
		<div id="rating4" class="chart-container-lines" style="min-width:310px;height:400px;margin:0 auto;"></div>
	</div>
</div>

<? if ($country->active) { ?>
	<div class="account-list">
		<h3>Состав (<?= count($accounts) ?> игроков)</h3>

		<div class="block-bordered" id="accountsList">
			<table class="table table-condensed table-striped">
				<thead>
				<tr>
					<th class="text-right">№</th>
					<th class="text-right"></th>
					<th>Игрок</th>
					<th></th>
					<th>Раса</th>
					<th>В игре</th>
					<th colspan="2" class="text-center">Города</th>
					<th colspan="2" class="text-center">Население</th>
				</tr>
				</thead>
				<tbody>
				<? $n = 1;
				$p100 = 0;
				$maxTowns = 0;
				$maxPop = 0;
				$maxDeltaPop=0;
				foreach ($accounts as $account) {
					if ($n == 1) $p100 = $account->pop;
					$maxTowns += $account->towns;
					$maxPop += $account->pop;
					$maxDeltaPop += $account->deltaPop;
					?>
					<tr>
						<td class="text-right">
							<span class="badge gender-<?= $account->sex ? 'male' : 'female' ?>"><?= $n++ ?></span>
						</td>
						<td class="text-center"><?//= $account->getRoleAsMnemonic() ?></td>
						<td><?= $account->getLink($world) ?></td>
						<td><?//= $account->getLinkExternal($world) ?></td>
						<td class="text-muted"><?= $account->getRace() ?></td>
						<td class="text-muted nw"><?= $account->getAge() ?></td>
						<td class="text-right bl"><?= $account->towns ?></td>
						<td class="text-right"><?= $account->delta($account->deltaTowns, '') ?></td>
						<?
						$invert = '';
						if ($account->deltaPop < 0) $invert = ' invert';
						?>
						<td class="text-right nw bl">
						<span class="rel-bar<?= $invert ?>" style="width:<?= round($account->pop / $p100, 4) * 100 ?>%;">
							<?= $account->format($account->pop) ?>
						</span>
						</td>
						<td class="text-right nw"><?if ($account->deltaPop != 0) {
								echo $account->delta($account->deltaPop);
							}?></td>
					</tr>
				<? } ?>
				</tbody>
				<tbody>
				<tr>
					<td class="text-right" colspan="4">Средние значения</td>
					<td colspan="2"></td>
					<td class="text-right text-muted"><?= round($maxTowns/count($accounts)) ?></td>
					<td class="text-right text-muted"></td>
					<td class="text-right text-muted"><?= round($maxPop/count($accounts)) ?></td>
					<td class="text-right text-muted"><?= $account->delta(round($maxDeltaPop/count($accounts))) ?></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
<? } ?>

<? if (count($events)) { ?>
	<div class="event-list">
		<h3>События в стране за последнюю неделю <? if (!$country->active) echo 'существования' ?></h3>

		<div class="block-bordered" id="eventsList">
			<table class="table table-condensed table-striped">
				<thead>
				<tr>
					<th class="text-right" style="width:100px;">Дата</th>
					<th class="text-left">Событие</th>
				</tr>
				</thead>
				<?
				foreach ($events as $date => $eventsOfDay) {
					if (isset( $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN] )
						&& isset( $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE] )
					) {
						$flag = ( $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]->extra['countryFlag'] )
							? $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]->extra['countryFlag']
							: ( ( $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][0]->extra['countryFlag'] )
								? $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][0]->extra['countryFlag']
								: $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][1]->extra['countryFlag']
							);

						$s1 = 'Игрок %s основал страну %s';
						$s2 = 'Игроки %s и %s основали страну %s';

						if (count($eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN]) == 1) {
							$s = sprintf($s1,
								'<a href="/stat/' . $world->lowerSign . '/account/' . $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][0]->accountId . '/">' . $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][0]->extra['accountName'] . '</a>',
								'<img src="' . $world->getFlag($flag) . '"> <a href="/stat/ru19/country/' . $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]->countryId . '/">' . $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]->extra['countryTitle'] . '</a>'
							);
						} elseif (count($eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN]) == 2) {
							$s = sprintf($s2,
								'<a href="/stat/' . $world->lowerSign . '/account/' . $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][0]->accountId . '/">' . $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][0]->extra['accountName'] . '</a>',
								'<a href="/stat/' . $world->lowerSign . '/account/' . $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][1]->accountId . '/">' . $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN][1]->extra['accountName'] . '</a>',
								'<img src="' . $world->getFlag($flag) . '"> <a href="/stat/ru19/country/' . $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]->countryId . '/">' . $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]->extra['countryTitle'] . '</a>'
							);
						} else {
							$last = array_pop($eventsOfDay[6]);
							$ss1  = array();
							foreach ($eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN] as $e_of_day) {
								$ss1[] = '<a href="/stat/' . $world->lowerSign . '/account/' . $e_of_day->accountId . '/">' . $e_of_day->extra['accountName'] . '</a>';
							}
							$s = sprintf($s2,
								join(', ', $ss1),
								'<a href="/stat/' . $world->lowerSign . '/account/' . $last->accountId . '/">' . $last->extra['accountName'] . '</a>',
								'<img src="' . $world->getFlag($flag) . '"> <a href="/stat/ru19/country/' . $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]->countryId . '/">' . $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE][0]->extra['countryTitle'] . '</a>'
							);
						}

						echo '<tr><td class="text-right"><code>' . date('d M Y', strtotime($date)) . '</code></td>';
						echo '<td class="text-left">';
						?><img src="/img/icons/event-country-create.png" style="height:24px;" /> <?
						echo $s;
						echo '</td></tr>';
						unset( $eventsOfDay[Wofh::EVENT_ACCOUNT_COUNTRY_IN], $eventsOfDay[Wofh::EVENT_COUNTRY_CREATE] );
					}

					$first = true;
					foreach ($eventsOfDay as $ed) {
						/** @var Event $e */
						foreach ($ed as $e) {
						    if ($e->id == Wofh::EVENT_ACCOUNT_ROLE_IN or $e->id == Wofh::EVENT_ACCOUNT_ROLE_OUT) {
						        continue;
                            }
							?>
							<tr>
							<td class="text-right">
								<? if ($first) {
									$first = false; ?>
									<code class=""><?= date('d M Y', $e->timestamp) ?></code>
								<? } ?>
							</td>
							<td class="text-left">
								<img src="<?= $e->getIcon() ?>" style="height:20px;" />
								<?= $e->getText(); ?>
							</td>
							</tr><?
						}
					}
				}
				?>
			</table>
			<? if ($this->user->isAdmin()) { ?>
				<div class="admin-area">
					<button class="btn btn-default">Ещё...</button>
				</div>
			<? } ?>
		</div>
	</div>
<?
}

//dmp($country, 0);
//dmp($accounts, 0);
//dmp($events, 0);

?>
