<?php
/**
 * @since              08.12.13 02:13
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
use df\extensions\models\World;
use df\view\Document;

/**
 * @var Document $this
 * @var World    $world
 * @var array    $countriesData
 * @var string   $ratingBy
 * @var string   $linkByPopulation
 * @var string   $linkByScience
 * @var string   $linkByProduction
 * @var string   $linkByWar
 */

?>
<?
function getMark($v) { return $v < 0 ? ' text-danger' : ( $v > 0 ? ' text-success' : '' ); }

?>
<style>
	.t1 td:nth-child(1), .t1 td:nth-child(2) {
		text-align: right;
	}
</style>

<ul class="nav-tabs">
	<li<?= $ratingBy == '' ? ' class="active"' : '' ?>>
		<a href="<?= $linkByPopulation ?>">Население</a></li>
	<li<?= $ratingBy == 'science' ? ' class="active"' : '' ?>>
		<a href="<?= $linkByScience ?>">Наука</a></li>
	<li<?= $ratingBy == 'production' ? ' class="active"' : '' ?>>
		<a href="<?= $linkByProduction ?>">Производство</a></li>
	<li<?= $ratingBy == 'war' ? ' class="active"' : '' ?>>
		<a href="<?= $linkByWar ?>">Война</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active" id="top-players-population">
		<table class="table table-condensed table-hover t1">
			<thead>
			<tr>
				<th class="text-right" style="width:1%">№</th>
				<th class="text-right" style="width:1%">ID</th>
				<th>Страна</th>
<!--				<th></th>-->
				<th class="text-center" colspan="2">Игроки</th>
				<th class="text-center" colspan="2">Города</th>
				<th class="text-center" colspan="2">&uarr; <?= $countriesData['columnTitle'] ?></th>
			</tr>
			</thead>
			<? foreach ($countriesData['list'] as $k => $item) { ?>
				<tr class="row-<?= $k + 1 ?>">
					<td><span class="badge"><?= $item['place'] ?></span></td>
					<td class="text-muted">
						<small><?= $item['countryId'] ?></small>
					</td>
					<td class="bl">
            <div class="live-bar">
						<img class="flag-30 pull-left" src="<?= $world->getFlag($item['countryFlag']) ?>" alt="">

						<div class="aa" style="position: relative;margin:0 0 0 4px;">
							<div class="chart-bar" <? /*style="width:<?= $item['percent'] ?>%;"*/ ?> data-width="<?= $item['percent'] ?>"></div>
							<div style="position:relative;padding:0 5px;">
								<a href="<?= $this->router->link('statCountry', array('sign' => strtolower($world->sign), 'countryId' => $item['countryId'])) ?>"><?= $item['countryTitle'] ?></a>
							</div>
						</div>
            </div>
					</td>
<!--					<td class="sm">-->
<!--						--><?// if ($world->working) { ?>
<!--							<a href="--><?//= $world->domain ?><!--/#/countryInfo/--><?//= $item['countryId'] ?><!--" class="wofh-link icon-link-ext pull-right" target="_blank"></a>-->
<!--						--><?// } ?>
<!--					</td>-->

					<td class="bl text-right<?= getMark($item['deltaPlayersPerDay']) ?>"><?= $item['accounts'] ?></td>
					<td class="text-right<?= getMark($item['deltaPlayersPerDay']) ?>">
						<? if ($item['deltaPlayersPerDay'] != 0) { ?>
							<small><?= $item['deltaPlayersPerDay'] > 0 ? '+' : '' ?><?= numFormat($item['deltaPlayersPerDay']) ?></small>
						<? } ?>
					</td>

					<td class="bl text-right<?= getMark($item['deltaTownsPerDay']) ?>"><?= $item['towns'] ?></td>
					<td class="text-right<?= getMark($item['deltaTownsPerDay']) ?>">
						<? if ($item['deltaTownsPerDay'] != 0) { ?>
							<small><?= $item['deltaTownsPerDay'] > 0 ? '+' : '' ?><?= numFormat($item['deltaTownsPerDay']) ?></small>
						<? } ?>
					</td>
					<td class="bl text-right<?= getMark($item['delta']) ?>">
						<span class="nw"><?= numFormat($item['val']) ?></span></td>
					<td class="text-right<?= getMark($item['delta']) ?>">
						<? if ($item['delta'] != 0) { ?>
							<small class="nw"><?= $item['delta'] > 0 ? '+' : '' ?><?= numFormat($item['delta']) ?></small>
						<? } ?>
					</td>
				</tr>
			<? } ?>
		</table>
		<div class="pagination-stat">
			<?= $pagination ?>
		</div>
		<hr />
		<div id="rating-charts" class="chart-container-lines" style="min-width:310px;height:500px;margin:0 auto;"></div>
	</div>
</div>
<? //dump($this->data, 0) ?>
