<?php
/**
 * @since              01.12.13 04:24
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
?>
<?
use df\extensions\models\World;

/**
 * @var df\view\Document $this
 * @var World[]          $worlds
 * @var World[]          $archiveWorlds
 */
?>

	<div class="list-group">
		<? for ($i=1;$i<=2;$i++){ ?>
			<? foreach ($worlds as $world) { ?>
				<? if ($world->updateStat && $i==1) { ?>
					<a href="<?= $this->router->link('statWorld', array('sign' => $world->lowerSign)) ?>" class="list-group-item">
								<p class="list-group-item-heading">
									<img class="server-country" src="/img/countries/<?= $world->country ?>.png" alt="<?= $world->country ?>" />
									<span class="h3"><?= $world->fullTitle ?></span>
                  <code class="badge"><?= date('d.m.Y H:i', $world->updateStat) ?></code>
                  <? if ($world->isUpdate) { ?>
                    <span class="badge" style="margin-right:5px;color:red">Статистика обновляется...</span>
                  <? } ?>
                </p>
								<? /*if ($world->desc) { ?><p class="list-group-item-text"><?= $world->desc ?></p><? } */?>
					</a>
				<? } ?>
				<? if (!$world->updateStat && $i==2) { ?>
					<div class="list-group-item list-group-item-disabled" style="opacity:0.5">
								<div>
									<img class="server-country" style="opacity:0.3" src="/img/countries/<?= $world->country ?>.png" alt="<?= $world->country ?>" />
									<span class="h3"><?= $world->title ?></span>
									<code class="badge pull-right"><?= date('d.m.Y H:i', $world->updateStat) ?></code>
                  <? if ($world->isUpdate) { ?>
                    <span class="badge" style="margin-right:5px;color:red">Статистика обновляется...</span>
                  <? } ?>
                </div>
								<?/* if ($world->desc) { ?><p class="list-group-item-text"><?= $world->desc ?></p><? } */?>
					</div>
				<? } ?>
			<? } ?>
		<? } ?>
	</div>

	<div class="h4 page-header">Завершённые миры</div>
	<div class="list-group">
		<? for ($i=1;$i<=2;$i++){ ?>
			<? foreach ($archiveWorlds as $world) { ?>
				<? if ($world->updateStat && $i==1) { ?>
					<a href="<?= $this->router->link('statWorld', array('sign' => $world->lowerSign)) ?>" class="list-group-item">
								<div>
									<img class="server-country" src="/img/countries/<?= $world->country ?>.png" alt="<?= $world->country ?>" />
									<span class="h3"><?= $world->title ?></span>
								<span class="badge pull-right"><?= date('d.m.Y H:i', $world->updateStat) ?></span>
								<? if ($world->isUpdate) { ?>
									<span class="badge pull-right" style="margin-right:5px;color:red">Статистика обновляется...</span>
								<? } ?>
                </div>
								<?/* if ($world->desc) { ?><p class="list-group-item-text"><?= $world->desc ?></p><? } */?>
					</a>
				<? } ?>
				<? if (!$world->updateStat && $i==2) { ?>
					<div style="opacity:0.5">
								<div>
									<img class="server-country" style="opacity:0.3" src="/img/countries/<?= $world->country ?>.png" alt="<?= $world->country ?>" />
									<span class="h3"><?= $world->title ?></span>
								<? if ($world->isUpdate) { ?>
									<span class="badge"><?= date('d.m.Y H:i', $world->updateStat) ?></span>
									<span class="badge" style="margin-right:5px;color:red">Статистика обновляется...</span>
								<? } ?>
                </div>
								<?/* if ($world->desc) { ?><p><?= $world->desc ?></p><? } */?>
					</div>
				<? } ?>
			<? } ?>
		<? } ?>
	</div>
<?
//pre($worlds, 0);
