<?php
/**
 * @since           10.11.2014 08:28
 * @package
 * @author			DelphinPRO delphinpro@yandex.ru
 * @copyright		Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license         Licensed under the MIT license
 *
 * @var df\view\Document $this
 */
?>
<?


foreach($list as $event) {
	echo '<div style="padding: 2px 0;">';
	echo getTextOfEvent($event, $world);
	echo '</div>';
}

//dmp($list, 0);

$cats = array_keys($countriesData);
$cats = '["'.join('","',$cats).'"]';
$d = array();
foreach($countriesData as $v) {
	$d[] = $v['accountsNew'];
}
$d = '['.join(',',$d).']';
/*?>

<div id="chart" style="height: 400px;"></div>

<script>
	$(function(){
		$('#chart').highcharts({
			chart: {
				type: 'area'
			},
			title: {
				text: '<?=$title?>'
			},
			legend: {
				layout: 'vertical',
				align: 'left',
				verticalAlign: 'top',
				x: 150,
				y: 100,
				floating: true,
				borderWidth: 1,
				backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
			},
			xAxis: {
				categories: <?= $cats ?>

//				plotBands: [{ // visualize the weekend
//					from: 4.5,
//					to: 6.5,
//					color: 'rgba(68, 170, 213, .2)'
//				}]
			},
			yAxis: {
				title: {
					text: ''
				}
			},
			tooltip: {
				shared: true,
				valueSuffix: ' units'
			},
			credits: {
				enabled: false
			},
			plotOptions: {
				areaspline: {
					fillOpacity: 0.5
				}
			},
			series: [{
				name: 'John',
				data: <?= $d ?>
			}]
		});
	});
</script>

<?
dmp($countriesData, 0);
*/?>