<?php
/**
 * @since             18.03.14 00:55
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 * @var df\View $this
 */
?>
<p class="h1">Нет стран</p>

<p>Дикари этого мира в одиночку борются за выживание.</p>
