<?php
/**
 * @since             16.11.2014 14:48
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
?>
<?

use df\extensions\models\World;

/**
 * @var array $results
 * @var World $world
 */
?>

<? if (!count($results['countries']) && !count($results['accounts']) && !count($results['towns'])) { ?>
  <div class="alert alert-danger">
    Ничего не найдено
  </div>
<? } ?>

<? if (count($results['countries'])) { ?>
  <div class="search-result">
    <div class="search-result__heading page-header h5">Страны (<?= count($results['countries']) ?>)</div>
    <div class="search-result__list">
      <? foreach ($results['countries'] as $country) { ?>
        <span class="search-result__item">
          <img class="search-result__icon" src="<?= $world->getFlag($country['countryFlag']) ?>">
          <a class="search-result__link" href="<?= $this->router->link('statCountry',
            array('countryId' => $country['countryId'], 'sign' => $world->lowerSign)) ?>">
            <?= str_ireplace($query, "<mark>$query</mark>", $country['countryTitle']) ?>
          </a>
        </span>
      <? } ?>
    </div>
  </div>
<? } ?>

<? if (count($results['accounts'])) { ?>
  <div class="search-result">
    <div class="search-result__heading page-header h5">Аккаунты (<?= count($results['accounts']) ?>)</div>
    <div class="search-result__list">
      <? foreach ($results['accounts'] as $account) { ?>
        <span class="search-result__item">
          <img class="search-result__icon" alt="" src="/img/icons/account.png">
          <a class="search-result__link" href="<?= $this->router->link('statAccount',
            array('accountId' => $account['accountId'], 'sign' => $world->lowerSign)) ?>">
            <?= str_ireplace($query, "<mark>$query</mark>", $account['accountName']) ?>
          </a>
        </span>
      <? } ?>
    </div>
  </div>
<? } ?>

<? if (count($results['towns'])) { ?>
  <div class="search-result">
    <div class="search-result__heading page-header h5">Города (<?= count($results['towns']) ?>)</div>
    <div class="search-result__list">
      <? foreach ($results['towns'] as $town) { ?>
        <span class="search-result__item">
          <img class="search-result__icon" alt="" src="/img/icons/town.png">
          <a class="search-result__link" href="<?= $this->router->link('statTown',
            array('townId' => $town['townId'], 'sign' => $world->lowerSign)) ?>">
            <?= str_ireplace($query, "<mark>$query</mark>", $town['townTitle']) ?>
          </a>
        </span>
      <? } ?>
    </div>
  </div>
<? } ?>
