<?php
/**
 * @since             14.02.14 21:22
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
use df\extensions\models\World;
use df\view\Document;

/**
 * @var Document $this
 * @var World    $world
 * @var array    $data
 */
?>
<? function getMark($v) { return $v < 0 ? ' mark-attack' : ( $v > 0 ? ' mark-reserve' : '' ); } ?>

<ul class="nav-tabs">
	<li class="active"><a>Население</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="top-players-population">
		<table class="table table-condensed table-hover t1">
			<thead>
			<tr>
				<th class="text-right sm">№</th>
				<th class="text-right sm">ID</th>
				<th>Город</th>
				<th></th>
				<th>Страна/Игрок</th>
				<th class="text-center text-muted" colspan="2">&uarr; <?= $data['columnTitle'] ?></th>
			</tr>
			</thead>
			<? foreach ($data['list'] as $k => $item) { ?>
				<tr class="row-<?= $k + 1 ?>">
					<td class="text-right"><span class="badge"><?= $item['place'] ?></span></td>
					<td class="text-right text-muted">
						<small><?= $item['townId'] ?></small>
					</td>
					<td class="bl">
						<div class="aa" style="position: relative;margin:0 0 0 -3px;">
							<div class="chart-bar" data-width="<?= $item['percent'] ?>"></div>
							<div style="position:relative;padding:0 5px;">
								<a href="<?= $this->router->link('statTown', array('sign' => $world->lowerSign, 'townId' => $item['townId'])) ?>"><?= $item['townTitle'] ?></a>
							</div>
						</div>
					</td>
					<td class="sm">
						<? /*if ($world->working) { ?>
							<a href="<?= $world->domain ?>/towninfo?id=<?= $item['townId'] ?>" class="wofh-link icon-link-ext pull-right" target="_blank"></a>
						<? }*/ ?>
					</td>
					<td class="bl">
						<? if ($item['countryId'] > 0) { ?>
							<img class="flag-30" src="<?= $world->getFlag($item['countryFlag']) ?>" alt="" title="<?= $item['countryTitle'] ?>" data-toggle="tooltip">
						<? } ?>
						<? if ($item['accountId'] > 0) { ?>
							<a href="<?= $this->router->link('statAccount', array('sign' => $world->lowerSign, 'accountId' => $item['accountId'])) ?>"><?= $item['accountName'] ?></a>
							<? /*if ($world->working) { ?>
								<a href="<?= $world->domain ?>/account?id=<?= $item['accountId'] ?>" class="wofh-link icon-link-ext pull-right" target="_blank"></a>
							<? }*/ ?>
						<? } else { ?>
							&mdash;
						<? } ?>
					</td>
					<td class="text-right bl<?= getMark($item['delta']) ?>">
						<span class="nw"><?= numFormat($item['pop']) ?></span></td>
					<td class="text-right<?= getMark($item['delta']) ?>">
						<? if ($item['delta'] != 0) { ?>
							<small class="nw"><?= $item['delta'] > 0 ? '+' : '' ?><?= numFormat($item['delta']) ?></small>
						<? } ?>
					</td>
				</tr>
			<? } ?>
		</table>
		<div class="pagination-stat">
			<?= $pagination ?>
		</div>
		<hr />
		<div id="rating-charts" class="chart-container-lines" style="min-width:310px;height:500px;margin:0 auto;"></div>
	</div>
</div>
