<?php
/**
 * @since             19.02.14 06:41
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
use df\extensions\models\stat\Account;
use df\extensions\models\World;
use df\view\Document;

/**
 * @var Document $this
 * @var World    $world
 * @var array    $town
 * @var Account  $account
 */

//dmp($town);
?>
	<div class="clearfix">
		<div class="country-flag">
			<? if ($account->countryId) { ?>
				<img class="img-thumbnail"
				     src="<?= $world->getFlag($account->countryFlag, 300) ?>" alt=""
				     style="<? if (!$account->active) echo 'opacity:0.5'; ?>">
				<?= $this->getTemplate('statistic/block/bookmarks'); ?>
			<? } ?>
		</div>

		<div<? if ($account->countryId) { ?> class="country-stat-table"<? } ?>>
			<table class="table table-condensed table-striped table-hover text-right">
				<tr>
					<th>Основан</th>
					<td class="text-left" colspan="4">
						<?=
						$town['extra']['create']
							? date('d M Y', $town['extra']['create'])
							: '<span class="text-muted">нет данных</span>' ?>
					</td>
				</tr>
				<? if ($account->active) { ?>
					<tr>
						<th>Принадлежит игроку</th>
						<td class="text-left" colspan="4">
							<a href="/stat/<?= $world->lowerSign ?>/accounts/<?= $account->id ?>/">
								<b><?= $account->name ?></b></a>
							<? /*if ($world->working) { ?>
								<a href="<?= $world->domain ?>/account?id=<?= $account->id ?>" target="_blank">
									<i class="wofh-link icon-link-ext"></i> </a>
							<? }*/ ?>
						</td>
					</tr>
					<tr>
						<th>Состоит в стране</th>
						<td class="text-left" colspan="4">
							<? if (!empty( $account->countryName )) { ?>
								<a href="/stat/<?= $world->lowerSign ?>/countries/<?= $account->countryId ?>/">
									<b><?= $account->countryName ?></b> </a>
								<? /*if ($world->working) { ?>
									<a href="<?= $world->domain ?>/countryinfo?id=<?= $account->id ?>" class="wofh-link icon-link-ext" target="_blank"></a>
								<? }*/ ?>
							<? } else { ?>&mdash;<? } ?>
						</td>
					</tr>
					<tr>
						<? $races = array('Индеец', 'Европеец', 'Азиат', 'Африканец'); ?>
						<th>Раса</th>
						<td class="text-left" colspan="4"><?= $races[$account->race] ?></td>
					</tr>
					<tr>
						<th></th>
						<th></th>
						<th class="text-right">за сутки</th>
						<th class="text-right">за неделю</th>
						<th class="text-right">за месяц</th>
					</tr>
					<tr>
						<th>Население</th>
						<td><?= numFormat($town['pop']) ?></td>
						<td><?= getSignedNumber($town['delta'], '—') ?></td>
						<td><?= getSignedNumber($town['deltaWeek'], '—') ?></td>
						<td><?= getSignedNumber($town['deltaMonth'], '—') ?></td>
					</tr>
				<? } else { ?>
					<tr>
						<th>Потерян игроком</th>
						<td class="text-left" colspan="4">
							<?=
							$town['extra']['lost']
								? date('d M Y', $town['extra']['lost'])
								: '<span class="text-muted">нет данных</span>' ?>
							<? $d1 = new DateTime('@' . $town['extra']['create']);
							$d2    = new DateTime('@' . $town['extra']['lost']);
							$di    = $d2->diff($d1);?>
							(<?= $di->days ?> дней)
						</td>
					</tr>
					<? if ($town['extra'][2]) { ?>
						<tr>
							<th>Разрушен</th>
							<td class="text-left" colspan="4">
								<?=
								$town['extra']['delete']
									? date('d M Y', $town['extra']['delete'])
									: '<span class="text-muted">нет данных</span>' ?>
								<? $d1 = new DateTime('@' . $town['extra']['create']);
								$d2    = new DateTime('@' . $town['extra']['delete']);
								$di    = $d2->diff($d1);?>
								(<?= $di->days ?> дней)
							</td>
						</tr>
					<? } ?>
				<? } ?>
			</table>
			<? if (!$account->countryId) { ?>
				<?= $this->getTemplate('statistic/block/bookmarks2'); ?>
			<? } ?>
		</div>
	</div>

	<h3>Рейтинг</h3>
	<ul class="nav nav-tabs">
		<li><a href="#tab1" data-toggle="tab">Население</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane" id="tab1">
			<div id="rating1" class="chart-container-lines" style="min-width:310px;height:400px;margin:0 auto;"></div>
		</div>
	</div>

<?/* if (count($events)) { ?>
	<h3>Последние события</h3>
	<div class="block-bordered">
		<table class="table table-condensed table-striped table-hover">
			<thead>
			<tr>
				<th class="text-right" style="width:100px;">Дата</th>
				<th class="text-left">Событие</th>
			</tr>
			</thead>
			<? $n = 1;
			foreach ($events as $event) {
				?>
				<tr>
					<td class="text-right"><code class=""><?= date('d M Y', strtotime($event['stateDate'])) ?></code>
					</td>
					<td class="text-left"><?//= getTextEvent($event, $this->world->sign); ?></td>
				</tr>
			<? } ?>
		</table>
	</div>
<? } */
// dump($town, 0);
