<?php
/**
 * @since             02.02.14 17:26
 * @package           Wofh Tools
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */

use df\extensions\models\DataObject;
use df\extensions\models\World;
use df\Router;
use df\view\Document;

/**
 * @var Document $this
 * @var array $worldsStat
 * @var World $world
 * @var DataObject $data
 */

//dmp($worldsStat, 0);
?>
<!--<div id="common-data-1" style="min-width:310px;height:400px;margin:0 auto 20px;"></div>-->
<? //if ($worldsStat['accountsTotal'] > 0) { ?>

<!--	<h3>Общая статистика</h3>-->
<div class="tiles-title"><h3>Общая статистика</h3></div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-condensed">
      <tr>
        <td class="text-right">
          <code><?= $world->age ?></code></td>
        <td><?= pluralForm($world->age, array('день', 'дня', 'дней')) ?> длится раунд</td>
      </tr>
      <tr>
        <td class="text-right">
          <code><?= numFormat($worldsStat['accountsTotal']) ?></code></td>
        <td>регистраций</td>
      </tr>
      <tr>
        <td class="text-right">
          <code><?= numFormat($worldsStat['accountsActive']) ?></code></td>
        <td>активных игроков</td>
      </tr>
      <tr>
        <td class="text-right">
          <code><?= numFormat($worldsStat['countriesTotal']) ?></code></td>
        <td>стран</td>
      </tr>
    </table>
  </div>
  <div class="col-sm-6">
    <div id="race-chart" style="min-width:100px;height:250px;-height:100%;overflow:hidden;margin:0 auto 20px;"></div>
  </div>
  <div class="col-sm-6">
    <div id="sex-chart" style="min-width:100px;height:250px;-height:100%;overflow:hidden;margin:0 auto 20px;"></div>
  </div>
  <div class="col-sm-12">
    <h3>События в мире <?= $worldsStat['stateDate'] ?></h3>

    <div class="tiles-container">
      <div class="tiles-events">
        <? foreach ($worldsStat['events'] as $eId => $eData) { ?>
          <? if ($eData[1] == 0) continue; ?>
          <? if ($eId == \df\extensions\models\Wofh::EVENT_ACCOUNT_ROLE_IN) continue; ?>
          <? if ($eId == \df\extensions\models\Wofh::EVENT_ACCOUNT_ROLE_OUT) continue; ?>
          <div class="tile tile_event tile_event_id<?= $eId ?>">
            <a class="tile__in"
                href="/stat/<?= $world->lowerSign ?>/events/<?= $eId ?>/<?= Router::buildQuery() ?>">
              <span class="tile__caption"><?= sprintf($eData[0], $eData[1]) ?></span>
              <span class="tileX"><?= $eData[1] ?></span> </a>
          </div>
        <? } ?>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<? if (!empty($worldsStat['roles'])) { ?>
  <h3>Новые должностные лица</h3>
  <h6>Информация о странах с количеством игроков более <?= $worldsStat['countriesAvgAccounts'] - 1 ?></h6>

  <? $strip = 0; ?>
  <? foreach ($worldsStat['roles'] as $countryRoles) { ?>
    <?
    $countryId = (int)$countryRoles[0]['countryId'];
    $countryName = $countryRoles[0]['countryTitle'];
    $countryFlag = $countryRoles[0]['countryFlag'];
    ?>
    <div class="media strip-<?= ++$strip % 2 ?>">
      <a class="pull-left"
          href="<?= $this->router->link('statCountry', array('sign' => $world->lowerSign, 'countryId' => $countryId)) ?>">
        <img class="img-rounded" src="<?= $world->getFlag($countryFlag, 300) ?>" style="height:100px;"> </a>

      <div class="media-body">
        <h3 class="media-heading">
          <a href="<?= $this->router->link('statCountry', array('sign' => $world->lowerSign, 'countryId' => $countryId)) ?>"><?= $countryName ?></a>
        </h3>
        <? foreach ($countryRoles as $role) { ?>
          <div>
            <a href="<?= $this->router->link('statAccount', array('sign' => $world->lowerSign, 'accountId' => (int)$role['accountId'])) ?>">
              <?= $role['accountName'] ?>
            </a>
            &ndash;
            <?
            $r = (int)$role['role'];
            if ($r) {
              for ($i = 1; $i <= 128; $i *= 2) {
                if ($r & $i) {
                  echo ' ' . createRoleText($i);
                }
              }
            } else {
              $r = (int)$role['roleOld'];
              if ($r) {
                echo '<span class="text-danger">уволен с должности ';
                for ($i = 1; $i <= 128; $i *= 2) {
                  if ($r & $i) {
                    echo ' ' . createRoleText($i);
                  }
                }
                echo '</span>';
              }
            }
            ?>
          </div>
        <? } ?>
      </div>
    </div>
  <? } ?>
  <?
  //dmp($worldsStat['roles'], 0);
  ?>
<? } ?>

