<?php
/**
 * @since              11.12.13 23:56
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
use df\extensions\models\DataObject;
use df\extensions\models\World;
use df\Registry;
use df\view\Document;

/**
 * @var Document $this
 * @var World[] $worlds
 * @var World $selectedWorld
 * @var int $selectedWorldId
 * @var int $selected
 * @var bool $isArchive
 * @var DataObject $data
 */
?>
<?
//pre($this, 0);
?>
<? if (!$isArchive) { ?>
    <? $world0 = Registry::get('world'); ?>
    <? if (!$world0) { ?>
        <ul class="menu">
            <? foreach ($worlds as $world) { ?>
                <? if (!$world->working) {
                    continue;
                } ?>
                <? if ($world->updateStat) { ?>
                    <? if ($world->statistic == 1) { ?>
                        <li>
                            <a href="/stat/<?= $world->lowerSign ?>/"><?= $world->sign ?> «<?= $world->title ?>»</a>
                        </li>
                    <? } ?>
                <? } ?>
            <? } ?>
        </ul>
    <? } else { ?>
        <div class="dropdown-select -open">
            <div class="dropdown-select-selected">
                <?= Registry::get('world')->sign ?>
                <?= Registry::get('world')->title ?>
            </div>
            <ul class="menu">
                <? foreach ($worlds as $world) { ?>
                    <? if (!$world->working) {
                        continue;
                    } ?>
                    <? if ($world->updateStat) { ?>
                        <? if ($world->statistic == 1) { ?>
                            <li>
                                <a href="/stat/<?= $world->lowerSign ?>/"><?= $world->sign ?> «<?= $world->title ?>»</a>
                            </li>
                        <? } ?>
                    <? } ?>
                <? } ?>
            </ul>
        </div>
    <? } ?>
<? } ?>

<? if ($selectedWorld) { ?>

    <?

    $_lastUpdateDate = is_null($lastUpdateDate)
        ? 'ERROR :('
        : date('d.m.Y', $lastUpdateDate)
    ;

    ?>

    <?
    $_uri = $this->router->getUri();
    $_r = parse_url($_uri);
//	parse_str($_r['query'], $_q);
//	if (isset( $_q['date'] )) {
//		$_date = $_q['date'];
//	} else {
    $_date = date(STD_DATE, $lastUpdateDate);
//	}
    $_p = strtotime($_date . ' - 1 DAY');
    $_q['date'] = date(STD_DATE, $_p);
    $_prev = http_build_query($_q);

    $_n = strtotime($_date . ' + 1 DAY');
    $_q['date'] = date(STD_DATE, $_n);
    $_next = http_build_query($_q);
//	pre($_q, 0);
    $color = $_date == date(STD_DATE) ? 'style="color:RGB(66,156,67)"' : '';
    ?>
    Статистика за:
    <div class="tablo">
        <div class="tablo-digits" <?= $color ?>>
            <?= $_lastUpdateDate ?>
        </div>
        <div class="tablo-calendar-wrapper">
            <div class="tablo-calendar">
                <input type="date" id="statistic-date"
                       data-value="<?= date('Y-m-d', $lastUpdateDate) ?>"
                       min="<?= date('Y-m-d', $started) ?>"
                       max="<?= date('Y-m-d', $realLastUpdate) ?>"
                />
            </div>
            <a href="<?= $_r['path'] ?>?<?= $_next ?>" class="tablo-next"></a>
            <a href="<?= $_r['path'] ?>?<?= $_prev ?>" class="tablo-prev"></a>
        </div>
    </div>

    <style>
        #calendar-root {
            margin-left: -76px;
        }
    </style>
    <script src="/js/lib/url.js"></script>
    <script>
        setTimeout(function () {
//			location.reload();
        }, 2000);
        $(function () {
            var calendar = {
                selectors: true,
                yearRange: [-5, 5],
//				format   : 'dd.mm.yyyy',
                format: 'yyyy-mm-dd',
                formatter: 'default',
                lang: 'ru',
                offset: [0, 0],
                speed: 0,
                firstDay: 1, // The first day of the week, Sun = 0, Mon = 1, ...
                min: undefined,
                max: undefined,
                trigger: 0,
                toggle: 0,
                editable: 0,

                css: {
                    prefix: 'calendar-',
                    input: 'date'
                },

                change: function () {
                    var isoDate = this.getValue('yyyy-mm-dd');
                    var url = new Url();
                    url.query.date = isoDate;
                    console.log('' + url);
                    location.href = '' + url;
                }
            };
            $("#statistic-date").dateinput(calendar);
//			var api = $("#statistic-date").data("dateinput");
//			api.setValue('');
        })
    </script>

    <? $q = isset($_GET['q']) ? strip_tags($_GET['q']) : '' ?>
    <div class="search-box">
      <form action="/stat/<?= $selectedWorld->lowerSign ?>/search/" method="get">
         <input type="text" name="q" class="form-control input-mini" placeholder="Поиск:" value="<?= $q ?>">
         <button class="btn btn-primary">Найти</button>
      </form>
    </div>

    <ul class="menu">
        <li<?= in_array($selected, array('countries', 'country')) ? ' class="active"' : '' ?>>
            <a href="<?= $this->router->link('statCountries', array('sign' => $selectedWorld->lowerSign)) ?>">Рейтинг
                стран</a></li>
        <li<?= in_array($selected, array('accounts', 'account')) ? ' class="active"' : '' ?>>
            <a href="<?= $this->router->link('statAccounts', array('sign' => $selectedWorld->lowerSign)) ?>">Рейтинг
                игроков</a></li>
        <li<?= in_array($selected, array('towns', 'town')) ? ' class="active"' : '' ?>>
            <a href="<?= $this->router->link('statTowns', array('sign' => $selectedWorld->lowerSign)) ?>">Рейтинг
                городов</a></li>
    </ul>
<? } ?>

<? /* if ($this->router->route->name == 'statistic' or $isArchive) { ?>
	<? if (!$isArchive) { ?>
		<h5><a href="/stat/archive/">Архивные миры</a></h5>
	<? } ?>
	<ul class="nav nav-vertical nav-list wt-navigation">
		<? foreach ($worlds as $world) { ?>
			<? if ($world->working) continue; ?>
			<? //if ($world->countAccounts() > 0) { ?>
				<? if ($world->statistic == 1) { ?>
					<li class="<?= $selectedWorldId == $world->id ? ' active' : '' ?>">
						<a href="/stat/archive/<?= $world->lowerSign ?>/"><?= $world->sign ?> «<?= $world->title ?>»</a>
					</li>
				<? } ?>
			<? /*} else { ?>
				<? if ($world->statistic == 1) { ?>
					<li class="disabled"><a><?= $world->sign ?> «<?= $world->title ?>»</a></li>
				<? } ?>
			<? } * /?>
		<? } ?>
	</ul>
<? } */
?>

<h3><i class="icon-star"></i> Закладки</h3>
<div id="user-bookmarks"></div>