/*! DO NOT CHANGE THIS FILE!!! Generated automatically. */
.df-tree ul {
  list-style: none; }

.df-tree > ul {
  padding: 0; }

.df-tree li {
  padding: 4px 0;
  border-bottom: 1px solid #4c4e57; }
  .df-tree li:first-child {
    border-top: 1px solid #4c4e57; }
  .df-tree li .btn {
    padding-top: 1px;
    padding-bottom: 1px; }

.df-tree-col-title {
  display: inline-block;
  width: 40%; }

/*# sourceMappingURL=admin.css.map */
