//
// @since           26.11.2014 17:45
// @package
// @author			DelphinPRO delphinpro@yandex.ru
// @copyright		Copyright (C) 2014 DelphinPRO. All rights reserved.
// @license         Licensed under the MIT license
//

.sc-progress,
.sc-complete {
  background: rgba($state-success-text, 0.15);
  color: $state-success-text;
  a { color: $state-success-text; }
}

.sc-started {
  $state-warning-text: adjust_hue($state-warning-text, 20%);
  background: rgba($state-warning-text, 0.15);
  color: $state-warning-text;
  a { color: $state-warning-text; }
}

.sc-current {
  background: rgba($brand-primary, 0.15);
  color: $link-hover-color;
  a { color: $brand-primary; }
}

.sc-take {
  $take-color: #b718d4;
  $take-color: #cb60d4;
  background: rgba($take-color, 0.15);
  color: $take-color;
  a { color: $take-color; }
}

.sc-regress {
  background: rgba($state-danger-text, 0.15);
  color: $state-danger-text;
  a { color: $state-danger-text; }
}

.sc-complete,
.sc-started,
.sc-current,
.sc-take {
  a {
    &:hover {
      text-decoration: underline !important;
    }
  }
}

.table-science-report {
  .sc-complete,
  .sc-take {
    display: none;
  }
  &.__show_complete {
    .sc-complete {
      display: table-row;
    }
  }
  &.__show_take {
    .sc-take {
      display: table-row;
    }
  }

}
