//
// @since           16.02.2015 11:37
// @package
// @author			DelphinPRO delphinpro@yandex.ru
// @copyright		Copyright (C) 2015 DelphinPRO. All rights reserved.
// @license         Licensed under the MIT license
//

.b-units {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  padding: 0;
  margin: 3px 2px;
  width: 74px;
  height: 26px;
  line-height: 25px;
  background: $b-units-bg;
  //	background: #5573f4;
  .strength {
    font-size: 12px;
  }
}

.army-group-title {
  background: none;
  width: 68px;
  line-height: 25px;
  display: inline-block;
  margin: 4px 2px 3px;
  font-weight: bold;
}

.army-bar {
  $army-bar-height: 3px;
  display: block;
  width: 100%;
  height: $army-bar-height;
  //	background: rgba(255, 167, 172, 0.25);
  background: rgba(255, 167, 172, 0.54);
  //	margin-bottom: 1px;
  i {
    display: block;
    height: $army-bar-height;
    background: #00c000;
  }
}

