<?php
/**
 * @since             21.10.2014 00:19
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
?>
<div class="tiles-container">
    <div class="tiles-row tiles-sm-4 tiles-center">
        <div class="tiles-title"><h3>&nbsp;</h3></div>
        <div class="tile tile-sm-4x2" style="height:auto;">
            <div class="tile-in">
                <div class="media message-box">
                    <div class="media-left">
                        <i class="icon icon-attention"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">403</h4>
                        <p>Доступ закрыт.</p>

                        <p>&nbsp;</p>

                        <p><?= $message ?></p>

                        <p>&nbsp;</p>

                        <? echo \df\App::Inst()->sysMessage(); ?>
                        <p>
                            <a class="btn btn-primary btn-lg" href="/">На главную</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
