<?php
/**
 * @since              17.08.13 00:23
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
use df\Dumper;
use df\exception\DFException;
use df\Registry;
use df\User;
use df\view\Document;

/**
 * @var Document $this
 * @var DFException $e
 */
?>
<? if ($this->config->get('app.debug') && $this->config->get('app.admin_panel')) {
    $visible = false; //$this->is('e') || count($_ERROR_STACK);
    ?>
    <div id="adminConsole" class="adminConsole <?= $visible ? ' open' : '' ?>">
        <div class="container">
            <? if ($this->is('e')) { ?>
                <p><a data-toggle="collapse" href="#collapse1" style="color:#fff">Исключение:
                        <code><?= $e->getMessage() ?></code> <code><?= $e->getFile() ?>
                            :<?= $e->getLine() ?></code></a></p>
                <div id="collapse1" class="panel panel-default collapse">
                    <div class="panel-body">
                        <? DFException::handlerException($e); ?>
                    </div>
                </div>
            <? } ?>

            <? if ($errorStack = $this->getErrorStack()) { ?>
                <a data-toggle="collapse" href="#collapse2" style="color:#fff">Errors list</a>
                <div id="collapse2" class="panel panel-default collapse in">
                    <div class="panel-body">
                        <? foreach ($errorStack as $errorMessage) { ?>
                            <?= $errorMessage ?>
                        <? } ?>
                    </div>
                </div>
            <? } ?>

            <div>
                <a data-toggle="collapse" class="btn btn-primary" href="#collapse4">$_SESSION</a>
                <a data-toggle="collapse" class="btn btn-primary" href="#collapse42">$_COOKIE</a>
                <a data-toggle="collapse" class="btn btn-primary" href="#collapse5">df\Router</a>
                <a data-toggle="collapse" class="btn btn-primary" href="#collapse6">$_GET</a>
                <a data-toggle="collapse" class="btn btn-primary" href="#collapse7">$_POST</a>
                <a data-toggle="collapse" class="btn btn-primary" href="#collapse8">$wtData</a>
            </div>

            <div id="collapse4" class="panel panel-default collapse">
                <div class="panel-body"><? dump($_SESSION, 0); ?></div>
            </div>

            <div id="collapse42" class="panel panel-default collapse">
                <div class="panel-body"><? dump($_COOKIE, 0); ?></div>
            </div>

            <div id="collapse5" class="panel panel-default collapse">
                <div class="panel-body"><? //dump((array)Registry::getRouter(), 'df\Router', 0); ?></div>
            </div>

            <div id="collapse6" class="panel panel-default collapse">
                <div class="panel-body"><? dump($_GET, 0); ?></div>
            </div>

            <div id="collapse7" class="panel panel-default collapse">
                <div class="panel-body"><? dump($_POST, 0); ?></div>
            </div>

            <div id="collapse8" class="panel panel-default collapse">
                <div class="panel-body"><? dump((array)$wtData, '$wtData', 0); ?></div>
            </div>
            <div style="margin-top: 20px;">
                <? Dumper::printTransaction(Registry::getDb()->getTransactions()); ?>
            </div>
        </div>
    </div>
    <script>
        var panel = document.getElementById('adminConsole');
        panel.style.display = 'none';
        function adminPanelToggle() {
            var body = document.getElementsByTagName('body')[0];
            if (panel.style.display == 'block') {
                panel.style.display = 'none';
                body.style.marginRight = 0;
                body.style.overflow = 'auto';
                document.querySelector('.navbar').style.paddingRight = 0;
            } else {
                panel.style.display = 'block';
                body.style.marginRight = '17px';
                body.style.overflow = 'hidden';
                document.querySelector('.navbar').style.paddingRight = '17px';
            }
        }
    </script>
<? } ?>
