<?php
/**
 * @since              26.08.13 22:42
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
use df\helper\FS;
use df\view\Document;

/**
 * @var Document $this
 */
?>
<div class="row">
    <div class="col-xs-4">
        <div>
            © Wofh Tools, v<?= WT_VERSION ?>, <a href="http://delphinpro.ru" target="_blank">delphinpro</a>,
            2013—<?= date('Y') ?> гг.
        </div>
        <div>
            <a href="/changelog/">Last update: <?= date('d.m.Y, H:i', filemtime(FS::path('/.git/logs/HEAD'))); ?></a>
        </div>
    </div>
    <div class="col-xs-1 text-right">
        <? if ($_SERVER['HTTP_HOST'] == 'wofh-tools.ru') { ?>
            <? if ($this->user->isAdmin()) { ?>
                <!-- Yandex.Metrika informer --><a href="https://metrika.yandex.ru/stat/?id=23281621&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/23281621/3_0_595B62FF_393B42FF_1_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:23281621,lang:'ru'});return false}catch(e){}"/></a><!-- /Yandex.Metrika informer -->
            <? } ?>
            <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter23281621 = new Ya.Metrika({id:23281621, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/23281621" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
        <? } else { ?>
            <img src="/system/img/counter.png">
        <? } ?>
    </div>
    <div class="col-xs-4">
        <? if ($this->user->isAdmin() || ($this->config->get('app.site_offline') && $this->config->get('app.allowed_ip') == $_SERVER['REMOTE_ADDR'])) { ?>
            <div>Transactions: <b><?= $this->getCountTransactions() ?></b></div>
            <div>
                Time: <b><?= get_execution_time() ?> c.</b>,
                Memory: <b><?= numFormat(memory_get_peak_usage()) ?> bytes</b>
            </div>
        <? } ?>
    </div>
    <div class="col-xs-3 text-right">
        <ul>
            <li><a href="/contacts/">Обратная связь</a></li>
        </ul>
    </div>
</div>
