<?php
/**
 * @since              01.07.13 19:55
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
?><?

use df\extensions\models\World;use df\helper\FS;

/**
 * @var df\view\Document $this
 * @var World $currentWorld
 * @var World[] $worldsMenu
 */
$noCache = '?' . substr(md5(WT_VERSION), 0, 8);

//$this->addScript('wt-app');
//$this->addScript('app');
//$this->addScript('bootstrap');
//$this->addScript('jquery.powertip');

if ($this->app->countWidgets('right')) {
  $rightColExists = true;
} else {
  $rightColExists = false;
}

$mainTitle = $this->getPageTitle() != $this->config->get('app.site_name')
    ? $this->getPageTitle() . ' :: ' . $this->config->get('app.site_name')
    : $this->config->get('app.site_name');

if ('' == $this->getPageTitle()) {
  $mainTitle = $this->config->get('app.site_name');
}

$cssTheme = isset($_COOKIE['wtTheme']) ? $_COOKIE['wtTheme'] : $this->config->get('app.template');
$cssTheme = 'dark';

$bodyExtClass = '';
if ($this->config->get('app.debug') == 1) {
  $bodyExtClass .= 'debug';
}

?><!DOCTYPE html>
<html>
<head id="head">
  <title><?= strip_tags($mainTitle) ?></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Wofh-Tools.ru — Сайт пользовательских дополнений для игры Пути Истории, браузерной коллективной стратегии в реальном времени.">

  <link href="/static/css/main.css?<?= md5_file(FS::path('/public_html/static/css/main.css')) ?>" rel="stylesheet">
  <link rel="stylesheet" href="/system/css/fontello.css">
  <link rel="stylesheet" href="/system/css/animation.css">

  <script src="/system/js/jquery-2.1.0.min.js"></script>

  <? if ($_SERVER['REQUEST_URI'] == '/' && '0104' == date('dm')) { ?>
    <style>
      body {
        -webkit-transform: scaleX(-1); transform: scaleX(-1);
      }


      .footer .footer-in,
      .page-header,
      .brand,
      .nav li a,
      .tile__in, table {
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
      }


      .footer:hover .footer-in,
      .page-header:hover,
      .brand:hover,
      .nav li:hover a,
      table:hover,
      .tile:hover .tile__in {
        -webkit-transform: scaleX(-1); transform: scaleX(-1);
      }

    </style>
  <? } ?>

</head>
<body class="<?= $bodyExtClass ?>">
<? $rootUrl = ''; ?>
<div class="navbar">
  <div class="navbar__container">
    <div class="navbar__main">
      <a class="navbar__brand brand" href="/<?= $rootUrl ?>">
        <img class="brand__img" src="/img/main/logo.png" alt="wofh-tools logo"/>
        <span class="brand__beta">beta</span>
      </a>
      <ul class="navbar__nav nav">
        <li class="nav__item">
          <a class="nav__link" href="<?= $this->router->link('scienceReports') ?>">Науковница</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="<?= $this->router->link('war_reports') ?>">Логовница</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="<?= $this->router->link('statistic') ?>">Статистика</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="<?= $this->router->link('technology') ?>">Дерево наук</a>
        </li>
      </ul>
    </div>
    <div class="navbar__side">
      <ul class="nav">
        <? if ($this->user->isAdmin()) { ?>
          <li class="nav__item">
            <a class="nav__link" href="#">Test urls</a>
            <ul class="nav__dropdown dropdown-menu">
              <li><a tabindex="-1" href="/404/">/404/ Invalid URL</a></li>
              <li><a tabindex="-1" href="/404/noController/">/404/ Invalid Controller</a></li>
              <li><a tabindex="-1" href="/404/noAction/">/404/ Invalid Action</a></li>
              <li><a tabindex="-1" href="/log.json">/log.json</a></li>
              <li><a tabindex="-1" href="/404/">/404/</a></li>
            </ul>
          </li>
        <? } ?>
        <li class="nav__item">
          <a class="nav__link" href="#">
            <div class="badge" id="selected-world" data-world="">
              <?= $currentWorld->sign ?>
            </div>
          </a>
          <ul class="nav__dropdown <?= ($this->user->isAuth() ? '' : 'on-right') ?> dropdown-menu">
            <? foreach ($worldsMenu as $worldMenuItem) { ?>
              <? $current = $worldMenuItem->id == $currentWorld->id ? ' class="active"' : '' ?>
              <li<?= $current ?>>
                <a tabindex="-1"
                    href="/select/world/<?= $worldMenuItem->lowerSign ?>/?back=<?= $this->router->getUri() ?>"><?= $worldMenuItem->sign ?>
                  &ndash; <?= $worldMenuItem->title ?></a>
              </li>
            <? } ?>
          </ul>
        </li>
        <? if ($this->user->isAuth()) { ?>
          <li class="nav__item">
            <a href="#" class="nav__link">
              <strong><?= ($this->user->login) ? $this->user->login : $this->user->email ?></strong> </a>
            <ul class="nav__dropdown on-right dropdown-menu">
              <li><a tabindex="-1" href="/profile/<?= $this->user->id ?>/">Профиль</a></li>
              <? if ($this->user->id == 1) { ?>
                <li class="divider"></li>
                <li><a tabindex="-1" href="<?= $this->router->link('quest_edit') ?>">Квесты</a></li>
                <li><a tabindex="-1" href="<?= $this->router->link('wofh') ?>">Wofh Control</a></li>
                <li><a tabindex="-1" href="/admin/" style="color:red;">Админка</a></li>
              <? } ?>
              <li class="divider"></li>
              <li><a tabindex="-1" href="/logout/">Выход</a></li>
            </ul>
          </li>
        <? } else { ?>
          <li class="nav__item">
            <a class="nav__link action-show-login" href="/login/">Вход</a>
          </li>
          <? if ($this->config->showDebug()) { ?>
            <li class="nav__item">
              <a class="nav__link" href="/registration/">Регистрация</a>
            </li>
          <? } ?>
        <? } ?>
        <? if ($this->config->showDebug() && $this->config->get('app.admin_panel')) { ?>
          <li class="divider-vertical"></li>
          <li class="nav__item">
            <a href="#"
                id="adminConsoleToggle"
                class="nav__link icon-wrench"
                onclick="adminPanelToggle();return false;"
                style="<?= ($visible = $this->is('e') || count($errorStack = $this->getErrorStack()) ? 'color:red;font-weight:bold;' : '') ?>"></a>
          </li>
          <li class="divider-vertical"></li>
        <? } ?>
      </ul>
    </div>
  </div>
</div>

<div class="wrapper" id="wrapper">
  <div class="container pb-2">
    <noscript>
      <div class="alert alert-danger">
        <i class="icon-attention"></i> В вашем браузере отключен javascript. Не все функции сайта могут работать
        корректно.
      </div>
    </noscript>
    <?= $this->breadcrumbs(); ?>
    <? if (trim($this->getPageTitle()) != '') { ?><h1 class="page-header"><?= $this->getPageTitle() ?></h1><? } ?>

    <?= \df\App::Inst()->sysMessage(); ?>

    <div class="row">
      <div class="col-xs-12 <?= ($rightColExists) ? 'col-lg-9' : '' ?>">
        <?= $this->component(); ?>
      </div>
      <? if ($rightColExists) { ?>
        <div class="col-lg-3">
          <div class="side">
            <?= $this->renderWidgets('right') ?>
          </div>
        </div>
      <? } ?>
    </div>
  </div>

  <div class="footer">
    <div class="container">
      <div class="footer-in">
        <? include __DIR__ . DIRECTORY_SEPARATOR . 'index__footer.phtml'; ?>
      </div>
    </div>
  </div>
</div>

<?
if ($this->config->get('app.admin_panel') > 0) {
  include __DIR__ . '/index__debug.phtml';
}
?>

<div id="wnd-login" class="overlay">
  <div class="form-login">
    <form action="/login/" method="post" class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-4 control-label" for="email">E-Mail:</label>
        <div class="col-sm-8">
          <input id="email" class="form-control" type="email" name="email" required value="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-4 control-label" for="passw">Пароль:</label>
        <div class="col-sm-8">
          <input id="passw" class="form-control" type="password" name="passw" required value="">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-8 col-sm-offset-4">
          <label for="remember" class="checkbox">
            <input type="checkbox" name="remember" id="remember" checked>
            Запомнить меня
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12 col-sm-3 col-sm-offset-4">
          <button type="submit" class="btn btn_success">Войти</button>
        </div>
        <div class="col-xs-12 col-sm-5 text-right">
          <a class="btn" href="/registration/">Регистрация</a>
        </div>
      </div>
    </form>
  </div>
</div>

<?
$wtData['route'] = $this->router->route->name;
?>
<? \df\helper\JSON::$PRETTY = false; ?>
<script>var wtData = <?= \df\helper\JSON::encode($wtData) ?>;</script>
<? if ($this->config->get('app.debug')) { ?>
  <script src="/js/lib/bootstrap/dropdown.js"></script>
  <script src="/js/lib/bootstrap/tab.js"></script>
  <script src="/js/lib/bootstrap/tooltip.js"></script>
  <script src="/js/lib/bootstrap/collapse.js"></script>
<? } else { ?>
  <script src="/js/bootstrap.js"></script>
<? } ?>
<script src="/js/lib/highcharts/highcharts.js"></script>
<script src="/js/lib/highcharts/dark-theme.js"></script>
<script src="/js/lib/jquery.tools/overlay/overlay.js"></script>
<script src="/js/lib/jquery.tools/dateinput/dateinput.js"></script>
<script src="/js/lib/fancybox/source/jquery.fancybox.pack.js"></script>
<link rel="stylesheet" href="/js/lib/fancybox/source/jquery.fancybox.css">
<? if ($this->config->get('app.debug')) { ?>
  <script src="/js/app/main.js"></script>
<?php
$files = glob(\df\helper\FS::path('/public_html/js/app/*.js'));
foreach ($files as $file) {
  $basename = basename($file);
  if ($basename != 'main.js') {
    echo '<script src="/js/app/' . $basename . '"></script>' . "\n";
  }
}
?>
<? } else { ?>
  <script src="/js/app.js"></script>
<? } ?>

<div class="dev-grid">
  <div class="dev-grid__container">
    <div class="dev-grid__row">
      <div class="dev-grid__col"></div>
      <div class="dev-grid__col"></div>
      <div class="dev-grid__col"></div>
      <div class="dev-grid__col"></div>
      <div class="dev-grid__col"></div>
      <div class="dev-grid__col"></div>
      <div class="dev-grid__col"></div>
      <div class="dev-grid__col"></div>
      <div class="dev-grid__col"></div>
      <div class="dev-grid__col"></div>
      <div class="dev-grid__col"></div>
      <div class="dev-grid__col"></div>
    </div>
  </div>
</div>

</body>
</html>