<?php
/**
 * @since              24.09.13 01:39
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
use df\view\Document;
use df\Pagination;

/**
 * @var Document $this
 * @var int $logsPerDay
 * @var array $worlds
 * @var array $logs
 * @var Pagination $pagination
 */
?>

<!--<div class="width-700">-->
<!--	<div class="alert alert-info" style="margin:0;">-->
<!--		<i class="icon-info"></i> Логовница временно отключена. Приносим извинения за предоставленные неудобства.-->
<!--	</div>-->
<!--</div>-->

<div class="width-700">
    <h3>Адрес нашей логовницы</h3>

    <div class="form-group">
        <input id="link" class="input-lg form-control" type="text"
               onfocus="setTimeout(function(){document.getElementById('link').select()},100);"
               value="<?= $_SERVER['HTTP_HOST'] ?>/log" readonly style="cursor:text;font-family:monospace">
    </div>

    <? if ($this->user->isAdmin()) { ?>
        <div class="admin-area">
            <div class="alert alert-info" style="margin:0;">
                <i class="icon-ok"></i> За последние 24 часа было добавлено <?= $logsPerDay ?> логов
            </div>
        </div>
    <? } ?>

    <h3>Инструкции</h3>

    <p>Для использования логовницы зайдите в игре на страницу настроек, в разделе "Экспорт данных" укажите адрес нашей
        логовницы и сохраните настройки.</p>

    <p><img class="img-thumbnail" src="/images/data-export.png" alt=""></p>
</div>

<? if ($this->user->isAdmin()) { ?>
    <div id="log-list" class="admin-area">
        <div class="pull-right"><?= $pagination ?></div>

        <div><a class="btn" href="/log/transfer/">Transfer</a> Сначала обновить ВСЮ статистику!!!</div>
        <h3>Последние логи (DEBUG)</h3>

        <div style="float: left;">Фильтр:</div>
        <div class="btn-toolbar">
            <div class="btn-group">
                <a class="btn" href="/log/">All</a>
                <? foreach ($worlds as $world) { ?>
                    <a class="btn<?= $world['active'] ?>"
                       href="/log/?w=<?= $world['worldId'] ?>"><?= $world['worldSign'] ?></a>
                <? } ?>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-condensed table-hover">
                <? $i = $pagination->getStartNumeation();
                foreach ($logs as $log) {
                    //if ($i == 1) pre($log, 0);
                    ?>
                    <tr>
                        <td class="text-right"><span><?= $i++ ?></span></td>
                        <td><code><?= $log['time1'] ?></code></td>
                        <? /*<td><tt><?= $log['time2'] ?></tt></td>*/ ?>
                        <td class="text-right">
                            <a href="<?= $log['url'] ?>">
                                <?= $log['owner'] == $log['id1'] ? '[' . $log['title1'] . ']' : $log['title1'] ?>
                            </a>
                        </td>
                        <td class="text-center"><?= $log['spy'] ? '<i style="color:#C98B41">разведал</i>' : '<i style="color:#bf4224">напал на</i>' ?></td>
                        <td>
                            <a href="<?= $log['url'] ?>">
                                <?= $log['owner'] == $log['id2'] ? '[' . $log['title2'] . ']' : $log['title2'] ?>
                            </a>
                        </td>
                        <td>
                            <small class="muted"><?= $log['worldTitle'] ?></small>
                        </td>
                        <td><i class="icon-<?= $log['verified'] ? 'ok text-success' : 'help text-danger' ?>"></i></td>
                        <td><a href="/log/delete/<?= $log['id'] ?>/"><i class="icon-cancel text-danger"></i></a></td>
                    </tr>
                <? } ?>
            </table>
        </div>
    </div>
<? } /**/ ?>
