//---------------------------------------------------------
@import "constants";
@import "mixins";

//---------------------------------------------------------

/* jGrowl notifications */

div.jGrowl {
  z-index: 9999;
  color: #ffffff;
  font-size: 12px;
}

// Normal Style Positions
div.jGrowl {
  position: absolute;
}

body > div.jGrowl {
  position: fixed;
}

div.jGrowl.top-left {
  left: 0px;
  top: 0px;
}

div.jGrowl.top-right {
  right: 0px;
  top: 0px;
}

div.jGrowl.bottom-left {
  left: 0px;
  bottom: 0px;
}

div.jGrowl.bottom-right {
  right: 0px;
  bottom: 0px;
}

div.jGrowl.center {
  top: 0px;
  width: 50%;
  left: 25%;
}

// Cross Browser Styling
div.center div.jGrowl-notification,
div.center div.jGrowl-closer {
  margin-left: auto;
  margin-right: auto;
}

div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
  background-color: #000000;
  opacity: .95;
  zoom: 1;
  width: 235px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  text-align: left;
  display: none;
  border-radius: 7px 7px 0 0;
}

div.jGrowl div.jGrowl-notification {
  min-height: 40px;
  &._error {
    color: #b94a48;
    background: #f2dede;
    border: 1px solid darken(#f2dede, 3%);
    div.jGrowl-header {
      background: darken(#f2dede, 15%);
    }
  }
  &._info {
    color: #3a87ad;
    background: #d9edf7;
    border: 1px solid darken(#d9edf7, 3%);
    div.jGrowl-header {
      background: darken(#d9edf7, 15%);
    }
  }
}

div.jGrowl div.jGrowl-notification,
div.jGrowl div.jGrowl-closer {
  margin: 10px;
}

div.jGrowl div.jGrowl-notification div.jGrowl-header {
  color: white;
  font-size: 0.85em;
  font-weight: bold;
  margin: -11px -11px 12px;
  padding: 4px 8px;
  @include border-radius(7px 7px 0 0);
}

div.jGrowl div.jGrowl-notification div.jGrowl-close {
  z-index: 99;
  float: right;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  margin-top: -8px;
}

div.jGrowl div.jGrowl-closer {
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  font-size: .9em;
  font-weight: bold;
  text-align: center;
}

// Hide jGrowl when printing
@media print {
  div.jGrowl {
    display: none;
  }
}
