
.learn {
  background: rgba($state-success-text, 0.15);
  color: $state-success-text;
}

// Частично изученная наука
.sc-started {
  //	$sc-started-bg: #FCF8E3;
  //	background:#FCF8E3;
  //	color:#C09853;
  //
  //	$sc-started-bg: #f8fc90;
  //	background: $sc-started-bg;
  //	color:#C09853;
  //	@include gradient-vertical($sc-started-bg, darken($sc-started-bg, 3%));
  $state-warning-text: adjust_hue($state-warning-text, 20%);
  background: rgba($state-warning-text, 0.15);
  color: $state-warning-text;
}

// Изучаемая наука
.sc-current {
  //	$sc-started-bg: #D9EDF7;
  //
  //	background: $sc-started-bg;
  //	color:#3A87AD;
  //	@include gradient-vertical($sc-started-bg, darken($sc-started-bg, 3%));
  background: rgba($brand-primary, 0.15);
  color: $brand-primary;
}

// Неизученная наука
.sc-none {
  $sc-started-bg: #f2dede;
  background: #f2dede;
  color: #af9d9d;

  //$sc-started-bg: #f2ad9d;
  background: $sc-started-bg;
  color: #97685a;
  @include gradient-vertical($sc-started-bg, darken($sc-started-bg, 3%));
}

.tbl-science-report {
  .checkbox { margin: 0; }
  tbody {
    td + td {
      text-align: right;
    }
    td.warning {
      background: #fcf8e3;
    }
    td.error {
      background: #f2dede;
    }
    td.success {
      background: #dff0d8;
    }
  }
}

.table-science-compare {
  td {
    width: 40%;
    & + td {
      width: 30%;
      text-align: right;
    }
  }
}

.sci-compare-table-compact {
  .learn-both {
    display: none;
  }
}

.sci-log-table-learn-hide {
  .learn { display: none; }
}

.sci-table-form td {
  text-align: right;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////

.table-destroyed {
  td {
    padding-right: 20px;
    border: none;
    & + td {
      text-align: right;
    }
  }
}

.aggressor-hidden {display: none; color: $link_color; }

.opt-hide-aggressor {
  .aggressor {display: none;}
  .aggressor-hidden {display: inline;}
}

.opt-hide-aggressor-strength {
  .aggressor-army {
    .strength {display: none;}
    .b-units {width: auto;}
  }
}

.aggressor-army-hidden {display: none;margin: 0 auto;}

.opt-hide-aggressor-army {
  .aggressor-army {
    .b-units {display: none;}
    .aggressor-army-hidden {display: block;}
  }
}

.defending-hidden {display: none; color: $link_color; }

.opt-hide-defending {
  .defending {display: none;}
  .defending-hidden {display: inline;}
}

.opt-hide-defending-strength {
  .defending-army {
    .strength {display: none;}
    .b-units {width: auto;}
  }
}

.defending-army-hidden {display: none;margin: 0 auto;}

.opt-hide-defending-army {
  .defending-army {
    .b-units {display: none;}
    .defending-army-hidden {display: block;}
  }
}

#private-army-log {
  max-width: 1200px;
  margin: 0 auto $line-height-computed;
}

.ll {
  margin-bottom: 20px;
  > div {
    margin-bottom: 5px;
    border-radius: 3px;
    background: $table-bg;
    div {
      padding: 3px 10px;
      border: 1px solid $table-border-color;
      border-radius: 3px;
    }
  }
}

.unit {
  position: relative;
  &:hover {
    .unit-tooltip {
      display: block;
    }
  }
}

.unit-tooltip {
  display: none;
  position: absolute;
  left: 0;
  top: -27px - 3px;
  background: #000000;
  font-weight: normal;
  padding: 1px 5px;
}