//---------------------------------------------------------
@import "constants";
@import "mixins";

//---------------------------------------------------------

.map_window {
  width: 100%;
  height: $cell * $segment;
  overflow: hidden;
  position: relative;
  background: #000000;
  border: 2px groove #000000;
  color: #ffffff;
  @include border-box();
  &._dragging {
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
  }
}

.map-opt-full-screen {
  .map_window {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border: none;
  }
}

.map_container {
  position: absolute;
  left: 0;
  top: 0;
}

.segment {
  position: absolute;
  width: $segment * $cell;
  height: $segment * $cell;
  background: #000000;
  color: #ffffff;
}

.map-toolbar-container {
  position: absolute;
  right: 0;
  top: 0;
  #map-toolbar {
    margin-bottom: 0;
    @include border-box();
    background: rgba(35, 35, 35, 0.46);
    border-radius: 0 0 0 5px;
    padding: 2px;
    border: none;
    .map-toolbar-content {
      padding: 10px;
      border: 1px solid #5a5a5a;
      border-radius: 0 0 0 3px;
    }
  }
  legend {
    font-size: 12px;
    color: #ffffff;
    line-height: 16px;
    margin-bottom: 3px;
    border: none;
  }
}

//.map-scale {
//	position: absolute;
//	left: 0;
//	bottom: 0;
//	background: rgba(35, 35, 35, 0.46);
//	border-radius: 0 5px 0 0;
//	padding: 2px 2px 0 0;
//	font-size: 0;
//	label {
//		font-size: 8px;
//		display: inline-block;
//		text-align: center;
//		padding: 0 5px;
//		input {
//			margin: 0;
//		}
//	}
//	.frame {
//		padding: 5px;
//		border: 1px solid #5A5A5A;
//		border-width: 1px 1px 0 0;
//		border-radius: 0 3px 0 0;
//	}
//}
//
//#cursor {
//	width: $cell;
//	height: $cell;
//	position: absolute;
//	border: 1px solid #fff;
//	@include border-box();
//	@include box-shadow(0 0 5px 3px white);
//}

//---------------------------------------------------------

//.map-opt-scale-50 {
//	.segment {
//		width: $segment * $cell * 0.5;
//		height: $segment * $cell * 0.5;
//	}
//	#cursor {
//		width: $cell * 0.5;
//		height: $cell * 0.5;
//	}
//}
//.map-opt-scale-25 {
//	.segment {
//		width: $segment * $cell * 0.25;
//		height: $segment * $cell * 0.25;
//	}
//	#cursor {
//		width: $cell * 0.25;
//		height: $cell * 0.25;
//	}
//}

//.map-show-grid { }
//.map-show-sector-grid {
//	.segment {
//		//outline: 1px solid rgba(255, 175, 109, 0.24);
//	}
//}

//.tile_edit {
//	position: fixed;
//	left: 50%;
//	top: 100px;
//	width: 400px;
//	margin-left: -200px;
//	background: white;
//	border: 5px solid black;
//	padding: 20px;
//	display: none;
//	z-index: 101;
//}

//.side #map-toolbar fieldset.map-toolbar-content{
//	margin: 10px -11px;
//	border-bottom: 0;
//	border: 1px solid #8D8D8D;
//	border-bottom: 0;
//	padding: 0 10px;
//}
//legend {
//	padding: 0 3px;
//	color: #AE8C74;
//	font-size: 12px;
//}