//
// @since           16.11.13 23:20
// @package
// @author			DelphinPRO delphinpro@yandex.ru
// @copyright		Copyright (C) 2013 DelphinPRO. All rights reserved.
// @license			Dual licensed under the MIT and GPL licenses
//

$tree-canvas-bg: rgb(54, 56, 63) !default;
$tree-canvas-bg: #ffffff !default;

#tree-container {
  margin: 0 0 20px;
  border: 1px solid #d4d4d4;
  border: 1px solid darken($tree-canvas-bg, 10%);
  position: relative;
  background: $tree-canvas-bg;
}

.sc-tree-canvas {
  background: $tree-canvas-bg;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

$line: 40px;
$lineColor: #e3e3e3;
$r: rgba(0, 128, 0, 0.45);

$learnColor: rgb(173, 172, 168);
$availColor: brown;
$needColor: rgb(18, 104, 168);
$takeColor: #008000;
$selectedColor: rgb(239, 238, 54);

.sc-tree-legend {
  i {
    display: inline-block;
    vertical-align: middle;
    width: 1.2em;
    height: 1.2em;
    margin-right: 5px;
  }
}

.sc-tree-legend-learn i { background: $learnColor; }

.sc-tree-legend-avail i { background: $availColor; }

.sc-tree-legend-need i { background: $needColor; }

.sc-tree-legend-take i { background: $takeColor; }

.sc-tree-legend-sel i { background: $selectedColor; }

.sc-tree-find {
  //	background: #eee;
  font-size: 12px;
  line-height: normal;
  text-align: center;
  padding: 2px 0;
}

.sc-tree-calc {
  position: relative;
  top: 3px;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  z-index: 1;
  text-align: center;
}

.sc-tree-up-button,
.sc-tree-fs-button {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 2;
  i {
    font-size: 22px;
  }
}

.sc-tree-fs-button {
  left: auto;
  right: 5px;
}

.light {
  border: 1px solid red !important;
  @include box-shadow(0 0 12px -3px #ff0000);
}

.unit.light {
  border: 3px solid red !important;
  color: red !important;
  position: relative;
  top: -3px;
}

.wonder.light {
  border: 3px solid red !important;
}

.build.light {
  border-radius: 3px;
  padding: 1px 2px;
  background: #ffffff;
  color: #000000 !important;
  text-shadow: none !important;
}

.wonder {
  display: inline-block;
  width: 40px;
  height: 25px;
  background: #83540f url(../img/wonders.png) no-repeat;
  border: 1px solid #000000;
  vertical-align: top;
  //text-indent: -10000px;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 2px 0 0;
  text-align: right;
  color: #ffffff;
  //text-shadow: -1px -1px 1px #000, 1px 1px 1px #fff;
  text-shadow: -1px -1px 1px #000000;
  @include border-box();
}

.wonder-11 {background-position: -120px 0;}

.wonder-43 {background-position: -40px 0;}

.wonder-56 {background-position: -200px 0;}

.wonder-58 {background-position: -440px 0;}

.wonder-60 {background-position: -280px 0;}

.wonder-73 {background-position: -320px 0;}

.wonder-75 {background-position: -360px 0;}

.wonder-76 {background-position: -160px 0;}

.wonder-77 {background-position: -0px 0;}

.wonder-83 {background-position: -80px 0;}

.wonder-91 {background-position: -480px 0;}

.wonder-92 {background-position: -400px 0;}

.wonder-94 {background-position: -520px 0;}

.wonder-95 {background-position: -560px 0;}

.wonder-97 {background-position: -600px 0;}

.wonder-98 {background-position: -0px 0;}

.wonder-99 {background-position: -680px 0;}

.wonder-100 {background-position: -720px 0;}

.wonder-108 {background-position: -0px 0;}

.wonder-112 {background-position: -920px 0;}

//.tree-vertical {
//	.sci-level {
//		display: block;
//		text-align: center;
//		width: auto;
//	}
//	.sci-item {
//		display: inline-block;
//		vertical-align: top;
//		text-align: left;
//		width: 190px;
//	}
//}
