.confirm_tranche {
  cursor: pointer;
  padding: 3px;
  img {
    display: block;
    width: 28px;
    height: 26px;
  }
}

$tranche1: #ebfff0;
$tranche2: #e7f5ff;
$tranche3: #fdffea;

$tranche1: #d9f7dd;
$tranche2: #d0f0ff;
$tranche3: #fff5d3;

$tranche1: rgba(217, 247, 221, 0.69);
$tranche2: rgba(208, 240, 255, 0.70);
$tranche3: rgba(255, 245, 211, 0.66);
$tranche4: rgba(255, 214, 222, 0.64);

.legend {
  font-size: 12px;
  font-weight: normal;
  padding-top: 8px;
}

.legend-1, .legend-2, .legend-3, .legend-4 {
  margin-right: 15px;
  white-space: nowrap;
  line-height: normal;
  &:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid #dddddd;
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 3px;
    margin-left: 15px;
  }
}

.legend-1:before { background: $tranche1; }

.legend-2:before { background: $tranche2; }

.legend-3:before { background: $tranche3; }

.legend-4:before { background: $tranche4; }

.table-tranche {
  tbody + tbody { border-top: 1px solid #dddddd; }
  .t1 { background: $tranche1; }
  .t2 { background: $tranche2; }
  .t3 { background: $tranche3; }
  .t4 { background: $tranche4; }
  .open {
    td { background: #f5f5f5; }
  }
  .tranche-closed {
    opacity: 0.3;
    text-decoration: line-through;
  }
  .tranche_details {
    background: #f5f5f5;
    th { background: darken(#f5f5f5, 5%); }
    input[type="text"] {
      margin-bottom: 3px;
      width: 120px;
    }
    .notes {
      width: 100%;
      height: 150px;
      @include border-box();
      max-width: 100%;
    }
    .town_id {
      @include border-box();
      max-width: 100%;
    }
  }
  code { color: #999999; }
}

.list_of_resource {
  input { margin: 0; }
  label { margin-bottom: 3px; }
  .input-block-level { display: block; }
}

.order_notes { height: 100px; }

.red code { border: 1px solid red; }

.filter {
  .iRes {
    &:before {
      display: block;
      margin-right: 0;
      top: 0;
    }
  }
  .res-filter {
    .btn-group {
      margin-bottom: 10px;
      .btn {
        padding: 8px 12px;
      }
    }
  }
}

