<?php
/**
 * @since           15.09.14 17:23
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright        Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license         Licensed under the MIT license
 *
 * @var df\View $this
 */
?>

<ul class="list-group">
    <li class="list-group-item">
        <time class="label label-info"></time>
    </li>
    <li class="list-group-item">
        <time class="label label-info">28.05.2015</time>
        Некоторая динамическая информация на плитках главной страницы.
    </li>
    <li class="list-group-item">
        <time class="label label-info">16.02.2015</time>
        Частично восстановлена логовница для старых миров версии 1.3.x
    </li>
    <li class="list-group-item">
        <time class="label label-info">14.02.2015</time>
        В рейтингах ПИ 1.4.1 исправлена ошибка. Вся статистика по миру RU23 перезагружена.
    </li>
    <li class="list-group-item">
        <time class="label label-info">27.11.2014</time>
        В тестовом режиме запущена науковница версии ПИ 1.4.1
    </li>
    <li class="list-group-item">
        <time class="label label-info">24.11.2014</time>
        Калькулятор стоимости строений
    </li>
    <li class="list-group-item">
        <time class="label label-info">23.11.2014</time>
        Wofh-Tools 2.0 Reload. Новая версия сайта.
    </li>
    <li class="list-group-item">
        <time class="label label-info">06.08.2014</time>
        API для получения некоторых игровых данных. Доступна информация о стране и о игроке. Работает в 19, 20, 21
        мирах. (Можно получить данные 18 мира, но они уже не обновляются).
    </li>
    <li class="list-group-item">
        <time class="label label-info">13.01.2014</time>
        Запущен сбор статистики английских и немецких серверов. Таблица очков дипломатии.
    </li>
    <li class="list-group-item">
        <time class="label label-info">12.01.2014</time>
        Добавлены пользовательские закладки в сервисе "Статистика игровых миров".
    </li>
    <li class="list-group-item">
        <time class="label label-info">10.01.2014</time>
        Открыт сервис "Статистика игровых миров" (для русскоязычных серверов).
    </li>
    <li class="list-group-item">
        <time class="label label-info">14.12.2013</time>
        В сервисе "Дерево технологий" добавлен режим полноэкранного просмотра.
    </li>
    <li class="list-group-item">
        <time class="label label-info">09.12.2013</time>
        Отключен севис "Карта"
    </li>
    <li class="list-group-item">
        <time class="label label-info">04.12.2013</time>
        Доработка логов. Начало сбора статистики. Отключен сервис заказов.
    </li>
    <li class="list-group-item">
        <time class="label label-info">24.11.2013</time>
        Разметка сайта переписана с использованием Twitter Bootstrap (SASS version). Таблица коррупции, карта сайта.
    </li>
    <li class="list-group-item">
        <time class="label label-info">12.11.2013</time>
        Доработка логовницы, добавлены опции приватности. Корректировка дизайна.
    </li>
    <li class="list-group-item">
        <time class="label label-info">07.11.2013</time>
        Запуск проекта.
    </li>
</ul>
