<?php
/**
 * @since              24.11.13 02:55
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?>
<div style="max-width: 700px; margin: auto;">
    <div class="tiles-row">
        <div class="tile">
            <div class="tile-in">
                <!--				<i class="tile-icon icon-mail"></i>-->

                <div class="tile-icon-content">
                    <h1>Нашли ошибку?</h1>
                    <p>Найти меня можно на <a href="https://wofh.ru/forum" target="_blank">официальном форуме</a> игры
                        "Пути Истории"<br> под ником <a href="https://wofh.ru/forum#/users/195030"
                                                        target="_blank">dpr</a>.</p>

                    <p>Мною создано несколько тем на форуме с обсуждением wofh-tools.ru:</p>

                    <ul>
                        <li><a href="https://wofh.ru/forum#/thread/6547" target="_blank">Логовница & Науковница</a></li>
                        <li><a href="https://wofh.ru/forum#/thread/6878" target="_blank">Статистика игровых миров</a>
                        </li>
                        <li><a href="https://wofh.ru/forum#/thread/7944" target="_blank">Дерево наук 1.4</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div style="margin: auto;width: 450px;">
        <iframe frameborder="0" allowtransparency="true" scrolling="no"
                src="https://money.yandex.ru/embed/shop.xml?account=41001343050496&quickpay=shop&payment-type-choice=on&mobile-payment-type-choice=on&writer=seller&targets=%D0%9D%D0%B0+%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5+wofh-tools.ru&targets-hint=&default-sum=100&button-text=04&comment=on&hint=%D0%92%D0%B0%D1%88%D0%B8+%D0%BF%D0%BE%D0%B6%D0%B5%D0%BB%D0%B0%D0%BD%D0%B8%D1%8F+%D0%BF%D0%BE+%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D1%8E+%D1%81%D0%B0%D0%B9%D1%82%D0%B0&successURL=http%3A%2F%2Fwofh-tools.ru"
                width="450" height="268"></iframe>
    </div>
</div>
