<?php
/**
 * @since              01.07.13 19:47
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */

use df\extensions\models\World;
use df\view\Document;

/**
 * @var World[] $worlds
 * @var Document $this
 */
?>
  <div class="grid grid-home -eight-march">
    <h1 class="cell cell_title_first page-header">WofhTools</h1>
    <div class="cell cell_eight-march tile">
      <div class="tile__in tile__in_image" style="background-image: url(/images/8marta.jpg);">
        <img src="/images/8marta.jpg" alt="" style="opacity: 0">
      </div>
    </div>
    <div class="cell cell_main tile">
      <div class="tile__in">
        <div>
          <p><img src="/img/main/logo2.png" alt=""/></p>
          <p>Коллекция пользовательских дополнений для онлайн игры "
            <a href="https://wofh.ru" target="_blank">Пути истории</a>".
          </p>
        </div>
      </div>
    </div>
    <div class="cell cell_tile1 tile tile_red">
      <a class="tile__in" href="<?= $this->router->link('war_reports') ?>">
        <?= svgIcon('swords', 'tile__icon') ?>
        <span class="tile__caption">Логовница</span>
        <? if ($warLogsPerDay) { ?>
          <span class="tile__info">
            За 24 часа: <?= $warLogsPerDay ?> лог<?= pluralForm($warLogsPerDay, array('', 'а', 'ов')) ?>
            <br> Сегодня: <?= $warLogsToday ?> лог<?= pluralForm($warLogsToday, array('', 'а', 'ов')) ?>
          </span>
        <? } ?>
      </a>
    </div>
    <div class="cell cell_tile2 tile tile_green">
      <a class="tile__in" href="<?= $this->router->link('scienceReports') ?>">
        <?= svgIcon('flask', 'tile__icon') ?>
        <span class="tile__caption">Науковница</span>
        <? if ($sciLogsPerDay) { ?>
          <span class="tile__info">
            За 24 часа: <?= $sciLogsPerDay ?> лог<?= pluralForm($sciLogsPerDay, array('', 'а', 'ов')) ?>
            <br> Сегодня: <?= $sciLogsToday ?> лог<?= pluralForm($sciLogsToday, array('', 'а', 'ов')) ?>
          </span>
        <? } ?>
      </a>
    </div>
    <div class="cell cell_tile3 tile tile_blue">
      <a class="tile__in" href="<?= $this->router->link('statistic') ?>">
        <?= svgIcon('line-chart', 'tile__icon') ?>
        <span class="tile__caption">Статистика игровых миров</span>
      </a>
    </div>
    <div class="cell cell_tile4 tile tile_yellow">
      <a class="tile__in" href="<?= $this->router->link('technology') ?>">
        <?= svgIcon('tree', 'tile__icon') ?>
        <span class="tile__caption">Дерево наук</span>
      </a>
    </div>
    <div class="cell cell_tile5 tile tile_purple">
      <a class="tile__in" href="<?= $this->router->link('quest') ?>">
        <?= svgIcon('quest', 'tile__icon') ?>
        <span class="tile__caption">Квесты</span>
      </a>
    </div>
    <div class="cell cell_tile6 tile tile_green">
      <a class="tile__in" href="<?= $this->router->link('scienceDistribution') ?>">
        <?= svgIcon('table-science', 'tile__icon') ?>
        <span class="tile__caption">Научное распределение</span>
      </a>
    </div>
    <div class="cell cell_tile7 tile tile_deep-purple">
      <a class="tile__in" href="<?= $this->router->link('diplomacyPoints') ?>">
        <?= svgIcon('table-chart', 'tile__icon') ?>
        <span class="tile__caption">Очки дипломатии</span>
      </a>
    </div>
    <div class="cell cell_tile8 tile tile_red">
      <a class="tile__in" href="<?= $this->router->link('corruption') ?>">
        <?= svgIcon('table-chart', 'tile__icon') ?>
        <span class="tile__caption">Таблица коррупции</span>
      </a>
    </div>
    <div class="cell cell_tile9 tile tile_blue">
      <a class="tile__in" href="<?= $this->router->link('costOfBuilds') ?>">
        <?= svgIcon('building', 'tile__icon') ?>
        <span class="tile__caption">Стоимость строений</span>
      </a>
    </div>
    <div class="cell cell_tile10 tile tile_orange">
      <a class="tile__in" href="<?= $this->router->link('consumptionOfResources') ?>">
        <?= svgIcon('table-chart', 'tile__icon') ?>
        <span class="tile__caption">Потребление ресурсов</span>
      </a>
    </div>

    <h2 class="cell cell_title_second page-header">Новости проекта</h2>

    <div class="cell cell_news_item1 tile">
      <div class="tile__in">
        <article class="news">
          <time class="news__date" datetime="2018-03-16">16.03.2018</time>
          <h2 class="news__title">Корректировка таблицы ОД</h2>
          <div class="news__cover"><?= svgIcon('table-chart', 'news__img') ?></div>
          <div class="news__content">
              Таблица <a href="http://wofh-tools.ru/diplomacy-points/">очков дипломатии</a> скорректирована.
              Прежние коэффициенты остались доступны.
          </div>
        </article>
      </div>
    </div>
    <div class="cell cell_news_item2 tile">
      <div class="tile__in">
        <article class="news">
          <time class="news__date" datetime="2018-03-15">15.03.2018</time>
          <h2 class="news__title">Дерево квестов запоминает пройденные</h2>
          <div class="news__cover"><?= svgIcon('quest', 'news__img') ?></div>
          <div class="news__content">
            Реализовано простое запоминание пройденных квестов.
          </div>
        </article>
      </div>
    </div>
    <div class="cell cell_news_item3 tile">
      <div class="tile__in">
        <article class="news">
          <time class="news__date" datetime="2016-04-23">23.04.2016</time>
          <h2 class="news__title">Дерево квестов</h2>
          <div class="news__cover"><?= svgIcon('quest', 'news__img') ?></div>
          <div class="news__content">
            Теперь у нас есть полное дерево квестов версии ПИ 1.4. Предлагайте
            <a href="https://ruforum.waysofhistory.com/#/thread/10736" target="_blank">на форуме</a> игры идеи по
            его улучшению ;) Полная информация о квестах собрана и любезно предоставлена игроком и
            участником форума под ником Faifer.
          </div>
        </article>
      </div>
    </div>
    <div class="cell cell_news_item4 tile">
      <div class="tile__in">
        <article class="news">
          <h4 class="news__title">Сравнение статистики произвольных игроков</h4>
          <time class="news__date" datetime="2016-03-02">02.03.2016</time>
          <div class="news__cover"><?= svgIcon('line-chart', 'news__img') ?></div>
          <div class="news__content">
            Теперь в статистике вы можете выбрать любых игроков для сравнения их статистики. Функция
            доступна только в разделе "Рейтинг игроков" (для городов и стран сделаем позже).
          </div>
        </article>
      </div>
    </div>
    <? /*
    <div class="cell cell_news_item4 tile">
      <div class="tile__in">
        <article class="news">
          <h4 class="news__title">Расчет стоимости тренировки юнитов</h4>
          <time class="news__date" datetime="2015-12-03">03.12.2015</time>
          <div class="news__cover"><?= svgIcon('coin', 'news__img') ?></div>
          <div class="news__content">
            В разделе "<a href="/calc/builds/cost/">Стоимость строений</a>" для военных домиков
            добавлен калькулятор расчета стоимости и времени тренировки юнитов.
          </div>
        </article>
      </div>
    </div>
    <div class="cell cell_news_item4 tile">
      <div class="tile__in">
        <article class="news">
          <h4 class="news__title">Логовница версии ПИ 1.3.x</h4>
          <time class="news__date" datetime="2015-02-16">16.02.2015</time>
          <div class="news__cover"><?= svgIcon('swords', 'news__img') ?></div>
          <div class="news__content">
            Частично восстановлена логовница для старых миров версии 1.3.x
          </div>
        </article>
      </div>
    </div>
                <div class="tile tile-lg-3x1 tile-xl-4x1">
                    <div class="tile-in">
                        <div class="media">
                            <div class="pull-left">
                                <img class="media-object img-thumbnail" src="/images/chart2.png" alt="Статистика">
                            </div>
                            <div class="media-body">
                                <div class="badge pull-right" style="font-family:Consolas, monospace;">
                                    14.02.2015
                                </div>
                                <h4 class="media-heading" style="margin-top:-3px;">Исправление ошибки в рейтингах ПИ
                                    1.4.1</h4>
                                Вся статистика по миру RU23 перезагружена. В 23 мире отображается только рейтинг атаки.
                                Рейтинг защиты будет отображаться в статистике последующих миров.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tile tile-lg-3x2 tile-xl-4x2">
                    <div class="tile-in">
                        <h3><?= $poll['title'] ?></h3>

                        <p><?= $poll['description'] ?></p>

                        <? if (isset( $pollResult )) { ?>
                            <? foreach ($poll['answers'] as $i => $answer) { ?>
                            <div class="form-group">
                                <?= $answer['title'] ?>
                                <? $percent = isset($pollResult['votes'][$i]) ? ( ($pollResult['votes'][$i]*100) / $pollResult['max']) : 0; ?>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width:<?=$percent?>%;">
                                        <?= isset($pollResult['votes'][$i]) ? $pollResult['votes'][$i] : 0 ?>
                                    </div>
                                </div>
                            </div>
                        <? } ?>
                        <? } else { ?>

                            <div id="poll">
                                <form action="/poll/" method="post" id="form-poll">
                                    <input name="poll_id" value="<?= $poll['id'] ?>" type="hidden"/>
                                    <? foreach ($poll['answers'] as $answer) { ?>
                                        <div class="form-group">
                                            <input type="radio" name="poll_vote" value="<?= $answer['id'] ?>" id="poll<?= $answer['id'] ?>"/>
                                            <label for="poll<?= $answer['id'] ?>"><?= $answer['title'] ?></label>
                                        </div>
                                    <? } ?>
                                    <div class="form-group">
                                        <button id="send-poll" class="btn btn-default" type="submit">Проголосовать
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <script>
                                $(function () {
                                    var tmpl = '<div class="form-group">' +
                                        '%title%' +
                                        '<div class="progress">' +
                                        '<div class="progress-bar" role="progressbar" style="width: ' +
                                        '%percent%' +
                                        '%;">' +
                                        '%votes%' +
                                        '</div>' +
                                        '</div></div>';
                                    $('#send-poll').on('click', function () {
                                        $(this).attr('disabled', true);
                                        $.ajax({
                                            url     : '/poll/',
                                            type    : 'post',
                                            data    : $('#form-poll').serialize(),
                                            dataType: 'json',
                                            success : function (data) {
                                                console.log(data);
                                                var max = data['max'];
                                                var answers = data['answers'];
                                                var i, html = '';
                                                for (i in answers) {
                                                    if (!answers.hasOwnProperty(i)) continue;
                                                    var title = answers[i];
                                                    var votes = data['votes'][i] ? data['votes'][i] : 0;
                                                    console.log(votes);
                                                    html += tmpl
                                                        .replace('%title%', title)
                                                        .replace('%percent%', (votes * 100) / max)
                                                        .replace('%votes%', votes)
                                                }
                                                $('#poll').html(html);
                                            },
                                            complete : function() {
                                                $(this).attr('disabled', false);
                                            }
                                        });
                                        return false;
                                    });
                                });
                            </script>
                        <? } ?>
                    </div>
                </div>
                <? //pre($poll, 0); */ ?>
    <? /*
				<div class="tile tile-lg-3x1 tile-xl-4x1">
					<div class="tile-in">
						<div class="media">
							<div class="pull-left">
								<img class="media-object img-thumbnail" src="/images/cost-buildings.png" alt="Калькулятор строений">
							</div>
							<div class="media-body">
								<div class="badge pull-right" style="font-family:Consolas, monospace;">
									24.11.2014
								</div>
								<h4 class="media-heading" style="margin-top:-3px;">Калькулятор стоимости строений</h4>
								Добавлен калькулятор стоимости строений. Мышкой выделяются планируемые для строительства уровни и калькулятор подсчитывает их стоимость и время строительства.
							</div>
						</div>
					</div>
				</div>
                */ ?>
    <? /*
				<div class="tile tile-lg-3x1 tile-xl-4x1">
					<div class="tile-in">
						<div class="media">
							<div class="pull-left">
								<img class="media-object img-thumbnail" src="/images/reload.png" alt="График">
							</div>
							<div class="media-body">
								<div class="badge pull-right" style="font-family:Consolas, monospace;">
									23.11.2014
								</div>
								<h4 class="media-heading" style="margin-top:-3px;">Wofh-Tools 2.0 Reload</h4>
								Перезагрузка. Встречайте новую версию сайта Wofh Tools. В первую очередь обновился
								дизайн, теперь вам доступны две темы оформления, темная и светлая, на выбор.
								Переработаны все разделы сайта, и прежде всего - статистика. <span class="hidden-lg">Доступны новые графики и
								таблицы, история рейтингов, подключены английские и немецкие миры.</span>
							</div>
						</div>
					</div>
				</div>
				<div class="tile tile-lg-3x1 tile-xl-4x1 hidden-xs hidden-sm hidden-md">
					<div class="tile-in">
						<div class="media">
							<div class="pull-left">
								<img class="media-object img-thumbnail" src="/images/chart2.png" alt="График">
							</div>
							<div class="media-body">
								<div class="badge pull-right" style="font-family:Consolas, monospace;">
									08.01.2014
								</div>
								<h4 class="media-heading" style="margin-top:-3px;">Статистика игровых миров</h4>
								Сколько городов поставил или потерял соперник? Кто медленнее всех растет в вашей стране?
								Какова динамика роста топ-стран? Ответы на эти и многие другие вопросы вы можете найти,
								посмотрев статистические данные по миру.
							</div>
						</div>
					</div>
				</div>
				*/ ?>
  </div><!-- // .grid.grid-home -->

  <h2 class="page-header mt-2">Действующие миры Путей Истории</h2>
  <table class="table table-condensed" id="table-working-worlds">
    <thead>
      <tr>
        <th>Мир</th>
        <th colspan="2">Регистрация</th>
        <th class="hidden-xs">Открытие</th>
        <th colspan="2" class="text-center">Длительность</th>
        <th>Статистика</th>
      </tr>
    </thead>
    <? foreach ($worlds as $world) { ?>
      <? if ($world->working) { ?>
        <tr>
          <td class="sm nw">
            <img class="server-country" src="/img/countries/<?= $world->country ?>.png"
                alt="<?= $world->country ?>"/>
            <?= $world->sign ?>
          </td>
          <td class="sm <?= $world->canReg ? 'text-success' : 'text-danger' ?>">
            <?= svgIcon($world->canReg ? 'check' : 'cross', 'icon-reg-open') ?>
          </td>
          <td>
            <a href="<?= $world->domain ?>" target="_blank"><?= $world->title ?>
              <?= svgIcon('external') ?>
            </a>
          </td>
          <td class="ms hidden-xs"><?= date('d.m.Y', strtotime($world->started)) ?></td>
          <td class="ms text-right">
            <? if ($world->statistic > 0 && $world->updateStat) { ?>
            <? } else { ?>
              <small>более</small>
            <? } ?>
            <?= $world->age ?>
          </td>
          <td>
            <? if ($world->statistic > 0 && $world->updateStat) { ?>
              <small><?= pluralForm($world->age, array('день', 'дня', 'дней')) ?></small>
            <? } else { ?>
              <small>дней</small>
            <? } ?>
          </td>
          <td>
            <? if ($world->statistic > 0 && $world->updateStat) { ?>
              <? if ($world->isUpdate) { ?>
                <span class="badge" style="color:red">Обновляется...</span>
              <? } else { ?>
                <a href="/stat/<?= $world->lowerSign ?>/" class="ms">
                  <?= date('d.m.Y', $world->updateStat) ?>
                  <small><?= date('H:i', $world->updateStat) ?></small>
                </a>
              <? } ?>
            <? } else { ?>
              <div class="stat-not-found">
                <?= svgIcon('cross') ?>
                Отсутствует
              </div>
            <? } ?>
          </td>
        </tr>
      <? } ?>
    <? } ?>
  </table>
<? /*
	<p>
		<button type="button" class="btn btn-default">Default</button>
		<button type="button" class="btn btn-primary">Primary</button>
		<button type="button" class="btn btn-success">Success</button>
		<button type="button" class="btn btn-info">Info</button>
		<button type="button" class="btn btn-warning">Warning</button>
		<button type="button" class="btn btn-danger">Danger</button>
		<button type="button" class="btn btn-link">Link</button>
	</p>
	<p>
		<button type="button" class="btn btn-default" disabled>Default</button>
		<button type="button" class="btn btn-primary" disabled>Primary</button>
		<button type="button" class="btn btn-success" disabled>Success</button>
		<button type="button" class="btn btn-info" disabled>Info</button>
		<button type="button" class="btn btn-warning" disabled>Warning</button>
		<button type="button" class="btn btn-danger" disabled>Danger</button>
		<button type="button" class="btn btn-link" disabled>Link</button>
	</p>
	<p>
		<button type="button" class="btn btn-primary btn-lg">Large button</button>
		<button type="button" class="btn btn-default btn-lg">Large button</button>
	</p>
	<p>
		<button type="button" class="btn btn-primary">Default button</button>
		<button type="button" class="btn btn-default">Default button</button>
	</p>
	<p>
		<button type="button" class="btn btn-primary btn-sm">Small button</button>
		<button type="button" class="btn btn-default btn-sm">Small button</button>
	</p>
	<p>
		<button type="button" class="btn btn-primary btn-xs">Extra small button</button>
		<button type="button" class="btn btn-default btn-xs">Extra small button</button>
	</p>
<p>
	<button type="button" class="btn btn-primary btn-block">Block level button</button>
	<button type="button" class="btn btn-default btn-block">Block level button</button>
</p>
<p>
	<img src="/img/bgs/map-water.gif" alt="img-rounded" class="img-rounded" style="width:40px;">
	<img src="/img/bgs/map-water.gif" alt="img-circle" class="img-circle" style="width:40px;">
	<img src="/img/bgs/map-water.gif" alt="img-thumbnail" class="img-thumbnail" style="width:40px;">
</p>

*/ ?>
<?
//$f = 'ru21-2014-06-29';
//$d = FS::loadJSON(FS::path('/tmp/ru21/stat-' . $f . '.json'));
//dmp($d, $f, 0);
/*
$db   = Registry::getDb();
$data = $db->query("
	SELECT a1.*, a2.pop, a2.towns, x.countryTitle, x.countryId
	FROM z_ru20_accounts AS a1
		LEFT JOIN z_ru20_accounts_dyn AS a2
			ON a1.accountId = a2.accountId
		LEFT JOIN z_ru20_countries AS x
			ON a1.countryId = x.countryId
	WHERE a2.stateDate = '2014-03-27'
--	LIMIT 10
")->fetchAll();
$fp = fopen(_dir('/tmp/ru20_accounts.csv'), 'w');
$s = ''
	. '"accountId"'
	. ',"accountName"'
	. ',"pop"'
	. ',"towns"'
	. ',"countryId"'
	. ',"countryTitle"'
	. ',"active"'
	. ',"link"'
	. "\r\n";
fwrite($fp, $s);
foreach ($data as $a) {
	$s = ''
		. '"' . (int)$a['accountId'] . '"'
		. ',"' . str_replace('"', '', $a['accountName']) . '"'
		. ',"' . (int)$a['pop'] . '"'
		. ',"' . (int)$a['towns'] . '"'
		. ',"' . (int)$a['countryId'] . '"'
		. ',"' . str_replace('"', '', $a['countryTitle']) . '"'
		. ',"' . (int)$a['active'] . '"'
		. ',"http://w20.wofh.ru/account?id=' . (int)$a['accountId'] . '"'
		. "\r\n";
	fwrite($fp, $s);
}
fclose($fp);

$wonders = $db->query("
	SELECT buildId, title FROM cd_builds WHERE worldId = 1020
")->fetchByField("buildId");

$data2 = $db->query("
	SELECT a1.*, a2.pop, a2.wonderId, a2.wonderLevel
	FROM z_ru20_towns AS a1
		LEFT JOIN z_ru20_towns_dyn AS a2
			ON a1.townId = a2.townId
	WHERE a2.stateDate = '2014-03-27'
--	LIMIT 50
")->fetchAll();
$fp = fopen(_dir('/tmp/ru20_towns.csv'), 'w');
$s = ''
	. '"townId"'
	. ',"townTitle"'
	. ',"accountId"'
	. ',"pop"'
	. ',"wonderId"'
	. ',"wonderTitle"'
	. ',"wonderLevel"'
	. ',"link"'
	. "\r\n";
fwrite($fp, $s);
foreach ($data2 as $b) {
	$wId = (int)$b['wonderId'] ? (int)$b['wonderId'] : '';
	$wT = (int)$b['wonderId'] ? str_replace('"', '', $wonders[(int)$b['wonderId']]['title']) : '';
	$wLvl = (int)$b['wonderId'] ? (int)$b['wonderLevel'] : '';
	$s = ''
		. '"' . (int)$b['townId'] . '"'
		. ',"' . str_replace('"', '', $b['townTitle']) . '"'
		. ',"' . (int)$b['accountId'] . '"'
		. ',"' . (int)$b['pop'] . '"'
		. ',"' . $wId . '"'
		. ',"' . $wT . '"'
		. ',"' . $wLvl . '"'
		. ',"http://w20.wofh.ru/towninfo?id=' . (int)$b['accountId'] . '"'
		. "\r\n";
	fwrite($fp, $s);
}
fclose($fp);

*/

/*
<p>Коллекция пользовательских дополнений для онлайн игры "<a href="http://wofh.ru" target="_blank">Пути истории</a>".</p>

<p>Проект находится в стадии бета-тестирования.</p>

<p>&nbsp;</p>

<div class="row">
	<div class="col-md-6">
		<h3>Действующие сервисы</h3>
		<div class="list-group">
			<a class="list-group-item" href="/log/">Логовница</a>
			<a class="list-group-item" href="/sci/">Науковница</a>
			<a class="list-group-item" href="/technology/">Дерево наук</a>
			<a class="list-group-item" href="/stat/">Статистика игровых миров</a>
			<a class="list-group-item" href="/science-distribution/">Таблица научного распределения</a>
			<a class="list-group-item" href="/corruption/">Таблица коррупции</a>
			<a class="list-group-item" href="/diplomacy-points/">Таблица очков дипломатии</a>
			<?//<a class="list-group-item" href="/calc/build-time/1/">Таблица времени строительства</a>?>
			<a class="list-group-item" href="/calc/train-settlers/">Расчет времени тренировки поселенцев</a>
		</div>
	</div>
	<div class="col-md-6">
		<h3>Новости проекта</h3>

		<div class="media">
			<div class="pull-left">
				<div style="margin-bottom:3px;"><code>08.01.2014</code></div>
				<img class="media-object img-thumbnail" src="/images/chart.png" alt="График">
			</div>
			<div class="media-body">
				<h4 class="media-heading">Статистика игровых миров</h4>
				Сколько городов поставил или потерял соперник? Кто медленнее всех растет в вашей стране?
				Какова динамика роста топ-стран? Ответы на эти и многие другие вопросы вы можете найти, посмотрев статистические данные по миру.<br>
				<!--Статистика собирается с 7 декабря 2013 г.  для русских серверов игры в 15, 16, 17, 18 и 19 мирах.<br>
				К сожалению мы не успели протестировать весь функционал, поэтому пока запускаем немного урезанную версию.-->
			</div>
		</div>
	</div>
</div>

<?/*
<br>
<h2>Количество поселенцев и рабочих</h2>
<div class="row-fluid">
	<div class="span6">
		<div class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="towns">Количество городов:</label>
				<div class="controls">
					<input id="towns" class="span6 num" type="text" value="1">
				</div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div id="result0" class="well well-small">
			Для основания нового города требуется <code>1</code> поселенцев<br>
			Для колонизации месторождения требуется <code>1</code> рабочих
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		$('#towns').on('input change', function(){
			$('#result0').html('Для основания нового города требуется <code>' + Math.pow($(this).val(), 2) + '</code> поселенцев<br>' +
					'Для колонизации месторождения требуется <code>' + Math.pow($(this).val(), 2) + '</code> рабочих');
		});
	});
</script>
<h2>Эффективность потребления культуры в "баблике"</h2>

<div class="alert alert-info">Распределение населения считается равным 60% финансистов.<br> Количество населения
	принимается равным максимально возможному при данном значении культуры.
</div>
<div class="row-fluid">
	<div class="span6">
		<div class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="base-culture">Культура города:</label>
				<div class="controls">
					<input id="base-culture" class="span6 num" type="text" value="1914">
					<label for="race" class="checkbox">
						<input id="race" type="checkbox">
						Европейцы
					</label>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="corruption">Коррупция в городе:</label>
				<div class="controls">
					<input id="corruption" class="span6" type="text" value="24">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="bonus-science">Бонус науки:</label>
				<div class="controls">
					<input id="bonus-science" class="span6 num" type="text" value="150">
					%
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="luck">Бонус удачи:</label>
				<div class="controls">
					<select id="luck" class="span6">
						<option value="1">Нет</option>
						<option value="1.1">10%</option>
						<option value="1.2">20%</option>
						<option value="1.3" selected>30%</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="climate">Климат:</label>
				<div class="controls">
					<select id="climate" class="span6">
						<option value="0.35">Луга</option>
						<option value="0.4" selected>Степь</option>
						<option value="0.35">Пустыня</option>
						<option value="0.3">Снега</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="buildings">Кол-во уровней банков:</label>
				<div class="controls">
					<input id="buildings" class="span6 num" type="text" value="27">
					<div class="help-block">Суммарное количество отстроенных уровней.</div>
					<div class="help-block">
						<small>Если у вас три банка по два уровня, значит количество уровней равно шести.</small>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">Потребление культуры:</label>
				<div class="controls">
					<label for="wine" class="checkbox">
						<input id="wine" type="checkbox">
						Вино
					</label>
					<label for="clothes" class="checkbox">
						<input id="clothes" type="checkbox">
						Одежда
					</label>
					<label for="jewels" class="checkbox">
						<input id="jewels" type="checkbox">
						Драгоценности
					</label>
					<label for="music" class="checkbox">
						<input id="music" type="checkbox">
						Музыка
					</label>
					<label for="movies" class="checkbox">
						<input id="movies" type="checkbox">
						Фильмы
					</label>
				</div>
			</div>
		</div>

	</div>
	<div class="span6">
		<div id="result" class="well well-small">Результаты расчета: ...</div>
	</div>
</div>

<script type="text/javascript">
	$(function () {

		var
				$result = $('#result'),
				$culture = $('#base-culture'),
				$corrupt = $('#corruption'),
				$race = $('#race'),
				$climate = $('#climate'),
				$science = $('#bonus-science'),
				$luck = $('#luck'),
				$buildings = $('#buildings'),
				ordering = []
				;
		var bonusPopulation = 0.6,
				corruption = parseFloat($corrupt.val()),
				culture = $culture.val(),
				race = $race.filter(':checked').size() > 0,
				population = race ? culture * 1.1 : culture,
				potential = (10 + Math.pow(population, 0.85)),
				capacity = potential * (100 - corruption) / 100,
				climate = $climate.val(),
				science = $science.val() / 100,
				luck = $luck.val(),
				bonusBuildings = ($buildings.val() * 10 + 100) / 100
				;

		$('#base-culture, #corruption, #race, #climate, #bonus-science, #luck, #buildings, #wine, #clothes').on('change input', calc);

		function calc() {
			corruption = parseFloat($corrupt.val());
			culture = $culture.val();
			race = $race.filter(':checked').size() > 0;
			population = race ? culture * 1.1 : culture;
			potential = (10 + Math.pow(population, 0.85));
			capacity = potential * (100 - corruption) / 100;
			climate = $climate.val();
			science = $science.val() / 100;
			luck = $luck.val();
			bonusBuildings = ($buildings.val() * 10 + 100) / 100;

			var production = capacity * climate * science * luck * bonusBuildings * bonusPopulation;
			var oldProduction = production;

			$result.html('');
			$result.append('<b>Без культуры</b><br>');
			$result.append('Население - ' + parseInt(population) + '<br>');
			$result.append('Потенциал - ' + parseInt(potential) + '<br>');
			$result.append('Мощность - ' + parseInt(capacity) + '<br>');
			$result.append('Производство - ' + parseInt(production) + '<br>');
			$result.append('Бонус строений - ' + bonusBuildings + '<br>');
			$result.append('<hr>');

			if ($('#wine').is(':checked')) {
				population *= 1.2;
				potential = (10 + Math.pow(population, 0.85));
				capacity = potential * (100 - corruption) / 100;
				oldProduction = production;
				production = capacity * climate * science * luck * bonusBuildings * bonusPopulation;
				$result.append('<b>+ Вино</b><br>');
				$result.append('Население - ' + parseInt(population) + '<br>');
				$result.append('Производство - ' + parseInt(production) + ' <b class="text-success">(+' + (production - oldProduction).toFixed(1) + ')</b><br>');
				$result.append('<hr>');
			}
			if ($('#clothes').is(':checked')) {
				population *= 1.25;
				potential = (10 + Math.pow(population, 0.85));
				capacity = potential * (100 - corruption) / 100;
				oldProduction = production;
				production = capacity * climate * science * luck * bonusBuildings * bonusPopulation;
				$result.append('<b>+ Одежда</b><br>');
				$result.append('Население - ' + parseInt(population) + '<br>');
				$result.append('Производство - ' + parseInt(production) + ' <b class="text-success">(+' + parseInt(production - oldProduction).toFixed(1) + ')</b><br>');
				$result.append('<hr>');
			}
		}

		calc();

//		population *= 1.2;
//		potential = (10 + Math.pow(population, 0.85));
//		capacity = potential * (100 - corruption) / 100;
//		var oldProduction = production;
//		production = capacity * climate * bonusScience * bonusLuck * bonusBuildings * bonusPopulation;
//		$result.append('<b>+ Вино</b><br>');
//		$result.append('Население - ' + population + '<br>');
////		$result.append('Потенциал - ' + potential + '<br>');
////		$result.append('Мощность - ' + capacity + '<br>');
//		$result.append('Производство - ' + parseInt(production) + ' <b class="text-success">(+' + parseInt(production - oldProduction) + ')</b><br>');
//		$result.append('<hr>');
//
//		population *= 1.25;
//		potential = (10 + Math.pow(population, 0.85));
//		capacity = potential * (100 - corruption) / 100;
//		oldProduction = production;
//		production = capacity * climate * bonusScience * bonusLuck * bonusBuildings * bonusPopulation;
//		$result.append('<b>+ Одежда</b><br>');
//		$result.append('Население - ' + population + '<br>');
////		$result.append('Потенциал - ' + potential + '<br>');
////		$result.append('Мощность - ' + capacity + '<br>');
//		$result.append('Производство - ' + parseInt(production) + ' <b class="text-success">(+' + parseInt(production - oldProduction) + ')</b><br>');
//		$result.append('<hr>');
//
//		population *= 1.3;
//		potential = (10 + Math.pow(population, 0.85));
//		capacity = potential * (100 - corruption) / 100;
//		oldProduction = production;
//		production = capacity * climate * bonusScience * bonusLuck * bonusBuildings * bonusPopulation;
//		$result.append('<b>+ Драгоценности</b><br>');
//		$result.append('Население - ' + population + '<br>');
////		$result.append('Потенциал - ' + potential + '<br>');
////		$result.append('Мощность - ' + capacity + '<br>');
//		$result.append('Производство - ' + parseInt(production) + ' <b class="text-success">(+' + parseInt(production - oldProduction) + ')</b><br>');
//		$result.append('<hr>');
//
//		population *= 1.2;
//		potential = (10 + Math.pow(population, 0.85));
//		capacity = potential * (100 - corruption) / 100;
//		oldProduction = production;
//		production = capacity * climate * bonusScience * bonusLuck * bonusBuildings * bonusPopulation;
//		$result.append('<b>+ Музыка</b><br>');
//		$result.append('Население - ' + population + '<br>');
////		$result.append('Потенциал - ' + potential + '<br>');
////		$result.append('Мощность - ' + capacity + '<br>');
//		$result.append('Производство - ' + parseInt(production) + ' <b class="text-success">(+' + parseInt(production - oldProduction) + ')</b><br>');
//		$result.append('<hr>');
//
//		population *= 1.3;
//		potential = (10 + Math.pow(population, 0.85));
//		capacity = potential * (100 - corruption) / 100;
//		oldProduction = production;
//		production = capacity * climate * bonusScience * bonusLuck * bonusBuildings * bonusPopulation;
//		$result.append('<b>+ Фильмы</b><br>');
//		$result.append('Население - ' + population + '<br>');
////		$result.append('Потенциал - ' + potential + '<br>');
////		$result.append('Мощность - ' + capacity + '<br>');
//		$result.append('Производство - ' + parseInt(production) + ' <b class="text-success">(+' + parseInt(production - oldProduction) + ')</b><br>');
//		$result.append('<hr>');

//		$result.append('<b>Итого: </b> <code>+ ' + parseInt(production - baseProduction) + '</code>');
	});
</script>

<? /* if ($user = get_user()) { ?>
<h2>Сервис карты</h2>
<p>Сервис карты работает в полуавтоматическом режиме — функция приклеивания доступна только администратору, но вы можете
	прислать свои фрагменты.</p>

<p>Для того чтобы получить данные о своей открытой карте в игре, вам необходимо установить в браузер расширение
	(юзерскрипт). Данный скрипт вытаскивает из локального хранилища браузера данные о карте и отображает на странице,
	откуда вы можете их скопировать и отправить в нашу базу на <a href="/map/update/">этой странице</a>.
</p>

<h2>Юзерскрипт для сбора данных</h2>
<p class="lead">Юзерскрипт нужет только для сбора данных об открытой карте.</p>
<p class="alert">В текущей версии сервиса обновление карты заблокировано, так что установка скрипта не имеет смысла. В ближайшее
	время скрипт и сервис будут обновлены и функция станет доступна.</p>

<h3>FireFox</h3>

<p>В браузере FireFox у вас должно быть установлено расширение
	<a href="https://addons.mozilla.org/ru/firefox/addon/greasemonkey/" target="_blank">GreaseMonkey</a></p>

<p>После установки расширения можно нажать на эту ссылку и браузер предложит установить юзерскрипт:
	<a href="/client/Wofh_Tools/Wofh_Tools.user.js">Wofh_Tools.user.js</a></p>

<h3>Opera 12</h3>

<p>В браузере Opera до 12 версии включительно нажмите правой кнопкой по ссылке:
	<a href="/client/Wofh_Tools/Wofh_Tools.user.js">Wofh_Tools.user.js</a><br> выберите пункт меню "Сохранить по
	ссылке..." и сохраните скрипт на своем компьютере. <i>Папка в которую сохраняется скрипт не должна иметь в своем
		пути кириллических символов</i>.</p>

<p>После этого зайдите в игру, кликните правой кнопкой мыши по свободному простанству и в меню выберите пункт "Настройки
	для сайта...". В открывшемся окне перейдите на вкладку "Скрипты" и в нижнем поле укажите папку (можно
	воспользоваться кнопкой "Обзор...") в которую сохранили скрипт. Нажмите кнопку "OK".</p>

<h3>Chrome</h3>

<p>В браузере Chrome нажмите правой кнопкой по ссылке: <a href="/client/Wofh_Tools.crx">Wofh_Tools.crx</a><br>
	выберите пункт меню "Сохранить ссылку как..." и сохраните скрипт на своем компьютере.<br> Потом откройте в браузере
	страницу "Расширения" (Меню - Инструменты - Расширения) и перетащите мышкой скаченный файл <code>Wofh_Tools.crx</code> на эту
	страницу. Подвердите установку.</p>

<hr>

<p>После установки юзерскрипта на странице карты появится кнопка "Отправить карту".</p>

<p><b>ВАЖНО</b>: Перед нажатием этой кнопки осмотрите всю доступную карту, чтобы обновить фрагменты в хранилище
	браузера.</p>

<p>После осмотра нажмите кнопку. Скопируйте информацию из появившегося окна на наш сайт.</p>
<? } */
/*<p>Вот некоторые цитаты игроков:</p>
	<blockquote>
		Но в идеале представляется такой ресурс: Карта видимого мира, где есть панель инструментов, чтобы можно было
		обозначить границу региона, изобразить графически поток ресурсов из города в город, что-то ещё, что я пока и
		представить не могу!)). Сделать так, чтобы эти метки мог редактировать каждый, кто их наносит и каждый мог это
		посмотреть, перезагрузив страницу.
	</blockquote>
	<blockquote>
		При этом, чтобы можно было на каждый город завести карточку с данными - каков прирост наса, уровень производства
		основного ресурса, состав войск и т.д.
	</blockquote>
	<blockquote>
		Предел лично моих мечтаний, чтобы туда стекалась и наглядно отображалась вся статистика страны.
		Желательно в виде графиков
	</blockquote>
	<p>И мои планы по развитию:</p>
	<ul style="list-style: disc;margin-left: 30px;margin-bottom: 20px;">
		<li>Масштабирование карты</li>
		<li>Визуальное отображение торговых маршрутов</li>
		<li>Выделение конкурирующей зоны чудес света</li>
		<li>План строительства дорог</li>
		<li>План строительства городов</li>
		<li>Границы</li>
		<li>Заказы на снабжение с отчетами</li>
		<li>Объявления по стране\альянсу</li>
		<li>Визуальная привязка месторождений к городам</li>
		<li>Выделение городов страны\альянса</li>
		<li>Выделение зоны постановки города</li>
	</ul>
	<p>Если есть что добавить - пишите в скайп чате. В каком? Сами знаете :)</p>
	<p>Контакты для связи:<br> skype: <a href="skype:delphin-pro?chat">delphin-pro</a></p>*/
