<?php
/**
 * @since             20.02.14 21:03
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 * @var df\View $this
 */
$secret = '6eaa2eb43dfe461947a170e6540d17cc';
$secret = $this->config->get('app.secret');
function q123($v)
{
    if ($v) {
        return '<b style="color:green">ON</b>/<b>OFF</b>';
    } else {
        return '<b>ON</b>/<b style="color:red">OFF</b>';
    }
}

?>
<style>
    .list-group {
        width: 500px;
    }

    .layout-main {
        width: 100%;
    }

    @media screen and (max-width: 1000px) {
        .list-group {
            width: 100%;
            font-size: 40px;
        }
    }

    @media screen and (max-width: 1150px) {
        .list-group {
            width: 100%;
            font-size: 50px;
        }
    }

    @media screen and (min-width: 1150px) {
        .list-group {
            width: 700px;
            font-size: 30px;
        }
    }
</style>
<div class="list-group" style="margin: auto;">
    <a class="list-group-item" href="/<?= $secret ?>/set-ip/">Set IP: <?= $_SERVER['REMOTE_ADDR'] ?>
        <? $color = ($this->config->get('app.allowed_ip') == $_SERVER['REMOTE_ADDR']) ? 'green' : 'red'; ?>
        (<span style="color:<?= $color ?>">
			<?= $this->config->get('app.allowed_ip') == '' ? 'none' : $this->config->get('app.allowed_ip') ?>
		</span>)
    </a>
    <a class="list-group-item" href="/<?= $secret ?>/unset-ip/">Unset IP</a>
    <a class="list-group-item" href="/<?= $secret ?>/switch/">Site <?= q123(!$this->config->get('app.site_offline')) ?></a>
    <a class="list-group-item" href="/<?= $secret ?>/debug/">Debug <?= q123($this->config->get('app.debug')) ?></a>
</div>
