<?php
/**
 * @since              24.11.13 02:07
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
?>
<style>
    table td small {
        font-size: 0.7em;
        opacity: 0.5;
    }
</style>
<div class="table-responsive tbl-corruption">
    <table class="table table-bordered table-condensed">
        <thead>
        <tr class="t-header">
            <th></th>
            <th class="text-center" colspan="21">Уровень суда в городе</th>
        </tr>
        <tr class="t-header">
            <th>Города&darr;</th>
            <th>нет</th>
            <?
            for ($i = 1; $i <= 20; $i++) {
                echo '<th class="text-center">' . $i . '</th>';
            }
            ?>
        </tr>
        </thead>
        <?
        $effect = array(
            0 => 1,
            1 => 1.3,
            1.7,
            2.1,
            2.6,
            3.1,
            3.6,
            4.1,
            4.6,
            5.2,
            5.8,
            6.3,
            6.9,
            7.5,
            8.1,
            8.7,
            9.4,
            10.0,
            10.6,
            11.3,
            11.9
        );
        for ($towns = 1; $towns <= 25; $towns++) {
            echo '<tr><td><span class="badge">' . $towns . '</span></td>';
            for ($level = 0; $level <= 20; $level++) {
                $corruption = round(($towns - 1) * 0.2 / $effect[$level] * 100, 2);

                if ($corruption > 75) {
                    $class = 'mark-red';
                } elseif ($corruption > 50) {
                    $class = 'mark-yellow';
                } elseif ($corruption > 25) {
                    $class = 'mark-blue';
                } elseif ($corruption >= 10) {
                    $class = 'mark-green';
                } else {
                    $class = '';
                }

                echo '<td class="'.$class.'">';
                if ($corruption > 90) {
                    echo '90.<small>00</small>';
                } else {
                    echo preg_replace('/(\d\d)$/', '<small>\\1</small>', number_format($corruption, 2, '.', ','));
                }
                echo '</td>';
            }
            echo '</tr>';
        }
        ?>
    </table>
</div>
