<?php
/**
 * @since              12.01.14 21:20
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 */
$afro = 0;
if (isset($_GET['afro'])) {
    $afro = abs((int)$_GET['afro']);
}

$OLD = isset($_GET['old']);

?>
<div class="tbl-diplomacy-points">
    <form class="form-horizontal" action="/diplomacy-points/" method="get">
        <?=$OLD ? '<input type="hidden" name="old" value="1">' : ''?>
        <div class="row form-group">
            <div class="col-sm-6">
                <label class=" control-label" for="afro">Количество африканцев в стране:</label>
                <div class="input-group">
                    <input class="form-control num" type="text" name="afro" id="afro" value="<?=$afro?>"
                        onfocus="setTimeout(function(){document.getElementById('afro').select()},100);">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Пересчитать</button>
                        <a class="btn btn-success" type="submit" href="/diplomacy-points/<?=$OLD ? '?old=1' : ''?>">Сброс</a>
                    </div>
                </div>
            </div>
            <? if (!$OLD) { ?>
                <div class="col-sm-6 text-right">
                    <label class=" control-label">&nbsp;</label>
                    <div><a class="btn" href="/diplomacy-points/?old=1">Показать прежние коэффициенты</a></div>
                </div>
            <? } else { ?>
                <div class="col-sm-6 text-right">
                    <label class=" control-label">&nbsp;</label>
                    <div><a class="btn" href="/diplomacy-points/">Показать новые коэффициенты</a></div>
                </div>
            <? } ?>
        </div>
    </form>
</div>
<style>.input-group-btn {display: flex;}</style>

<p>В таблице указано максимальное количество ОД при полностью отстроенных уровнях посольства для соответствующих
    изученных наук. В последней колонке указано количество ОД, необходимых для приёма следующего игрока.</p>
<p>Если максимальное кол-во ОД меньше требуемого для следующего приёма, то это значение выделено красным цветом. Эта
    строка означает максимально возможное количество игроков в стране на данном этапе развития.</p>
<p>Например до изучения рабства при условии, что все игроки имеют посольства 4 уровня, в стране может находится не более
    9 игроков. Однако, если из этих девяти семеро будут африканцами, то они смогут принять десятого игрока (в старой
    формуле было достаточно трёх африканцев).</p>

<div class="table-responsive tbl-diplomacy-points">
    <table class="table table-condensed table-bordered table-striped text-right ">
        <thead>
            <tr>
                <th colspan="2" class="text-right"><a href="/technology/#sci12">Письменность</a></th>
                <th colspan="2" class="text-right"><a href="/technology/#sci21">Рабство</a></th>
                <th colspan="2" class="text-right"><a href="/technology/#sci90">Дипломатия</a></th>
                <th colspan="2" class="text-right"><a href="/technology/#sci130">Либерализм</a></th>
                <th colspan="2" class="text-right"><a href="/technology/#sci55">Республика</a></th>
                <th colspan="2" class="text-right"></th>
            </tr>
            <tr>
                <th rowspan="2">
                    Игроков в стране
                    <?=$afro > 0 ? '<br>(африканцев)' : ''?>
                </th>
                <th colspan="2" class="text-right"><a href="/technology/#sci13">Свод законов</a></th>
                <th colspan="2" class="text-right"><a href="/technology/#sci23">Монархия</a></th>
                <th colspan="2" class="text-right"><a href="/technology/#sci20">Демократия</a></th>
                <th colspan="2" class="text-right"><a href="/technology/#sci113">Национализм</a></th>
                <th colspan="2" class="text-right"><a href="/technology/#sci39">Социализм</a></th>
                <th rowspan="2" class="text-right">ОД для приема<br>следующего</th>
            </tr>
            <tr>
                <th class="text-right" style="width:80px;">2 ур.</th>
                <th class="text-right" style="width:80px;">4 ур.</th>
                <th class="text-right" style="width:80px;">6 ур.</th>
                <th class="text-right" style="width:80px;">8 ур.</th>
                <th class="text-right" style="width:80px;">10 ур.</th>
                <th class="text-right" style="width:80px;">12 ур.</th>
                <th class="text-right" style="width:80px;">14 ур.</th>
                <th class="text-right" style="width:80px;">16 ур.</th>
                <th class="text-right" style="width:80px;">18 ур.</th>
                <th class="text-right" style="width:80px;">20 ур.</th>
            </tr>
        </thead>
        <tbody>
            <?
            $dp = array(11, 31, 57, 88, 122, 161, 203, 248, 297, 347, 401, 457, 515, 576, 639, 704, 771, 840, 911, 983);
            $dpa = array(
                12,
                34,
                62,
                96,
                135,
                177,
                224,
                273,
                326,
                382,
                441,
                502,
                567,
                633,
                702,
                774,
                848,
                924,
                1002,
                1082,
            );
            $stop = array();

            if (!$OLD) {
                $_eff = array(0, 1, -0.0050000000000000001, 1.5);
                for ($i = 0; $i < 20; $i++) {
                    $dp[ $i ] *= ((float)$_eff[1] + (float)$_eff[2] * pow($i + 1, (float)$_eff[3]));
                    $dpa[ $i ] *= ((float)$_eff[1] + (float)$_eff[2] * pow($i + 1, (float)$_eff[3]));
                }
            }
            ?>
            <? for ($i = 1; $i < 120; $i++) {
                if (isset($stop[20])) {
                    break;
                }
                $req = pow($i, 2) * 10;
                $a = ($afro > $i) ? $i : $afro;
                $p = $i - $a;
                ?>
                <tr>
                    <th><?=$i?><?=$afro > 0 ? ' <small class="text-muted">('.$a.')</small>' : ''?></th>
                    <? for ($j = 2; $j <= 20; $j += 2) { ?>
                        <td><?
                            $max = ($dp[ $j - 1 ] * $p) + ($dpa[ $j - 1 ] * $a);
                            if ($max >= $req) {
                                echo numFormat($max);
                            } elseif (!isset($stop[ $j ])) {
                                $stop[ $j ] = true;
                                echo '<span style="color:red">'.numFormat($max).'</span>';
                            }
                            ?></td>
                    <? } ?>
                    <th class="text-right"><?=numFormat($req)?></th>
                </tr>
            <? } ?>
        </tbody>
    </table>
</div>
