<?php
/**
 * @since              18.10.13 03:22
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 * @var df\View $this
 * @var World $currentWorld
 */

//dmp($science, 0);
use df\extensions\models\World;


// from lib.science.spm
$spm = array(
    array(2.0, 1.0, 5.0),
    array(2.0, 1.029999971389771, 5.0),
    array(2.0, 1.065000057220459, 5.0),
    array(1.350000023841858, 1.799999952316284, 5.0),
    array(1.50, 2.200000047683716, 1.299999952316284),

    array(1.399999976158142, 3.200000047683716, 0.8000000119209290),
    array(1.200000047683716, 5.0, 0.6000000238418579),
    array(1.100000023841858, 7.0, 0.50),
    array(1.019999980926514, 9.0, 0.4499999880790710),
    array(0.9700000286102295, 11.0, 0.4000000059604645),

    array(0.9200000166893005, 14.0, 0.4000000059604645),
    array(0.8600000143051147, 19.0, 0.3499999940395355),
    array(0.8000000119209290, 25.0, 0.3000000119209290),
    array(0.750, 30.0, 0.250),
    array(0.7200000286102295, 35.0, 0.2000000029802322),

    array(0.6999999880790710, 41.0, 0.1700000017881393),
    array(0.6800000071525574, 50.0, 0.1299999952316284),
    array(0.6800000071525574, 62.0, 0.1199999973177910),
    array(0.6999999880790710, 80.0, 0.1000000014901161),
);

$np = array(
    'Начальное распределение' => array('N' => 2, 'M' => 1, 'K' => 5),
    'Алфавит' => array('N' => 2, 'M' => 1.03, 'K' => 5),
    'Письменность' => array('N' => 2, 'M' => 1.065, 'K' => 5),
    'Литература' => array('N' => 1.35, 'M' => 1.8, 'K' => 5),
    'Математика' => array('N' => 1.5, 'M' => 2.2, 'K' => 1.3),
    'Календарь' => array('N' => 1.4, 'M' => 3.2, 'K' => 0.8),
    'Философия' => array('N' => 1.2, 'M' => 5, 'K' => 0.6),
    'Бумага' => array('N' => 1.1, 'M' => 7, 'K' => 0.5),
    'Изобретательство' => array('N' => 1.02, 'M' => 9, 'K' => 0.45),
    'Оптика' => array('N' => 0.97, 'M' => 11, 'K' => 0.4),
    'Образование' => array('N' => 0.92, 'M' => 14, 'K' => 0.4),
    'Научные исследования' => array('N' => 0.86, 'M' => 19, 'K' => 0.35),
    'Анатомия' => array('N' => 0.8, 'M' => 25, 'K' => 0.3),
    'Теория гравитации' => array('N' => 0.75, 'M' => 30, 'K' => 0.25),
    'Теория относительности' => array('N' => 0.72, 'M' => 35, 'K' => 0.2),
);
$np14 = array(
    'Начальное распределение' => $spm[0],// N, M, K
    'Алфавит' => $spm[1],
    'Письменность' => $spm[2],
    'Арифметика' => $spm[3],
    'Календарь' => $spm[4],

    'Геометрия' => $spm[5],
    'Литература' => $spm[6],
    'Математика' => $spm[7],
    'Философия' => $spm[8],
    'Изобретательство' => $spm[9],

    'Оптика' => $spm[10],
    'Педагогика' => $spm[11],
    'Образование' => $spm[12],
    'Научные исследования' => $spm[13],
    'Всемирное тяготение' => $spm[14],

    'Теория относительности' => $spm[15],
    'Физика элемен...' => $spm[16],
    'Математические...' => $spm[17],
    'Теория струн' => $spm[18],
);
$count = 101;

//$np = $currentWorld->id == 1023 ? $np14 : $np;
$np = $np14;

$sc = array();
foreach ($science as $s) {
    if (isset($s['bonuses'][3])) {
        $sc[] = $s;
    }
}
usort($sc, function ($a, $b) {
    if ($a['cost'] == $b['cost']) {
        return 0;
    }
    return ($a['cost'] < $b['cost']) ? -1 : 1;
})

?>

<style type="text/css">
    .rotate {
        width: 30px;
        height: 200px;
        vertical-align: bottom !important;
    }

    .rotate div {
        width: 30px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        height: 1em;
        line-height: 1em;
    }

    .table th {
        /*background: #F2F2F2;*/
    }
</style>

<div class="form-group" id="form-group-science">
    <div class="row">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-4 text-right">
            <label class="form-control-static" for="science">
                Производство колб в городе
            </label>
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="science" value="">
        </div>
    </div>
</div>

<style>
    .tbl-science-distribution__percentage-message,
    .tbl-science-distribution__percentage { display: block; }
    .tbl-science-distribution__absolute-message,
    .tbl-science-distribution__absolute { display: none; }
    .tbl-science-distribution_view_percentage .tbl-science-distribution__percentage-message,
    .tbl-science-distribution_view_percentage .tbl-science-distribution__percentage { display: block; }
    .tbl-science-distribution_view_percentage .tbl-science-distribution__absolute-message,
    .tbl-science-distribution_view_percentage .tbl-science-distribution__absolute { display: none; }
    .tbl-science-distribution_view_absolute .tbl-science-distribution__percentage-message,
    .tbl-science-distribution_view_absolute .tbl-science-distribution__percentage { display: none; }
    .tbl-science-distribution_view_absolute .tbl-science-distribution__absolute-message,
    .tbl-science-distribution_view_absolute .tbl-science-distribution__absolute { display: block; }
</style>

<table class="table table-bordered table-condensed tbl-science-distribution tbl-science-distribution_view_percentage">
    <?

    //  y(x) = N * (-arctg((x - M) * K) / pi + 0.5)

    //  N - "растягивание" графика вертикально.
    //  K - "растягивание" графика горизонтально.
    //  M - сдвиг графика горизонтально.

    echo '<thead>';
    echo '<tr>';
    echo '<th class="rotate"><div>Позиция&nbsp;города</div></th>';
    echo '<th class="rotate">';
    echo '<div>Начальное распределение</div>';
    echo '</th>';
    foreach ($sc as $k => $v) {
        echo '<th class="rotate">';
        echo '<div>' . $v['title'] . '</div>';
        echo '</th>';
    }
    echo '</tr>';
    echo '</thead>';
    echo '<tbody>';
    echo '<tr>';
    echo '<th></th>';
    echo '<th colspan="19" class="text-center">';
    echo '<div class="tbl-science-distribution__percentage-message">Значения указаны в процентах</div>';
    echo '<div class="tbl-science-distribution__absolute-message">Значения указаны в колбах для указанного производства</div>';
    echo '</th>';
    echo '</tr>';
    echo '</tbody>';


    for ($x = 1; $x <= $count; $x++) {

        echo '<tr>';
        echo '<td><code>', $x, '</code></td>';
        foreach ($np as $v) {

            $N = $v[0];//['N'];
            $M = $v[1];//['M'];
            $K = $v[2];//['K'];

            $y = $N * (-atan(($x - $M) * $K) / M_PI + 0.5) * 100;
            $y = round($y, 2);
            if ($y > 75) {
                $class = 'mark-green';
            } elseif ($y > 50) {
                $class = 'mark-blue';
            } elseif ($y > 25) {
                $class = 'mark-yellow';
            } elseif ($y > 10) {
                $class = 'mark-red';
            } else {
                $class = '';
            }
            echo '<td class="' . $class . ' text-right">';
            echo '<div class="tbl-science-distribution__percentage" data-value="'.$y.'">';
            echo preg_replace('/(\d\d)$/', '<small>\\1</small>', number_format($y, 2, '.', ',')) . '';
            echo '</div>';
            echo '<div class="tbl-science-distribution__absolute">';
            echo number_format((39.2 * $y / 100), 1, '.', ',');
            echo '</div>';
            echo '</td>';
        }
        echo '</tr>';
    }

    ?>
</table>

<script>
    $(function () {
        var $science = $('#science');
        var $formGroup = $('#form-group-science');
        var $table = $('.tbl-science-distribution');

        function calculate() {
            var val;
            var percentage;
            var sValue = $.trim($science.val());
            var value = parseFloat(sValue);
            if (isNaN(value)) {
                if (sValue.length > 0) {
                    $formGroup.addClass('has-error');
                }
                $table.addClass('tbl-science-distribution_view_percentage');
                $table.removeClass('tbl-science-distribution_view_absolute');
            } else {
                $table.removeClass('tbl-science-distribution_view_percentage');
                $table.addClass('tbl-science-distribution_view_absolute');
                $formGroup.removeClass('has-error');
                $('.tbl-science-distribution__percentage').each(function () {
                    percentage = parseFloat($(this).data('value'));
                    val        = value * percentage / 100;
                    $(this).next('.tbl-science-distribution__absolute').text(val.toFixed(1));
                })
            }
        }

        $science.on('blur', function(){
            calculate();
        });

        $science.on('keypress', function(e){
            if (e.charCode == 13) {
                calculate();
            }
        });
    });
</script>
