<?php
/**
 * @since             26.11.2014 19:25
 * @package
 * @author            DelphinPRO delphinpro@yandex.ru
 * @copyright         Copyright (C) 2014 DelphinPRO. All rights reserved.
 * @license           Licensed under the MIT license
 */
?>
<?
use df\extensions\models\ScienceReport;
use df\extensions\models\World;

/**
 * @var ScienceReport $report1
 * @var ScienceReport $report2
 * @var World         $world
 */

$col1 = 4;
$col2 = 8;

?>

	<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-<?= $col1 ?> control-label" for="link">Ссылка на этот отчет:</label>
		<div class="col-sm-<?= $col2 ?>">
			<input id="link" class="form-control" type="text"
			       onmousedown="this.select();" readonly style="cursor:text;font-family:monospace;"
			       value="http://<?= $_SERVER['HTTP_HOST'] ?>/sci/<?= $report1->id ?>/<?= $report2->id ?>/">
		</div>
	</div>
	<?/*
<div class="form-group">
	<div class="col-sm-<?= $col1 ?> control-label">Игровой мир:</div>
	<div class="col-sm-<?= $col2 ?>">
		<a class="btn btn-default" href="http://<?= $world->domain ?>" target="_blank">
			<?= $world->fullTitle ?>
			<i class="icon-link-ext"></i> </a>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-<?= $col1 ?> control-label">Принимающая сторона:</div>
	<div class="col-sm-<?= $col2 ?>">
		<div class="btn-group">
			<a class="btn btn-default" href="#"> <img src="/img/icons/account.png" alt="" style="height:18px;">
				<?= $report1->accountName ?>
			</a> <a class="btn btn-default" href="<?= $world->getLinkAccount($report1->accountId) ?>"
			        target="_blank"><i class="icon-link-ext"></i></a>
		</div>
		<? if ($report1->countryId) { ?>
			<div class="btn-group">
				<a class="btn btn-default" href="">
					<img src="<?= $world->getFlag($report1->countryFlag) ?>" alt="" style="height:16px;margin-top:-1px;">
					<?= $report1->countryName ?>
				</a> <a class="btn btn-default" href="<?= $world->getLinkCountry($report1->countryId) ?>"
				        target="_blank"><i class="icon-link-ext"></i></a>
			</div>
		<? } ?>
	</div>
</div>
<div class="form-group">
	<div class="col-sm-<?= $col1 ?> control-label">Вступающий игрок:</div>
	<div class="col-sm-<?= $col2 ?>">
		<div class="btn-group">
			<a class="btn btn-default" href="#"> <img src="/img/icons/account.png" alt="" style="height:18px;">
				<?= $report2->accountName ?>
			</a> <a class="btn btn-default" href="<?= $world->getLinkAccount($report2->accountId) ?>"
			        target="_blank"><i class="icon-link-ext"></i></a>
		</div>
		<? if ($report2->countryId) { ?>
			<div class="btn-group">
				<a class="btn btn-default" href="">
					<img src="<?= $world->getFlag($report2->countryFlag) ?>" alt="" style="height:16px;margin-top:-1px;">
					<?= $report2->countryName ?>
				</a> <a class="btn btn-default" href="<?= $world->getLinkCountry($report2->countryId) ?>"
				        target="_blank"><i class="icon-link-ext"></i></a>
			</div>
		<? } ?>
	</div>
</div>
*/
	?>


	<div class="form-group">
		<div class="col-sm-12 -col-sm-offset-<?= $col1 ?>">
			<table class="table table-bordered table-condensed table-science-compare" id="sci-table" style="table-layout:fixed">
				<thead>
				<tr>
					<th style="width:40%"></th>
					<th style="width:20%">
						<a href="/sci/<?= $report1->id ?>/"><?= $report1->accountName ?> (лог)</a></th>
					<th style="width:20%;">
						<a href="/sci/<?= $report2->id ?>/"><?= $report2->accountName ?> (лог)</a></th>
					<th style="width:20%;">Страна</th>
				</tr>
				<tr>
					<th></th>
					<td class="nw">
						<?= date('d.m.Y H:i', $report1->generateTime) ?>
					</td>
					<td class="nw text-left">
						<?= date('d.m.Y H:i', $report2->generateTime) ?>
					</td>
					<th></th>
				</tr>
				<tr class="t-header">
					<th>Науки</th>
					<th colspan=2>Изучено</th>
					<th>Результат</th>
				</tr>
				<?/*<tr>
					<td colspan="4">
						<label class="checkbox" for="showLearnBoth">
							<input type="checkbox" id="showLearnBoth">
							Показывать изученные у обоих игроков науки
						</label>
					</td>
				</tr>*/?>
				</thead>
				<tbody>
				<?

				$progressValue  = 0;
				$regressValue   = 0;
				$totalComplete1 = 0;
				$totalComplete2 = 0;
				$totalProgress1 = 0;
				$totalProgress2 = 0;

				foreach ($report1->science as $idx => $science) {

					$progress1 = (float)$report1->science[$idx]['progress'];
					$progress2 = (float)$report2->science[$idx]['progress'];

					if ($report1->science[$idx]['status'] == 2) {
						$totalComplete1++;
					}
					if ($report2->science[$idx]['status'] == 2) {
						$totalComplete2++;
					}
					$totalProgress1 += $progress1;
					$totalProgress2 += $progress2;

					if ($report1->science[$idx]['status'] == 0 && $report2->science[$idx]['status'] == 0) {
						continue;
					}
					if ($report1->science[$idx]['status'] == 1 || $report2->science[$idx]['status'] == 1) {
						if ($progress1 == 0 && $progress2 == 0) {
							continue;
						}
					}

					$css1 = $report1->science[$idx]['rowCssClass'];
					$css2 = $report2->science[$idx]['rowCssClass'];

					$percent1 = round($progress1 * 100 / $report1->science[$idx]['cost']);
					$percent2 = round($progress2 * 100 / $report2->science[$idx]['cost']);

					$percent  = ( $percent1 * $countAccounts + $percent2 ) / ( $countAccounts + 1 );
					$progress = ( $progress1 * $countAccounts + $progress2 ) / ( $countAccounts + 1 );

					$css3 = '';
					if ($progress < $progress1) {
						$css3 = 'sc-regress';
						$regressValue -= abs($progress - $progress1);
					}
					if ($progress > $progress1) {
						$css3 = 'sc-progress';
						$progressValue += abs($progress - $progress1);
					}



					?>
					<tr class="__science_list_item" data-cost="<?= $science['cost'] ?>" data-progress1="<?= (float)$progress1 ?>" data-progress2="<?= (float)$progress2 ?>">
						<td data-science-id="<?= $science['id'] ?>">
							<?//= $idx . ' - ' ?>
							<?//= $science['id'] ?>
							<a href="<?= $world->domain ?>/help#science/id<?= $science['id'] ?>" target="_blank"><?= $science['title'] ?></a>
							<?//= $science['status'] . ' - ' . $report2->science[$idx]['status'] ?>
						</td>
						<td class="text-right <?= $css1 ?>">
							<?= numFormat($report1->science[$idx]['progress']) ?>
							<!--						<small>/ --><? //= $percent1 ?><!--%</small>-->
						</td>
						<td class="text-right <?= $css2 ?>">
							<?= numFormat($report2->science[$idx]['progress']) ?>
							<!--						<small>/ --><? //= $percent2 ?><!--%</small>-->
						</td>
						<td class="nw text-right <?= $css3 ?>">
							<?= round($progress) ?>
							<small class="__percent">&ndash; <?= round($percent, 1) ?>%</small>
						</td>
					</tr>
				<? } ?>
				</tbody>
				<tfoot>
				<tr>
					<td>Игроков в стране <b style="white-space:nowrap;"><?= $report1->accountName ?></b></td>
					<td colspan=3 class="text-right">
						<form action="/sci/<?= $report1->id ?>/<?= $report2->id ?>/" method="get">
							<div class="input-group">
								<input id="num" type="text" name="a" class="num form-control input-sm" value="<?= $countAccounts ?>" style="text-align:center">
							<span class="input-group-btn">
								<button class="btn btn-primary btn-sm" type="submit">Посчитать</button>
							</span>
							</div>
						</form>
					</td>
				</tr>
				<tr class="t-header">
					<th colspan=3>Итог</th>
					<th class="text-right <?= ( $progressValue + $regressValue >= 0 ) ? 'sc-progress' : 'sc-regress' ?>">
						<?= round($progressValue + $regressValue) ?></th>
				</tr>
				<tr>
					<th>Получено знаний</th>
					<th class="text-right"><? //= numTriad((int)$this->log1['investedTotal'] + (int)$this->log1['markupTotal']) ?></th>
					<th class="text-right"><? //= numTriad((int)$this->log1['investedTotal'] + (int)$this->log1['markupTotal']) ?></th>
					<th class="text-right sc-progress"><?= round($progressValue) ?></th>
				</tr>
				<tr>
					<th>Потеряно знаний</th>
					<th class="text-right"><? //= numTriad((int)$this->log1['investedTotal'] + (int)$this->log1['markupTotal']) ?></th>
					<th class="text-right"><? //= numTriad((int)$this->log1['investedTotal'] + (int)$this->log1['markupTotal']) ?></th>
					<th class="text-right sc-regress"><?= round($regressValue) ?></th>
				</tr>
				<tr>
					<td>Изучено наук</td>
					<td class="text-right"><?= $totalComplete1 ?></td>
					<td class="text-right"><?= $totalComplete2 ?></td>
					<td class="text-right"></td>
				</tr>
				<tr>
					<td>Вложено знаний</td>
					<td class="text-right"><?= numFormat($totalProgress1) ?></td>
					<td class="text-right"><?= numFormat($totalProgress2) ?></td>
					<td class="text-right"><? //= numTriad($this->log2['investedTotal']) ?></td>
				</tr>
				</tfoot>
			</table>
			<style>
				.__percent {
					display: inline-block;
					vertical-align: middle;
					width: 50px;
					text-align: left;
				}
			</style>
		</div>
	</div>


	</div>
<?/*
dmp($world, 0);
dmp($report1, 'report 1', 0);
dmp($report2, 'report 2', 0);
/**/