<?php
/**
 * @since              13.09.13 16:00
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
use df\extensions\models\ScienceReport;
use df\extensions\models\World;
use df\helper\FS;
use df\Html;
use df\view\Document;

/**
 * @var Document      $this
 * @var ScienceReport $report
 * @var World         $world
 * @var string        $key
 */

//dmp($world, 0);
//dmp($report, 0);
$col1 = 3;
$col2 = 9;

$js      = file(FS::path('/public_html/client/wofh-tools.user.js'));
$usVersion = '1.0.0';
foreach ($js as $line) {
    if (preg_match('~//\s+\@version\s+([\d\.]+)\s~Usi', $line, $ver)) {
        $usVersion = $ver[1];
        break;
    }
}

function getTextBonus($id, $val, $world)
{
	$ext1_3  = array(
		1   => 'Осада городов',
		2   => 'Полная видимость карты',
		8   => 'Новая экономическая система',
		16  => 'Военные возможности',
		32  => 'Торговые маршруты',
		64  => 'Строительство грунтовых дорог',
		128 => 'Строительство шоссе',
		256 => 'Строительство железной дороги',
	);
	$ext1_4  = array(
		1 => 'Полная видимость карты',
		2 => 'Устаревание бартерной торговли',
		3 => 'Новая экономическая система',
		5 => 'Строительство грунтовых дорог',
		6 => 'Строительство шоссе',
		7 => 'Строительство железной дороги',
		8 => 'Строительство маглев дороги',
	);
	$bonuses = array(
		0  => 'Рост населения',
		1  => 'Культура',
		2  => 'Доход',
		3  => 'Улучшение научного распределения',
		4  => 'Война',
		5  => 'Производство',
		6  => ( $world->id == 1023 ) ? $ext1_4 : $ext1_3,
		7  => 'Радиус обзора',
		8  => 'Склад',
		9  => 'Торговцы',
		10 => 'Дальность морской торговли',
		11 => 'Добыча рыбы',
		12 => 'Добыча гранита',
		13 => 'Добыча металла',
	);

	$bonusIndex = array(0.0833333, 25, 0.1, 1, 10, 0.1, 1, 2, 100, 1, 1, 0.1, 0.1, 0.05);

	$text       = '';
	$label      = '';
	$shortlabel = '';

	if (isset( $bonuses[$id] )) {
		switch ($id) {
			case 0:
			case 7:
				$shortlabel = '+' . $val * 2;
				$label      = $bonuses[$id] . ' +' . $val * 2;
				break;
			case 1:
				$shortlabel = '+' . $val * 25 . '';
				$label      = $bonuses[$id] . ' +' . $val * 25 . '';
				break;
			case 3:
				$label = $bonuses[$id];
				break;
			case 4:
				$shortlabel = '+' . ( $bonusIndex[$id] * $val ) . '%';
				$label      = $bonuses[$id] . ' +' . ( $bonusIndex[$id] * $val ) . '%';
				break;
			case 6:
				if (isset( $bonuses[$id][$val] )) {
					$label = $bonuses[$id][$val];
				} else {
					$label = '(' . $id . ') Неизвестная возможность (' . $val . ')';
				}
				break;
			case 8:
				$shortlabel = '+' . ( $val * 100 );
				$label      = $bonuses[$id] . ' +' . ( $val * 100 ) . ' ед.';
				break;
			case 9:
				$shortlabel = '+' . $val;
				$label      = $bonuses[$id] . ' +' . $val;
				break;
			case 10:
				if ($val & 16) {
					$label = 'Маглев дорога';
				}
				if ($val & 4) {
					$label = 'Дальность морской торговли';
				}
				if ($val & 2) {
					$label = 'Устаревание бартерной торговли';
				}
				if ($val & 1) {
					$label = 'Миникарта';
				}
				break;
			case 2:
			case 5:
			case 11:
			case 12:
			case 13:
				$shortlabel = '+' . ( $bonusIndex[$id] * $val * 100 ) . '%';
				$label      = $bonuses[$id] . ' +' . ( $bonusIndex[$id] * $val * 100 ) . '%';
				break;
			default:
				$text .= '(' . $id . ') ' . $bonuses[$id] . ' (' . $val . ')';
		}
	} else {
		return '<div>bonus: ' . $id . ' => ' . $val . '</div>';
	}
	$text .= '<a class="bonus bonus-' . $id . '" title="' . $label . '" data-toggle="tooltip" data-placement="top"></a>';
	return $text;// . ' <b>[' . $id . ']</b> ';
}

function getScienceDistribution($id)
{
	return $id == 3 ? 1 : 0;
}

function getCulture($id, $val)
{
	return $id == 1 ? $val * 25 : 0;
}

function getProduction($id, $val)
{
	$bonusIndex = array(0.0833333, 25, 0.1, 1, 10, 0.1, 1, 2, 100, 1, 1, 0.1, 0.1, 0.05);
	return $id == 5 ? $bonusIndex[$id] * $val * 100 : 0;
}

function getSklad($id, $val)
{
	return $id == 8 ? $val * 100 : 0;
}

function getPop($id, $val)
{
	return $id === 0 ? $val * 2 : 0;
}

?>

<div class="form-horizontal">
	<div class="form-group">
		<div class="col-sm-<?= $col1 ?> control-label"></div>
		<div class="col-sm-<?= $col2 ?>">
            <? if (empty($report->science)) { ?>
                <div class="alert alert-info">
                    Не отображается отчет? Обнови <a href="/client/wofh-tools.user.js">юзер скрипт</a> до версии <?=$usVersion?>
                </div>
            <? } ?>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-<?= $col1 ?> control-label" for="link">Ссылка на отчет:</label>
		<div class="col-sm-<?= $col2 ?>">
			<input id="link" class="form-control" type="text"
			       onmousedown="this.select();"
			       value="http://<?= $_SERVER['HTTP_HOST'] ?>/sci/<?= $report->id ?>/"
			       readonly style="cursor:text;font-family:monospace;">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-<?= $col1 ?> control-label" for="key">Ключ отчета:</label>
		<div class="col-sm-<?= $col2 ?>">
			<div class="row">
				<div class="col-sm-5">
					<input id="key" class="form-control" type="text"
					       onmousedown="this.select();"
					       value="<?= $report->id ?>"
					       readonly style="cursor:text;font-family:monospace;">
				</div>
				<div class="col-sm-7">
					<form method="POST" action="/sci/compare/" style="margin: 0;">
						<input type="hidden" value="<?= $report->id ?>" name="key1" />
						<div class="input-group">
							<input class="form-control" type="text" name="key2">
							<span class="input-group-btn">
								<button class="btn btn-primary" type="submit">Сравнить</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="row">
	<div class="col-sm-<?= $col1 ?> text-right">
		<code><?= date('d.m.Y H:i', $report->generateTime) ?></code>
	</div>
	<div class="col-sm-<?= $col2 ?>">
		<table class="table table-bordered table-condensed table-science-report" id="table-science-report">
			<thead>
			<tr class="t-header">
				<th>Науки</th>
				<th>Стоимость</th>
				<th colspan=2>Изучено</th>
			</tr>
			<tr>
				<td colspan="4">
					<div class="mb5"><?=
						Html::checkboxSw(array(
							'id'      => 'showComplete',
							'checked' => true,
						), '__small', array(), array('on' => 'Да', 'off' => 'Нет'));
						?>
						<label for="showComplete" class="checkbox-switcher-text">Показывать изученные науки</label>
					</div>
					<div><?=
						Html::checkboxSw(array(
							'id'      => 'showTake',
							'checked' => false,
						), '__small', array(), array('on' => 'Да', 'off' => 'Нет'));
						?>
						<label for="showTake" class="checkbox-switcher-text">Показывать доступные науки</label>
					</div>
				</td>
			</tr>
			</thead>
			<tbody>
			<?
			$totalComplete = 0;
			$scienceDistribution = 0;
			$culture = 0;
			$production = 0;
			$sklad = 0;
			$pop = 0;
			?>
			<? foreach ($report->science as $id => $science) { ?>
				<? if ($science['status'] == 2) $totalComplete++; ?>
				<? if ($science['status'] > 0) { ?>
					<tr class="text-right <?= $science['rowCssClass'] ?>" style="white-space:nowrap">
						<td class="text-left">
							<? if (!empty( $science['bonuses'] )) { ?>
								<div class="pull-right">
									<? foreach ($science['bonuses'] as $idb => $val) { ?>
										<?
										if ($science['status'] == 2) {
											$scienceDistribution += getScienceDistribution($idb);
											$culture += getCulture($idb, $val);
											$production += getProduction($idb, $val);
											$sklad += getSklad($idb, $val);
											$pop += getPop($idb, $val);
										}
										?>
										<?= getTextBonus($idb, $val, $world) ?>
									<? } ?>
								</div>
							<? } ?>
							<? //= $id . ' - ' ?>
							<? //= $science['id'] ?>
							<a href="<?= $world->domain ?>/help#science/id<?= $science['id'] ?>" target="_blank"><?= $science['title'] ?></a>
							<? //= $science['status'] ?>
						</td>
						<td><?= numFormat($science['cost']) ?></td>
						<td data-progress="<?= $science['progress'] ?>"><?= numFormat($science['progress']) ?></td>
						<td><?= numFormat(floor(( $science['progress'] / $science['cost'] ) * 100)) ?>
							%
						</td>
					</tr>
				<? } ?>
			<? } ?>
			</tbody>
			<tfoot>
			<tr class="t-header">
				<th colspan=4>Итог</th>
			</tr>
			<tr>
				<td>Всего изучено наук</td>
				<td colspan=3>
					<div class="pull-left"><?= $totalComplete ?></div>
					<div class="progress progress-striped" style="margin:0 0 0 50px;position:relative;">
						<div class="progress-bar progress-bar-success" style="width: <?= ( $totalComplete / count($report->science) * 100 ) ?>%;"></div>
						<div class="progress-bar progress-bar-i-nfo" style="width: <?= ( 100 - $totalComplete / count($report->science) * 100 ) ?>%;"></div>
						<div style="width:100%;position:absolute;left:0;top:0;height:20px;text-align:center;color:white;text-shadow:0 1px 1px #000"><?= round($totalComplete / count($report->science) * 100, 2) ?>
							%
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>Всего вложено знаний</td>
				<td></td>
				<td id="totalProgress" class="text-right"></td>
				<td></td>
			</tr>
			<?/*<tr>
				<td class="text-right">из них наценки</td>
				<td colspan=3><?= numFormat($report['markupTotal']) ?></td>
			</tr>*/
			?>
			</tfoot>
		</table>

		<h3>Научное распределение <small><a href="/science-distribution/">Полная таблица &rarr;</a></small></h3>
		<?
		$np   = array(
			array('N' => 2, 'M' => 1, 'K' => 5),
			array('N' => 2, 'M' => 1.03, 'K' => 5),
			array('N' => 2, 'M' => 1.065, 'K' => 5),
			array('N' => 1.35, 'M' => 1.8, 'K' => 5),
			array('N' => 1.5, 'M' => 2.2, 'K' => 1.3),
			array('N' => 1.4, 'M' => 3.2, 'K' => 0.8),
			array('N' => 1.2, 'M' => 5, 'K' => 0.6),
			array('N' => 1.1, 'M' => 7, 'K' => 0.5),
			array('N' => 1.02, 'M' => 9, 'K' => 0.45),
			array('N' => 0.97, 'M' => 11, 'K' => 0.4),
			array('N' => 0.92, 'M' => 14, 'K' => 0.4),
			array('N' => 0.86, 'M' => 19, 'K' => 0.35),
			array('N' => 0.8, 'M' => 25, 'K' => 0.3),
			array('N' => 0.75, 'M' => 30, 'K' => 0.25),
			array('N' => 0.72, 'M' => 35, 'K' => 0.2),
		);
		$np14 = array(
			array('N' => 2, 'M' => 1, 'K' => 5),
			array('N' => 2, 'M' => 1.03, 'K' => 5),
			array('N' => 2, 'M' => 1.065, 'K' => 5),
			array('N' => 1.35, 'M' => 1.8, 'K' => 5),
			array('N' => 1.5, 'M' => 2.2, 'K' => 1.3),
			array('N' => 1.4, 'M' => 3.2, 'K' => 0.8),
			array('N' => 1.2, 'M' => 5, 'K' => 0.6),
			array('N' => 1.1, 'M' => 7, 'K' => 0.5),
			array('N' => 1.02, 'M' => 9, 'K' => 0.45),
			array('N' => 0.97, 'M' => 11, 'K' => 0.4),
			array('N' => 0.92, 'M' => 14, 'K' => 0.4),
			array('N' => 0.86, 'M' => 19, 'K' => 0.35),
			array('N' => 0.8, 'M' => 25, 'K' => 0.3),
			array('N' => 0.75, 'M' => 30, 'K' => 0.25),
			array('N' => 0.72, 'M' => 35, 'K' => 0.2),
			array('N' => 0.72, 'M' => 35, 'K' => 0.2),
			array('N' => 0.72, 'M' => 35, 'K' => 0.2),
			array('N' => 0.72, 'M' => 35, 'K' => 0.2),
			array('N' => 0.72, 'M' => 35, 'K' => 0.2),
		);

		$np = $report->worldId == 1023 ? $np14 : $np;
		?>
		<? $v = $np[$scienceDistribution]; ?>
		<? for ($x = 1; $x <= 46; $x++) { ?>
			<?
			$N = $v['N'];
			$M = $v['M'];
			$K = $v['K'];

			$y = $N * ( -atan(( $x - $M ) * $K) / M_PI + 0.5 ) * 100;
			$y = round($y, 2);
			if ($y > 75) {
				$class = 'mark-green';
			} elseif ($y > 50) {
				$class = 'mark-blue';
			} elseif ($y > 25) {
				$class = 'mark-yellow';
			} elseif ($y > 10) {
				$class = 'mark-red';
			} else {
//				$class = 'mark-blue';
				continue;
			}
			echo '<div class="sc-distribution ' . $class . '" title="' . $x . ' место" data-toggle="tooltip">';
			echo preg_replace('/(\d\d)$/', '<small>\\1</small>', number_format($y, 2, '.', ','));
			echo '</div>';
			?>
		<? } ?>
		<p style="clear:both;">&nbsp;</p>
		<p>Культура: +<?= $culture ?></p>
		<p>Производство: +<?= $production ?> %</p>
		<p>Склад: +<?= $sklad ?></p>
		<p>Рост населения: +<?= $pop ?></p>
		<style>
			.sc-distribution {
				float: left;
				width: 60px;
				height: 30px;
				margin: 5px 1px;
				text-align: center;
				line-height: 30px;
				cursor: help;
			}
		</style>
	</div>
</div>
<? //dmp($report, 0) ?>
<script>
	$(function () {
		var sciTable = $('#table-science-report'),
			showComplete = $('#showComplete'),
			showTake = $('#showTake');

		var config = localStorage.getItem('wt-config');
		config = (config) ? JSON.parse(config) : {};
		if (!config.sciReport) config.sciReport = {};
		if (!config.sciReport.showComplete) config.sciReport.showComplete = 1;
		if (!config.sciReport.showTake) config.sciReport.showTake = 2;

		if (config.sciReport.showComplete == 1) {
			showComplete.prop('checked', 'checked');
		} else {
			showComplete.removeAttr('checked');
		}

		if (config.sciReport.showTake == 1) {
			showTake.prop('checked', 'checked');
		} else {
			showTake.removeAttr('checked');
		}


		showComplete.on('change', function () {
			if ($(this).is(':checked')) {
				sciTable.addClass('__show_complete');
				config.sciReport.showComplete = 1;
			} else {
				sciTable.removeClass('__show_complete');
				config.sciReport.showComplete = 2;
			}
			localStorage.setItem('wt-config', JSON.stringify(config));
		}).change();

		showTake.on('change', function () {
			if ($(this).is(':checked')) {
				sciTable.addClass('__show_take');
				config.sciReport.showTake = 1;
			} else {
				sciTable.removeClass('__show_take');
				config.sciReport.showTake = 2;
			}
			localStorage.setItem('wt-config', JSON.stringify(config));
		}).change();

		var totalProgress = 0;
		$('[data-progress]').each(function () {
			totalProgress += $(this).data('progress');
		});
		$('#totalProgress').html(wt.math.format(totalProgress));

	});
</script>
