<?php
/**
 * @since              23.09.13 23:59
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */
use df\extensions\models\Wofh;
use df\helper\FS;
use df\view\Document;

/**
 * @var Document $this
 * @var int      $logsPerDay
 * @var int      $logsToday
 * @var array    $logs
 */

$js = file(FS::path('/public_html/client/wofh-tools.user.js'));
$version = '1.0.0';
foreach ($js as $line) {
	if (preg_match('~//\s+\@version\s+([\d\.]+)\s~Usi', $line, $ver)) {
		$version = $ver[1];
		break;
	}
}
//if ($this->user->isAdmin()) {
	$usLink = '/client/wofh-tools.user.js'
//} else {
//	$usLink = 'javascript:alert(\'Расширение находится на согласовании у администрации игры Пути Истории\')';
//}
?>
		<h1 class="page-header">Науковница</h1>
<? if ($logsPerDay) { ?>
				<div class="alert alert-info">
					<i class="icon-ok"></i> За последние 24 часа было добавлено <?= (int)$logsPerDay ?> логов. Сегодня - <?= (int)$logsToday?>.
				</div>
<? } ?>
<p>Для использования науковницы необходимо установить в браузер пользовательский скрипт. Скрипт встраивает в страницы
	игры кнопку с дополнительными функциями, позволяющими передать информацию на внешний сайт логовницы/науковницы.</p>

<div class="gallery">
        <a href="/images/userjs/standard-button.jpg" class="lightbox" rel="gallery">
            <img src="/images/userjs/standard-button-sm.jpg" alt="">
        </a>
        <a href="/images/userjs/standard-panel.jpg" class="lightbox" rel="gallery">
            <img src="/images/userjs/standard-panel-sm.jpg" alt="">
        </a>
        <a href="/images/userjs/scilogger.jpg" class="lightbox" rel="gallery">
            <img src="/images/userjs/scilogger-sm.jpg" alt="">
        </a>
        <a href="/images/userjs/warlogger.jpg" class="lightbox" rel="gallery">
            <img src="/images/userjs/warlogger-sm.jpg" alt="">
        </a>
        <a href="/images/userjs/classic-button.jpg" class="lightbox" rel="gallery">
            <img src="/images/userjs/classic-button-sm.jpg" alt="">
        </a>
</div>
<script>
    $(function(){
        $('.lightbox').fancybox();
    });
</script>

<p>
  <a class="btn btn_primary"
      href="https://chrome.google.com/webstore/detail/tampermonkey-beta/gcalenpjmijncebpfijmoaglllgpjagf?hl=ru"
      target="_blank">Скачать TamperMonkey</a>
</p>
<p>
  <a class="btn btn_primary btn_large" href="<?= $usLink ?>">Установить Wofh-Tools user script, v<?= $version ?></a>
</p>

<? if ($this->user->isAdmin()) { ?>
	<div class="admin-area">
		<? dmp($_SERVER, 0) ?>
	</div>
<? } ?>

<? if ($this->user->isAdmin()) { ?>
	<div class="admin-area">
		<h3>Последние логи (DEBUG)</h3>
		<table class="table table-condensed">
			<? foreach ($logs as $log) { ?>
				<tr>
					<td width=1 class="nw"><code><?= date('d.m.Y - H:i:s', strtotime($log['generateTime'])) ?></code></td>
					<td><?= Wofh::idToSign($log['worldId']) ?></td>
					<td>
						<a href="/sci/<?= $log['id'] ?>/"><?= $log['accountName'] ?></a>
					</td>
					<td>
						<? if ($log['countryId']) { ?>
							<a href="<?= $this->router->link('statCountry', array('sign'=>strtolower(Wofh::idToSign($log['worldId'])),'countryId'=>$log['countryId'])) ?>"><?= $log['countryName'] ?></a>
						<? } ?>
					</td>
					<td><?= $log['clientIP'] ?></td>
				</tr>
			<? } ?>
		</table>
	</div>
<? }/**/ ?>
