<?php
/**
 * @since              25.10.13 16:12
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */

use df\extensions\models\WarReport;
use df\extensions\models\World;
use df\helper\FS;
use df\Registry;

/**
 * @var World     $world
 * @var WarReport $report
 * @var array     $opts
 * @var string    $key
 * @var array     $units
 * @var array     $myReports
 */

$buildsFort = array(
	0 => 'Яма',
	1 => 'Частокол',
	2 => 'Стена',
	3 => 'Укрепрайон',
);

$agg = $report->report->aggressor;
$def = $report->report->defending;

$selfReport = Registry::getInstance('df\Session')->get('ArmyLogId') == $key;

$_townDestroyed    = false;
$_depositDestroyed = false;
$_depositId        = 0;
foreach ($report->report->destroy as $build) {
	if ($build[0] == 601) {
		$_depositDestroyed = true;
		$_depositId        = $build[1];
	}
	if ($build[0] == 602) {
		$_townDestroyed = true;
	}
}

?>
<div class="width-700" style="max-width:700px;margin:auto;overflow:hidden;">
	<div class="f-orm-horizontal">
		<div class="form-group">
			<label class="-col-sm-2 control-label" for="link" style="display:block;text-align:center;">Ссылка на
				отчет:
			</label>
			<div class="-col-sm-6">
				<input id="link" class="form-control" type="text" onfocus="this.select();" value="http://<?= $_SERVER['HTTP_HOST'] ?>/log/<?= $key ?>/" readonly style="cursor:text;font-family:monospace">
			</div>
		</div>

		<div class="form-group">
			<!--			<label class="-col-sm-2 control-label" for="link2"></label>-->
			<div class="c-ol-sm-6">
				<?
				$rows     = 3;
				$textarea = '';
				$textarea .= $agg['title'] . ' (' . $agg['town'] . ' [t' . $report->aggressorTownId . '])';
				$textarea .= ( $report->spy ) ? ' разведал ' : ' напал на ';
				$textarea .= $def['title'] . ' (' . $def['town'] . ' [t' . $report->defendingTownId . '])';
				$textarea .= "\n" . 'http://' . $_SERVER['HTTP_HOST'] . '/log/' . $key . '/';
				if ($report->report->kill) {
					$textarea .= "\n" . "Убито " . $report->report->kill . " человек";
					$rows++;
				}
				if ($report->report->wonderStop) {
					$textarea .= "\n" . "Строительство ЧС отложено на " . round($report->report->wonderStop / 60, 2) . " минут";
					$rows++;
				}

				if ($_depositDestroyed) {
					$textarea .= "\n" . "Ресурсная колония разрушена: ";
					$textarea .= $deposits[$_depositId]['name'] . ', ' . $climate[$deposits[$_depositId]['climate']];
					$rows++;
				}

				if ($_townDestroyed) {
					$textarea .= "\n" . "Город разрушен";
					$rows++;
				}

				$textarea .= "\n" . $report->timeString;
				?>
				<textarea id="link2" class="form-control" rows="<?= $rows ?>" onfocus="this.select();" readonly style="cursor:text;font-family:monospace;resize:none;"
					><?= $textarea ?></textarea>
			</div>
		</div>

		<div class="form-group text-center">
			<label class="-col-sm-4 control-label" for="link">Игровой мир:</label>
			<!--			<div class="-col-sm-8">-->
			<?= $world->buildLink('world', 0, '', 'link'); ?>
			<!--			</div>-->
		</div>
		<? /*
		<div class="form-group">
			<label class="col-sm-5 col-lg-7 control-label" for="link">Агрессор:</label>
			<div class="col-xs-24 col-sm-19 col-lg-12">
				<div class="btn-group">
					<a class="btn btn-default" href="/stat/<?= strtolower($report['worldSign']) ?>/account/<?= $report['aggressorId'] ?>/">
						<?= $agg['title'] ?></a>
					<a class="btn btn-default" href="http://<?= $report['domain'] ?>/account?id=<?= $report['aggressorId'] ?>" target="_blank">
						<i class="icon-link-ext"></i></a>
				</div>
				<? if ($report['aggressorCountryId'] > 0) { ?>
					<div class="btn-group">
						<a class="btn btn-default" href="/stat/<?= strtolower($report['worldSign']) ?>/country/<?= $report['aggressorCountryId'] ?>/">
							<img src="<?= $world->getFlag($report['report']['aggressor']['flag']) ?>" alt="" style="height:16px;margin-top:-2px;" />
							<?= $report['report']['aggressor']['country'] ?>
						</a>
						<a class="btn btn-default" href="http://<?= $report['domain'] ?>/countryinfo?id=<?= $report['aggressorCountryId'] ?>" target="_blank">
							<i class="icon-link-ext"></i></a>
					</div>
				<? } ?>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-5 col-lg-7 control-label" for="link">Обороняющийся:</label>
			<div class="col-xs-24 col-sm-19 col-lg-10">
				<div class="btn-group">
					<a class="btn btn-default" href="/stat/<?= strtolower($report['worldSign']) ?>/account/<?= $report['defendingId'] ?>/">
						<?= $def['title'] ?></a>
					<a class="btn btn-default" href="http://<?= $report['domain'] ?>/account?id=<?= $report['defendingId'] ?>" target="_blank">
						<i class="icon-link-ext"></i></a>
				</div>
				<? if ($report['defendingCountryId'] > 0) { ?>
					<div class="btn-group">
						<a class="btn btn-default" href="/stat/<?= strtolower($report['worldSign']) ?>/country/<?= $report['defendingCountryId'] ?>/">
							<img src="<?= $world->getFlag($report['report']['defending']['flag']) ?>" alt="" style="height:16px;margin-top:-2px;" />
							<?= $report['report']['defending']['country'] ?>
						</a>
						<a class="btn btn-default" href="http://<?= $report['domain'] ?>/countryinfo?id=<?= $report['defendingCountryId'] ?>" target="_blank">
							<i class="icon-link-ext"></i></a>
					</div>
				<? } ?>
			</div>
		</div>
		*/
		?>
		<? /*if ($selfReport) { ?>
			<div class="form-group">
				<div class="col-sm-8 col-sm-offset-4">
					<form action="http://army.magifromwofh.com/alog/" method="post" target="_blank">
						<input type="hidden" name="data" value="<?= $data1 ?>">
						<input type="hidden" name="data2" value="<?= $data2 ?>">
						<input type="hidden" name="key" value="<?= md5(time()) ?>">
						<input type="submit" value="Передать в логовницу Magi" class="btn">
						<small style="position:relative;top:1px;" class="text-muted">Экспериментальная опция</small>
					</form>
				</div>
			</div>
		<? } */
		?>

	</div>
</div>
<?
$resGroups = array(
	array(0, 22, 15, 1, -1, -1, -1, -1, -1),
	array(2, 3, 4, 6),
	array(5, 7, 8, 9, 10),
	array(11, 12, 13, 14, 16, -1, -1, -1, -1),
	array(17, 18, 19, 20, 21, -1, -1, -1, -1),
);

function aa($groupId)
{
	$UNIT_GROUPS = array('mark-attack', 'mark-reserve', 'mark-shooter', 'mark-bypass', 'mark-flank');
	return isset( $UNIT_GROUPS[$groupId] ) ? $UNIT_GROUPS[$groupId] : '';
}


if ($selfReport) echo 'Свой отчет';

$options = '';
$options .= ( $opts['an'] ) ? ' opt-hide-aggressor' : '';
$options .= ( $opts['as'] ) ? ' opt-hide-aggressor-strength' : '';
$options .= ( $opts['aa'] ) ? ' opt-hide-aggressor-army' : '';
$options .= ( $opts['dn'] ) ? ' opt-hide-defending' : '';
$options .= ( $opts['ds'] ) ? ' opt-hide-defending-strength' : '';
$options .= ( $opts['da'] ) ? ' opt-hide-defending-army' : '';
?>
<div class="width-700" style="max-width:940px;margin:auto;">

	<table id="private-army-log" class="table table-bordered table-condensed<?= $options ?>">
		<thead>
		<tr>
			<th></th>
			<th colspan="2" class="text-center">
				<div style="font-size: 14px;">
		<span class="aggressor">
			<?= $world->buildLink('account', $report->aggressorId, $agg['title']) ?>

			(<a href="/stat/<?= strtolower($report->worldSign) ?>/towns/<?= $report->aggressorTownId ?>/">
				<?= $agg['town'] ?>
			</a>
			<a href="https://<?= $report->domain ?>/towninfo?id=<?= $report->aggressorTownId ?>" target="_blank">
				<i class="icon-link-ext"></i> </a>)
		</span> <span style="font-weight:normal"><?= ( $report->spy ) ? ' разведал ' : ' напал на ' ?></span>
		<span class="defending">
			<?= $world->buildLink('account', $report->defendingId, $def['title']) ?>

			(<a href="/stat/<?= strtolower($report->worldSign) ?>/towns/<?= $report->defendingTownId ?>/">
				<?= $def['town'] ?>
			</a>
			<a href="https://<?= $report->domain ?>/towninfo?id=<?= $report->defendingTownId ?>" target="_blank">
				<i class="icon-link-ext"></i> </a>)
		</span>
				</div>
				<?= $report->timeString ?>
			</th>
		</tr>
		<tr>
			<th></th>
			<th width="44%" class="text-center">Нападение</th>
			<th width="44%" class="text-center">Оборона</th>
		</tr>
		</thead>
		<tbody>
		<? if ($this->user->isAdmin() && $report->report->result) { ?>
			<tr>
				<td>result (<?= $report->report->result ?>)<br>(<?= decbin($report->report->result) ?>)</td>
				<? if ($report->report->result == 2) { ?>
					<td class="text-success text-center">Победа</td>
					<td class="text-danger text-center">Поражение</td>
				<? } elseif ($report->report->result == -1) { ?>
					<!--				<td class="text-danger text-center">Поражение</td>-->
					<!--				<td class="text-success text-center">Победа</td>-->
				<? } else { ?>
					<td colspan="2" class="text-center">:(</td>
				<? } ?>
			</tr>
		<? } ?>

		<? if ($report->aggressorCountryId > 0 || $report->defendingCountryId > 0) { ?>
			<tr>
				<td>Страны</td>
				<td>
					<? if ($report->aggressorCountryId > 0) { ?>
						<?= $world->buildLink('country', $report->aggressorCountryId, $agg['country'], 'button', $def['flag']) ?>
					<? } ?>
				</td>
				<td>
					<? if ($report->defendingCountryId > 0) { ?>
						<?= $world->buildLink('country', $report->defendingCountryId, $def['country'], 'button', $def['flag']) ?>
					<? } ?>
				</td>
			</tr>
		<? } ?>
		<? if (( isset( $agg['wonder'] ) && $agg['wonder'] ) || ( isset( $def['wonder'] ) && $def['wonder'] )) { ?>
			<tr>
				<td>ЧС</td>
				<td>
					<? if (isset( $agg['wonder'] ) && $agg['wonder']) { ?>
						<span class="aggressor"><img src="/img/builds/w<?= $agg['wonder'] ?>.png" alt="" style="height:34px;"></span>
					<? } ?>
				</td>
				<td style="font-weight:bold">
					<? if (isset( $def['wonder'] ) && $def['wonder']) { ?>
						<span class="defending"><img src="/img/builds/w<?= $def['wonder'] ?>.png" alt="" style="height:34px;"></span>
					<? } ?>
				</td>
			</tr>
		<? } ?>
		<? if (!empty( $agg['bonus'] ) || !empty( $def['bonus'] ) || $report->report->fort) { ?>
			<tr>
				<td>Военный бонус</td>
				<td><?= !empty( $agg['bonus'] ) ? $agg['bonus'] . ' %' : '' ?></td>
				<td>
					<?= !empty( $def['bonus'] ) ? $def['bonus'] . ' %' : '' ?>
					<? if ($report->report->fort) { ?>
						<div class="pull-right" style="white-space: nowrap;">
							<?= $buildsFort[$report->report->fort['id']] ?>
							<?= $report->report->fort['level'] ?>
							ур. <img src="/img/builds/fort-<?= $report->report->fort['id'] ?>.png" alt="">
						</div>
					<? } ?>
				</td>
			</tr>
		<? } ?>
		<?
		function getUnitGroupName($n)
		{
			$a = array(
				'Атака',
				'Резерв',
				'Стрелки',
				'Обход',
				'Фланг',
			);
			return isset( $a[$n] ) ? $a[$n] : $n;
		}

		?>
		<tr class="">
			<td>Армии</td>
			<td class="aggressor-army">
				<?
				if (is_array($agg['army'])) {
					if ($this->user->isAdmin()) {

						if (!empty( $agg['tactic'] )) {
							$tactics = str_split($agg['tactic'], 3);
							sort($tactics);
							dmp($agg['army'], 0);
							pre($tactics, 0);
							$tArmy = array();
							foreach ($tactics as $tactic) {
								$t = str_split($tactic);
								if (count($t) != 3) continue;

								$from  = (int)$t[0];
								$to    = (int)$t[1];
								$count = (int)$t[2];

								$agg['army'][$from];
							}

							echo '<hr>';
						}

					}

					foreach ($agg['army'] as $group => $army0) {
						echo '<div class="' . aa($group) . '" style="padding:2px;margin:0px 0;">';
						echo '<i class="army-group-title" style="float:left">' . getUnitGroupName($group) . '</i>';
						echo '<div style="margin-left:72px">';
						foreach ($army0 as $unitId => $army) {
							echo '<span class="b-units">';
							if (!$opts['as'] || $selfReport) {
								$percent = isset( $agg['survive'][$group][$unitId] ) ? round(( $agg['survive'][$group][$unitId] * 100 ) / $army, 4) : 0;
								echo '<span class="army-bar"><i style="width:' . $percent . '%"></i></span>';
							}
							echo '<b class="unit u' . $unitId . '"><span class="unit-tooltip">' . $units[$unitId]['title'] . '</span></b>';
							if (!$opts['as'] || $selfReport) {
								echo ' <span class="strength">' . $army . '</span>';
							}
							echo '</span>';
						}
						echo '</div>';
						echo '</div>';
					}
				}
				?>
			</td>
			<td class="defending-army">
				<?
				if (is_array($def['army'])) {
					foreach ($def['army'] as $group => $army0) {
						echo '<div class="' . aa($group) . '" style="padding:2px;margin:0px 0;">';
						echo '<i class="army-group-title" style="float:left">' . getUnitGroupName($group) . '</i>';
						echo '<div style="margin-left:72px">';
						foreach ($army0 as $unitId => $army) {
							echo '<span class="b-units">';
							if (!$opts['ds'] || $selfReport) {
								$percent = isset( $def['survive'][$group][$unitId] ) ? round(( $def['survive'][$group][$unitId] * 100 ) / $army, 4) : 0;
								echo '<span class="army-bar"><i style="width:' . $percent . '%"></i></span>';
							}
							echo '<b class="unit u' . $unitId . '"><span class="unit-tooltip">' . $units[$unitId]['title'] . '</span></b>';
							if (!$opts['ds'] || $selfReport) {
								echo ' <span class="strength">' . $army . '</span>';
							}
							echo '</span>';
						}
						echo '</div>';
						echo '</div>';
					}
				}
				?>
			</td>
		</tr>

		<? if ($agg['losses'] || $def['losses']) { ?>
			<tr class="">
				<td>Выжившие</td>
				<td class="aggressor-army">
					<?
					if (is_array($agg['survive'])) {
						foreach ($agg['survive'] as $group => $army0) {
							foreach ($army0 as $unitId => $army) {
								echo '<span class="b-units"><b class="unit u' . $unitId . '"><span class="unit-tooltip">' . $units[$unitId]['title'] . '</span></b>';
								if (!$opts['as'] || $selfReport) {
									echo ' <span class="strength">' . $army . '</span>';
								}
								echo '</span>';
							}
						}
					}
					?>
				</td>
				<td class="defending-army">
					<?
					if (( !$opts['da'] || $selfReport ) && is_array($def['survive'])) {
						foreach ($def['survive'] as $group => $army0) {
							foreach ($army0 as $unitId => $army) {
								echo '<span class="b-units"><b class="unit u' . $unitId . '"><span class="unit-tooltip">' . $units[$unitId]['title'] . '</span></b>';
								if (!$opts['ds'] || $selfReport) {
									echo ' <span class="strength">' . $army . '</span>';
								}
								echo '</span>';
							}
						}
					}
					?>
				</td>
			</tr>

			<tr class="">
				<td>Потери</td>
				<td class="aggressor-army">
					<?
					if (( !$opts['aa'] || $selfReport ) && is_array($agg['losses'])) {
						foreach ($agg['losses'] as $group => $army0) {
							foreach ($army0 as $unitId => $army) {
								echo '<span class="b-units"><b class="unit u' . $unitId . '"><span class="unit-tooltip">' . $units[$unitId]['title'] . '</span></b>';
								if (!$opts['as'] || $selfReport) {
									echo ' <span class="strength">' . $army . '</span>';
								}
								echo '</span>';
							}
						}
					} ?>
				</td>
				<td class="defending-army">
					<?
					if (!$opts['da'] && is_array($def['losses'])) {
						foreach ($def['losses'] as $group => $army0) {
							foreach ($army0 as $unitId => $army) {
								echo '<span class="b-units"><b class="unit u' . $unitId . '"><span class="unit-tooltip">' . $units[$unitId]['title'] . '</span></b>';
								if (!$opts['ds']) {
									echo ' <span class="strength">' . $army . '</span>';
								}
								echo '</span>';
							}
						}
					}
					?>
				</td>
			</tr>
		<? } else { ?>
			<tr class="">
				<td></td>
				<td colspan="2" class="text-center">Без потерь</td>
			</tr>
		<? } ?>

		<? if ($report->report->surviveLand) { ?>
			<tr>
				<td><span title="Уклонившиеся от боя" style="cursor:help;">Уклонившиеся</span></td>
				<td>
					<?
					foreach ($report->report->surviveLand as $unitId => $army) {
						echo '<span class="b-units"><b class="unit u' . $unitId . '"><span class="unit-tooltip">' . $units[$unitId]['title'] . '</span></b> ' . $army . '</span>';
					}
					?>
				</td>
				<td></td>
			</tr>
		<? } ?>

		<? if ($report->report->aDamage) { ?>
			<tr>
				<td>Урон от ПВО</td>
				<td><?= $report->report->aDamage ?></td>
				<td></td>
			</tr>
		<? } ?>

		<? if ($report->report->kill) { ?>
			<tr class="">
				<th>Убито</th>
				<th colspan=2><?= $report->report->kill ?> человек</th>
			</tr>
		<? } ?>

		<? if ($report->report->grab) { ?>
			<tr class="">
				<td>Добыча
					<? if ($report->report->full) { ?>
						<img class="pull-right" src="/img/bag.png" alt="Полная загрузка" title="Полная загрузка">
					<? } ?>
				</td>
				<td colspan=2 style="padding:0;">
					<table class="table table-condensed table-striped" style="margin:0;border:0;table-layout:fixed">
						<tr>
							<th style="border-top:0">Наука</th>
							<th class="bl" style="border-top:0">Базовые</th>
							<th class="bl" style="border-top:0">Стратегические</th>
							<th class="bl" style="border-top:0">Рост</th>
							<th class="bl" style="border-top:0">Культура</th>
						</tr>
						<tr>
							<? foreach ($resGroups as $group) { ?>
								<td class="bl">
									<? foreach ($group as $resId) { ?>
										<? if (isset( $report->report->grab[$resId] )) {
											echo '<div><b class="i-res r' . $resId . '">' . $report->report->grab[$resId] . (
												$resId == 0 ? '<small>(' . round($report->report->grab[$resId] * 0.75) . ')</small>
										' : '' ) . '</b></div>';
										}
										?>
									<? } ?>
								</td>
							<? } ?>
						</tr>
					</table>
				</td>
			</tr>
		<? } ?>

		<? if ($report->report->destroy) { ?>
			<tr class="">
				<td>Разрушения</td>
				<td colspan=2>
					<?
					$townDestroyed    = false;
					$depositDestroyed = false;
					$depositId        = 0;
					echo '<div class="pull-left" style="margin-right:10px;"><table class="table-striped table-destroyed">';
					foreach ($report->report->destroy as $build) {
						switch ($build[0]) {
							case  601:
								$depositDestroyed = true;
								$depositId        = $build[1];
								break;

							case 602:
								$townDestroyed = true;
								break;

							default:
								echo '<tr>';
								echo '<td>' . $builds[$build[0]] . '</td>';
								echo '<td><span class="badge">- ' . $build[1] . '</span></td>';
								echo '</tr>';
						}
					}
					echo '</table></div>';
					if ($townDestroyed) echo '<div class="label label-danger">Город разрушен</div>';
					if ($depositDestroyed) {
						echo '<span class="label label-warning">Ресурсная колония разрушена</span>';
						//$deposits = getJsonFile("/data/0/deposit.json");
						echo ' <span class="label label-warning">' . $deposits[$depositId]['name'] . ', ' .
							$climate[$deposits[$depositId]['climate']] . '</span>';
//			echo '<b class="terra t' . 2 . '">'
//			. '<span class="deposit d' . $depositId . '"</span>'
//			. '</b> ';
					}
					//				pre($deposits);
					?>
				</td>
			</tr>
		<? } ?>

		<? if ($report->spy) { ?>
			<tr class="t-header">
				<th></th>
				<th colspan=2>Данные разведки</th>
			</tr>

			<? if ($report->report->spy['fort']) { ?>
				<tr>
					<td>Фортификация</td>
					<td colspan=2>
						<? if (isset( $report->report->spy['fort'] )) { ?>
							<img src="/img/builds/fort-<?= $report->report->spy['fort']['id'] ?>.png" alt="">
							<?= $buildsFort[$report->report->spy['fort']['id']] ?>
							<?= $report->report->spy['fort']['level'] ?> ур.
						<? } ?>
					</td>
				</tr>
			<? } ?>

			<? if ($report->report->spy['armyOwn']) { ?>
				<tr>
					<td>Армия города</td>
					<td colspan=2>
						<?
						foreach ($report->report->spy['armyOwn'] as $group => $army0) {
							echo '<div class="' . aa($group) . '" style="padding:2px;margin:0px 0;">';
							echo '<i class="army-group-title" style="float:left">' . getUnitGroupName($group) . '</i>';
							echo '<div style="margin-left:72px">';
							foreach ($army0 as $unitId => $army) {
								echo '<span class="b-units">';
//							if (!$opts['as'] || $selfReport) {
								$percent = isset( $agg['survive'][$group][$unitId] ) ? round(( $agg['survive'][$group][$unitId] * 100 ) / $army, 4) : 0;
								echo '<span class="army-bar"><i style="width:' . $percent . '%"></i></span>';
//							}
								echo '<b class="unit u' . $unitId . '"><span class="unit-tooltip">' . $units[$unitId]['title'] . '</span></b>';
//							if (!$opts['as'] || $selfReport) {
								echo ' <span class="strength">' . $army . '</span>';
//							}
								echo '</span>';
							}
							echo '</div>';
							echo '</div>';
						}
						?>
					</td>
				</tr>
			<? } ?>

			<? if ($report->report->spy['armyTotal']) { ?>
				<? if ($report->report->spy['armyTotal'] == $report->report->spy['armyOwn']) { ?>
					<tr>
						<td>Войска в городе</td>
						<td colspan=2 style="vertical-align:middle;">
							<div class="label label-info">Только армия города</div>
						</td>
					</tr>
				<? } else { ?>
					<tr>
						<td>Войска в городе</td>
						<td colspan=2>
							<?
							foreach ($report->report->spy['armyTotal'] as $group => $army0) {
								echo '<div class="' . aa($group) . '" style="padding:2px;margin:0px 0;">';
								echo '<i class="army-group-title" style="float:left">' . getUnitGroupName($group) . '</i>';
								echo '<div style="margin-left:72px">';
								foreach ($army0 as $unitId => $army) {
									echo '<span class="b-units">';
//							if (!$opts['as'] || $selfReport) {
									$percent = isset( $agg['survive'][$group][$unitId] ) ? round(( $agg['survive'][$group][$unitId] * 100 ) / $army, 4) : 0;
									echo '<span class="army-bar"><i style="width:' . $percent . '%"></i></span>';
//							}
									echo '<b class="unit u' . $unitId . '"><span class="unit-tooltip">' . $units[$unitId]['title'] . '</span></b>';
//							if (!$opts['as'] || $selfReport) {
									echo ' <span class="strength">' . $army . '</span>';
//							}
									echo '</span>';
								}
								echo '</div>';
								echo '</div>';
							}
							?>
						</td>
					</tr>
				<? } ?>
			<? } ?>

			<? if ($report->report->spy['res']) { ?>
				<tr>
					<td>Ресурсы</td>
					<td colspan=2 style="padding:0;">
						<table class="table table-condensed table-striped table-bordered" style="margin: 0;table-layout:fixed">
							<tr>
								<th>Наука</th>
								<th>Базовые</th>
								<th>Стратегические</th>
								<th>Рост</th>
								<th>Культура</th>
							</tr>
							<tr>
								<? foreach ($resGroups as $group) { ?>
									<td>
										<? foreach ($group as $resId) { ?>
											<? if (isset( $report->report->spy['res'][$resId] )) {
												echo '<div><b class="iRes r' . $resId . '">' . $report->report->spy['res'][$resId] . (
													$resId == 0 ? '<small>(' . round($report->report->spy['res'][$resId] * 0.75) . ')</small>
										' : '' ) . '</b></div>';
											}
											?>
										<? } ?>
									</td>
								<? } ?>
							</tr>
						</table>
					</td>
				</tr>
			<? } ?>

			<? if ($report->report->spy['streams']) { ?>
				<tr>
					<td>Потоки</td>
					<td style="padding:0;">
						<table class="table table-condensed table-striped" style="margin: 0;">
							<caption><b>Входящие</b></caption>
							<? foreach ($report->report->spy['streams']['in'] as $stream) { ?>
								<tr>
									<td><b class="iRes r<?= $stream['res'] ?>"><?= $stream['count'] ?></b></td>
									<td>
										<small class="text-muted">из города</small>
									</td>
									<td>
										<a href="/stat/<?= strtolower($report->worldSign) ?>/town/<?= $stream['townId'] ?>/"><?= $stream['town'] ?></a>
										<? if ($world->working) { ?>
											<a href="https://<?= $report->domain ?>/towninfo?id=<?= $stream['townId'] ?>" target="_blank"><i class="icon-link-ext"></i></a>
										<? } ?>
									</td>
								</tr>
							<? } ?>
						</table>
					</td>
					<td style="padding:0;">
						<table class="table table-condensed table-striped" style="margin: 0;">
							<caption><b>Исходящие</b></caption>
							<? foreach ($report->report->spy['streams']['out'] as $stream) { ?>
								<tr>
									<td><b class="iRes r<?= $stream['res'] ?>"><?= $stream['count'] ?></b></td>
									<td>
										<small class="text-muted">в город</small>
									</td>
									<td>
										<a href="/stat/<?= strtolower($report->worldSign) ?>/town/<?= $stream['townId'] ?>/"><?= $stream['town'] ?></a>
										<? if ($world->working) { ?>
											<a href="https://<?= $report->domain ?>/towninfo?id=<?= $stream['townId'] ?>" target="_blank"><i class="icon-link-ext"></i></a>
										<? } ?>
									</td>
								</tr>
							<? } ?>
						</table>
					</td>
				</tr>
			<? } ?>

			<? if ($report->report->spy['level']) { ?>
				<tr>
					<td>Level</td>
					<td colspan=2>
						<?= $report->report->spy['level'] ?>
					</td>
				</tr>
			<? } ?>
		<? } ?>

		<? if ($report->report->defDamage) { ?>
			<tr>
				<td>defDamage</td>
				<td colspan="2"><?= $report->report->defDamage ?></td>
			</tr>
		<? } ?>

		<? if ($report->report->armyLand) { ?>
			<tr>
				<td>armyLand</td>
				<td colspan="2">
					<?
					foreach ($report->report->armyLand as $unitId => $army) {
						echo '<span class="b-units"><b class="unit u' . $unitId . '"><span class="unit-tooltip">' . $units[$unitId]['title'] . '</span></b> ' . $army . '</span>';
					}
					?>
				</td>
			</tr>
		<? } ?>

		<? if ($report->report->deathAir) { ?>
			<tr>
				<td>deathAir</td>
				<td colspan="2">
					<?
					foreach ($report->report->deathAir as $unitId => $army) {
						echo '<span class="b-units"><b class="unit u' . $unitId . '"><span class="unit-tooltip">' . $units[$unitId]['title'] . '</span></b> ' . $army . '</span>';
					}
					?>
				</td>
			</tr>
		<? } ?>

		<? if ($report->report->wonderStop) { ?>
			<tr>
				<td></td>
				<td colspan="2">
					<span class="btn btn-success">Строительство ЧС отложено на <b><?= round($report->report->wonderStop / 60, 2) ?></b> минут</span>
					<!--				<span class="label label-success">Строительство ЧС отложено на -->
					<? //= round($report->report->wonderStop / 60, 2) ?><!-- минут</span>-->
				</td>
			</tr>
		<? } ?>

		<tfoot>
		<tr>
			<td></td>
			<td colspan="2">
				<div class="form-inline">
					<? /*
				<div class="checkbox">
					<label class="btn">
						<input type="checkbox">
						Только выживших
					</label>
				</div>
				<div class="checkbox">
					<label class="btn">
						<input type="checkbox" checked>
						Армию агрессора
					</label>
				</div>
				<div class="checkbox">
					<label class="btn">
						<input type="checkbox" checked>
						Армию обороны
					</label>
				</div>
*/
					?>
					<?
					//				&a1=aa100-ad10000-  армия нападения
					//				&a2=bl2000-         армия защиты
					//				&t1=215252          тактика нападения
					//				&
					//				&t2=210             тактика защиты
					//				&aadd=3000          урон от ПВО
					//				&b1=100             военный бонус нападения
					//				&b2=200             военный бонус защиты
					//				&dt=3               тип защитного сооружения
					//				&dl=10              уровень защитного сооружения
					//				&race=2             раса защиты
					//				&w1=98              чудо света нападения
					//				&w2=98              чудо света защиты


					$rgParams = array(
						'a1'   => '',
						'a2'   => '',
						'race' => $report->report->defending['race'],
						'b1'   => $report->report->aggressor['bonus'],
						'b2'   => $report->report->defending['bonus'],
					);

					if ($report->report->aDamage) {
						$rgParams['aadd'] = $report->report->aDamage;
					}

					if ($report->report->fort) {
						$rgParams['dt'] = $report->report->fort['id'];
						$rgParams['dl'] = $report->report->fort['level'];
					}

					$aggArmy = is_array($report->report->aggressor['army'])
						? $report->report->aggressor['army'] : array();
					foreach ($aggArmy as $group) {
						foreach ($group as $unitId => $count) {
							$rgParams['a1'] .= UID2UC($unitId) . $count . '-';
						}
					}

					$defendingArmy = '';
					$defArmy       = is_array($report->report->defending['army'])
						? $report->report->defending['army'] : array();
					foreach ($defArmy as $group) {
						foreach ($group as $unitId => $count) {
							$rgParams['a2'] .= UID2UC($unitId) . $count . '-';
						}
					}

					if ($report->report->aggressor['tactic']) {
						$rgParams['t1'] = $report->report->aggressor['tactic'];
					}

					if ($report->report->defending['tactic']) {
						$rgParams['t2'] = $report->report->defending['tactic'];
					}

					if ($report->report->aggressor['wonder']) {
						$rgParams['w1'] = $report->report->aggressor['wonder'];
					}

					if ($report->report->defending['wonder']) {
						$rgParams['w2'] = $report->report->defending['wonder'];
					}

					$params = 'a1=ad10000-&a2=bl2000-&t1=215252&&t2=210&aadd=3000&b1=100&b2=200&dt=3&dl=10&race=2&w1=98&w2=98';
					$t      = array();
					foreach ($rgParams as $k => $v) {
						$t[] = $k . '=' . $v;
					}
					$params = join('&', $t);
					?>

					<? if ($world->working) { ?>
                        <a class="btn btn-primary btn-sm" href="https://<?= $report->domain ?>/#/simbattle/<?= $params ?>" target="_blank">
							В симулятор</a>
					<? } ?>
				</div>

			</td>
		</tr>
		</tfoot>

		</tbody>
	</table>
	<p style="text-align:right;max-width:1200px;">Добавлено <code><?= date('d.m.Y H:i', $report->generateTime) ?></code>
	</p>
</div>

<? if ($this->user->isAdmin()) { ?>
	<h4>Ваши логи (<?=
		count($myReports) ?>):</h4>
	<? foreach ($myReports as $rep) { ?>
		<? $r = json_decode($rep['report'], true); ?>
		<p>
			<code><?= date('d.m.Y H:i', strtotime($rep['reportTime'])) ?></code>
			<a class="" href="/log/<?= $rep['id'] ?>/">
				<?= $r['aggressor']['title'] ?>
				<small><? if ($r['spy']) { ?>разведал<? } else { ?>напал на<? } ?></small>
				<?= $r['defending']['title'] ?>
			</a>
		</p>
	<? } ?>
	<div class="admin-area" style="max-width:800px;margin:auto;">
		<?
		//		pre($rgParams, 0);
		//		dmp((array)$report->report, 0);
		dmp($report, 0);
		$cacheFile = FS::path('/tmp/warlogs/' . $report->id . '.tmp.json');
		if (file_exists($cacheFile)) {
			$rr = FS::loadJSON($cacheFile);
			dmp($rr, '/tmp/warlogs/' . $report->id . '.tmp.json', 0);
		}
		?>
	</div>
<? } ?>
<script>
	//		$(function () {
	//			var privateOpt = $('#private-army-log');
	//			$('#cb-aggressor-name').change(function () {
	//				if (this.checked) {
	//					privateOpt.addClass('opt-hide-aggressor');
	//				} else {
	//					privateOpt.removeClass('opt-hide-aggressor');
	//				}
	//			});
	//			$('#cb-aggressor-strength').change(function () {
	//				if (this.checked) {
	//					privateOpt.addClass('opt-hide-aggressor-strength');
	//				} else {
	//					privateOpt.removeClass('opt-hide-aggressor-strength');
	//				}
	//			});
	//			$('#cb-aggressor-army').change(function () {
	//				if (this.checked) {
	//					privateOpt.addClass('opt-hide-aggressor-army');
	//				} else {
	//					privateOpt.removeClass('opt-hide-aggressor-army');
	//				}
	//			});

	//			$('#cb-defending-name').change(function () {
	//				if (this.checked) {
	//					privateOpt.addClass('opt-hide-defending');
	//				} else {
	//					privateOpt.removeClass('opt-hide-defending');
	//				}
	//			});
	//			$('#cb-defending-strength').change(function () {
	//				if (this.checked) {
	//					privateOpt.addClass('opt-hide-defending-strength');
	//				} else {
	//					privateOpt.removeClass('opt-hide-defending-strength');
	//				}
	//			});
	//			$('#cb-defending-army').change(function () {
	//				if (this.checked) {
	//					privateOpt.addClass('opt-hide-defending-army');
	//				} else {
	//					privateOpt.removeClass('opt-hide-defending-army');
	//				}
	//			});
	//
	//			function saveSecureOptions() {
	//			$(this).attr('disabled', true);
	//				var wait = $('#waiting');
	//				wait.show();
	//				$.ajax({
	//					url     : '/log/secure/',
	//					type    : 'POST',
	//					dataType: 'json',
	//					data    : {
	//						reportKey        : '< ?//=$key?>',
	//						aggressorName    : $('#cb-aggressor-name').is(':checked') ? 1 : 0,
	//						aggressorStrength: $('#cb-aggressor-strength').is(':checked') ? 1 : 0,
	//						aggressorArmy    : $('#cb-aggressor-army').is(':checked') ? 1 : 0,
	//						defendingName    : $('#cb-defending-name').is(':checked') ? 1 : 0,
	//						defendingStrength: $('#cb-defending-strength').is(':checked') ? 1 : 0,
	//						defendingArmy    : $('#cb-defending-army').is(':checked') ? 1 : 0
	//					},
	//					success : function (response, textStatus, xhr) {
	//						var res = $('#result');
	//						if (response.error) {
	//							res.html('<div class="alert alert-error">' + response.message + '</div>');
	//						} else {
	//							res.html('<div class="alert alert-success">' + response.message + '</div>');
	//						}
	//					},
	//					complete: function (xhr, textStatus) {
	//						wait.hide();
	//					},
	//					error   : function (xhr, textStatus, errorThrown) {
	//					}
	//				});
	//			}
	//
	//			$('#save-secure-options').click(saveSecureOptions);
	//		});
</script>
