<?php
/**
 * @since              24.09.13 01:39
 * @author             DelphinPRO delphinpro@yandex.ru
 * @copyright          Copyright (C) 2013-2014 DelphinPRO. All rights reserved.
 * @license            Licensed under the MIT license
 */

use df\helper\FS;
use df\view\Document;
use df\Pagination;

/**
 * @var Document   $this
 * @var int        $logsPerDay
 * @var array      $worlds
 * @var array      $logs
 * @var Pagination $pagination
 */
?>
<?
$js = file(FS::path('/public_html/client/wofh-tools.user.js'));
$version = '1.0.0';
foreach ($js as $line) {
  if (preg_match('~//\s+\@version\s+([\d\.]+)\s~Usi', $line, $ver)) {
    $version = $ver[1];
    break;
  }
}
$usLink = '/client/wofh-tools.user.js'
?>

<div class="width-700">
	<h1 class="page-header">Логовница</h1>

	<? if ($logsPerDay) { ?>
			<div class="alert alert-info" style="margin:0;">
				<i class="icon-ok"></i> За последние 24 часа было добавлено <?= $logsPerDay ?> логов
			</div>
	<? } ?>
</div>

<p>Для использования логовницы необходимо установить в браузер пользовательский скрипт. Скрипт встраивает в страницы
    игры кнопку с дополнительными функциями, позволяющими передать информацию на внешний сайт логовницы/науковницы.</p>

<div class="gallery">
        <a href="/images/userjs/standard-button.jpg" class="lightbox" rel="gallery">
            <img src="/images/userjs/standard-button-sm.jpg" alt="">
        </a>
        <a href="/images/userjs/standard-panel.jpg" class="lightbox" rel="gallery">
            <img src="/images/userjs/standard-panel-sm.jpg" alt="">
        </a>
        <a href="/images/userjs/scilogger.jpg" class="lightbox" rel="gallery">
            <img src="/images/userjs/scilogger-sm.jpg" alt="">
        </a>
        <a href="/images/userjs/warlogger.jpg" class="lightbox" rel="gallery">
            <img src="/images/userjs/warlogger-sm.jpg" alt="">
        </a>
        <a href="/images/userjs/classic-button.jpg" class="lightbox" rel="gallery">
            <img src="/images/userjs/classic-button-sm.jpg" alt="">
        </a>
</div>
<script>
    $(function () {
        $('.lightbox').fancybox();
    });
</script>

<p>
  <a class="btn btn_primary"
      href="https://chrome.google.com/webstore/detail/tampermonkey-beta/gcalenpjmijncebpfijmoaglllgpjagf?hl=ru"
      target="_blank">Скачать TamperMonkey</a>
</p>
<p>
  <a class="btn btn_primary btn_large" href="<?= $usLink ?>">Установить Wofh-Tools user script, v<?= $version ?></a>
</p>


<? if ($this->user->isAdmin()) { ?>
	<div id="log-list" class="admin-area">
		<div class="pull-right"><?= $pagination ?></div>

		<div><a class="btn" href="/log/transfer/">Transfer</a> Сначала обновить ВСЮ статистику!!!</div>
		<h3>Последние логи (DEBUG)</h3>

		<div style="float: left;">Фильтр:</div>
		<div class="btn-toolbar">
			<div class="btn-group">
				<a class="btn" href="/log/">All</a>
				<? foreach ($worlds as $world) { ?>
					<a class="btn<?= $world['active'] ?>" href="/log/?w=<?= $world['worldId'] ?>"><?= $world['worldSign'] ?></a>
				<? } ?>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table table-condensed table-hover">
				<? $i = $pagination->getStartNumeation();
				foreach ($logs as $log) {
					//if ($i == 1) pre($log, 0);
					?>
					<tr>
						<td class="text-right"><span><?= $i++ ?></span></td>
						<td><code><?= $log['time1'] ?></code></td>
						<?/*<td><tt><?= $log['time2'] ?></tt></td>*/?>
						<td class="text-right">
							<a href="<?= $log['url'] ?>">
								<?= $log['owner'] == $log['id1'] ? '[' . $log['title1'] . ']' : $log['title1'] ?>
							</a>
						</td>
						<td class="text-center"><?= $log['spy'] ? '<i style="color:#C98B41">разведал</i>' : '<i style="color:#bf4224">напал на</i>' ?></td>
						<td>
							<a href="<?= $log['url'] ?>">
								<?= $log['owner'] == $log['id2'] ? '[' . $log['title2'] . ']' : $log['title2'] ?>
							</a>
						</td>
						<td>
							<small class="muted"><?= $log['worldTitle'] ?></small>
						</td>
						<td><i class="icon-<?= $log['verified'] ? 'ok text-success' : 'help text-danger' ?>"></i></td>
						<td><a href="/log/delete/<?= $log['id'] ?>/"><i class="icon-cancel text-danger"></i></a></td>
					</tr>
				<? } ?>
			</table>
		</div>
	</div>
<? } /**/?>
