<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>{% block title %}Wofh-Tools 4.0{% endblock %}</title>

    {% include "common/head.twig" %}
</head>
<body>
{% include "common/noscript.twig" %}
<div id="app">{% block app %}{% endblock %}</div>
<script>window.__PRELOAD_STATE__ = {{ STATE|raw }};</script>
<!-- built files will be auto injected -->
</body>
</html>
