//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1170px,
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width-base: 30px !default;
$grid-gutter-widths: (
    xs: 20px,
    sm: 20px,
    md: 20px,
    lg: $grid-gutter-width-base,
    xl: $grid-gutter-width-base,
) !default;

$grid-float-breakpoint: map_get($grid-breakpoints, sm);
$grid-float-breakpoint-max: $grid-float-breakpoint - 1;

$grid-container-class: 'container' !default;
$grid-container-fluid-class: 'container-fluid' !default;
$grid-row-class: 'row' !default;
$grid-col-class: 'col' !default;

$grid-col-push-classes: false !default;
$grid-col-pull-classes: false !default;
$grid-col-offset-classes: true !default;
