// Set the color of your baseline
$rhythm-grid-baseline-color: rgba(#4affff, 0.6) !default;

// Set the height of your baseline grid
$rhythm-grid-baseline-height: 1.5em !default;

// toggle your vertical grids on and off
$rhythm-grid-baseline-show: true !default;

// toggle all your grids on and off
$rhythm-grid-show: true !default;

// Base font size in pixels, if not already defined.
// Should be the same as the font-size of the html element.
$rhythm-base-font-size: 14px !default;

// The distance between text baselines (vertical rhythm) in pixels.
$rhythm-base-line-height: 21px !default;

// The length unit in which to output rhythm values.
// Supported values: px, em, rem. Percent units can't be used since they
// make calculating padding and margins impractical, and percentage borders are
// not valid or supported in css.
$rhythm-unit: 'rem' !default;

// Whether to output fallback values in px when using rem as the rhythm-unit.
$rhythm-rem-with-px-fallback: false !default;

// Default values for rhythm borders properties.
// Supports style alone eg. `solid` or list of style and color eg. `solid #aaa`;
$rhythm-default-border-width: 1px !default;
$rhythm-default-border-style: solid !default;

// Allows the `adjust-font-size-to` mixin and the `lines-for-font-size` function
// to round the line height to the nearest half line height instead of the
// nearest integral line height to avoid large spacing between lines.
$rhythm-round-to-nearest-half-line: false !default;

// Ensure there is at least this many pixels
// of vertical padding above and below the text.
$rhythm-min-line-padding: 2px !default;
