////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2017 delphinpro
/// @license licensed under the MIT license
////
@import "colors";


$transition-bezier: cubic-bezier(.44, .92, .09, 1.24);
$transition-show: 0.4s cubic-bezier(.21, 1, .57, 1.33);

//==
//== z-index
//== ======================================= ==//

$zindex-navbar           : 1000 !default;
$zindex-dropdown         : 1000 !default;
$zindex-popover          : 1010 !default;
$zindex-tooltip          : 1030 !default;
$zindex-navbar-fixed     : 1030 !default;
$zindex-modal-background : 1040 !default;
$zindex-modal            : 1050 !default;

//==
//== Typography
//== ======================================= ==//

$font-family-sans-serif : Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif      : Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace  : "Fira Code", Consolas, Menlo, Monaco, "Courier New", monospace !default;
$font-family-base       : $font-family-sans-serif !default;

//==
//== Colors
//== ======================================= ==//

$body-bg    : #3b3d44 !default;
$body-image : '/img/bgs/bg-dark.png';
$hr-border  : lighten($body-bg, 7%) !default;

$gray-darker  : lighten(#000000, 13.5%) !default; // #222
$gray-dark    : #999999;
$gray         : lighten(#000000, 33.5%) !default; // #555
$gray-light   : lighten($body-bg, 18%) !default;
$gray-lighter : lighten($body-bg, 22%) !default; // #eee

$brand-primary : #428bca !default;
$brand-success : #5cb85c !default;
$brand-info    : #5bc0de !default;
$brand-warning : #f0ad4e !default;
$brand-danger  : #d9534f !default;

$text-color       : #999 !default;
$link-color       : $brand-primary !default;
$link-hover-color : lighten($link-color, 15%) !default;
$text-muted: $gray-light !default;

//==
//== States
//== ======================================= ==//

$state-success-text   : #61ae62 !default;
$state-success-bg     : #cde8c2 !default;
$state-success-border : darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text      : #31708f !default;
$state-info-bg        : #b3e1f8 !default;
$state-info-border    : darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text   : #ba934c !default;
$state-warning-bg     : #faf1c3 !default;
$state-warning-border : darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text    : #df5353 !default;
$state-danger-bg      : #f4d2d2 !default;
$state-danger-border  : darken(adjust-hue($state-danger-bg, -10), 5%) !default;

//==
//== Alerts
//== ======================================= ==//

$alert-success-bg     : #cde8c2 !default;
$alert-success-text   : $state-success-text !default;
$alert-success-border : darken($alert-success-bg, 10%) !default;

$alert-info-bg        : #b3e1f8 !default;
$alert-info-text      : $state-info-text !default;
$alert-info-border    : darken($alert-info-bg, 10%) !default;

$alert-warning-bg     : #fabe68 !default;
$alert-warning-text   : $state-warning-text !default;
$alert-warning-border : $state-warning-border !default;

$alert-danger-bg      : #f4d2d2 !default;
$alert-danger-text    : $state-danger-text !default;
$alert-danger-border  : $state-danger-border !default;

//==
//== Tables
//== ======================================= ==//

$table-cell-padding: 8px !default;
$table-condensed-cell-padding: 5px !default;

$table-bg: lighten($body-bg, 4%) !default;
$table-bg: $body-bg !default;
$table-bg-accent: lighten($body-bg, 2%) !default;
$table-bg-hover: darken($body-bg, 2%) !default;
$table-bg-active: $table-bg-hover !default;
$table-border-color: darken($body-bg, 2%) !default;

//==
//== Navbar
//== ======================================= ==//

$navbar-height: 30px !default;
$navbar-color: #999999 !default;
$navbar-bg: #222222 !default;
$navbar-border: darken($navbar-bg, 10%) !default;

//==
//== Tiles
//== ======================================= ==//

$tile-bg: lighten($body-bg, 5%);
$tile-bg-hover: lighten($tile-bg, 2%);
$tile-border-color: #515562 !default;
$tile-border-hover-color: #606471 !default;
$tile-size: 150px !default;
$tile-gutter-width: 12px !default;
$tile-padding: 15px !default;
$tile-group-gutter-width: 40px !default;

$max-tiles-xs: 3 !default;
$max-tiles-sm: 4 !default;
$max-tiles-md: 6 !default;
$max-tiles-lg: 7 !default;
$max-tiles-xl: 9 !default;

$side-width: 2 !default;
$max-tiles-y: 4 !default;

//==
//== Dropdown
//== ======================================= ==//

$dropdown-bg                  : #222222 !default;
$dropdown-border              : rgba(0, 0, 0, 0.5) !default;
$dropdown-divider-bg          : #000000 !default;
$dropdown-link-color          : $gray-dark !default;
$dropdown-link-hover-color    : $dropdown-link-color !default;
$dropdown-link-hover-bg       : darken($dropdown-bg, 2%) !default;
$dropdown-link-active-color   : #ffffff !default;
$dropdown-link-active-bg      : $brand-primary !default;
$dropdown-link-disabled-color : $gray-light !default;
$dropdown-header-color        : $gray-light !default;
$dropdown-caret-color         : #000000 !default;

//==
//== Chart colors
//== ======================================= ==//

$chart-color1: #dddf0d;
$chart-color2: #7798bf;
$chart-color3: #55bf3b;
$chart-color4: #df5353;
$chart-color5: #aaeeee;
$chart-color6: #ff0066;
$chart-color7: #eeaaee;
$chart-color8: #55bf3b;
$chart-color9: #df5353;
$chart-color10: #7798bf;
$chart-color11: #aaeeee;

//==
//== Forms
//== ======================================= ==//

$input-bg: #141517;
$input-bg: lighten(#141517, 5%);
$input-bg: darken($body-bg, 3%);
$input-bg-disabled: lighten($input-bg, 5%) !default;
$input-color: #bbbbbb !default;
$input-border: darken($input-bg, 10%) !default;
$input-border-focus: #66afe9 !default;
$input-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);

$input-color-placeholder: $gray-light !default;

$input-height-small: 20px;
$input-height-base: 30px;
$input-height-medium: 36px;
$input-height-large: 48px;

$input-group-addon-bg: $gray-lighter !default;
$input-group-addon-border-color: $input-border !default;

//==
//== Buttons
//== ======================================= ==//

$btn-font-weight: 500 !default;

$btn-default-color: #999999 !default;
$btn-default-bg: #333333 !default;
$btn-default-border: #111111 !default;

$btn-primary-color: #ffffff !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;

$btn-success-color: #ffffff !default;
$btn-success-bg: $brand-success !default;
$btn-success-border: darken($btn-success-bg, 5%) !default;

$btn-info-color: #ffffff !default;
$btn-info-bg: $brand-info !default;
$btn-info-border: darken($btn-info-bg, 5%) !default;

$btn-warning-color: #ffffff !default;
$btn-warning-bg: $brand-warning !default;
$btn-warning-border: darken($btn-warning-bg, 5%) !default;

$btn-danger-color: #ffffff !default;
$btn-danger-bg: $brand-danger !default;
$btn-danger-border: darken($btn-danger-bg, 5%) !default;

$btn-link-disabled-color: $gray-light !default;

//==
//== Code
//== ======================================= ==//

$code-color: $brand-success !default;
$code-color: #c7254e !default;
$code-bg: darken($body-bg, 5%) !default;

$kbd-color: #ffffff !default;
$kbd-bg: #333333 !default;

$pre-bg: #f5f5f5 !default;
$pre-color: $gray-dark !default;
$pre-border-color: #cccccc !default;
$pre-scrollable-max-height: 340px !default;
